.button__item {
	margin-top: 20px;
}

.button__item:first-child {
	margin-top: 0;
}

.lg_btn {
	position: relative;
	display: block;
	width: 100%;
	height: 57px;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	letter-spacing: 0.3px;
	line-height: 57px;
	border-radius: 4px;
	border-bottom: 3px solid rgba(0,0,0,.2);
	background: #555555;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.lg_btn:after {
	content: '';
	display: inline-block;
	position: absolute;
	right: 22px;
	top: 50%;
	z-index: 0;
	margin-top: -4px;
	width: 27px;
	height: 12px;
	background-image: url("../images/lg-btn_white.png");
}

.lg_btn:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 57px;
	visibility: hidden;
	opacity: 0;
	background: rgba(255,255,255,.18);
	border-bottom-color: rgba(255,255,255,.18);
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.lg_btn:hover, .lg_btn:focus {
	color: #fff;
	text-decoration: none;
}

.lg_btn:hover::before {
	visibility: visible;
	opacity: 1;
}

.lg_black {
	color: #454545;
}

.lg_black:after {
	background-image: url("../images/lg-btn_black.png");
}

.lg_black:hover, .lg_black:focus {
	color: #454545;
	text-decoration: none;
}

.md_version {
	max-width: 517px;
}

.md_version:after {
	width: 20px;
	background-image: url("../images/md-btn_white.png");
}

.md_version-black:after {
	width: 20px;
	background-image: url("../images/md-btn_black.png");
}

.lg-btn_gray {
	background: #454545;
}

.lg-btn_green {
	background: #5bb000;
}

.lg-btn_violet {
	background: #7371a6;
}

.lg-btn_red {
	background: #ff7e65;
}

.lg-btn_red2 {
	background: #FF1A00;
}

.lg-btn_purple {
	background: #9d5f9f;
}

.lg-btn_blue {
	background: #4d94c4;
}

.lg-btn_beige {
	background: #cdb280;
}

.lg-btn_sand {
	background: #f7d05b;
}

@media only screen and (max-width: 480px) {
	.lg_btn {
		font-size: 10px;
	}

	.lg_btn:after {
		right: 15px;
		width: 20px;
		height: 9px;
		-webkit-background-size: cover;
		background-size: cover;
	}

	.md_version:after {
		width: 16px;
		height: 10px;
	}
}