.snoska{
	position: relative;
	padding: 15px 22px 12px 25px;
	margin: 16px 0 19px;
	background: #f3f3f3;
	border: 1px solid #dfdfdf;
}
.snoska.snoska_blue{
	border-left: 2px solid #146eb3;
	color: #146eb3;
	font-style: italic;
}
.snoska.snoska_red{
	border-left: 2px solid #ff1616;
}
