@media only screen and (max-width: 1200px) {

	.crypto-cur__column:nth-child(1) {
		min-width: 250px;
	}

	.crypto__currencies {
		min-width: 620px;
	}

	.crypto__exchange {
		min-width: 620px;
	}

	.hint_content {
		left: auto;
		right: 0;
		top: 50px;
		min-width: 150px;
	}

	*:hover> .hint_content {
		left: auto;
		top: 30px;
	}

	.crypto_box-half .fx_half-left-item img {
		max-width: 120px;
	}

	.fx_tag-item {
		width: 49%;
		margin-right: 2% !important;
	}

	.fx_tag-item:nth-child(2n) {
		margin-right: 0 !important;
	}

	.fx_tag-item:nth-child(3n) {
		margin-right: 0;
	}

	.fx_statistic-left {
		float: none;
		width: 100%;
	}

	.fx_statistic-right {
		float: none;
		width: 300px;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	.fx_broker-item {
		width: 48%;
		margin-right: 4%;
	}

	.fx_social-post {
		width: 300px;
		height: 350px;
	}

	.fx_video-post {
		width: 300px;
	}

	.fx_videopost-wr {
		width: 300px;
	}

	.fx_videopost-title {
		font-size: 16px;
	}

}

@media only screen and (max-width: 991px) {

	.fx_social-post {
		width: auto;
	}

	.fx_video-post {
		width: auto;
	}

	.fx_videopost-wr {
		width: 100%;
	}

}

@media only screen and (max-width: 767px) {

    .crypto__menu {
		flex-wrap: wrap;
	}

	.crypto-menu__item {
		flex-basis: 32.74%;
		margin-bottom: 0.356%;
	}

	.crypto-graph__output {
		min-height: 200px;
	}

	.crypto__currencies {
		overflow: scroll;
		min-width: 100%;
	}

	.crypto__table {
		width: 700px;
	}

	.crypto__exchange {
		min-width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
	}

	.crypto-exch__thead {
		width: 700px;
	}

	.crypto-exch__tbody {
		width: 700px;
	}

	.crypto-exch__body {
		width: 700px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	/******************/

	.fx_latest-right {
		width: 100%;
		padding-left: 0;
	}

	.fx_half-header {
		text-align: center;
	}

	.fx_half-header .fx_half-header--left {
		float: none;
	}

	.fx_half-header .fx_half-header--right {
		display: none;
	}

	.fx_tag-item {
		width: 100%;
		margin-right: 0 !important;
	}

	.fx_counter-item {
		width: 45px;
		height: 63px;
		font-size: 27px;
		line-height: 63px;
		margin-right: 0;
	}

	.fx_statistic-box {
		margin-top: 30px;
	}

	.fx_decorline {
		display: none;
	}

	.fx_statistic-item {
		border: none;
		text-align: center;
		margin-bottom: 25px;
	}

	.fx_statistic-item:first-child {
		border: none;
	}

	.fx_statistic-item:before {
		content: none;
	}

	.fx_statistic-name {
		float: none;
		line-height: 1;
	}

	.fx_statistic-value {
		float: none;
		margin-top: 15px;
	}

	.fx_broker-item {
		width: 100%;
		margin-right: 0;
	}

	.fx_broker-more> a {
		background-position: right 10px center;
	}

	.crypto-turn_box .fx_slider-nav {
		position: static;
		float: none;
		margin-top: 20px;
	}

	.crypto-turn_box .fx_slider-nav> a {
		float: none;
		display: inline-block;
	}

	.fx_social-post {
		height: 300px;
	}

	.fx_content-subtitle {
		font-size: 15px;
	}

	.fx_content-subtitle:before {
		display: none;
	}

	.fx_accordion .handorgel__header__button {
		padding: 5px 45px 5px 15px;
	}

}