.crypto__menu {
	margin-bottom: 26px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
}

.crypto-menu__item {
	min-width: 16.37%;
	margin-right: 0.356%;
	min-height: 48px;
	font-family: "SSP_Semibold";
	font-size: 15px;
	color: #444444;
	border: 1px solid #dbdbdb;
	background-color: #f6f6f6;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-basis: 16.37%;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.crypto-menu__item:last-child {
	margin-right: 0;
}

.crypto-menu__item:hover {
	color: #167ac6;
	border-color: #aad4f2;
	background-color: #ebf2f7;
}

.contrtoller__item {
	display: inline-block;
	font-family: "RC_Bold";
	font-size: 20px;
	margin-right: 15px;
	color: #999;
}

.contrtoller__item:last-child {
	margin-right: 0;
}

.contrtoller__item:hover {
	color: #167ac6;
}

.contrtoller__item--active {
	color: #167ac6;
}

.crypto-graph__output {
	margin-top: 20px;
	min-height: 300px;
}

.crypto-graph__output img {
	width: 100%;
}

.crypto__currencies {
	margin-top: 10px;
}

.crypto__currencies {
	max-height: 725px;
	overflow-y: hidden;
}

.wide_scroll .jspVerticalBar {
	width: 8px;
}

.wide_scroll .jspVerticalBar .jspDrag {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.crypto__table {
	width: 100%;
}

.crypto-cur__row {
	height: 80px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	vertical-align: middle;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
}

.crypto-cur__row:first-child {
	border-top: 1px solid #ccc;
}

.crypto-cur__row:hover, .crypto-cur__row.selected {
	background-color: #edf6fa;
}

.crypto-cur__row.selected {
    cursor: default;
}


.crypto-cur__column {
	width: 33.33%;
}

.crypto-cur__column:nth-child(1) {
	text-align: left;
}

.crypto-cur__column:nth-child(2) {
	text-align: center;
}

.crypto-cur__column:nth-child(3) {
	text-align: right;
	padding-right: 20px;
}

.crypto-cur__logo {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	margin-left: 6px;
	text-align: center;
}

.crypto-cur__ratio {
	display: inline-block;
	vertical-align: middle;
	font-family: "SSP_Regular";
	line-height: 20px;
}

.crypto-cur__title {
	font-size: 20px;
	color: #444;
}

.crypto-cur__subtitle {
	font-size: 14px;
	color: #999;
}

.crypto__val {
	display: inline-block;
	min-width: 95px;
	padding: 10px 0;
	text-align: center;
	font-family: "SSP_Regular";
	font-size: 20px;
	color: #444;
}

.crypto-val_fall {
	color: #ff1616;
	background-color: #ffe5e5;
}
.crypto-val_fall_color {
    color: #ff1616;
}

.crypto-val_rise {
	color: #5bb000;
	background-color: #e9ffd9;
}
.crypto-val_rise_color {
    color: #5bb000;
}

.crypto-pos_fall {
	font-family: "SSP_Regular";
	font-size: 20px;
	color: #ff1616;
}

.crypto-pos_rise {
	font-family: "SSP_Regular";
	font-size: 20px;
	color: #5bb000;
}

.crypto__exchange {
	margin-top: 30px;
}

.crypto__btn {
	margin: 20px 0 30px;
	text-align: right;
}

.crypto-currencies__btn {
	min-height: 48px;
	padding: 0 15px 0 20px;
	font-family: "SSP_Regular";
	font-size: 18px;
	color: #444444;
	background-color: #f1f1f1;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.crypto-currencies__btn:hover {
	color: #167ac6;
	background-color: #ebf2f7;
}

.crypto-btn__icon {
	margin-left: 8px;
	display: inline-block;
}

.crypto-btn__icon:after {
	content: '';
	display: inline-block;
	width: 17px;
	height: 10px;
	background-image: url("/wp-content/themes/ForTraderMaster/images/md-btn_black.png");
	background-size: cover;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.crypto-exch__title {
	margin-bottom: 30px;
	font-family: "RC_Bold";
	font-size: 24px;
	color: #444444;
}

.crypto-exch__thead {
	width: 100%;
}

.crypto-exch__thead tr td, .crypto-exch__thead tr th {
	height: 55px;
	background-color: #f1f1f1;
    vertical-align: middle;
}

.exch-col_num {
	width: 9%;
	padding-left: 17px;
}

.exch-col_from {
	width: 19%;
}
.exch-col_currency {
    width: 20%;
}

.exch-col_amounth {
	width: 25%;
}

.exch-col_price {
	width: 15%;
}

.exch-col_amountp {
	width: 12%;
	text-align: center;
}

.exch-thead_name {
	font-family: "RC_Bold";
	font-size: 20px;
	color: #444;
	display: inline-block;
	vertical-align: middle;
}

.exch-thead_hint {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.hint_label {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 1px 4px;
	margin: 0 0 0 3px;
	line-height: 1em;
	cursor: pointer;
	width: 15px;
	height: 15px;
	border: 1px solid #888;
	border-radius: 50%;
	font-family: "RC_Bold";
	font-size: 11px;
	color: #888;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.hint_content {
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 100;
	min-width: 225px;
	padding: 20px 15px;
	text-align: left;
	font-size: 14px;
	opacity: 0;
	visibility: hidden;
	background-color: #fff;
	-webkit-box-shadow: 5px 0 15px rgba(0,0,0,.12);
	-moz-box-shadow: 5px 0 15px rgba(0,0,0,.12);
	-ms-box-shadow: 5px 0 15px rgba(0,0,0,.12);
	-o-box-shadow: 5px 0 15px rgba(0,0,0,.12);
	box-shadow: 5px 0 15px rgba(0,0,0,.12);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.hint_title {
	font-family: "SSP_Bold";
	color: #167ac6;
	line-height: 18px;
}

.hint_text {
	font-family: "SSP_Regular";
	color: #5e5e5e;
	line-height: 22px;
}

*:hover> .hint_content {
	opacity: 1;
	visibility: visible;
	left: -20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

*:hover> .hint_label {
	color: #167ac6;
	border-color: #167ac6;
}

.crypto-exch__body {
	max-height: 331px;
}

.crypto-exch__tbody {
	width: 100%;
	overflow: hidden;
	max-height: 331px;
}

.crypto-exch__tbody tr {
	height: 55px;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
}

.crypto-exch__thead tr {
	border-bottom: none;
}

.exch-tbody__link {
	font-family: "SSP_Regular";
	font-size: 18px;
	color: #167ac6;
	padding-bottom: 0;
	text-decoration: underline;
}

.exch-tbody__data {
	font-family: "SSP_Regular";
	font-size: 18px;
	color: #444;
}

.crypto_box-half .fx_half-left-item {
	margin-bottom: 25px;
}

.fx_latest-mt {
	margin-top: 30px;
}

.fx_half-header {
	margin-top: 10px;
	margin-bottom: 15px;
}

.fx_half-header--left {
	float: left;
	font-family: "RC_Bold";
	font-size: 24px;
	color: #444;
}

.fx_half-header--right {
	float: right;
	margin-top: -10px;
	font-family: "RC_Regular";
	font-size: 14px;
	color: #444;
	text-transform: uppercase;
	text-align: center;
	padding: 11px 20px;
	background-color: #f1f1f1;
	transition: all 0.3s linear;
}

.fx_half-header--right:hover {
	color: #167ac6;
	background-color: #ebf2f7;
}

.fx_half-item-text {
	max-height: 70px;
	overflow: hidden;
	font-family: "SSP_Bold";
	font-size: 16px;
	line-height: 24px;
	color: #444;
}

.fx_half-item-date {
	position: absolute;
	left: 130px;
	bottom: 0;
	line-height: 1em;
}

.fx_tag-box {
	margin-top: 45px;
}

.fx_tag-item {
	position: relative;
	float: left;
	display: table;
	width: 260px;
	height: 55px;
	margin-top: 5px;
	margin-right: 13px;
	padding-left: 10px;
	font-family: "SSP_Regular";
	font-size: 16px;
	line-height: 20px;
	color: #444;
	border-left: 2px solid #787878;
	background-color: #f1f1f1;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.fx_tag-item:hover {
	color: #167ac6;
	border-left-color: #167ac6;
	background-color: #ebf2f7;
}

.fx_tag-item:nth-child(3n) {
	margin-right: 0;
}

.fx_tag-item span {
	display: table-cell;
	vertical-align: middle;
}

.fx_content-subtitle {
	display: inline-block;
	margin-left: 5px;
	font-family: RC_Regular;
	font-size: 16px;
	line-height: 28px;
	vertical-align: bottom;
	color: #858585;
}

.fx_content-subtitle:before {
	content: '/';
	color: #858585;
	font-size: 16px;
	margin-right: 5px;
	margin-left: 5px;
}

.fx_counter {
	margin-top: 60px;
}

.fx_counter-wr {
	text-align: center;
}

.fx_counter-item {
	display: inline-block;
	width: 85px;
	height: 115px;
	margin-right: 6px;
	font-family: "RC_Bold";
	font-size: 48px;
	color: #167ac6;
	line-height: 115px;
	text-align: center;
	background-color: #ebf2f7;
}

.fx_counter-item:last-child {
	margin-right: 0;
}

.fx_counter-descr {
	margin-top: 20px;
	font-family: "SSP_Regular";
	font-size: 16px;
	color: #858585;
	text-align: center;
}

.fx_statistic-box {
	margin-top: 50px;
}

.fx_statistic-left {
	float: left;
	width: 460px;
}

.fx_statistic-right {
	float: right;
    width: 320px;
    height:240px;
    margin-top:-10px;
}

.fx_statistic-item {
	position: relative;
	height: 65px;
	font-family: "SSP_Regular";
	font-size: 21px;
	border-bottom: 1px solid #e3e3e3;
}

.fx_statistic-item:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 80px;
	height: 1px;
	background-color: #167ac6;
}

.fx_statistic-item:first-child {
	border-top: 1px solid #e3e3e3;
}

.fx_decorline:before {
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	width: 80px;
	height: 1px;
	background-color: #167ac6;
}

.fx_statistic-name {
	float: left;
	line-height: 60px;
	color: #444;
}

.fx_statistic-value {
	float: right;
	display: inline-block;
	min-width: 190px;
	padding: 5px 0;
	margin-top: 17px;
	color: #167ac6;
	text-align: center;
	background-color: #ebf2f7;
}

.fx_statistic-green:before {
	background-color: #5bb000;
}

.fx_statistic-green .fx_statistic-value {
	color: #5bb000;
	background-color: #e5f7d7;
}

.fx_statistic-red:before {
	background-color: #ff1616;
}
.fx_statistic-red .fx_statistic-value {
	color: #ff1616;
	background-color: #ffe5e5;
}

.fx_statistic-right img {
	width: 100%;
	min-height: 195px;
}

.fx_broker-box {
	margin-top: 50px;
}

.fx_broker-item {
	float: left;
	width: 390px;
	margin-right: 26px;
	margin-bottom: 30px;
	border: 1px solid #dbdbdb;
	background-color: #fff;
}

.fx_broker-item:nth-child(2n) {
	margin-right: 0;
}

.fx_broker-image {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 175px;
	width: 390px;
	border-bottom: 1px solid #dbdbdb;
}

.fx_broker-inform {
	position: relative;
	min-height: 300px;
	padding: 25px 20px;
	background-color: #f6f6f6;
}

.fx_broker-name {
	font-family: "RC_Bold";
	font-size: 22px;
	color: #444;
	text-transform: uppercase;
}

.fx_broker-descr {
	margin-top: 15px;
	margin-bottom: 70px;
}

.fx_broker-descr-item {
	font-size: 16px;
	color: #444;
	margin-top: 5px;
}

.fx_broker-descr-item span:nth-child(1) {
	font-family: "SSP_Bold";
}

.fx_broker-descr-item span:nth-child(2) {
	font-family: "SSP_Regular";
}

.fx_broker-btn {
	position: absolute;
	left: 50%;
	bottom: 25px;
	width: 100%;
	text-align: center;
	transform: translateX(-50%);
}

.fx_broker-btn> a {
	display: inline-block;
	padding: 13px 28px;
	font-family: "SSP_Regular";
	font-size: 16px;
	color: #fff;
	text-align: center;
	background-color: #333;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.fx_broker-btn> a:hover {
	background-color: #4c4c4c;
}

.fx_broker-more> a {
	display: block;
	width: 100%;
	padding: 16px 0;
	font-family: "SSP_Bold";
	font-size: 16px;
	color: #cc921f;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #ffd582;
	background-color: #fff0d1;
	background-image: url("/wp-content/themes/ForTraderMaster/images/arrow-down_icon.png");
	background-repeat: no-repeat;
	background-position: right 30px center;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.fx_broker-more> a:hover {
	color: #b2801b;
	border-color: #ffc44f;
	background-color: #ffe7b8;
}

.fx_social-post {
	height: 400px;
	width: 390px;
}

.fx_social-gag {
	width: 100%;
}

.fx_all-videos {
	width: 95px !important;
	font-family: "SSP_Regular";
	font-size: 14px;
	color: #444;
	text-align: center;
	line-height: 46px;
	text-transform: uppercase;
}

.fx_video-post {
	width: 390px;
	height: 360px;
	border: 1px solid #dbdbdb;
	overflow: hidden;
}

.fx_video-post:hover .fx_videopost-title {
	color: #167ac6;
}

.fx_videopost-wr {
	width: 390px;
	height: 270px;
}

.fx_videopost-wr iframe {
	width: 100%;
	height: 100%;
}

.fx_videopost-title {
	width: 100%;
	height: 90px;
	display: table;
	vertical-align: middle;
	font-family: "RC_Bold";
	font-size: 20px;
	line-height: 26px;
	color: #3b4245;
	text-align: center;
	border-top: 1px solid #dbdbdb;
	background-color: #f6f6f6;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.fx_videopost-title span {
	display: table-cell;
	vertical-align: middle;
}

.fx_chat {
	margin-top: 40px;
}

.fx_chat-gag {
	width: 100%;
}

.fx_accordion {
	margin-top: 40px;
}

.fx_accordion .handorgel__header {
	padding: 0;
	margin-top: 2px;
}

.fx_accordion .handorgel__header__button {
	position: relative;
	display: block;
	width: 100%;
	min-height: 50px;
	padding: 0 45px 0 15px;
	font-family: "RC_Bold";
	font-size: 18px;
	color: #444;
	border: 1px solid #dbdbdb;
	background-color: #f6f6f6;
}

.fx_accordion .handorgel__header__button:before {
	content: '';
	position: absolute;
	right: 15px;
	top: 50%;
	display: inline-block;
	width: 18px;
	height: 10px;
	background-image: url("/wp-content/themes/ForTraderMaster/images/icon_dropdown.png");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.fx_accordion .handorgel__header--open .handorgel__header__button {
	color: #167ac6;
	border-bottom: none;
	background-color: #f6f6f6;
}

.fx_accordion .handorgel__header--open .handorgel__header__button:before {
	background-image: url("/wp-content/themes/ForTraderMaster/images/icon_dropup.png");
}

.fx_accordion .handorgel__content {
	background-color: #f6f6f6;
	border: 1px solid #dbdbdb;
	border-top: none;
}

.fx_accordion .handorgel__content .handorgel__content__inner {
	padding: 10px 15px 30px;
	font-family: "SSP_Regular";
	font-size: 16px;
	color: #444;
	line-height: 24px;
}