@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,300,600,700,800&subset=latin,cyrillic);


/* reset */

.FTinformersWrapper a,
.FTinformersWrapper abbr,
.FTinformersWrapper acronym,
.FTinformersWrapper address,
.FTinformersWrapper applet,
.FTinformersWrapper article,
.FTinformersWrapper aside,
.FTinformersWrapper audio,
.FTinformersWrapper b,
.FTinformersWrapper blockquote,
.FTinformersWrapper big,
.FTinformersWrapper body,
.FTinformersWrapper center,
.FTinformersWrapper canvas,
.FTinformersWrapper caption,
.FTinformersWrapper cite,
.FTinformersWrapper code,
.FTinformersWrapper command,
.FTinformersWrapper datalist,
.FTinformersWrapper dd,
.FTinformersWrapper del,
.FTinformersWrapper details,
.FTinformersWrapper dfn,
.FTinformersWrapper dl,
.FTinformersWrapper div,
.FTinformersWrapper dt,
.FTinformersWrapper em,
.FTinformersWrapper embed,
.FTinformersWrapper fieldset,
.FTinformersWrapper figcaption,
.FTinformersWrapper figure,
.FTinformersWrapper font,
.FTinformersWrapper footer,
.FTinformersWrapper form,
.FTinformersWrapper h1,
.FTinformersWrapper h2,
.FTinformersWrapper h3,
.FTinformersWrapper h4,
.FTinformersWrapper h5,
.FTinformersWrapper h6,
.FTinformersWrapper header,
.FTinformersWrapper hgroup,
.FTinformersWrapper html,
.FTinformersWrapper i,
.FTinformersWrapper iframe,
.FTinformersWrapper img,
.FTinformersWrapper ins,
.FTinformersWrapper kbd,
.FTinformersWrapper keygen,
.FTinformersWrapper label,
.FTinformersWrapper legend,
.FTinformersWrapper li,
.FTinformersWrapper meter,
.FTinformersWrapper nav,
.FTinformersWrapper object,
.FTinformersWrapper ol,
.FTinformersWrapper output,
.FTinformersWrapper p,
.FTinformersWrapper pre,
.FTinformersWrapper progress,
.FTinformersWrapper q,
.FTinformersWrapper s,
.FTinformersWrapper samp,
.FTinformersWrapper section,
.FTinformersWrapper small,
.FTinformersWrapper span,
.FTinformersWrapper source,
.FTinformersWrapper strike,
.FTinformersWrapper strong,
.FTinformersWrapper sub,
.FTinformersWrapper sup,
.FTinformersWrapper table,
.FTinformersWrapper tbody,
.FTinformersWrapper tfoot,
.FTinformersWrapper thead,
.FTinformersWrapper th,
.FTinformersWrapper tr,
.FTinformersWrapper tdvideo,
.FTinformersWrapper tt,
.FTinformersWrapper u,
.FTinformersWrapper ul,
.FTinformersWrapper var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}
.FTinformersWrapper ul {list-style:none;}
.FTinformersWrapper blockquote,
.FTinformersWrapper q {quotes:none;}
.FTinformersWrapper table,
.FTinformersWrapper table td {padding:0;border:none;border-collapse:collapse;}
.FTinformersWrapper img {vertical-align:top;}
.FTinformersWrapper embed {vertical-align:top;}
.FTinformersWrapper input[type=text],
.FTinformersWrapper textarea{ outline:none;border-radius:0;}
.FTinformersWrapper article,
.FTinformersWrapper aside,
.FTinformersWrapper audio,
.FTinformersWrapper canvas,
.FTinformersWrapper command,
.FTinformersWrapper datalist,
.FTinformersWrapper details,
.FTinformersWrapper embed,
.FTinformersWrapper figcaption,
.FTinformersWrapper figure,
.FTinformersWrapper footer,
.FTinformersWrapper header,
.FTinformersWrapper hgroup,
.FTinformersWrapper keygen,
.FTinformersWrapper meter,
.FTinformersWrapper nav,
.FTinformersWrapper output,
.FTinformersWrapper progress,
.FTinformersWrapper section,
.FTinformersWrapper source,
.FTinformersWrapper video,
.FTinformersWrapper marquee{display:block}
.FTinformersWrapper mark,
.FTinformersWrapper rp,
.FTinformersWrapper rt,
.FTinformersWrapper ruby,
.FTinformersWrapper summary,
.FTinformersWrapper time{display:inline}


/* ------------------------------------------------

    1. Default stylesheets

------------------------------------------------ */

.FTinformersWrapper{
    font-family: 'Open Sans', sans-serif;
    color:#787575;
    font-size:14px;
    line-height:22px;
   /* background:#f1f1f1;*/
    -webkit-text-size-adjust: none;
}



   /* --------------------------------------------
        7.1. Typography
   -------------------------------------------- */

   .FTinformersWrapper a{
         color: #454242;
         text-decoration: none;
      }
      .FTinformersWrapper a:hover{
         color: #146eb3;
         text-decoration: none;
      }
      .FTinformersWrapper a:focus,
      .FTinformersWrapper a:visited{
         text-decoration: none;
      }

      .FTinformersWrapper a.icon:hover{opacity: 0.7;}



     /* --------------------------------------------
        7.9. Informer Tables
  -------------------------------------------- */

    /*! basic ==================================================*/

    .FTinformersWrapper [class*='informer_box'] [class*='col']{
        float: none;
        width: auto;
      }

      .FTinformersWrapper .informer_box:not(:last-child){
        margin-bottom: 50px;
      }

      .FTinformersWrapper .informer_box_example .informer_table_small:not(:last-child){
        margin-right: 20px;
      }

      .FTinformersWrapper .informer_box_example .informer_table_middle:not(:last-child){
        margin-right: 10px;
      }

      .FTinformersWrapper .informer_box_example .informer_table_marquee:not(:last-child){
        margin-right: 30px;
      }

      .FTinformersWrapper .informer_box_example .informer_table:not(:last-child){
        margin-right: 20px;
      }

      .FTinformersWrapper .informer_box_example .informer_table,
      .FTinformersWrapper .informer_table_middle,
      .FTinformersWrapper .informer_box_example .informer_table_small,
      .FTinformersWrapper .informer_box_example .informer_table_marquee{
        margin-bottom: 20px;
      }

      .FTinformersWrapper .informer_table tfoot td,
      .FTinformersWrapper .informer_table_middle tfoot td,
      .FTinformersWrapper .informer_table_small tfoot td{
        padding: 11px 5px;
      }

      .FTinformersWrapper .informer_table_small th,
      .FTinformersWrapper .informer_table_small td,
      .FTinformersWrapper .informer_table_middle th,
      .FTinformersWrapper .informer_table_middle td,
      .FTinformersWrapper .informer_table td{
        color: #454545;
      }

      .FTinformersWrapper .informer_table_middle{
        /*max-width: 243px;*/
        width: 100%;
        text-align: center;
        background: #fff;
        color: #454545;
        font-size: 13px;
        table-layout: fixed;

      }

      .FTinformersWrapper .informer_table_small{
       /* max-width: 183px;*/
        width: 100%;
        text-align: center;
        background: #fff;
        color: #454545;
        font-size: 13px;
        table-layout: fixed;
  
      }

      .FTinformersWrapper .informer_table_marquee{
        /*max-width: 995px;*/
        width: 100%;
        text-align: center;
        background: #fff;
        color: #454545;
        font-size: 13px;
        table-layout: fixed;
      }

    /*======= stylesheet =======*/

      /* icon */
      .FTinformersWrapper .informer_table [class*="icon_amount"]{
          position: relative;
          padding-left: 10px;
          text-align: left;
        }

        .FTinformersWrapper .informer_table [class*="icon_amount"]:before{
          content: "";
        /*  position: absolute;*/
          left: 25px;
          top: 50%;
          display: inline-block;
          width: 12px;
          height: 15px;
         /* -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
          -o-transform: translate(0,-50%);
          transform: translate(0,-50%);*/
          font-weight: bold;
          font-size: 20px;
        }

      /* amount =============================*/


      /* link =============================*/

      .FTinformersWrapper .informer_table_marquee .instal_link,
      .FTinformersWrapper .informer_table .instal_link{
          position: relative;
		  color: #5e5e5e;
        }

        /*.FTinformersWrapper .informer_table_marquee .instal_link:before,
        .FTinformersWrapper .informer_table .instal_link:before{
          content: "\f013";
          position: absolute;
          top: 50%;
          left: -30px;
          -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
          -o-transform: translate(0,-50%);
          transform: translate(0,-50%);
        }*/

        .FTinformersWrapper .informer_table_marquee .instal_link:before{
          left: -41px;
        }

        .FTinformersWrapper [class*="informer_table"] .instal_link{
        
        }

        .FTinformersWrapper [class*="informer_table"] .instal_link:hover{
          color: #000;
          opacity: 0.7;
        }


        .FTinformersWrapper .informer_table_marquee .amount,
        .FTinformersWrapper .informer_table_small .amount,
        .FTinformersWrapper .informer_table_middle .amount,
        .FTinformersWrapper .informer_table .amount{
          font-weight: bold;
          text-transform: uppercase;
        }

        .FTinformersWrapper .informer_table_marquee .amount_big,
        .FTinformersWrapper .informer_table_small .amount_big,
        .FTinformersWrapper .informer_table_middle .amount_big,
        .FTinformersWrapper .informer_table .amount_big{
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .FTinformersWrapper .informer_table_marquee .amount_middle,
        .FTinformersWrapper .informer_table_small .amount_middle,
        .FTinformersWrapper .informer_table_middle .amount_middle,
        .FTinformersWrapper .informer_table .amount_middle{
          color: #444;
          font-size: 17px;
          font-weight: bold;
          display: inline-block;
        }



  .FTinformersWrapper .informer_table.wwwhite  .arrow{
			padding-left:10px;
		}



      /* anlgle ========================*/

      .FTinformersWrapper .angle_l_top_red:before{
          content: "";
          border: 3px solid transparent;
          border-bottom: 4px solid #ff1616;
          width: 0;
          height: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          margin-top: -3px;
        }

        .FTinformersWrapper .angle_l_bottom_red:before{
          content: "";
          border: 3px solid transparent;
          border-top: 4px solid #ff1616;
          width: 0;
          height: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
        }
        .FTinformersWrapper .angle_l_top:before{
          content: "";
          border: 3px solid transparent;
          border-bottom: 4px solid #ff1616;
          width: 0;
          height: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          margin-top: -3px;
        }

        .FTinformersWrapper .angle_l_bottom_green:before{
          content: "";
          border: 3px solid transparent;
          border-top: 4px solid #89bb50;
          width: 0;
          height: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
        }
		
        .FTinformersWrapper .angle_l_bottom:before{
          content: "";
          border: 3px solid transparent;
          border-top: 4px solid #89bb50;
          width: 0;
          height: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
        }

        .FTinformersWrapper .angle_l_top_green:before{
          content: "";
          border: 3px solid transparent;
          border-bottom: 4px solid #89bb50;
          width: 0;
          height: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
        }

        .FTinformersWrapper .angle_l_top_red,
        .FTinformersWrapper .angle_l_bottom_red{
          display: block;
          color: #ff1616;
          font-size: 13px;
          line-height: 13px;
          font-weight: 400;
        }

        .FTinformersWrapper .angle_l_bottom_green,
        .FTinformersWrapper .angle_l_top_green{
          display: block;
          color: #89bb50;
          font-size: 13px;
          line-height: 13px;
          font-weight: 400;
        }
		
        .FTinformersWrapper .angle_l_bottom,
        .FTinformersWrapper .angle_l_top{
          display: block;
          color: #89bb50;
          font-size: 13px;
          line-height: 13px;
          font-weight: 400;
        }

        .FTinformersWrapper .informer_table thead time{
          font-weight: 400;
        }

        .FTinformersWrapper .informer_table td.red{
          color: #ff1616;
        }

        .FTinformersWrapper .informer_table td.green{
          color: #89bb50;
        }

    /*! Informer Table Default =================================*/

    .FTinformersWrapper .informer_table{
        text-align: center;
        width: 100%;
        /*max-width: 320px;*/
        background: #fff;
        color: #454545;
        font-size: 13px;
        table-layout: fixed;
      }

      .FTinformersWrapper .informer_table_marquee .col4 td,
      .FTinformersWrapper .informer_table_small .col4 td,
      .FTinformersWrapper .informer_table_middle .col4 td,
      .FTinformersWrapper .informer_table .col4 td{
        border-bottom: 1px solid #f1f1f1;
      }

      .FTinformersWrapper .informer_table_marquee th,
      .FTinformersWrapper .informer_table_small th,
      .FTinformersWrapper .informer_table_middle th,
      .FTinformersWrapper .informer_table th{
        text-transform: uppercase;
      }

      .FTinformersWrapper .informer_table_marquee th,
      .FTinformersWrapper .informer_table_marquee td,
      .FTinformersWrapper .informer_table_small th,
      .FTinformersWrapper .informer_table_small td,
      .FTinformersWrapper .informer_table_middle th,
      .FTinformersWrapper .informer_table_middle td,
      .FTinformersWrapper .informer_table th,
      .FTinformersWrapper .informer_table td{
        vertical-align: middle;
        border: 1px solid #e8e8e8;
        padding: 9px 5px 9px;
      }

      .FTinformersWrapper .informer_table_marquee thead th,
      .FTinformersWrapper .informer_table_small thead th,
      .FTinformersWrapper .informer_table_middle thead th,
      .FTinformersWrapper .informer_table thead th{
        font-size: 12px;
        padding: 14px 5px 13px;
      }

      .FTinformersWrapper .informer_table time,
      .FTinformersWrapper .informer_table_small time,
      .FTinformersWrapper .informer_table_middle time,
      .FTinformersWrapper .informer_table_marquee time{
        color: #787878;
      }
      .FTinformersWrapper  time span{
        margin-left:4px;
      }

      /* tfoot */
      .FTinformersWrapper .informer_table tfoot td,
      .FTinformersWrapper .informer_table_middle tfoot td,
      .FTinformersWrapper .informer_table_marquee tfoot td{
        background: #f1f1f1;
        padding: 11px 5px;
        border: 1px solid #f1f1f1;
      }

    /*! Informer Table Silver ==================================*/

    .FTinformersWrapper .informer_table.silver{
        background: #f6f6f6;
      }

      .FTinformersWrapper .informer_table.silver thead th{
        border-top-color: #f6f6f6;
        border-left-color: #f6f6f6;
        border-right-color: #f6f6f6;
      }

      .FTinformersWrapper .informer_table.silver tfoot td{
        background: #fff;
        border: 1px solid #f1f1f1;
      }

      .FTinformersWrapper .informer_table.silver tfoot td{
        background: #fff;
        border: 1px solid #f1f1f1;
      }

      .FTinformersWrapper .informer_table.silver tbody [class*="col"] th:not(:last-child),
      .FTinformersWrapper .informer_table.silver tbody [class*="col"] td:not(:last-child){
        border-left-color: #f6f6f6;
      }
      .FTinformersWrapper .informer_table.silver tbody [class*="col"] th:not(:first-child),
      .FTinformersWrapper .informer_table.silver tbody [class*="col"] td:not(:first-child){
        border-right-color: #f6f6f6;
      }
      .FTinformersWrapper .informer_table.silver tbody .col4 td{
        border-left-color: #f6f6f6;
        border-right-color: #f6f6f6;
      }

      .FTinformersWrapper .informer_table.silver tbody .col2 td {
          border-bottom-color: transparent;
      }

    /*! Informer Table light_dark_silver =======================*/

    .FTinformersWrapper .informer_table.light_dark_silver tfoot td,
    .FTinformersWrapper .informer_table.light_dark_silver thead th{
        background: #b3b1b1;
        color: #fff;
      }

      .FTinformersWrapper .informer_table.light_dark_silver tbody{
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
      }

      .FTinformersWrapper .informer_table.light_dark_silver tfoot td,
      .FTinformersWrapper .informer_table.light_dark_silver thead th{
        border-color: #b3b1b1;
      }

      .FTinformersWrapper .informer_table.light_dark_silver tbody .col1 th{
        border-color: #f1f1f1;
      }

      .FTinformersWrapper .informer_table.light_dark_silver tbody .col4 td{
        border-color: #f1f1f1;
        border-right: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
      }

      .FTinformersWrapper .informer_table.light_dark_silver .col1 th:not(:first-child){
        border-right: 1px solid #e8e8e8;
      }

      .FTinformersWrapper .informer_table.light_dark_silver .col1 th:not(:last-child){
        border-left: 1px solid #e8e8e8;
      }

      .FTinformersWrapper .informer_table.light_dark_silver .col4 td,
      .FTinformersWrapper .informer_table.light_dark_silver .col1 th{
        background: #f1f1f1;
      }

      .FTinformersWrapper .informer_table.light_dark_silver .col2 td{
        border-top: none;
      }

      .FTinformersWrapper .informer_table.light_dark_silver .col3 td{
        border-bottom: none;
      }

      .FTinformersWrapper .informer_table.light_dark_silver .instal_link,
      .FTinformersWrapper .informer_table.light_dark_silver .instal_link:before{
        color: #fff;
      }

    /*! Informer Table Dark ====================================*/

    .FTinformersWrapper .informer_table.dark tfoot td,
    .FTinformersWrapper .informer_table.dark thead{
        background: #4d4d4d;
      }

      .FTinformersWrapper .informer_table.dark tfoot td,
      .FTinformersWrapper .informer_table.dark thead th{
        border-color: #4d4d4d;
      }

      .FTinformersWrapper .informer_table.dark tbody td:not(:first-child){
        border-right-color: #333;
      }

      .FTinformersWrapper .informer_table.dark tbody td:not(:last-child){
        border-left-color: #333;
      }

      .FTinformersWrapper .informer_table.dark tfoot .instal_link:before,
      .FTinformersWrapper .informer_table.dark tfoot .instal_link{
        color: #e6e6e6;
      }

      .FTinformersWrapper .informer_table.dark thead th{
        color: #e6e6e6;
      }

      .FTinformersWrapper .informer_table.dark tbody th,
      .FTinformersWrapper .informer_table.dark tbody td{
        border-color: #4d4d4d;
      }

      .FTinformersWrapper .informer_table.dark tbody{
        background: #333;
        color: #e6e6e6;
      }

      .FTinformersWrapper .informer_table.dark tbody .col1 th{
        border-top: 1px solid #333;
        color: #e6e6e6;
      }

      .FTinformersWrapper .informer_table.dark tbody .col1 th:not(:first-child){
        border-right: 1px solid #333;
      }

      .FTinformersWrapper .informer_table.dark tbody .col1 th:not(:last-child){
        border-left: 1px solid #333;
        border-top: 1px solid #333;
      }

      .FTinformersWrapper .informer_table.dark tbody .col4 time{
        color: #e6e6e6;
      }

      .FTinformersWrapper .informer_table.dark td:not(:last-child){color: #e6e6e6;}

      .FTinformersWrapper .informer_table.dark .col4 td{
        border-color: #333;
      }

    /*! Informer Table blue ====================================*/

    .FTinformersWrapper .informer_table.blue{
        color: #fff;
      }

      .FTinformersWrapper .informer_table.blue tfoot td,
      .FTinformersWrapper .informer_table.blue thead th{
        background: #136bad;
        color: #fff;
      }

      .FTinformersWrapper .informer_table.blue tfoot td,
      .FTinformersWrapper .informer_table.blue thead th{
        border-color: #136bad;
      }

      .FTinformersWrapper .informer_table.blue tfoot .instal_link:before,
      .FTinformersWrapper .informer_table.blue tfoot .instal_link{
        color: #fff;
      }

      /* amount */
      .FTinformersWrapper .informer_table.blue .icon_amount_euro:before{
        background: url(images/informer/arrow_down_white.png) 0 0 no-repeat;
      }

      .FTinformersWrapper .informer_table.blue .icon_amount_dollar:before{
        background: url(images/informer/arrow_up_white.png) 0 0 no-repeat;
      }

      .FTinformersWrapper .informer_table.blue tbody th,
      .FTinformersWrapper .informer_table.blue tbody td{
        border-color: #136bad;
        color: #fff;
      }

      .FTinformersWrapper .informer_table.blue tbody{
        background: #167ac6;
      }

      .FTinformersWrapper .informer_table.blue tbody .col1 th{
        border-top: 1px solid #333;
      }

      .FTinformersWrapper .informer_table.blue tbody  td:not(:first-child),
      .FTinformersWrapper .informer_table.blue tbody .col1 th:not(:first-child){
        border-right: 1px solid #167ac6;
      }

      .FTinformersWrapper .informer_table.blue tbody  td:not(:last-child),
      .FTinformersWrapper .informer_table.blue tbody .col1 th:not(:last-child){
        border-left: 1px solid #167ac6;
      }

      .FTinformersWrapper .informer_table.blue tbody .col4 time{
        color: #fff;
      }

      .FTinformersWrapper .informer_table.blue .col4 td{
        border-color: #167ac6;
      }

    /*! Informer Table purple ==================================*/

    .FTinformersWrapper .informer_table.purple{
        color: #fff;
      }

      .FTinformersWrapper .informer_table.purple tfoot td,
      .FTinformersWrapper .informer_table.purple thead th{
        background: #615f8c;
        color: #fff;
      }

      .FTinformersWrapper .informer_table.purple tfoot td,
      .FTinformersWrapper .informer_table.purple thead th{
        border-color: #615f8c;
      }

      .FTinformersWrapper .informer_table.purple tfoot .instal_link:before,
      .FTinformersWrapper .informer_table.purple tfoot .instal_link{
        color: #fff;
      }

      /* amount */
      .FTinformersWrapper .informer_table.purple .icon_amount_euro:before{
        background: url(images/informer/arrow_down_white.png) 0 0 no-repeat;
      }

      .FTinformersWrapper .informer_table.purple .icon_amount_dollar:before{
        background: url(images/informer/arrow_up_white.png) 0 0 no-repeat;
      }

      .FTinformersWrapper .informer_table.purple tbody th,
      .FTinformersWrapper .informer_table.purple tbody td{
        border-color: #615f8c;
        color: #fff;
      }

      .FTinformersWrapper .informer_table.purple tbody{
        background: #7371a6;
      }

      .FTinformersWrapper .informer_table.purple tbody .col1 th{
        border-top: 1px solid #615f8c;
      }

      .FTinformersWrapper .informer_table.purple tbody  td:not(:first-child),
      .FTinformersWrapper .informer_table.purple tbody .col1 th:not(:first-child){
        border-right: 1px solid #7371a6;
      }

      .FTinformersWrapper .informer_table.purple tbody  td:not(:last-child),
      .FTinformersWrapper .informer_table.purple tbody .col1 th:not(:last-child){
        border-left: 1px solid #7371a6;
      }

      .FTinformersWrapper .informer_table.purple tbody .col4 time{
        color: #fff;
      }

      .FTinformersWrapper .informer_table.purple .col4 td{
        border-color: #7371a6;
      }

    /*! Informer Table border bold ==============================*/

    .FTinformersWrapper .informer_table.bold_bd th,
    .FTinformersWrapper .informer_table.bold_bd td{
        border-width: 2px;
      }

      .FTinformersWrapper .informer_table.bold_bd td{
        padding: 9px 5px 8px;
      }

      .FTinformersWrapper .informer_table.bold_bd thead th{
        padding: 12px 5px;
      }

      .FTinformersWrapper .informer_table.bold_bd .col4 td{
        border-bottom: 2px solid #e8e8e8;
      }

    /*! Informer Table type1 ====================================*/

    .FTinformersWrapper .informer_table.type1 tbody .col2 td {
          border-bottom-color: transparent;
      }

    /*! Informer Table  white ====================================*/

    .FTinformersWrapper .informer_table.white td,
    .FTinformersWrapper .informer_table.white th{
       /* background: #fff;*/
        /*border: 2px solid #e3e3e3;*/
      }

      .FTinformersWrapper .informer_table.white thead th{
        text-transform: none;
        font-size: 14px;
     }

     .FTinformersWrapper .informer_table.white.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
     }

     .FTinformersWrapper .informer_table.white tbody td{
        font-size: 18px;
        font-weight: bold;
     }



     .FTinformersWrapper .informer_table.white .col2 td{
        border-top-color: transparent;
		border-bottom-color: transparent;
        padding: 6px 5px 6px;
      }
      .FTinformersWrapper .informer_table.white .col3 td{
		   padding: 6px 5px 6px;
	   }

    /*! Informer Table  bd orange ================================*/

    .FTinformersWrapper .informer_table.bd_orange td,
    .FTinformersWrapper .informer_table.bd_orange th{
        background: #fff;
        border: 1px solid #ff1616;
      }

      .FTinformersWrapper .informer_table.bd_orange thead th{
        text-transform: none;
        font-size: 14px;
     }

     .FTinformersWrapper .informer_table.bd_orange.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
     }

     .FTinformersWrapper .informer_table.bd_orange tbody td{
        font-size: 18px;
        font-weight: bold;
     }

     .FTinformersWrapper .informer_table.bd_orange .col1 td{
        border-bottom-color: transparent;
        padding: 18px 5px 6px;
      }

      .FTinformersWrapper .informer_table.bd_orange .col2 td{
        border-top-color: transparent;
        padding: 6px 5px 18px;
      }

     .FTinformersWrapper .informer_table.bd_orange tbody .col1 td {
          border-bottom-color: transparent;
      }

    /*! Informer Table Dark Silver 2 =============================*/

      .FTinformersWrapper .informer_table.dark_silver_2.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
      }

      .FTinformersWrapper .informer_table.dark_silver_2{
        background-color: #f1f1f1;
      }

      .FTinformersWrapper .informer_table.dark_silver_2 thead th{
        border: 1px solid #ccc;
        font-size: 14px;
        text-transform: none;
      }

      .FTinformersWrapper .informer_table.dark_silver_2 tfoot td{
        border: 1px solid #ccc;
        background: none;
      }

      .FTinformersWrapper .informer_table.dark_silver_2 tbody td:not(:first-child){
        border: 1px solid #ccc;
      }

      .FTinformersWrapper .informer_table.dark_silver_2 tbody td:not(:last-child){
        border: 1px solid #ccc;
      }

      .FTinformersWrapper .informer_table.dark_silver_2 tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .FTinformersWrapper .informer_table.dark_silver_2 .col1 td{
        border-bottom-color: transparent;
        padding: 18px 5px 6px;
      }

      .FTinformersWrapper .informer_table.dark_silver_2 .col2 td{
        border-top-color: transparent;
        padding: 6px 5px 18px;
      }

      .FTinformersWrapper .informer_table.dark_silver_2 tbody .col1 td {
          border-bottom-color: transparent;
      }

    /*! Informer Table Orange Head ===============================*/

      .FTinformersWrapper .informer_table.orange_head thead time,
      .FTinformersWrapper .informer_table.orange_head thead th{
        background: #ff660a;
        color: #fff;
        border-color: #ff660a;
        font-size: 14px;
        text-transform: none;
      }

      .FTinformersWrapper .informer_table.orange_head tfoot td{
        border: 1px solid #ff660a;
        background: none;
      }

      .FTinformersWrapper .informer_table.orange_head tbody td:not(:first-child){
        border-right: 1px solid #ff660a;
      }

      .FTinformersWrapper .informer_table.orange_head tbody td:not(:last-child){
        border-left: 1px solid #ff660a;
      }

      .FTinformersWrapper .informer_table.orange_head tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .FTinformersWrapper .informer_table.orange_head .col1 td{
        border-bottom-color: transparent;
        padding: 18px 5px 6px;
      }

      .FTinformersWrapper .informer_table.orange_head .col2 td{
        border-top-color: transparent;
        padding: 6px 5px 18px;
      }


      .FTinformersWrapper .informer_table.orange_head tbody .col1 td {
          border-bottom-color: transparent;
      }

    /*! Informer Table type2 ======================================*/

      .FTinformersWrapper .informer_table.type2 thead th{
        background: #f1f1f1;
        border-color: #f1f1f1;
      }

      .FTinformersWrapper .informer_table.type2 .col4 td {
          border-bottom: 1px solid #e8e8e8;
      }

      .FTinformersWrapper .informer_table.type2 tbody .col2 td {
          border-bottom-color: transparent;
      }

    /* Middle */
    /*! Informer Table moddle white ===============================*/

      .FTinformersWrapper .informer_table_middle.white.bold_bd td,
      .FTinformersWrapper .informer_table_middle.white.bold_bd th{
        border: 2px solid #e3e3e3;
      }

      .FTinformersWrapper .informer_table_middle.white.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
      }

      .FTinformersWrapper .informer_table_middle.white thead th{
        font-size: 14px;
        text-transform: none;
      }

      .FTinformersWrapper .informer_table_middle.white tfoot td{
        background: none;
      }

      .FTinformersWrapper .informer_table_middle.white tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .FTinformersWrapper .informer_table_middle.white .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.white .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.white .instal_link{
        font-size: 12px;
      }

      .FTinformersWrapper .informer_table_middle.white .instal_link:before{
        display: none;
      }

    /*! Informer Table mddle hight_silver =========================*/

      .FTinformersWrapper .informer_table_middle.hight_silver td,
      .FTinformersWrapper .informer_table_middle.hight_silver th{
        background: #f1f1f1;
        border: 1px solid #ccc;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver thead th{
        font-size: 14px;
        text-transform: none;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver .col1 td:not(:last-child){
        border-right-color: transparent;
      }


      .FTinformersWrapper .informer_table_middle.hight_silver .instal_link{
        font-size: 12px;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver .instal_link:before{
        display: none;
      }

    /*! Informer Table middle hight silver black ===================*/

      .FTinformersWrapper .informer_table_middle.hight_silver_black td,
      .FTinformersWrapper .informer_table_middle.hight_silver_black th{
        background: #f1f1f1;
        border: 1px solid #ccc;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver_black.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
        background-color: #545454;
        color: #fff;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver_black thead th{
        font-size: 14px;
        text-transform: none;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver_black tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver_black .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver_black .col1 td:not(:last-child){
          border-right-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver_black .instal_link{
        font-size: 12px;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver_black .instal_link:before{
        display: none;
      }

    /*! Informer Table middle hight orange ==========================*/

      .FTinformersWrapper .informer_table_middle.hight_orange td,
      .FTinformersWrapper .informer_table_middle.hight_orange th{
        background: #f1f1f1;
        border: 1px solid #ff660a;
      }

      .FTinformersWrapper .informer_table_middle.hight_orange.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
        background: #ff660a;
        border-color: #ff660a;
        color: #fff;
      }

      .FTinformersWrapper .informer_table_middle.hight_orange thead th{
        font-size: 14px;
        text-transform: none;
      }

      .FTinformersWrapper .informer_table_middle.hight_orange tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .FTinformersWrapper .informer_table_middle.hight_orange .col1 td{
        border-bottom: 1px solid #ccc;
      }

      .FTinformersWrapper .informer_table_middle.hight_orange .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.hight_orange .col1 td:not(:last-child){
          border-right-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.hight_orange .instal_link{
        font-size: 12px;
      }

      .FTinformersWrapper .informer_table_middle.hight_orange .instal_link:before{
        display: none;
      }

    /*! Informer Table middle hight_gold ============================*/

      .FTinformersWrapper .informer_table_middle.hight_gold td,
      .FTinformersWrapper .informer_table_middle.hight_gold th{
        background: #f1f1f1;
        border: 1px solid #897939;
      }

      .FTinformersWrapper .informer_table_middle.hight_gold thead th time{
        color: #fff;
      }

      .FTinformersWrapper .informer_table_middle.hight_gold thead th{
        font-size: 14px;
        background-color: #897939;
        border-color: #897939;
        color: #fff;
        text-transform: none;
      }

      .FTinformersWrapper .informer_table_middle.hight_gold tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .FTinformersWrapper .informer_table_middle.hight_gold .col1 td{
        border-bottom: 1px solid #897939;
      }

      .FTinformersWrapper .informer_table_middle.hight_gold .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.hight_gold .col1 td:not(:last-child){
          border-right-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.hight_gold .instal_link{
        font-size: 12px;
        color: #574d24;
      }

      .FTinformersWrapper .informer_table_middle.hight_gold .instal_link:before{
        display: none;
      }

    /*! Informer Table middle pink_orange ===========================*/

      .FTinformersWrapper .informer_table_middle.pink_orange td,
      .FTinformersWrapper .informer_table_middle.pink_orange th{
        background: #ffece5;
        border: 1px solid #ff7e65;
      }

      .FTinformersWrapper .informer_table_middle.pink_orange thead th time{
        color: #fff;
      }

      .FTinformersWrapper .informer_table_middle.pink_orange thead th{
        font-size: 14px;
        background: #ff7e65;
        border-color: #ff7e65;
        color: #fff;
        text-transform: none;
      }

      .FTinformersWrapper .informer_table_middle.pink_orange tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .FTinformersWrapper .informer_table_middle.pink_orange .col1 td{
        border-bottom: 1px solid #ff7e65;
      }

      .FTinformersWrapper .informer_table_middle.pink_orange .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.pink_orange .col1 td:not(:last-child){
          border-right-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.pink_orange .instal_link{
        font-size: 12px;
        color: #574d24;
      }

      .FTinformersWrapper .informer_table_middle.pink_orange .instal_link:before{
        display: none;
      }

    /*! Informer Table middle hight blue ===========================*/

      .FTinformersWrapper .informer_table_middle.hight_blue td,
      .FTinformersWrapper .informer_table_middle.hight_blue th{
        border: 1px solid #167ac6;
        background: #167ac6;
        color: #fff;
      }

      .FTinformersWrapper .informer_table_middle.hight_blue thead th time,
      .FTinformersWrapper .informer_table_middle.hight_blue span,
      .FTinformersWrapper .informer_table_middle.hight_blue .amount_middle{
        color: #fff;
      }


      .FTinformersWrapper .informer_table_middle.hight_blue .angle_l_top_red:before{
        border-bottom-color: #fff;
      }

      .FTinformersWrapper .informer_table_middle.hight_blue .angle_l_bottom_green:before{
        border-top-color: #fff;
      }

      .FTinformersWrapper .informer_table_middle.hight_blue thead th{
        font-size: 14px;
        background: #115e99;
        border-color: #115e99;
        text-transform: none;
      }

      .FTinformersWrapper .informer_table_middle.hight_blue tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .FTinformersWrapper .informer_table_middle.hight_blue .col1 td{
        border-bottom: 1px solid #115e99;
      }

      .FTinformersWrapper .informer_table_middle.hight_blue .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.hight_blue .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.hight_blue .instal_link{
        font-size: 12px;
        color: #fff;
      }

      .FTinformersWrapper .informer_table_middle.hight_blue .instal_link:before{
        display: none;
      }

    /*! Informer Table middle hight blue ============================*/

      .FTinformersWrapper .informer_table_middle.hight_silver_dark td,
      .FTinformersWrapper .informer_table_middle.hight_silver_dark th{
        border: 1px solid #b3b1b1;
        background-color: #f1f1f1;
        color: #fff;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver_dark thead th time{
        color: #fff;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver_dark thead th{
        font-size: 14px;
        background: #b3b1b1;
        border-color: #b3b1b1;
        text-transform: none;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver_dark tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver_dark .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver_dark .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .FTinformersWrapper .informer_table_middle.hight_silver_dark .instal_link{
        font-size: 12px;
      }


      /* small */

    /*! Informer table small default ================================*/

      .FTinformersWrapper .informer_table_small.default span2{
        vertical-align: middle;
      }

      

      .FTinformersWrapper .informer_table_small.default .angle_l_bottom_red,
      .FTinformersWrapper .informer_table_small.default .angle_l_top_green{
        display: inline-block;
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_small.default .amount_middle{
        vertical-align: middle;
        font-size: 13px;
        line-height: 1;
      }

      .FTinformersWrapper .informer_table_small.default thead time,
      .FTinformersWrapper .informer_table_small.default thead th{
        text-transform: none;
      }

      .FTinformersWrapper .informer_table_small.default tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .FTinformersWrapper .informer_table_small.default .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .FTinformersWrapper .informer_table_small.default .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .FTinformersWrapper .informer_table_small.default .instal_link{
        font-size: 10px;
      }

    /*! Informer table small silver_dark =============================*/

      .FTinformersWrapper .informer_table_small.silver_dark span2{
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_small.silver_dark td,
      .FTinformersWrapper .informer_table_small.silver_dark th{
        border: 1px solid #ccc;
        padding: 10px 5px 9px;
      }

      .FTinformersWrapper .informer_table_small.silver_dark .angle_l_bottom_red,
      .FTinformersWrapper .informer_table_small.silver_dark .angle_l_top_green{
        display: inline-block;
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_small.silver_dark .amount_middle{
        vertical-align: middle;
        font-size: 13px;
        line-height: 1;
      }

      .FTinformersWrapper .informer_table_small.silver_dark tbody td,
      .FTinformersWrapper .informer_table_small.silver_dark tfoot td{
        background-color: #f1f1f1;
        border: 1px solid #ccc;
      }

      .FTinformersWrapper .informer_table_small.silver_dark thead th{
        background: #b3b1b1;
        border-color: #b3b1b1;
      }

      .FTinformersWrapper .informer_table_small.silver_dark thead time,
      .FTinformersWrapper .informer_table_small.silver_dark thead th{
        text-transform: none;
        color: #fff;
      }

      .FTinformersWrapper .informer_table_small.silver_dark tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .FTinformersWrapper .informer_table_small.silver_dark .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .FTinformersWrapper .informer_table_small.silver_dark .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .FTinformersWrapper .informer_table_small.silver_dark .instal_link{
        font-size: 10px;
      }

    /*! Informer table small orange ===================================*/

      .FTinformersWrapper .informer_table_small.orange span2{
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_small.orange td,
      .FTinformersWrapper .informer_table_small.orange th{
        border: 1px solid #ccc;
        padding: 10px 5px 9px;
      }

      .FTinformersWrapper .informer_table_small.orange .angle_l_bottom_red,
      .FTinformersWrapper .informer_table_small.orange .angle_l_top_green{
        display: inline-block;
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_small.orange .amount_middle{
        vertical-align: middle;
        font-size: 13px;
        line-height: 1;
      }

      .FTinformersWrapper .informer_table_small.orange tbody td,
      .FTinformersWrapper .informer_table_small.orange tfoot td{
        background-color: #f1f1f1;
        border: 1px solid #ccc;
      }

      .FTinformersWrapper .informer_table_small.orange tfoot td{
        border-left-color: #ff660a;
        border-right-color: #ff660a;
        border-bottom-color: #ff660a;
      }

      .FTinformersWrapper .informer_table_small.orange thead th{
        background: #ff660a;
        border-color: #ff660a;
      }

      .FTinformersWrapper .informer_table_small.orange thead time,
      .FTinformersWrapper .informer_table_small.orange thead th{
        text-transform: none;
        color: #fff;
      }

      .FTinformersWrapper .informer_table_small.orange tbody td{
        font-weight: bold;
        font-size: 18px;
        border-left-color: #ff660a;
        border-right-color: #ff660a;
      }

      .FTinformersWrapper .informer_table_small.orange .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .FTinformersWrapper .informer_table_small.orange .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .FTinformersWrapper .informer_table_small.orange .instal_link{
        font-size: 10px;
      }

    /*! Informer table small pink =====================================*/

      .FTinformersWrapper .informer_table_small.pink span2{
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_small.pink td,
      .FTinformersWrapper .informer_table_small.pink th{
        border: 1px solid #ccc;
        padding: 10px 5px 9px;
      }

      .FTinformersWrapper .informer_table_small.pink .angle_l_bottom_red,
      .FTinformersWrapper .informer_table_small.pink .angle_l_top_green{
        display: inline-block;
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_small.pink .amount_middle{
        vertical-align: middle;
        font-size: 13px;
        line-height: 1;
      }

      .FTinformersWrapper .informer_table_small.pink tbody td,
      .FTinformersWrapper .informer_table_small.pink tfoot td{
        background-color: #ffece5;
        border: 1px solid #ff7e65;
      }

      .FTinformersWrapper .informer_table_small.pink thead th{
        background: #ff7e65;
        border-color: #ff7e65;
      }

      .FTinformersWrapper .informer_table_small.pink thead time,
      .FTinformersWrapper .informer_table_small.pink thead th{
        text-transform: none;
        color: #fff;
      }

      .FTinformersWrapper .informer_table_small.pink tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .FTinformersWrapper .informer_table_small.pink .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .FTinformersWrapper .informer_table_small.pink .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .FTinformersWrapper .informer_table_small.pink .instal_link{
        font-size: 10px;
      }

    /*! Informer table small silver_dark ==============================*/

      .FTinformersWrapper .informer_table_small.silver_dark2 span2{
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_small.silver_dark2 td,
      .FTinformersWrapper .informer_table_small.silver_dark2 th{
        border: 1px solid #ccc;
      }

      .FTinformersWrapper .informer_table_small.silver_dark2 .angle_l_bottom_red,
      .FTinformersWrapper .informer_table_small.silver_dark2 .angle_l_top_green{
        display: inline-block;
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_small.silver_dark2 .amount_middle{
        vertical-align: middle;
        font-size: 19px;
        margin-left: 10px;
        line-height: 1;
      }

      .FTinformersWrapper .informer_table_small.silver_dark2 tbody td,
      .FTinformersWrapper .informer_table_small.silver_dark2 tfoot td{
        background-color: #f1f1f1;
        border: 1px solid #ccc;
      }

      .FTinformersWrapper .informer_table_small.silver_dark2 thead th{
        background: #b3b1b1;
        border-color: #b3b1b1;
        padding: 9px 5px 8px;
      }

      .FTinformersWrapper .informer_table_small.silver_dark2 thead time,
      .FTinformersWrapper .informer_table_small.silver_dark2 thead th{
        text-transform: none;
        color: #fff;
      }

      .FTinformersWrapper .informer_table_small.silver_dark2 tbody span{
        font-size: 11px;
        color: #454545;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_small.silver_dark2 .col1 td{
        border-bottom-color: transparent;
        padding: 11px 5px 6px;
      }

      .FTinformersWrapper .informer_table_small.silver_dark2 .col2 td{
        border-top-color: transparent;
        padding: 6px 5px 11px;
      }

      .FTinformersWrapper .informer_table_small.silver_dark2 .instal_link{
        font-size: 10px;
      }

    /* marquee */
    /*! Informer marquee  blue =========================================*/

      .FTinformersWrapper .informer_table_marquee.blue span{
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_marquee.blue td,
      .FTinformersWrapper .informer_table_marquee.blue th{
        padding: 10px 5px 9px;
      }

      .FTinformersWrapper .informer_table_marquee.blue .angle_l_bottom_red,
      .FTinformersWrapper .informer_table_marquee.blue .angle_l_top_green{
        display: inline-block;
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_marquee.blue .amount_middle.blue{
        color: #167ac6;
        font-size: 19px;
      }

      .FTinformersWrapper .informer_table_marquee.blue .amount_middle{
        vertical-align: middle;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 1;
      }

      .FTinformersWrapper .informer_table_marquee.blue tfoot td{
        padding: 8px 5px 8px;
      }

      .FTinformersWrapper .informer_table_marquee.blue tbody td,
      .FTinformersWrapper .informer_table_marquee.blue tfoot td{
        background: #f6f6f6;
        border: 1px solid #167ac6;
      }

      .FTinformersWrapper .informer_table_marquee.blue thead th{
        background-color: #167ac6;
        border-color: #167ac6;
      }

      .FTinformersWrapper .informer_table_marquee.blue thead time,
      .FTinformersWrapper .informer_table_marquee.blue thead th{
        text-transform: none;
        color: #fff;
      }

      .FTinformersWrapper .informer_table_marquee.blue tbody td{
        padding: 15px 5px 14px;
      }

      .FTinformersWrapper .informer_table_marquee.blue tbody span{
        font-size: 14px;
        color: #454545;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_marquee.blue .instal_link{
        font-size: 12px;
      }

    /*! Informer marquee  silver dark ==================================*/

      .FTinformersWrapper .informer_table_marquee.silver_dark span{
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_marquee.silver_dark td,
      .FTinformersWrapper .informer_table_marquee.silver_dark th{
        padding: 10px 5px 9px;
      }

      .FTinformersWrapper .informer_table_marquee.silver_dark .angle_l_top_red,
      .FTinformersWrapper .informer_table_marquee.silver_dark .angle_l_bottom_green{
        display: inline-block;
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_marquee.silver_dark .amount_middle.silver_dark{
        color: #167ac6;
        font-size: 19px;
      }

      .FTinformersWrapper .informer_table_marquee.silver_dark .amount_middle{
        vertical-align: middle;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 1;
      }

      .FTinformersWrapper .informer_table_marquee.silver_dark tfoot td{
        padding: 8px 5px 8px;
      }

      .FTinformersWrapper .informer_table_marquee.silver_dark tbody td,
      .FTinformersWrapper .informer_table_marquee.silver_dark tfoot td{
        background-color: #f6f6f6;
        border: 1px solid #b3b1b1;
      }

      .FTinformersWrapper .informer_table_marquee.silver_dark thead th{
        background-color: #b3b1b1;
        border-color: #b3b1b1;
      }

      .FTinformersWrapper .informer_table_marquee.silver_dark thead time,
      .FTinformersWrapper .informer_table_marquee.silver_dark thead th{
        text-transform: none;
        color: #fff;
      }

      .FTinformersWrapper .informer_table_marquee.silver_dark tbody td{
        padding: 15px 5px 14px;
      }

      .FTinformersWrapper .informer_table_marquee.silver_dark tbody span{
        font-size: 18px;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
      }

      .FTinformersWrapper .informer_table_marquee.silver_dark .instal_link{
        font-size: 12px;
      }
	  
	  
	  
.FTinformersWrapper .informer_table td .itemImgWrap{
	padding:0px 5px 0px 5px;
	height: 36px; 
	width:36px;
	background-color: #f1f1f1; 
	display: inline-block; 
	vertical-align: middle; 
	font-size: 12px; 
	line-height: 36px; 
	color:#545454; 
	margin-right:10px;
}
.FTinformersWrapper .informer_table_middle td .itemImgWrap{
	padding:0px 5px 0px 5px;
	height: 36px; 
	min-width:36px;
	background-color: #f1f1f1; 
	display: inline-block; 
	vertical-align: middle;
	font-size: 12px; 
	line-height: 36px; 
	color:#fff; 
	margin-right:8px;
}
.FTinformersWrapper .style2ImgWrap{
	width: 16px; 
	height: 16px; 
	display: inline-block; 
	vertical-align: middle; 
	margin-right: 10px;
}
.FTinformersWrapper .style5ImgWrap{
	width: 48px; 
	height: 48px; 
	display: inline-block; 
	vertical-align: middle; 
	margin-right: 10px;
}
.FTinformersWrapper .amount_big.bigFlag a{
	line-height: 48px; 
}
.FTinformersWrapper .style9ImgWrap{
	display: inline-block; 
	vertical-align: middle; 
	margin-right: 10px; 
	width: 10px; 
	height: 18px;
}
.FTinformersWrapper .style10ImgWrap{
	width: 16px; 
	height: 16px; 
	display: inline-block; 
	vertical-align: middle; 
	margin-right: 10px;
}
.FTinformersWrapper .inlineBlock{
	display:inline-block;
}
.FTinformersWrapper .alignCenter{
	text-align:center;
}
  /* --------------------------------------------
        7.6. Tooltips
  -------------------------------------------- */

  .FTinformersWrapper .tooltip{
      position: absolute !important;
      display: block !important;
      font-size: 12px !important;
	  text-transform:none !important;
	  font-weight: normal !important;
      line-height: 17px !important;
      color: #f1f1f1 !important;
      padding: 5px 13px !important;
      background-color: #333131 !important;
      top: -36px !important;
      left: 50% !important;
      z-index: 9 !important;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translate(-50%,-15px);
      -ms-transform: translate(-50%,-15px);
      -o-transform: translate(-50%,-15px);
      transform: translate(-50%,-15px);

	  white-space:nowrap;

	  
    }

    *:hover>.tooltip{
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);

    }

    .FTinformersWrapper .tooltip:before{
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -4px;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top: 5px solid #333131;
    }
    .FTinformersWrapper .tooltipWrapper{
		position:relative;
		cursor:pointer;
	}
  .FTinformersWrapper .symbolContainer{
	position:relative;
}
.FTinformersWrapper .symbolCode{
	font-size:18px;
}
.FTinformersWrapper .style9TrWrapper{
	display:inline-block;
	text-align:left;
}