@media only screen and (max-width: 1200px) {

	/*------- end 00.02.16 --------*/

	/*-------- 13.02.16 ------------*/
	.modal-news-attention-img,
	.icon-close-modal-news{
		right: 0;
	}
}
@media only screen and (max-width: 992px) {

	/* --------------------------------------------
	     Modal news 13.02.16
	-------------------------------------------- */
	.modal_box1{
		max-width: 750px;
	}
}
@media only screen and (max-width: 767px) {


	/*modal window*/

	.modal_box{
		width: 320px;
	}

	.modal_logo{
		display: inline-block;
		position: static;
		margin: 0 0 10px;
	}

	.modal_header{
		padding-top: 10px;
	}

	.modal_close{
		top: 10px;
		right: 10px;
	}

	.modal_social li a i{
		display: none;
	}

	.modal_inner{
		padding: 25px 20px 32px;
	}
	

	/* --------------------------------------------
	     Modal news 13.02.16
	-------------------------------------------- */
		.modal-news-attention-img{
			display: none;
		}

		.icon-close-modal-news{
			right: 0;
		}

		.post_modal_new{
			width: 100%;
		}

		.modal_box1{
			width: 420px;
		}

		.modal_news_container{
			height: 260px;
			overflow: auto;
		}

		.navigation_box_modal_news{
			width: 260px;
		}
}
@media only screen and (max-width: 479px) {

	.box-modal-item{
		width: 100%;
	}

	.modal_box1{
		width: 280px;
	}

	.post_modal_new_img{
		float: none;
		margin-right: 0;
		margin-bottom: 8px;
	}

	.post_modal_new_img{
		width: 100%;
	}
	.post_modal_new_img img{
		margin-left:0px;
	}

	.post_modal_new_description{
		min-height: 0;
		padding:0 0 10px;
	}
}