/* ------------------------------------------------

    24. Modal Window

------------------------------------------------ */

.modal_box{
    background-color: #f6f6f6;
    position: relative;
    width: 450px;
    border-radius: 3px;
  }

  .modal_close{
    position: absolute;
    text-align: center;
    font-size: 18px;
    width: 30px;
    height: 30px;
    top: -37px;
    right: -37px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .modal_close i{
    line-height: 30px;
  }

  .modal_close:hover{
    color: #ff1616;
  }

  .modal_header{
    background-color: #2e2b2b;
    text-align: center;
    padding: 59px 0 25px;
  }

  .modal_header_title{
    font: 20px/30px 'pf_dindisplay_probold', sans-serif;
    color: #fff;
    margin-bottom: 5px;
  }

  .modal_header a{
    font: 16px/24px 'pf_dindisplay_proregular', sans-serif;
    display: inline-block;
    background-color: #474242;
    padding: 0 6px;
    color: #fff;
  }

  .modal_header a:hover{
    background-color: #524f4f;
    color: #fff;
  }

  .modal_logo{
    position: absolute;
    left: 50%;
    top: -45px;
    margin-left: -45px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font: 900 30px/82px Arial,sans-serif;
    width: 90px;
    height: 90px;
    background-color: #312e2e;
    border: 4px solid rgba(255,255,255,0.7);
  }

  .modal_inner{
    padding: 30px 45px 40px;
    background-color: #f6f6f6;
  }

  .modal_input{
    outline: none;
    width: 100%;
    font-size: 13px;
    line-height: 26px;
    padding: 10px 10px 10px 12px;
    border: 1px solid #d4d2d2;
    color: #787777;
    border-radius: 3px;
  }

  .modal_input:not(:last-child){
    margin-bottom: 15px;
  }

  .modal_input:focus{
    border-width: 2px;
    padding: 9px 10px 9px 12px;
  }

  .modal_input.invalid{
    border-width: 2px;
    border-color: #ff1616;
    padding: 9px 10px 9px 12px;
  }

  .modal_input::-webkit-input-placeholder{
    color: #787777;
  }

  .modal_input::-moz-placeholder{
    color: #787777;
  }

  .modal_input::ms-input-placeholder{
    color: #787777;
  }

  .modal_button{
    font: 17px/20px 'pf_dindisplay_proregular', sans-serif;
    background-color: #ff1616;
    padding: 20px 0;
    width: 100%;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
  }

  .modal_button:not(:last-child){
    margin-bottom: 25px;
  }

  .modal_button:hover{
    background-color: #ff4040;
  }
  .modal_button:focus{
      outline: none;
  }
  .modal_button:{
      border: none;
  }

  .modal_title{
    border-top: 1px solid #d4d4d4;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
  }

  .modal_title:before,
  .modal_title:after{
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #d4d4d4;
  }

  .modal_title:after{
    right: 0;
    left: auto;
  }

  .modal_title span{
    font-size: 14px;
    line-height: 19px;
    display: inline-block;
    padding: 0 20px;
    background-color: #f6f6f6;
    margin-top: -10px;
  }

  .modal_social{
    margin: 0 -3px;
  }

  .modal_social:not(:last-child),
  .modal_social_box:not(:last-child){
    margin-bottom: 25px;
  }
  ul.modal_social li::before{
      content:"";
      padding-right:0;
  }
  ul.modal_social li:not(:last-child){
      margin-bottom:0;
  }
  .modal_social li{
    float: left;
    padding: 0 3px;
    width: 33.33%;
  }
  .modal_social.smBtnsCount2 li{
      width: 49.9%;
  }
  .modal_social.choice li{
      width: 49.9%;
  }

  .modal_social li a{
    display: block;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 21px;
    font-weight: 900;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }

  .modal_social li a.google_plus{background-color: #ef482e;}
  .modal_social li a.fb{background-color: #4964bf;}
  .modal_social li a.vk{background-color: #2e6cb3;}


  .modal_social li a.google_plus:hover{background-color: #ff553b;}
  .modal_social li a.fb:hover{background-color: #5272d9;}
  .modal_social li a.vk:hover{background-color: #357bcc;}

  .modal_social li a i{
    font-size: 16px;
    line-height: 21px;
    width: 23px;
  }

  .modal_remember{
    color: #454444;
  }
  .modal_remember a{
      color:#454242;
  }

  .modal_remember:not(:last-child){
    margin-bottom: 25px;
  }

  .modal_remember_inner label{
    position: relative;
    padding-left: 24px;
    line-height: 20px;
    cursor: pointer;
  }

  .modal_remember_inner label:before,
  .modal_remember_inner label:after{
    content: "";
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #d4d2d2;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .modal_remember_inner label:after{
    opacity: 0;
    border: none;
    background: url(images/modal_remember_after.png) 0 0 no-repeat;
  }

  .modal_remember_inner input:checked + label:after{
    opacity: 1;
  }

  .modal_text{
    text-align: center;
    font-weight: 600;
    color: #454444;
  }
  .subscribe{
    position: relative;
  }

  .subscribe input{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d4d2d2;
    padding: 14px 110px 14px 10px;
    font-size: 13px;
    line-height: 20px;
    color: #333;
    font-weight: 600;
  }

  .subscribe button{
    position: absolute;
    top: 0;
    right: 0;
    width: 108px;
    text-align: center;
    font: 13px/18px 'pf_dindisplay_proregular', sans-serif;
    text-transform: uppercase;
    padding: 15px 0;
    border: none;
    background-color: #2e2b2b;
    color: #fff;
    cursor: pointer;
  }

  .subscribe button:hover{
    background-color: #454343;
    color: #fff;
  }
  /* --------------------------------------------
     Modal news 13.02.16
-------------------------------------------- */

.arcticmodal-container_i2{
    padding: 155px 10px  30px;
  }
  .contest_page .arcticmodal-container_i2, .inner_contest_page .arcticmodal-container_i2{
	  padding-top:30px;
  }

  .modal-news-attention-box,
  .box-modal_close{
    position: relative;
  }

  .modal-news-attention-img{
    position: absolute;
    right: -41px;
    top: -161px;
  }

  .icon-close-modal-news{
    position: absolute;
    right: -60px;
    top: -75px;
    font-size: 21px;
    cursor: pointer;
    color: #fff;
	z-index:99;
  }

  .modal_news_container{margin: 0 -11px;}

  .modal-news-title{
    color: #167ac6;
    font-family: 'pf_dindisplay_proregular';
    letter-spacing: 0.3px;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }


   /* Style for "bg" */
  .modal_box1{
    max-width: 940px;
    width: 100%;
    height: auto;
    background: #f6f6f6;
    border-radius: 1px;
    padding: 25px 15px 30px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
	position:relative;
  }

  .post_modal_new{
    width: 50%;
    float: left;
    padding: 0 11px;
    margin-top: 15px;
  }

  .post_modal_new_description{
    display: block;
    padding:0px 5px 5px 0;
    overflow: hidden;
    min-height: 100px;
    border-bottom:1px solid #e0e0e0;
  }
  .post_modal_new_description a{
	  line-height:20px;
	  display:block;
	  margin-top:-5px;
  }

  .post_modal_new_description:nth-child(odd){
    clear:both;
  }

  .post_modal_new_img{
    float: left;
    display: block;
    margin-right: 13px;
	width: 133px;
	height: 100px;
	overflow:hidden;
  }
  .post_modal_new_img img{
	width: auto;
	height: 100%;
	max-width: inherit;
	margin-left:-50px;
  }

  .post_modal_new_title{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #454242;
    font-weight: 600;
  }

  .modal_text{
    color: #787878;
    font-weight: 400;
    overflow: hidden;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
  }

  .navigation_box_modal_news{
    display: inline-block;
    float: none;
    width: 548px;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .navigation_box_modal_news:not(:last-child){
    margin-bottom: 30px;
  }