/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (min-width: 993px) {

	.competition_block_head{
		display: none;
	}
	.tabl_quotes table{
		width: 100% !important;
	}
	.site_list>ul,.list_box>ul{display: block !important;}
	.accordion_title{
		display: none;
	}
}

@media only screen and (min-width: 768px) {

	.main_menu>li:hover>.sub_menu{
      display: block !important;
    }
    .additional_menu>li:hover>.sub_menu{display: block !important;}
}

@media only screen and (max-width: 1200px) {
	
	.container{width: 960px;}

	.left_part{width: 640px;}

	.sidebar{width: 263px;}

	.archive_btn{width: 120px;}

	.edition_btn{width: 230px;}

	.beginner_left{width: 330px;}

	.beginner_right{width: 280px;}

	.news_left1{width: 360px;}

	.news_right1{width: 250px;}

	.more_interview_btn{margin-bottom: 20px;}
	
	.share_list li.like_block{float: none;}

	.blockdiv3{padding: 0;}

	.read_all{width: 410px;}

	.news_post_box figcaption{height: 72px;}
	/***quotation***/
	.change_up::after {
	    right: 50px;
	}
	.change_down::after {
	    right: 50px;
	}


	/*quotes*/

	.forecast_tabs .tabs_list>li>a{
		width: 151px;
		font-size: 14px;
	}

	.forecast_tabs .tabs_list{
		margin-bottom: 30px;
	}

	.make_forecast_left{
		width: 200px;
	}

	.make_forecast_center{
		margin-left: 20px;
	}

	.forecast_tabs input:not([type="radio"]):not([type="checkbox"]){
		width: 200px;
	}

	.forecast_tabs button{
		width: 183px;
	}

	.add_mood>a{
		width: 270px;
	}
	
	/*------- add 00.02.16 --------*/
	.search_col75 {
	    width: 453px;
	}
	.tabs_list_1 a {
		padding: 15px 15px !important;
	}
	.tabs_list_2 a {
		padding: 6px 15px 5px 15px !important;
	}
	.tabs_rating .tabs_list:before {
		background-color: #fff
	}
	.requirements_cont_box {
		height: 190px;
	}
	.counter_wr {
		background: none;
		margin-bottom: 0px;
	}
	.counter_box {
		width: 119px;
	}
	/*------- end 00.02.16 --------*/

	/*-------- 13.02.16 ------------*/
	.modal-news-attention-img,
	.icon-close-modal-news{
		right: 0;
	}

	
	/*23.02.16*/
		.wrapper_tabs_list > .tabs_list > li > a {
			padding: 12px 15px !important;
		}

		.table_currency table th{
			width: 20%;
		}
	/*/ 23.02.16*/

	/*CURRENCY PAGE*/

		
	.chart_box {
	  width: 380px;
	}
	.converter_form_inp {
	  width: 198px;
	}
	.converter_form .jq-selectbox__dropdown {
	  width: 278px;
	}
	
	/*Social_buttons*/
	.social_buttons li{
		width: 50%;
	}
	
	/*code_script*/
	.code_img{
		margin-left: 0;
		float: none;
	}

 	.code_script{
 		margin:55px 0 20px;
 	}

 	.code_cover_form{
 		float: none;
 	}

 	.code_cover_title{
 		top: -35px;
 	}

	/*post_edition*/
 	.post_edition figcaption:after{
 		width: 145px;
 	}

 	/*btn*/

 	.watch_btn:not(:last-child){
		margin-right: 0;
 	}

 	.download_pdf_btn:not(:first-child){
 		margin-left: 0;
 	}

	.magazine_inner_btn a{
		float:none;
	}
 	.watch_btn, .download_pdf_btn, .question_btn{
 		position: relative;
 		left: 50%;
 		-webkit-transform: translate(-50%, 0);
 			-ms-transform: translate(-50%, 0);
	 		 -o-transform: translate(-50%, 0);
		 		transform: translate(-50%, 0);
 	}

 	.watch_btn, .magazine_inner_btn .download_pdf_btn{
 		margin-bottom: 5px;
 	}
	
	.magazine_inner_btn a:not(:last-child){
    	margin-right: 0;
    	margin-bottom: 5px;
    }

    .magazine_inner_page .counter_box2{
    	margin: 0;
    }

    .magazine_inner_page .counter_box2:not(:first-child){
		float: right;
    }

    .magazine_inner + div > .button3{
    	margin-left: 0;
    	width: 100%;
    	margin-top: 20px;
    }

	/*inner contest page*/
    .inner_contest_page .box1,
    .contest_page .box1{
    	width: 415px;
    }

    #countdown{
    	float: none;
    	display: inline-block;
		position: relative;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
    }

    .countdown_text{float: none;}

	.post_contest [class*="post_contest_box"]{
		float: none;
		width: 100%;
	}

	.post_contest .post_contest_box2{
		margin-top: 14px;
	}

	.post_contest .post_contest_box2 > .silver_btn {
	    margin-top: 5px;
	    margin-left: 0;
	}

	.conditions_list_green li{
		width: 100%;
	}

	.conditions_list_green + .conditions_list_red{
	    margin-top: 0px;
	}

	.inner_contest_page .wrapper_quotes_search_box_2{
		float: none;
	}

	.inner_contest_page .download_more,
	.contest_page .download_more{
		width: 480px;
	}

	.form_add_in_table label:not(:last-child) {
	    margin-right:0;
	}

	.box_name,input.name{
		width: 100%;
	}

	label.box_prize{
		padding-right: 5px;
	}

	label.box_date_to{
		float: right;
		padding-left: 5px;
	}

	label.box_prize, label.box_date_to{
		width: 50%;
	}

	input.prize,input.date_to{
		width: 100%;
	}

	label.box_sponsor,label.box_link,
	input.sponsor, input.link, input.editorMail{
		width: 100%;
	}

	.conditions_list_green>li.border_white{
        border-right: none;
	}

	.participant_page .conditions_list_green>li.border_white{
        border-right:0;
    }

    .contest_page .countdown_text p{
    	display: block;
    }

    .contest_page #countdown {
	    float: none;
	    display: block;
	    position: relative;
	    left: 0;
	     -webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	    -o-transform: translate(0, 0);
	     transform: translate(0, 0);
	     margin-right: 22px;
	}

	.contest_page .post_contest_inner_box2{
		margin-top: 20px;
	}
	
	.diagrams_img{
		padding-bottom: 20px;
	}
	.table_currency[data-table="3"] table tr th:nth-child(1), 
	.table_currency[data-table="3"] table tr td:nth-child(1){
		width: 60px;
	}
	.table_currency[data-table="3"] table tr th:nth-child(2), 
	.table_currency[data-table="3"] table tr td:nth-child(2){
		width: 120px;
	}
	.table_currency[data-table="3"] table tr th:nth-child(3), 
	.table_currency[data-table="3"] table tr td:nth-child(3){
		width: 140px;
	}
	.table_currency[data-table="3"] table tr th:nth-child(4), 
	.table_currency[data-table="3"] table tr td:nth-child(4){
		width: 85px;
	}
	.table_currency[data-table="3"] table tr th:nth-child(5), 
	.table_currency[data-table="3"] table tr td:nth-child(5){
		width: 110px;
	}

	/* add 16.06.16 */

	.link_news2_box{
		margin-bottom: 20px;
	}

	.news2_col60{
		margin-bottom: 20px;
	}

	.news2_col60,.news2_col40{
		width: 100%;
		padding: 0;
		float: none;
	}

	.news2_btn_on{
		margin-left: 0;
	}

	.news2_count{
		float: left;
	}
	
		/* add 08.07.16 */

    .inner_contest_page .countdown_text{
      margin-bottom: 3px;
      width: 100%;
      text-align: center;
      padding: 15px 6px;
    }

    .inner_contest_page .countdown{
      float: none;
    }

    .inner_contest_page .countdown_box{
      float: none;
      width: 100%;
    }

    .inner_contest_page .countdown_box div.clock{
      width: 33%;
    }

    .inner_contest_page .post_contest_box2 > .silver_btn{
      display: block;
    }

    .list_info_date{
      display: block;
    }

    .list_info_date li{
      display: block;
      margin-left: 0;
      text-align: center;
      border-right: 0;
      padding-right: 0;
    }

    .list_info_date li:not(:first-child){
      margin-left: 0;
    }

    .list_info_date li:not(:last-child){
      padding-bottom: 14px;
      border-bottom:1px solid #e3e3e3;
    }

    .list_info_date li:not(:first-child){
      margin-top: 15px;
    }

    .list_info_date_icon_box{
      display: block;
      text-align: center;
      margin-bottom: 25px;
    }

    .list_info_date_icon{
      margin-right: 0;
      text-align: center;
    }
	.startTradeBtnQuotes{
		width:50%;
	}
}

@media only screen and (max-width: 1200px) {
	/*header*/

	.header_top_menu{
		width:165px;
	}
	.header_list_btn{
		display: block !important;
	}

	.header_list{
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #2b2929;
		z-index: 9999;
	}

	.header_list.active{display: block;}

	.header_list li{
		float: none;
	}

	.header_list li a{
		position: relative;
		font-size: 14px;
		line-height: 19px;
		color: #fff;
		padding: 20px 10px 18px 10px;
		border-top: 1px solid #0d0c0c;
		border-right: none;
		background-color: #242222;
	}

	.header_list li a:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background-color: #333030;
	}

	.header_list li a:hover{
		background-color: #333030;
	}
	.list_info_date{
      display: block;
    }

    .list_info_date li{
      display: block;
      margin-left: 0;
      text-align: center;
      border-right: 0;
      padding-right: 0;
    }

    .list_info_date li:not(:first-child){
      margin-left: 0;
    }

    .list_info_date li:not(:last-child){
      padding-bottom: 14px;
      border-bottom:1px solid #e3e3e3;
    }

    .list_info_date li:not(:first-child){
      margin-top: 15px;
    }

    .list_info_date_icon_box{
      display: block;
      text-align: center;
      margin-bottom: 25px;
    }

    .list_info_date_icon{
      margin-right: 0;
      text-align: center;
    }

	.list_info_date li{
		width: 100%;
		float: none;
		padding: 0;
	}
	.inner_contest_page .post_contest_box2_list{
		margin: 0;
		padding: 0;
	}

	.inner_contest_page .post_contest_box2_list li{
		width: 100%;
		float: none;
		padding: 0;
	}

	.inner_contest_page .post_contest_box2_list li:not(:last-child){
		margin-bottom: 4px;
	}

	.list_info_date li span{
		display: block;
	}
	
		.change_color_input{
		width: 33.333333%;
	}

	/*-------change currency page--------*/

	.quotes_search_box_2 input {
		padding-right: 25px;
	}
	.currency_filter_item {
		font-size: 12px;
	}
	.currency_filter_change_value {
		font-size: 12px;
	}

	/* add 18.12.16 */

	[class*="label_"]{
		padding: 3px;
	}

	.table_calendar table th.table_calendar_title{
		width: 200px;
	}

	.event_waiting_col{
		width: 50%;
		padding: 0 1px;
		margin-bottom: 4px;
	}

	.description_table{
		width: 70%;
	}

	.description_history_wrapp{
		width: 30%;
	}

	.description_history_box{
		padding: 13px 45px;
	}

	.clock2 .seconds{
		display: none;
	}

	.event_waiting_txt1.green2{
		font-size: 26px;
		line-height: 36px;
	}

	.event_waiting_box{
		padding: 15px 5px 5px;
	}

	.event_waiting_txt1:not(:last-child){
		margin-bottom: 5px;
	}

	.quote_marker{
		padding: 18px 2px 25px 20px;
	}

	.description_title{
		line-height: 30px;
		margin-bottom: 10px;
	}

	.event_waiting_txt2{
		line-height: 1.3;
	}

	.select_type2 .jq-selectbox__select-text{
		font-size: 11px;
	}
	
	.mycolumn li{
		margin: 10px 70px 10px 70px !important;
	}
}

@media only screen and (max-width: 992px) {
	/*Begin informer Responsive*/
	.imgResponive img{
		width: 100% !important;
	}
	.col6{
		float: none;
		margin-bottom: 15px;
	}
	.change_color_input{
		width: 50%;
	}
	.change_color_input .colorSelector{
		right: 45px;
	}
	.colorInformer{
		font-size: 16px;
		padding-right: 60px;
		background-size: contain;
	}
	.mycolumn li{
		margin: 10px 20px 10px 20px !important;
	}
	.instrumentMatgin{
		margin-top: 0;
	}
	.col4{
		float: none;
		margin-bottom: 15px;
	}
	.col8{
		float: none;
	}
	.copyCode{
		font-size: 13px;
	}
	.informerWidget .top{
		line-height: normal;
		padding: 20px 10px;
	}
	.informerWidget .left{
		width: 70px;
		height: 130px;
	}
	.informerWidget .right{
		width: 40px;
		height: 130px;
	}
	.informerWidget .left img{
		width: 100%;

	}
	/*End informer Responsive*/
	
	.dynamics_course_table, .chartWrapper{
		float:none;
	}
	body{
		min-width:768px;
		font-size: 13px;
		line-height: 21px;
	}
	.container{width: 750px;}

	.post_col_sm2{width: 50%;}

	.post_col_sm1{width: 100%;}
	
	.d_none992{
		display: none;
	}


	/*header*/

	.header_list_btn{
		display: block !important;
	}

	.header_list{
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #2b2929;
		z-index: 9999;
	}

	.header_list.active{display: block;}

	.header_list li{
		float: none;
	}

	.header_list li a{
		position: relative;
		font-size: 14px;
		line-height: 19px;
		color: #fff;
		padding: 20px 10px 18px 10px;
		border-top: 1px solid #0d0c0c;
		border-right: none;
		background-color: #242222;
	}

	.header_list li a:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background-color: #333030;
	}

	.header_list li a:hover{
		background-color: #333030;
	}

	.main_menu>li>a{font-size: 14px;}

	.additional_menu>li>a{font-size: 14px;}

	.left_part{width: 430px;}

	.image_box{
		float: none;
		text-align: center;
	}

	.beginner_left,
	.beginner_right{
		float: none;
		width: auto;
		margin-bottom: 15px;
	}
	
	h2,
	h3{
		font-size: 18px !important;
		text-transform: none !important;
	}
	.informer-header h3{
		font-size:24px !important;
	}
	
	h2.page_title1{
		font-size: 24px !important;
		text-transform:uppercase !important;
	}

	.title2{
		font-size: 18px;
		line-height: 24px;
		text-transform: none;
	}

	h4{font-size: 20px;}
	h2>.sub_title, h3>.sub_title, h4>.sub_title, h5>.sub_title, h6>.sub_title{
		font-size: 14px;
		line-height: 18px;
		display: block;
		text-transform: none;
		margin-top: -5px;
		padding-left: 0;
	}

	.title1{
		font-size: 17px;
		text-transform: none;
	}

	h2>.sub_title:before, h3>.sub_title:before, h4>.sub_title:before, h5>.sub_title:before, h6>.sub_title:before{display: none;}


	.list1>li,
	.tabs_list>li>a,
	.post.big figcaption>a{font-size: 14px;}
	
	.archive_btn{font-size: 15px;}

	.button1,.button2{font-size: 16px;}
	
	article{font-size: 14px;}
	
	.news_list>li{min-height: 62px;}

	.news_list>li time{
		padding: 8px 0;
		text-align: center;
	}

	.news_list>li time:after{
		margin-top: -20px;
		left: 50%;
		margin-left: -10px;
	}

	.news_list>li time span{
		padding-left: 0;
		padding-top: 20px;
	}

	
	.events_table th{
		vertical-align: middle;
	}

	.events_table .event_time{width: 100px;}

	.competition_img{
		display: none;
	}

	.competition_description{
		border: 1px solid #cfcfcf;
		border-radius: 3px;
		padding-bottom: 95px;
		background: #f5f5f5 url(../images/competition_description_bg.png) 50% 100% no-repeat;
	}

	.competition_description_title i.icon{display: none;}

	.news_post_box>div{
		float: none;
		width: auto;
	}
	.news_post_box:before,
	.news_post_right>.post>.post_info:before{display: none;}

	.news_left1,.news_right1{
		float: none;
		width: auto;
	}

	.post_autor{height: 335px;}

	.newsletter_form input[type="text"]{width: 190px;}

	/*responsive accordion*/

	.site_list>h5{
		cursor: pointer;
	}
	.site_list>h5:before{
		content: "";
		display: block;
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -6px;
		width: 12px;
		height: 12px;
		background: url(../images/icon.png) -91px -18px no-repeat;
	}
	.site_list>h5.active:before{
		background-position: -49px -18px;
	}
	.site_list>ul{display: none;}

	.list_box{
		padding-right: 15px;
	}

	.tooltip{display: none;}

	.news_post_box{margin: 0 0 17px;}

	.news_post_box>div{padding: 0;}

	.site_list{margin-bottom: 10px;}

	.news_post_box figcaption{height: auto;}

	.publish_btn{
		width: 148px;
		font-size: 14px;
	}

	.read_all{
		width: 260px;
		font-size: 14px;
	}

	.enter_social_box>h6{
		float: none;
		margin-bottom: 10px;
	}

	.enter_social{
		float: none;
		position: relative;
		margin-bottom: 10px;
	}

	.enter_social ul.social_list{
		float: none;
		position: absolute;
		right: 0;
		top: -40px;
	}

	.share_list li a{
		width: 148px;
		height: 48px;
		background: url(../images/share_btns_responsive.png) 0 0 no-repeat;
	}

	.share_list li a:before{
		content: attr(data-shot-text);
	}

	.share_list li a.share_fb,
	.share_list li a.share_fb:hover{background-position: 0 0;}

	.share_list li a.share_vk,
	.share_list li a.share_vk:hover{background-position: right 0;}

	.share_list li a.share_fortrader{display: none;}

	.share_list{margin-bottom: 15px;}

	.blockdiv3:before{display: none;}

	.blockdiv3>div{
		float: none;
		width: auto;
		margin-bottom: 10px;
	}

	.blockdiv3>div img{width: 100%;}

	.thesis_box>img{
		float: none;
		width: 100%;
		margin-bottom: 15px;
	}

	.coment_form textarea{
		height: 160px;
	}

	.breadcrumbs{
		float: none;
	}

	.article_info{
		float: none;
		padding: 0 10px;
		line-height: 38px;
		border: 1px solid #e3e3e3;
	}

	.article_info>span{
		padding-right: 10px;
		border-right: 1px solid #e3e3e3;
	}

	.article_info>*:before{top: 9px !important;}

	.article_info time{float: right;}

	.thesis{font-size: 14px;}

	.author_name{
		font-size: 14px;
		margin-bottom: 10px;
	}

	.category_box>li{
		float: none;
		width: auto;
	}

	.category_link{
		font-size: 18px;
		line-height: 20px;
		height: 60px;
	}

	.error_title{
		font-size: 24px;
		line-height: 30px;
	}

	.error_title span{
		display: block;
	}

	.error_title strong:before{
		content: "";
	}

	.error_sub_title{
		font-size: 19px;
		line-height: 22px;
	}

	.error_text{
		max-width: 260px;
		font-size: 14px;
		line-height: 22px;
	}

	.search_result{
		padding-bottom: 15px;
		border-bottom: 1px solid #e3e3e3;
	}

	.search_result .search_img>img{
		width: 80px;
		margin-top: 5px;
		margin-right: 10px;
	}

	.search_result figcaption{border: none;}

	.search_result figcaption hr,
	.search_result figcaption p{display: none;}

	.search_result figcaption a{
		font-size: 14px;
		line-height: 21px;
		font-weight: 400;
	}

	h2>.sub_title1, h3>.sub_title1, h4>.sub_title1, h5>.sub_title1, h6>.sub_title1{
		display: block;
		float: none;
		margin-top: -5px;
		line-height: 20px;
	}
	/***quotaion table***/
	.quotation_table th {
		font-size: 12px;
		padding-left: 5px;
	}
	.quotation_table td {
		font-size: 12px;
		padding-left: 5px;
	}
	.change span {
		font-size: 13px;
	}
	.change_up::after {
      display: block;
      content: '';
      position: absolute;
      top: 12px;
	  right: 16px ;
    }
    .change_down::after {
      display: block;
      content: '';
      position: absolute;
      top: 12px;
	  right: 16px ;
    }
	.users_top,
	.table_top {
      background-position: 4px 13px;
    }
	
	/*quotes*/

	.forecast_tabs .tabs_list>li{
		width: 50%;
		margin-bottom: 2px;
	}

	.forecast_tabs .tabs_list>li>a,
	.forecast_tabs .tabs_list>li.trader_link>a{
		width: auto;
	}

	.forecast_tabs .tabs_list>li>a:before,
	.forecast_tabs .tabs_list>li>a:after{
		display: none;
	}

	.make_forecast_left{
		width: 50%;
		padding-right: 1px;
	}

	.make_forecast_center{
		float: right;
		width: 50%;
		padding-left: 1px;
		margin-left: 0;
	}

	.forecast_tabs input:not([type="radio"]):not([type="checkbox"]){
		width: 100%;
	}

	.make_forecast_right{
		width: 100%;
		clear: both;
		padding-top: 20px;
	}

	.forecast_tabs button{
		width: 100%;
	}

	.make_forecast:not(:last-child){
		margin-bottom: 20px;
	}

	.required_message{
		text-align: center;
	}

	.dropdown_active{
		display: block;
	}

	.quotes_list{
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 99;
		margin: 0;
		width: 100%;
		background-color: #f7f7f7;
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translate(0, 20px);
		-ms-transform: translate(0, 20px);
		-o-transform: translate(0, 20px);
		transform: translate(0, 20px);
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	.quotes_list.active{
		opacity: 1;
		visibility: visible;
		-webkit-transform: translate(0);
		-ms-transform: translate(0);
		-o-transform: translate(0);
		transform: translate(0);
	}

	.quotes_list li{
		float: none;
		border-bottom: 1px solid #e3e3e3;
		margin: 0 !important;
	}

	.quotes_list li a:hover, 
	.quotes_list li.active a{
		background-color: #f1f1f1;
		color: #454242;
	}

	.quotes_list li a{
		width: auto;
		text-align: left;
		padding-left: 12px;
		background: none;
	}

	.quotes_list1{
		margin: 0 -3px;
	}

	.quotes_list1 li{
		width: 50%;
		margin-left: 0 !important;
		padding: 0 3px;
	}

	.quotes_list1 li a{
		width: auto;
	}
	
	.add_mood>a{
		width: 134px;
		font-size: 16px;
		text-transform: none;
	}

    .add_mood>a.bullish_forecast:before{
        content: "Бычий";
    }

    .add_mood>a.bear_forecast:before{
        content: "Медвежий";
    }

    .add_mood>a i{
    	width: 25px;
    	left: 12px;
    }

    .add_mood>a.bear_forecast i{
    	left: auto;
    	right: 12px;
    }

    .add_mood>span{
    	font-size: 14px;
    	text-transform: none;
    }

    .overview_list li a{
    	width: 58px;
    }
    
    .rates_box1_difference{
    	display: block;
    }

    .rates_box1{
    	margin-top: 0;
    }

    /*Tabl Quotes*/
	
	.tabl_quotes{
		position: relative;
		overflow: hidden;
		margin-top: 5px;
	}

	.tabl_quotes:before,
	.tabl_quotes:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 1px;
		background-color: #e3e3e3;
	}

	.tabl_quotes:after{
		right: auto;
		left: 0;
	}

    .tabl_quotes table{
    	position: relative;
    	display: block;
    	left: 0;
    	-webkit-transition: left 0.3s ease-out;
    	-o-transition: left 0.3s ease-out;
    	transition: left 0.3s ease-out;
    }

    .tabl_quotes table .tooltip{display: none !important;}

    .tabl_quotes table thead{display: none;}

	.tabl_quotes table tr{
		float: left;
	}

	.tabl_quotes table td{
		display: block;
		position: relative;
		height: 50px;
		padding: 5px 0;
		font-size: 13px;
		vertical-align: middle;
	}

	.tabl_quotes table td:first-child{
		height: auto;
	}
	.tabl_quotes table td.calendar_event:first-child{
		word-break:break-all;
	}
	.tabl_quotes table td:not(:first-child){
		border-top: none;
		font-size: 12px;
	}
	
	


	.tabl_quotes table td{
		border-left: none;
	}

	.tabl_quotes table td:before{
		content: attr(data-title);
		color: #787777;
		display: block;
	}
	
	/*.tabl_quotes table td:first-child:before{
		display: inline-block;
		height: 100%;
		width: 0;
		margin-left: -5px;
		vertical-align: middle;
	}*/

	.tabl_quotes table td:first-child span{
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
	}
	.table_calendar table td.calendarDateBtn{
		display:none;
	}

	.tabl_quotes_nav{
		display: block;
	}

	.quotes_search_list li a{
		font-size: 14px;
		line-height: 18px;
	}

	.options_item{
		width: 33.33%;
	}

	/*Graph*/

	.graph_box{
		margin: 10px 0;
	}
	.all_graph_box{
		margin:0px;
	}

	.graph_inner{
		width: auto;
		float: none;
		padding: 0;
	}

	.graph_inner:not(:last-child){
		margin-bottom: 10px;
	}
	
	/*------- add 00.02.16 --------*/

	.table_rating .table_rating_place span, .table_rating .table_rating_place {
		max-width: none !important;
	}


	.table_rating table td {
		height: 67px;
		padding: 0;
	}

	.table_rating_select  {
		display: inline-block;
		width: 100%;
		float: left;
	}

	.table_rating table td:before {
	   /* content: "";*/
	    display: inline-block;
	    vertical-align: middle;
	    height: 100%;
	   }
	.country_ico {
		display: inline-block;
		vertical-align: middle;
	}
	.table_rating .blue_color {
		display: inline-block;
		vertical-align: middle;
	}
	.table_rating table td:nth-last-child(1) .options_list, .table_rating table td:nth-last-child(2) .options_list,  table td:nth-last-child(3) .options_list {
		bottom: 67px;
		top: auto;
	}
	.table_rating .options_list {
		max-height: 200px;
		overflow: auto;
	}

	.table_rating_select .options_list.opened {

	}

	.social_pl {
		margin-top: 10px;
		float: none;
		display: block;
		border-top: 1px solid #e3e3e3;
		padding-top: 15px;
	}
	.with_social_pl {
		border: none !important;
		margin-bottom: 5px !important;
	}
	.search_col25 {
		display: none;
	}
	.search_col75 {
		width: 100%;
	}
	.financial_box {
	    float: none;
	    width: 230px;
	    margin: 0 auto;
	    margin-bottom: 25px;
	}
	.requirements_cont_box {
		height: 250px;
	}
	.counter_box {
		width: 133px;
	}
	.counter_box_4 {
		margin-left: 70px;
	}

	/*------- end 00.02.16 --------*/


	/* --------------------------------------------
	     Modal news 13.02.16
	-------------------------------------------- */
	.modal_box1{
		max-width: 750px;
	}
	
	/*23.02.16*/
		.wrapper_tabs_list,
		.wrapper_quotes_search_box_2{
			width: 100%;
			float: none;
		}

		.wrapper_tabs_list > .tabs_list > li:last-child{
			padding-right: 0;
		}

		.table_currency .tabl_quotes_item td{
			padding: 15px 0;
		}
	/*23.02.16*/

	/*CURRENCY PAGE*/

	.exchange_rates_box {
	  width: 50%;
	  margin-bottom: 10px;
	}
	.chart_box {
	  border: 1px solid #e3e3e3;
	  margin-top: 10px;
	  width: 100%;
	}
	.dynamics_course  {
	  background-color: #fff;
	  padding: 0;
	}
	.dynamics_course_table {
	  width: 100%;
	}
	.dynamics_course_table table {
	  margin: 0 auto;
	}
	.converter_arrow {
	  display: none;
	}
	.converter_form_inp {
	  width: 300px;
	}
	.converter_form .jq-selectbox__dropdown {
	  width: 413px;
	}
	.converter_right {
	  float: left;
	}
	.quotes_list_sm li:first-child {
	  float: none;
	}
	.quotes_list_sm {
	  float: none;
	}
	.popular_currencies_box {
	  width: 100%;
	  padding-bottom: 0;
	  padding-top: 0;
	}
	.popular_currencies {
	  padding: 10px;
	}
	.sub_title_right {
	  display: none;
	}
	.exchange_rates_form .jq-selectbox__dropdown {
	  width: 413px ;
	}



	/*Buttons 02.03.2016*/

	 	.btn_box2>.btn_box2_inner{
	 		width: 100%;
	 	}

	 	.btn_box2>.btn_box2_inner:not(:last-child){
	 		margin-bottom: 10px;
	 	}
		
		/*Magazine page table*/

		.tabl_quotes.magazine_page_table:before,
		.tabl_quotes.magazine_page_table:after{
			background: none;
		}

		.tabl_quotes.magazine_page_table td{
			border-left: 1px solid #e3e3e3;
		}

	 	.magazine_table_website,
	 	.magazine_table_download{
	 		width: 100%;
	 	}

	 	.tabl_quotes.magazine_page_table td{
	 		text-align: center;
	 		height: auto;
	 		padding: 11px 9px 12px;
	 	}

	 	.tabl_quotes.magazine_page_table td:first-child:before{
	 		margin-left: -25px;
	 	}

	 	.tabl_quotes.magazine_page_table td:before{
	 		font-size: 13px;
	 		color: #333131;
	 	}

	 	/*blocksectiondiv*/
	 	.blocksectiondiv_link{
			float: none;
	 	}

	 	.blocksectiondiv_text{
	 		margin-bottom: 20px;
	 	}

	 	.blocksectiondiv_text,.blocksectiondiv_link a{
	 		display: block;
	 		width: 100%;
	 	}

	 	/*Magazine navigation*/
	 	.magazine_navigation{
	 		width: 100%;
	 	}

	 	/*Code script*/
	 	.code_script{
	 		width: 100%;
	 	}

	 	/*post_edition*/
	 	.post_edition .post_col4{
	 		width: 50%;
	 	}

	  	.post_edition figcaption:after{
	 		width: 180px;
	 	}

 		/*magazine_navigation*/
		.magazine_navigation{
			display: none;
		}
		.magazine_inner_page .image_box.alignleft{
			margin: 0 0 20px 0;
	    }
		
		
		
		/*inner contest page*/

	    [class*="blockdiv5_box"]{
	    	display: block;
	    }

	    .blockdiv5{
	    	display: block;
	    	position: relative;
			margin-bottom: 80px;
	    }

	    .blockdiv5_box2{
	    	position: absolute;
			bottom: -70px;
			right: 0px;
	    }

	    .inner_contest_page .box1,
	    .contest_page .box1{
		    width: 100%;
		    margin-bottom: 15px;
		}

		.inner_contest_page .competition_btn,
		.contest_page .competition_btn{
			width: 100%;
			margin-left: 0;
		}

		.regestration_box_50:not(:first-child){
			margin-top: 20px;
		}

		.conditions_checkbox_box{
			padding-top: 0;
		}

		.checkbox_box{
			padding-right: 0;
			padding-bottom: 0;
		}

		.regestration_box_50 .regestration_btn{
			margin-top: 0;
			width: 100%;
		}

		.regestration .regestration_box_50:nth-child(2){
	      padding-left: 0;
	    }

		.regestration_box_50{
			width: 100%;
		}

		.competition_btn span{
			text-align: center;
		}

		.competition_table.table2{
			table-layout: fixed;
		}

		.competition_table .col_name,
		.competition_table td{width: auto;}

		.competition_table.table2 .col_name{
			color: #167ac6;
			background: #f6f6f6;
			min-height: 90px;
			padding: 12px 15px;
		}

		.competition_table.table2 td{
			height: auto;
		}

		.competition_table.table2 td:first-child:before{
			height: auto;
			width: 100%;
		}

		.tabl_inner_contest .name{
			color: #167ac6;
			position: relative;
			height: 100px;
			padding-top: 60px;
		}

		.tabl_inner_contest table td:first-child:before{
			position: absolute;
			width: 100%;
			height: auto;
			top: -1px;
			border-bottom: 1px solid #e3e3e3;
			padding: 14px 0;
			left: 50%;
			margin-left: 0;
			font-size: 14px;
			color: #333131;
			text-transform: uppercase;
			-webkit-transform: translate(-50%, 0);
			-ms-transform: translate(-50%, 0);
			-o-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
		}

		.inner_contest_page .broker_post{
			margin: 0 30px;
			min-height: 285px;
		}

		.inner_contest_page .download_more{
			display: none;
		}

		.inner_contest_page .add_btn{
			width: 100%;
			float: none;
		}

		.Pagination_sx_n{
			display: none;
		}

		.inner_contest_page .tabs_rating .tabs_list > li{
			width: 100%;
			float: none;
			padding: 0;
		}

		.inner_contest_page .tabs_list li:not(:first-child){
			border-top: 1px solid #e3e3e3;
		}

		.inner_contest_page .tabs_list > li > a{
			text-align: left;
			color: #787777;
			border: none;
			background: #f7f7f7;
		}

		.inner_contest_page .tabs_list > li > a:hover{
			background: #ededed;
		}

		.inner_contest_page .tabs_list > li.active > a:before,
		.inner_contest_page .tabs_list > li.active > a:after{
			display: none;
		}

		/*participant page*/

		.participant_page .tabs_rating .tabs_list > li{
			float: none;
			padding: 0;
		}

		.participant_page .tabs_list > li.active > a:before,.participant_page .tabs_list > li.active > a:after{
			display: none;
		}

		.participant_page .tabs_list > li > a {
		    text-align: left;
		    color: #454242;
		    border: none;
		    background: #f7f7f7;
		}

		.participant_page .tabs_list li:not(:first-child){
		    border-top: 1px solid #e3e3e3;
		}

		.participant_page .tabs_list > li > a:hover {
		    background: #ededed;
		}

		.participant_page .tabl_quotes table th, .participant_page .tabl_quotes table td {
		    padding: 6px 3px;
		    line-height: 19px;
		    width: auto;
		    height: auto;
		}

		.participant_page .tabl_quotes table {
		    table-layout: fixed;
		}

		.participant_page .tabl_quotes table td.height{
			padding-top: 25px;
			background: #f6f6f6;

		}

		.participant_page table td:first-child:before{
			text-transform: none;
			color: #167ac6;
			font-size: 12px;
			top: -6px;
		}

		.participant_page .inside_table{
			float: none;
			width: 100%;
		}

		.participant_page .inside_table.table1 .inside_col_2{
			border-right: none;
		}

		.participant_page .user_team{
			float: none;
		}

		.participant_page .social_list{
			padding-left: 0;
		    float: left;
		    margin:0 0 15px 0 !important;
		}

		.contest_page .competition_table.table2.first .bg{
	      background: none;
	    }

	    .competition_table.table2.first .col_name{
	    	padding-top: 65px;
			background: none;
	    }

	    .competition_table.table2.first table td:first-child:before{
	        position: absolute;
	        background: #f6f6f6;
		    width: 100%;
		    height: auto;
		    top: -1px;
		    border-bottom: 1px solid #e3e3e3;
		    padding: 14px 0;
		    left: 50%;
		    margin-left: 0;
		    font-size: 14px;
		    color: #333131;
		    text-transform: none;
		    -webkit-transform: translate(-50%, 0);
		    -ms-transform: translate(-50%, 0);
		    -o-transform: translate(-50%, 0);
		    transform: translate(-50%, 0);
	    }

	    .contest_page .download_more{
		    display: none;
		}

		.contest_page .add_btn {
		    width: 100%;
		    float: none;
		}

		.inner_contest_page .tabs_list {
			display: none;
		}
		h1.page_title1{
			font-size:18px;
			text-transform:none;
		}
		.last_news2_title.last_news_title.page_title1{
			font-size:24px;
			text-transform:uppercase;
		}
		.table_currency[data-table="3"] table tr th:nth-child(1), 
		.table_currency[data-table="3"] table tr td:nth-child(1),
		.table_currency[data-table="3"] table tr th:nth-child(2), 
		.table_currency[data-table="3"] table tr td:nth-child(2),
		.table_currency[data-table="3"] table tr th:nth-child(3), 
		.table_currency[data-table="3"] table tr td:nth-child(3),
		.table_currency[data-table="3"] table tr th:nth-child(4), 
		.table_currency[data-table="3"] table tr td:nth-child(4),
		.table_currency[data-table="3"] table tr th:nth-child(5), 
		.table_currency[data-table="3"] table tr td:nth-child(5),
		.table_currency[data-table="3"] table tr th:nth-child(6), 
		.table_currency[data-table="3"] table tr td:nth-child(6){
			width: 100%;
			text-align: center;
			padding: 5px;
			border: 1px solid #e3e3e3;
		}
		.table_currency[data-table="3"] table tr td > span{
			color: #167AC6;
		}

		.link_news_box_item {
		    width: calc(100% / 3 - 4px);
		}
		h3.dropdown_news_title{
			font-size:14px !important;
			text-transform:uppercase !important;
		}
		
		/* add 08.07.16 */

    .inner_contest_page .countdown_box div.clock{
      width: 32.799%;
    }
	
	/* add 27.17.16 */
	.competition_btn{
		padding: 8px 16px;
	}

	.competition_btn span{
		display: block;
	}

	/* add informer category page */

	.informer-header i {
		display: none;
	}

	/* add exchange page */

	.exchange-rate span {
		display: block;
		margin-bottom: 15px;
	}

	.exchange-links {
		width: 100%;
	}

	
	  /* --------------------------------------------
        Grids
  -------------------------------------------- */

    .grid_md_12 {
      width: 100%;
    }
    .grid_md_11 {
      width: 91.66666667%;
    }
    .grid_md_10 {
      width: 83.33333333%;
    }
    .grid_md_9 {
      width: 75%;
    }
    .grid_md_8 {
      width: 66.66666667%;
    }
    .grid_md_7 {
      width: 58.33333333%;
    }
    .grid_md_6 {
      width: 50%;
    }
    .grid_md_5 {
      width: 41.66666667%;
    }
    .grid_md_4 {
      width: 33.33333333%;
    }
    .grid_md_3 {
      width: 25%;
    }
    .grid_md_2 {
      width: 16.66666667%;
    }
    .grid_md_1 {
      width: 8.33333333%;
    }
	
	    /*-------------change currency page------------------*/
    .wrapper_currency_filter_box {
    	width: 50%;
    }
    .wrapper_tabs_list, .wrapper_quotes_search_box_2 {
    	float: left;
    }
    .wrapper_currency_filter_search {
    	width: 50%;
    }


	/* add 18.12.16 */
	/* ----------------table calendar------------------------- */

	.table_calendar table td{
		font-weight: normal;
		padding: 30px 10px 10px;
		min-height: 62px;
		height: auto;
		font-size: 13px;
		width: 33.333%;
		float: left;
	}

	.table_calendar .calendar_event{
		padding: 30px 10px 10px;
		text-align: center;
		width: 100%;
	}

	.table_calendar .calendar_flag{
		left: 5px;
		top: 5px;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	.calendar_icon{
		top: 5px;
		right: 5px;
	}

	.tabl_quotes table td:first-child:before{
		width: initial;
		margin-left: 0;
	}

	.table_calendar table td:before{
		content: attr(data-text);
		position: absolute;
		width: initial;
		top: 13px;
		left: 50%;
		margin: 0;
		text-transform: uppercase;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		color: #167ac6;
		font-size: 12px;
		font-weight: bold;
	}

	.table_calendar .box_label{
		padding: 30px 10px 10px;
	}

	.table_calendar [class*="label_"]{
		padding: 0;
		color: #e29c29;
		background: none;
	}

	.table_calendar_title{
		width: 100%;
		margin-top: 15px;
	}

	.calendar_title{
		margin-bottom: 57px;
	}

	.support_txt{
		top: auto;
		left: 0;
		bottom: -47px;
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		-o-transform: translate(0,0);
		transform: translate(0,0);
	}

	.support_img{
		float: left;
		margin-right: 12px;
	}

	.support_link{
		margin-right: 0;
	}

	.wiev_page_txt{
		display: block;
		line-height: 1.3;
	}

	.wiev_page .yellow_btn{
		float: none;
		width: 100%;
	}

	.wiev_page_icon {
		margin-top: -5px;
    	font: normal normal normal 22px/1.3 FontAwesome;
	}

	.wiev_page_txt> strong{
		display: block;
		float: right;
	}

	.wiev_page_txt:not(:last-child){
		margin-bottom: 25px;
	}

	.calendar_form_col_30{
		width: 100%;
		float: none;
	}

	.calendar_form_col_30:nth-of-type(3){
		width: 84%;
		float: left;
	}

	.calendar_form_col_10 {
	    width: 16%;
	}

	.calendar_form:not(:last-child){
		margin-bottom: 0;
	}

	[class*="calendar_form_col_"]{
		margin-bottom: 7px;
	}

	.buttons_links2 li{
		width: 50%;
		margin-bottom: 7px;
		padding: 0 3px;
	}

	.calendar_form .calendar_btn_reload{
	    font: normal normal normal 27px/1 FontAwesome;
	    padding: 8px 5px 9px;
	}

	.buttons_links2 li a>span{
		padding: 2px 9px;
	}

	.calendar_info .calendar_info_title{
		margin-bottom: 15px;
		padding: 0;
		float: none;
	}

	.date_calendar{
		float: none;
		width: 100%;
	}

	.calendar_info:not(:last-child){
		margin-bottom: 7px;
	}

	.country_content .square_input{
		margin-bottom: 10px;
	}

	.country_content .country_col{
		float: none;
		width: 100%;
	}

	.buttons_links2:not(:last-child){
		margin-bottom: 20px;
	}

	.description_table{
		width: 100%;
	}

	.description_history_wrapp{
		width: 100%;
	    border: 1px solid #e8e8e8;
	}

	.calendar.exchange-links .exchange-img{
		position: absolute;
		top: 12px;
		left: 16px;
	}

	.calendar.exchange-links li:not([class*="exchange-links-header"]){
		padding-top: 37px;
	}

	.calendar.exchange-links .exchange-time{
		float: none;
		position: absolute;
		top: 14px;
		right: 13px;
	}

	.select_type2 .jq-selectbox__select-text{
		font-size: 14px;
	}
	
	.regestration .regestration_box_50.paddingLeft10{
      padding-left: 0px;
    }
	
	.startTradeBtnQuotes{
		width:100%;
    }
    
    .informerTextsSettings .box_informer{
        width:48%;
        margin-left:1%;
    }

}

@media only screen and (max-width: 767px) {
	/*informer responsive*/
	.col6,.col4{
		width: 100%;
	}
	.col6 select, .col4 select{
		width: 100%;
	}
	.myInformer{
		text-align: center;
	}
	.change_color_input input[type=text]{
		width: 190px;
	}
	.change_color_input .colorSelector{
		right: 20px;
	}
	.mycolumn li {
		width: 190px;
		margin: 2px !important;
	}
	.myInformer1{
		transform: none;
	}
	.blockCounter{
		font-size: 17px !important;
	}
	.copyCode{
		line-height: normal;
		padding: 15px;
	}
	/*end informer responsive*/
	
 	body{
 		min-width:460px;
 	}

 	[class*="blockdiv"]{display: none;}
	
	#header{
		margin-right: 0;
		padding-right: 0;
		height: auto;
		background: none;
	}
	.enter_box{
		float: none;
		margin: 0 -15px;
		padding: 0 15px;
		text-align: center;
		/*height: 61px;*/
		border-bottom: 1px solid #e8e8e8;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f2f2f2+100 */
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	}

	.enter_box a{float: right;}

	.header_top_menu{
		float: right;
		margin: 12px 0;
	}

	.logo{margin: 12px 0;}
	
	.post_col2.today-css .post_small{
		width:100%;
	}
	
	.container{
		width: 420px;
	}

	.white_container{
		padding: 0 15px;
	}

	.left_part,.sidebar{
		float: none;
		width: auto;
		padding: 0;
		border: none;
	}

	.sidebar:before,
  .left_part:before{display: none;}

	
	.post_col_xs1{width: 100%;}


	/*header*/
	
	#header{
		margin-right: 0;
		padding-right: 0;
		height: auto;
		background: none;
	}
	.enter_box{
		float: none;
		margin: 0 -15px;
		padding: 0 15px;
		text-align: center;
		/*height: 61px;*/
		border-bottom: 1px solid #e8e8e8;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f2f2f2+100 */
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	}

	.enter_box a{float: right;}

	.header_top_menu{
		float: right;
		margin: 12px 0;
		width:150px;
	}

	.logo{margin: 12px 0;}


	/*header_info_box*/

	.header_info_box{margin-bottom: 61px;}
	.header_info_box>div{
		float: left;
		width: 50%;
	}

	.header_info_box .header_info_title{
		cursor: pointer;
		float: none;
		width: auto;
		background-color: #242222;
	}

	.header_info_box .header_info_title.active{
		background-color: #146eb3;
	}

	.header_info_box .header_info_title:before{
		top: 100%;
		margin-top: 0;
		right: 50%;
		margin-right: -5px;
		border: 5px solid transparent;
	}
	.header_info_title.active:before{
		border-top-color: #146eb3;
		z-index: 99;
	}

	.header_info_box .header_info_container{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		padding: 20px 0;
		background-color: #2e2b2b;
		border-bottom: 1px solid #1c1a1a;
	}

	.header_info_box .header_info_container.active{z-index: 9;}

	.header_info_box .header_info_container:before{
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;
		background-color: #403e3e;
	}



	/*menu*/

	.nav_wrap{
		display: block;
		width: auto;
	}

	nav{
		display: block;
		width: auto !important;
		float: right;
	}

	.search_box{
		display: block;
		width: auto;
		overflow: hidden;
	}

	.search_form input[type="text"]:focus{
		width: 100%;
	}

	.additional_menu_box{position: static;}

	.additional_menu{
		width: 100% !important;
		background-color: rgba(0,0,0,0.8);
		border-bottom: 1px solid #474646;
	}

	.additional_menu>li a{
		background: none;
		border-top: 1px solid #474646;
		font-size: 16px;
		line-height: 19px;
		padding: 11px 35px 11px 20px;
	}
	.additional_menu>li a:hover,
	.additional_menu>li.current>a{
		background-color: #f61616;
	}
	
	.additional_menu>li.has_submenu>a:before{
		content: "";
		display: block;
		position: absolute;
		z-index: 99;
		width: 12px;
		height: 12px;
		right: 18px;
		top: 50%;
		margin-top: -6px;
		background: url(../images/icon.png) -114px -18px no-repeat;
	}
	.additional_menu>li.active.has_submenu>a:before{
		background-position: -72px -18px;
	}

	.additional_menu .sub_menu{
		position: relative;
		display: none;
		right: auto;
		top: auto;
		width: auto;
		border: none;
	}
	
	.additional_menu>li:hover>.sub_menu{display: none;}

	.additional_menu .sub_menu:before{
		content: "";
		display: block;
		position: absolute;
		z-index: 99;
		left: 0;
		top: 0;
		bottom: 0;
		width: 5px;
		background-color: #f61717;
	}
	.additional_menu .sub_menu a{
		padding-left: 40px;
	}
	
	.post1>a>img{
		width: 80px;
		float: left;
		margin-right: 10px;
	}

	.post1 figcaption{overflow: hidden;}

	
	.footer_middle{border-bottom: none;}

	.footer_bottom{padding-top: 10px;}

	.footer_middle:before{display: none;}

	.list_box{
		float: none;
		width: auto;
		padding: 0;
	}
	
	.list_box>h6{
		cursor: pointer;
		position: relative;
		margin-bottom: 0;
		font-size: 16px;
		padding: 10px 20px 10px 10px;
		border-bottom: 1px solid #121212;
	}

	.list_box>h6:after{
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;
		background-color: #242424;
	}

	.list_box>h6:before{
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: -6px;
		width: 12px;
		height: 12px;
		background: url(../images/icon.png) -114px -18px no-repeat;
	}

	.list_box>h6.active:before{
		background-position: -74px -36px;
	}

	.list3{display: none;}
	
	.list3 > li{padding-bottom: 0;}
	
	.list3 > li > a{
		display: block;
		padding: 8px 10px;
	}

	.list3 > li > a:hover{
		color: #fff;
		background-color: #262425;
		text-decoration: none;
	}

	.footer_top{
		text-align: center;
		padding-bottom: 30px;
	}

	.social_label{display: block;margin-bottom: 0 !important;}

	.social{
		display: inline-block;
		float: none;
		margin-bottom: 10px;
	}
	footer ul.social.alignleft.clearfix{
		margin-bottom: 10px !important;
	}

	.newsletter_form{display: none;}

	.share_btn{display: inline-block;}

	.chench_btn:before{
		content: attr(data-shot-text);
	} 
	
	.edition_btn{width: 160px;}

	.materials_box>span{display: none;}

	.author_avatar{
		width: 70px;
		height: 70px;
	}

	.read_all{
		width: 148px;
	}

	.tabs_comment .tabs_list>li>a{font-size: 13px;}

	.box1>i.icon{
		display: none;
	}

	.box1{
		padding-left: 0;
		padding-right: 0;
	}

	.materials_box{
		float: none;
		position: relative;
		font-size: 14px;
	}

	.materials_box:before{
		content: "";
		display: block;
		position: absolute;
		width: 50px;
		height: 100%;
		top: 0;
		right: 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0.01+0,0.8+100 */
		background: -moz-linear-gradient(left,  rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.8) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.01)), color-stop(100%,rgba(255,255,255,0.8))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.8) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.8) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.8) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,0.8) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#ccffffff',GradientType=1 ); /* IE6-9 */

	}

	.materials_box p{
		text-overflow: initial;
	}


	/*modal window*/

	.modal_box{
		width: 320px;
	}

	.modal_logo{
		display: inline-block;
		position: static;
		margin: 0 0 10px;
	}

	.modal_header{
		padding-top: 10px;
	}

	.modal_close{
		top: 10px;
		right: 10px;
	}

	.modal_social li a i{
		display: none;
	}

	.modal_inner{
		padding: 25px 20px 32px;
	}
	
	
		/*------- add 00.02.16 --------*/

	.counter_box {
		width: 125px;
	}
	.counter_box_4 {
		margin-left: 65px;
	}

	/*------- end 00.02.16 --------*/


	/* --------------------------------------------
	     Modal news 13.02.16
	-------------------------------------------- */
		.modal-news-attention-img{
			display: none;
		}

		.icon-close-modal-news{
			right: 0;
		}

		.post_modal_new{
			width: 100%;
		}

		.modal_box1{
			width: 420px;
		}

		.modal_news_container{
			height: 260px;
			overflow: auto;
		}

		.navigation_box_modal_news{
			width: 260px;
		}

		.navigation_box_2 .next{
			float: left;
		}

		.navigation_box_2 .last{
			margin-left: 0;
			margin-right: 9px;
		}

		.box3{
			padding-top: 4px;
			clear: both;
			float:none;
			overflow: hidden;
		}
		/*CURRENCY PAGE*/

		.converter_form_inp {
		  width: 310px;
		}
		.exchange_rates_form .jq-selectbox__dropdown {
		  width: 390px ;
		}
		.converter_form .jq-selectbox__dropdown {
		  width: 390px;
		}

		.buttons_links{
			padding: 0 28px 30px;
		}

		.buttons_links li{
			width: 100%;
		}

		/*Code cover*/
		.code_cover_form{
			float: none;
		}

		.code_img img{
	 		width: 100%;
	 	}

	 	.code_img{
			padding: 0 40px;
		}

		/*banner4*/
	 	.banner4,
	 	.banner4_text,
	 	.banner4_link{
	 		display: block;
	 	}

	 	/*post_edition*/
	 	.post_edition .post_col4{
	 		width: 100%;
	 	}
		.new_menu_link{
			width: calc(50% - 5px);
		}
		.header_top_btn_box{
			margin-top: 20px;
			float:right;
		}

		.diagrams_box:not(:last-child){
			margin-bottom: 26px;
		}
		/* add 16.06.16 */
	.link_news2_container{
		margin-top: 100px;
	}

	.btn_back{
		width: 100%;
	}

	.btn_back>.icon-angle{
		float: left;
	}

	.news2_box_link{
		float: none;
		display: block;
		margin-bottom: 14px;
		padding-left: 12px;
	}

	.box_radio_btn1{
		float: none;
		display: block;
		padding: 5px 0 0;
		background-color: #fff;
	}

	input[type*="radio"]+.on_off.red{
		float: left;
		margin-right: 0;
		padding-right: 2px;
		width: 49.500%;
	}

	input[type*="radio"]+.on_off.blue{
		width: 49.500%;
		padding-left: 2px;
		float: right;
	}

	.btn_back{
		float: none;
		position: absolute;
		left: 50%;
		-webkit-transform: translate(-50%, 90px);
		-ms-transform: translate(-50%, 90px);
		-o-transform: translate(-50%, 90px);
		transform: translate(-50%, 90px);
	}

	.news2_link_img{
		min-width:40px;
	}
	
	.inner_contest_page .page_title1{
      font-size: 17px;
    }

	.inner_contest_page .post_contest{
	    margin-left: -10px;
	    margin-right: -10px;
	  }
	  
	  
	 /* add informer category page */

	.thesis_text.second.mb71 {
		margin-bottom: 20px;
	}

	.informer-header {
		margin-bottom: 20px;
	}

  .informer-item {
  	padding: 0 10px 15px;
  }
  
  .informer-item img {
  	display: block;
  	margin: 0 auto;
  	float: none;
  }

  .informer-bottom-text {
  	padding: 10px;
  }
  
  
  .change_color_input{
  	width: 100%;
  }



  /* --------------------------------------------
        Grids
  -------------------------------------------- */

    .grid_sm_12 {
      width: 100%;
    }
    .grid_sm_11 {
      width: 91.66666667%;
    }
    .grid_sm_10 {
      width: 83.33333333%;
    }
    .grid_sm_9 {
      width: 75%;
    }
    .grid_sm_8 {
      width: 66.66666667%;
    }
    .grid_sm_7 {
      width: 58.33333333%;
    }
    .grid_sm_6 {
      width: 50%;
    }
    .grid_sm_5 {
      width: 41.66666667%;
    }
    .grid_sm_4 {
      width: 33.33333333%;
    }
    .grid_sm_3 {
      width: 25%;
    }
    .grid_sm_2 {
      width: 16.66666667%;
    }
    .grid_sm_1 {
      width: 8.33333333%;
    }
  

}

@media only screen and (max-width: 479px) {
	
	.tabl_quotes table.wBrokersGridViewTable td:first-child span.blue_color_2{
		width:94px;
		line-height:15px;
	}

	body{min-width:320px;}

	.container{
		width: auto;
		padding: 0 10px;
		margin-bottom: 0;
	}

	.enter_box{
		margin: 0 -10px;
		padding: 0 10px;
	}

	.tabs_comment .tabs_list>li>a>span{display: block;}
	
	.tabs_comment .tabs_list>li>a{
		line-height: 16px;
		padding: 8px 0;
	}

	.search_form button{width: 44px;}

	.come_back_btn{
		width: 100%;
	}
	/***quotaion table***/
	.quotation_table th {
		font-size: 9px;
		padding-left: 4px;
	}
	.quotation_table td {
		font-size: 10px;
		padding-left: 4px;
	}
	.change span {
    	font-size: 11px;
	}
	.change_up::after {
	    right: 8px;
	}
	.change_down::after {
	    right: 8px;
	}
	.change sup {
	    font-size: 8px;
	    top: -2px;
	}

	.options_item{
		width: 50%;
	}
	
		/*------- add 00.02.16 --------*/
	[class*="box_size"] {
	  float: left;
	  padding: 0;
	}
	.box_size50{
	  width: 100%;
	}
	.box_wr {
	  margin: 0;
	}
	.requirements_cont_box {
		height: 180px;
	}
	.requirements_box p {
		font-size: 12px;
	}

	.counter_wr {
		width: 300px;
		margin: 0 auto;
	}
	.counter_box {
		width: 142px;
	}
	.counter_box_4 {
		margin-left: 0px;
	}
	.counter_box_5 {
		margin-left: 80px;
	}
	.nav_list_2 li a {
		width: 38px;
	}
	/*------- end 00.02.16 --------*/

	/*--------13.02.16------------*/

	.box-modal-item{
		width: 100%;
	}

	.modal_box1{
		width: 280px;
	}

	.post_modal_new_img{
		float: none;
		margin-right: 0;
		margin-bottom: 8px;
	}

	.post_modal_new_img{
		width: 100%;
	}
	.post_modal_new_img img{
		margin-left:0px;
	}

	.post_modal_new_description{
		min-height: 0;
		padding:0 0 10px;
	}
	.header_top_menu{
		width:100px;
	}
	
	
	.wrapper_tabs_list > .tabs_list > li > a {
			padding: 12px 15px !important;
		}

		.wrapper_quotes_search_box_2 .quotes_search_box_2{
			margin-bottom: 10px;
		}

		.wrapper_tabs_list .tabs_list{
			margin-bottom: 15px;
		}
	
	.converter_form_inp {
	  width: 210px;
	}
	.exchange_rates_form .jq-selectbox__dropdown {
	  width: 280px !important;
	}
	.converter_form .jq-selectbox__dropdown {
	  width: 280px !important;
	}
	
	/*Social buttons*/
	.social_buttons_fsb:before,
	.social_buttons_vk:before,
	.social_buttons_tw:before,
	.social_buttons_gm:before{
    	content:"Поделится";
	}
	
	/*inner contest page*/

	.tabl_inner_contest table td:first-child:before{
		text-transform: none;
	}

	.inner_contest_page .broker_post {
	    min-height: 245px;
	}

	.inner_contest_page .blockdiv5{
		margin-bottom: 55px;
	}

	.inner_contest_page .blockdiv5_box2{
		bottom: -70px;
	}

	.participant_page .inside_table td{
		font-size: 11px;
    }

    .summary_list li{
    	font-size: 12px;
    }
	.header_top_btn_box{
		margin-top: 12px;
		margin-left: 5px;
	}
	.header_top_button{
		padding: 23px 5px;
		max-width: 100%;
		min-width: auto;
	}
	.new_menu_link span{
		font-size: 13px;
	}
	
	.thesis_text.second{
		margin-bottom: 30px;
	}
	.choose_date{
		margin-bottom: 25px;
	}

	.choose_date_btm_item:not(:last-child) {
	    margin-right: 40px;
	}
	.title_min{
		font-size: 17px;
		font-family: 'pf_dindisplay_promedium';
		text-transform: uppercase;
	}
	.table_currency[data-table="3"] table tr td:nth-child(3) br{
		display: none;
	}

	.link_news_box{
		margin: 0  0 18px 0;		
		display: none;
		height: 220px;
		-ms-overflow-y: auto;
		    overflow-y: auto;
		-ms-overflow-x: hidden;
		    overflow-x: hidden;
		position: absolute;
		top: 42px;
		width: 100%;
		z-index: 9;
	}
	.link_news_btns{
		display: block !important;
		cursor:pointer;
	}
	.link_news_box_item{
		width: 100%;
		float: none;
		margin: 0;
		border-bottom: 1px solid #e3e3e3;
	}
	.link_news_box_a{
		text-align: left;
		padding: 13px 12px;	
		background-color: #f7f7f7;
	}
	.link_news_box_a:hover{
		background-color: #f1f1f1;
		color: #454242;
	}
	.page_title1.last_news_title{
  		font-size: 17px;
  		line-height: 22px;
  		text-transform: uppercase;
  		color: #333131;
	}
	.btn_red.abs{
		position: relative;
		margin-bottom: 20px;
		width: 100%;
		right: auto;
	    top: auto;
	    -webkit-transform: translateY(0);
	    -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	    -o-transform: translateY(0);
	    transform: translateY(0);
    	padding: 11px 44px 11px 44px;
	}
	.dropdown_news{
		padding: 20px 0 25px 0;
	}
	.dropdown_button{
		width: 100%;
	}
	.news_title span{
		padding: 5px 5px 5px 12px;
	}

	.share_bx{
		position: absolute;
		float: none;
		bottom: -44px;
		left: -40px;
	}

	.choose_date_text{
		font-size: 14px;
	}


	/* add 16.06.16 */
	.btn_back {
	    position: absolute;
	    left: 50%;
	    -webkit-transform: translate(-50%, 60px);
	    -ms-transform: translate(-50%, 60px);
	    -o-transform: translate(-50%, 60px);
	    transform: translate(-50%, 60px);
	}
	.last_news2_title.last_news_title.page_title1{
		font-size:17px;
	}
	.inner_contest_page .countdown_box div.clock{
      width: 32.666%;
    }
  /* add exchange-page.html */
	
	.exchange-rate-container {
		padding: 0 0 0 15px;
	}

	.exchange-rate span:last-child {
		margin: 0;
	}

	.exchange-bottom-text-container h4 {
		padding-bottom: 20px;
	}

	.enter_box>span{
		padding: 10px;
		border-bottom: 1px solid #e8e8e8;
		float: none;
    }
    
    .informerTextsSettings .box_informer{
        width:100%;
        margin-left:0;
    }
}

@media only screen and (max-width: 379px) {
	.header_top_menu{
		width:auto;
	}
	.tabl_quotes table.wBrokersGridViewTable td:first-child span.blue_color_2{
		width:74px;
		font-size:12px;
	}
}







@media only screen and (max-width: 992px) {
	.tabl_quotes table td.height80{
		height: 80px;
	}
}


 /*add currency_converter_page.html */
 @media only screen and (max-width: 1200px) {
	 .tabs_list_2 a {
    padding: 15px 15px !important;
	 }
 }
 @media only screen and (max-width: 479px) {
	 .tabs_rating .tabs_list>li {
    width: 100%;
	padding: 0 0 12px 0;
	}
	.tabs_list>li {
		float: none;	
	}
	.tabl_quotes_nav {
		display: block;
	}
	.tabs_rating .tabs_list>li:last-child {
		padding: 0;
	}

 }
 @media only screen and (max-width: 380px) {
	 .new_menu, .sidebar, #footer, .breadcrumbs ul li:nth-child(2n) {
	display:  none;
}
	 h3 {
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
	padding-right: 50px;	
}

 }
@media only screen and (max-width: 320px) {
.new_menu, .sidebar, #footer, .breadcrumbs ul li:nth-child(2n) {
	display:  none;
}
h2 {
	font-size: 17px;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 6px; 
}
h2>.main_text {
	display: block;
	float: left;
	border-right: 1px solid #e3e3e3;
	margin-right: 10px;
	padding-right: 10px;
}
h2>.sub_title1 {
	font-size: 15px;
	line-height: 17px;
}
.converter_icon:before {
	display: none;
}
.converter_form_inp {
    width: 215px;
}
.converter_form {
    width: 85px;
}
.converter_form .jq-selectbox__select {
	    padding: 15px 22px 0 22px;
}
h3 {
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
	padding-right: 20px;	
}
.mb30 {
	margin-bottom: 10px;
}
}

@media (max-width: 410px) {
	h2, .page_title1 {
		font-family: 'pf_dindisplay_promedium';
		font-size: 17px;
		line-height: 22px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	.change_color_input .colorSelector {
		right: 20px;
	}
	.labelXs label{
		font-size: 18px;
	}

	.fone{
		position: relative;
	}
	.textChange{
		position: relative;
	}
	.copyCode{
		margin-top: 60px;
	}
}

@media (min-width: 320px) and (max-width: 409px) {
	.mycolumn li {
		width: 146px;
		margin: 2px !important;
	}
	.xsCode{
		line-height: normal;
		height: 52px;
	}
}
/*add monitoring1.html */
@media (max-width: 1200px) {
	.account-chart {
		overflow-x: scroll;
	}
	.account-chart::-webkit-scrollbar {
		background: #ededed;
		width: 10px;
	}
	.account-chart::-webkit-scrollbar-thumb {
		background: #a8a8a8;
	}


	.account-chart .account-chart_tabs{
		width: 729px;
	}
}

@media (max-width: 992px) {
	.box_monitoring .not_label {
		padding-top:0;
	}
	.box_monitoring .informer_setings {
		margin-top:20px;
	}

	.box_monitoring .monitoring_tabs_list{
		float: none;
		width: 100%;
	}
	.box_monitoring .tabs_filter{
		float: right;
		width: 50%;
		margin: 0;
	}

	.box_monitoring .tabs_list {
		margin-bottom: 0;
	}

	.box_monitoring .tabs_list:before {
		display: none;
	}

	.box_monitoring .monitoring_tabs_list li{
		display: block;
		float: left;
		width: 50%;
		padding-right: 0;
		margin-bottom:6px;
	}

	.box_monitoring .monitoring_tabs_list li:nth-child(2n+1){
		padding-right: 5px;
	}

	/*Monitoring2*/

	.monitoring_info .info_item .title,
	.monitoring_info .info_item .text{
		display: inline-block;
		width:auto;
	}

	.table_monitoring.tabl_quotes:before {
		display: none;
	}

	.table_monitoring.tabl_quotes table td{
		height:60px;
	}

	.table_monitoring.tabl_quotes table td:before,
	.table_monitoring.tabl_quotes table td:first-child:before {
		width: 100%;
		height: auto;
		font:12px/19px 'OpenSansBold', sans-serif;
		color: #454444;
		text-transform: uppercase;
	}
}



/* add pages 25.07.17 */

@media only screen and (max-width: 1200px) {
	.informer-news__item-title {
		max-width: 500px;
	}

	.inside-menu__gen a {
		padding-left: 15px;
	}

	.inside-menu__sub a {
		padding-left: 20px;
		font-size: 14px;
	}

	.informer-calendar__tb table td [class*="label_"] {
		font-size: 10px;
	}

	.profile-card__right {
		width: 363px;
	}

	.trade-account_status {
		font-size: 10px;
	}
}

@media only screen and (max-width: 992px) {
	.regestration_box_50_padding_left{padding-left:0;}
	.informer-news__item-title {
		max-width: 290px;
	}

	.inside-menu__gen a {
		width: 49.5%;
		margin-right: 1%;
	}

	.inside-menu__gen a:nth-child(2n) {
		margin-right: 0;
		margin-bottom: 1%;
	}

	.inside-menu__sub {
		margin-top: 0;
	}

	.inside-menu__sub a {
		width: 33%;
		margin-right: 0.5%;
		margin-bottom: 0.5%;
	}

	.inside-menu__sub a:nth-child(3n) {
		margin-right: 0;
	}

	.inside-form__input {
		width: 190px;
	}

	.inside-form__select {
		width: 190px;
	}

	.inside-form__textarea {
		width: 190px;
	}

	.inside-form__buttons {
		margin-top: 0;
	}

	.inside-form__trader .inside-form__input {
		width: 170px;
	}

	.inside-form__trader .inside-form__toltip {
		max-width: 170px;
	}

	.inside-form__checkbox-text {
		max-width: 90%;
	}

	.calendar-header__name {
		max-width: 50%;
		font-size: 11px;
	}

	.calendar-header__select {
		max-width: 50%;
	}

	.calendar-header__select .jq-selectbox__select {
		width: auto;
		padding-right: 25px;
	}

	.informer-calendar__tb table td:not(:first-child) {
		line-height: 40px;
	}

	.informer-calendar__event li {
		margin: 10px 20px;
	}

	.informer-calendar__tb table td:first-child {
		/*height: 100px;*/
		padding: 30px 10px 6px;
		line-height: 12px;
	}

	.informer-calendar__tb table td:first-child a {
		max-height: 48px;
		overflow: hidden;
		display: block;
	}

	.informer-calendar__tb table .calendar_flag {
		left: 50%;
		top: 10px;
		transform: translate(-50%, 0);
	}

	.informer-calendar__time-item {
		width: 50%;
		float: left;
		margin-right: 0;
	}

	.informer-calendar__time-input {
		width: 40px;
		height: 35px;
	}

	.informer-calendar__tb table td:first-child:before {
		height: auto;
	}

	.profile-card__left {
		width: 100%;
	}

	.profile-card__about {
		padding-bottom: 30px;
	}

	.profile-card__right {
		width: 100%;
	}

	.trade-account_status {
		padding: 0;
	}

	.account-status_accept {
		display: inline;
		max-width: 100%;
		margin: 0;
		padding: 10px;
	}
}

@media only screen and (max-width: 767px) {
	.informer-news__wrap {
		padding-bottom: 30px;
	}

	.informer-news__item-title {
		max-width: 270px;
	}

	.inside-form__user {
		padding-right: 10px;
	}

	.inside-form__contact {
		padding-left: 10px;
	}

	.inside-form__input {
		width: 185px;
	}

	.inside-form__select {
		width: 185px;
	}

	.inside-form__textarea {
		width: 185px;
	}

	.inside-form__column {
		float: none;
		width: 100%;
	}

	.inside-form__trader .inside-form__label {
		width: 290px;
		margin: 0 auto 20px;
	}

	.inside-form__trader .inside-form__input {
		width: 250px;
	}

	.inside-form__trader .inside-form__toltip {
		max-width: 250px;
	}

	.informer-calendar__event li {
		width: 190px;
		margin: 2px;
	}

	.profile-card__avatar {
		margin: 0 auto;
	}

	.profile-card__message {
		margin: 10px auto;
	}

}

@media only screen and (max-width: 480px) {
	.informer-news__item-title {
		max-width: 215px;
	}

	.informer-news__filter-help {
		font-size: 12px;
		line-height: 14px;
	}

	.inside-menu__sub a {
		width: 49.5%;
		margin-right: 1%;
		margin-bottom: 1%;
	}

	.inside-menu__sub a:nth-child(2n) {
		margin-right: 0;
	}

	.inside-menu__sub a:nth-child(3n) {
		margin-right: 1%;
	}

	.inside-form__user {
		float: none;
		width: 100%;
		padding: 0;
	}

	.inside-form__contact {
		float: none;
		width: 100%;
		padding: 0;
	}

	.inside-form__label {
		width: 260px;
		margin: 0 auto 20px;
	}

	.inside-form__input {
		width: 100%;
	}

	.inside-form__buttons {
		float: none;
	}

	.inside-form__select {
		width: 100%;
	}

	.inside-form__textarea {
		width: 100%;
	}

	.inside-form__btn-blue {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.inside-form__inform:focus {
	  background-image: url(images/icon-info_hover.png);
	}

	.inside-form__inform:focus .inside-form__toltip {
	  display: block;
	}

	.inside-form__settings .inside-form__label {
		width: 100%;
	}

	.informer-calendar__header {
		height: 70px;
		text-align: center;
	}

	.calendar-header__name {
		max-width: 100%;
		float: none;
	}

	.calendar-header__select {
		max-width: 100%;
		float: none;
	}

	.calendar-header__icon:hover .calendar-header__info {
		right: 0;
		left: auto;
		max-width: 230px;
	}

	.calendar-header__select .jq-selectbox__dropdown {
		min-width: 100%;
	}

	.tabl_quotes table td:not(:first-child) {
		font-size: 10px;
	}

	.informer-calendar__event li {
		width: 146px;
	}

	.profile__title-wr {
		border-bottom: none;
		margin-bottom: 5px;
	}

	.profile-btn_settings {
		float: none;
		width: 100%;
	}

	.profile__title {
		float: none;
	}

	.account-status_accept {
		padding: 6px;
	}

	.profile-card__left {
		width: 230px;
		margin: 0 auto;
		float: none;
	}

	.trade-account_switch li {
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 600px) {
	body .decomments-enter-row .de-form-field{
		width:100%;
		padding-right:0;
		padding-left:0;
	}
	body .decomments-enter-row .de-form-field:first-child{
		padding-right:0;
	}
}

