/*



Theme Name: ForTrader



Description: Форекс портал



Version: 1.0



Author: Dan



Author URI: www.web-island.ru



*/



*{



	padding:0px;



	margin:0px;}



:focus { 



	outline: none;}



html, body{



	color:#6c6868;



	font-size:13px;



	font-family:Verdana,sans-serif;



	height:100%;



	min-height:100%;



	background:url(img/bg.png) repeat-x #fff;}



.wrap{



	width:940px;



	background:url(img/header.jpg) no-repeat center top;



	_height:100%;



	min-height:100%;



	margin:0 auto;



	padding-left:30px;



	padding-right:30px;}



a{



	color:#09548f;



	text-decoration:underline;}



a:hover{



	text-decoration:none;}



img{



	border:none;}



.clear{



	clear:both;



	display:inline-block;



	width:99%;



	overflow:hidden;



	font-size:0px;



	height:0px;



	line-height:0px;}



.rrs{



	float:right;



	padding-top:8px;



	line-height:16px;







	margin-right:75px;



	color:#6c6868;}



.rrs img, .podil img{



	margin-left:5px;



	float:right;}



.podil{



	margin-right:80px;



	line-height:18px;



	float:left;



	padding-top:7px;



	color:#6c6868;



    width:84px;



	}



.podil #ya_share1 {



 	



 position:absolute;



         margin-left: 0px;



      margin-top: -4px;



   



}



.top-menu{



	height:30px;



	line-height:30px;}



.top-menu li{



	list-style:none;



	height:30px;



	background:none;



	float:left;}



.top-menu li.spc{



	background:url(img/plus.png) no-repeat 0 15px;



	width:3px;



	margin-left:4px;



	margin-right:5px;}



.top-menu li a{



	color:#2a2828;}



.top{



	background:url() bottom repeat-x;



	height:30px;}



.fr{



	float:right;}



.logo{



	margin-top:29px;

	float: left;}



.search{



	background:url(img/search.png) no-repeat;



	width:193px;



	height:24px;



	padding-left:20px;



	float:right;



	border:none;



	line-height:24px;



	vertical-align:middle;



	margin-top:15px;}

.langtab{

	margin-top:7px;	
}


.menu{



	background:url(img/menu.png) repeat-x;



	height:33px;



	margin-bottom:16px;



	overflow:hidden;



	margin-top:7px;



	list-style:none;}



.menu li{



	float:left;



	height:30px;}



.menu li a{



	display:block;



	height:33px;



	line-height:35px;



	text-align:center;



	color:#fff;



	font-size:12px;



	font-family:"Georgia";



	text-transform:uppercase;



	padding-left:20px;



	text-decoration:none;



	padding-right:20px;}



.menu li.last a{



	padding-right:24px;}



.menu li a:hover{



	background:url(img/menuon.png) repeat-x;}



.column1{



	width:300px;



	float:left;



	margin-right:10px;



	position:relative;



	z-index:5;}



.column2{



	width:240px;



	float:left;



	margin-right:10px;



	position:relative;



	z-index:5;}



.column3{



	width:220px;



	float:left;



	margin-right:14px;



	position:relative;



	z-index:5;}

.columnSingle{



	width:450px;



	float:left;



	margin-right:14px;



	position:relative;



	z-index:5;}

.columnY{



	width:780px;



	float:left;



	margin-right:14px;



	position:relative;



	z-index:5;}

.column4{



	width:143px;



	float:left;



	position:relative;



	z-index:5;}



h5, h4{



	font-size:12px;



	color:#2a2828;



	text-transform:uppercase;



	border-bottom:3px solid #2a2828;



	padding-top:10px;



	padding-bottom:4px;



	letter-spacing:1px;}



h4{



	color:#908f8f;



	border-color:#908f8f;}



.new{



	background:url(img/dotted2.png) repeat-x bottom;



	padding-bottom:7px;



	padding-top:7px;



	color:#6c6868;}



h3 a, a.name{



	color:#09548f;



	<!-- font-family:Georgia, "Times New Roman", Times, serif; -->



	font-size:14px;



	text-decoration:none;



	font-weight:bold;}



h3 a:hover, a.name:hover{



	text-decoration:underline;}
	
h3 a, a.name4{



	color:#09548f;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-size:12px;



	text-decoration:none;}



h3 a:hover, a.name4:hover{



	text-decoration:underline;}


h3{



	padding-bottom:2px;}



.date{



	color:#b9b3b3;



	font-size:9px;
	
	padding-top:10px;}



.date a{



	color:#b9b3b3;}



.txt{



	padding-right:7px;}



.all{



	background:url(img/arr.png) no-repeat right;



	margin-top:10px;



	padding-bottom:5px;



	text-align:right;



	color:#2a2828;



	padding-right:14px;}



.all a{



	color:#2a2828;}



h3.nb a{



	font-weight:normal;}



.romb{



	color:#b9b3b3;}



.date2{



	line-height:17px;



	width:75px;



	float:left;



	color:#ff1616;



	font-size:9px;}



.nb2 a{



	font-weight:normal;}



.nb2{



	margin-left:75px;}



.block1{



	background:url(img/block2.png) repeat-y;}



.block2{



	background:url(img/block1.png) no-repeat;}



.block3{



	background:url(img/block3.png) no-repeat bottom;



	padding-left:10px;



	padding-right:8px;



	padding-bottom:20px;}



.new2{



	padding-bottom:9px;



	padding-top:9px;



	color:#6c6868;



	background:url(img/dotted2.png) repeat-x bottom;
	min-height:50px;}



.new2 a{



	color:#09548f;



	text-decoration:none;}



.new2 a:hover{



	text-decoration:underline;}



.pic{

    border: 1px solid #E4E4E4;
	
    float: left;
	
    margin-right: 8px;
	
	padding:7px;}

.pic4{

    border: 1px solid #E4E4E4;
	
    float: left;
	
    margin-right: 15px;
	
	padding:4px;}


.pic5{

    border: 1px solid #E4E4E4;
	
    float: left;
	
    margin-right: 8px;
	
	padding:5px;}


.txt2{



    min-height: 35px;



	<!-- margin-left:70px; -->}



.date3{



	padding-top:2px;



	color:#b9b3b3;



	font-size:9px;}



.date3 a{



	font-size:10px;



	text-decoration:none;



	color:#09548f;}



.date3 a:hover{



	text-decoration:underline;}



.list li, .list3 li{



	list-style:none;



	margin-top:8px;



	padding-bottom:8px;



	background:url(img/dotted2.png) repeat-x bottom;}



.list li a, .list3 li a{





	color:#09548f;



	text-decoration:none;}



.list span{



	display:block;}



.list li a:hover, .list3 li a:hover{



	text-decoration:underline;}



.list, .list3{



	padding-bottom:0px;}



h6{

	color: #777;
    font-size: 11px;
    line-height: 150%;
	font-weight: normal;
	}



.right1{



	background:url(img/tochka2.png) repeat-y;}



.right2{



	background:url(img/tochka1.png) no-repeat;}



.right3{



	background:url(img/tochka3.png) no-repeat bottom left;



	padding-left:19px;}



.green{



	color:#3abe0c;}



.red{



	color:#ff1616;}



.valuta{



	font-family:Georgia, "Times New Roman", Times, serif;



	font-size:18px;



	float:left;



	width:33%;



	color:#6c6868;}



.kurs{



	line-height:20px;



	float:left;



	width:33%;



	color:#000;



	text-align:center;}



.raznica{



	line-height:20px;



	float:left;



	width:30%;



	text-align:right;



	padding-right:4%;}



.dotted{



	background:url(img/dotted2.png) repeat-x;



	height:1px;



	margin-top:7px;



	margin-bottom:7px;}



.slovar li{



	background:url(img/tire.png) no-repeat 0 5px;



	padding-left:10px;



	color:#b9b3b3;



	list-style:none;



	padding-bottom:4px;}



.slovar li a{



	text-decoration:none;



	color:#09548f;}



.slovar li a:hover{



	text-decoration:underline;}



.vypusk1{



	background:url(img/waves.png) no-repeat right top;



	margin-top:-20px;



	position:relative;



	z-index:1;}



.vypusk2{



	background:url(img/waves2.jpg) no-repeat bottom;



	padding-top:95px;



	padding-bottom:122px;}



.jurnal{



	width:498px;



	padding-right:12px;



	background:url(img/dotted.png) right repeat-y;



	margin-right:10px;



	float:left;}



.archiv{



	background:url(img/dotted.png) repeat-y;



	padding-left:20px;



	width:123px;



	float:left;}



.obkladka{



	border:1px solid #dedede;



	padding:2px;



	float:left;



	margin-right:20px;}



.obkladka img{



	border:1px solid #dedede;}



.jurnal h1 a, .jurnal h1{



	color:#09548f;



	font-size:20px;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-weight:normal;



	text-decoration:none;



	padding-bottom:7px;}



.jurnal h1 a:hover{



	text-decoration:underline;}



.txt3{



	height:183px;}



.download{



	margin-left:310px;



	background:url(img/skach.png) no-repeat;



	width:185px;



	height:35px;



	line-height:35px;



	text-align:center;



	text-decoration:none;



	color:#fff;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-style:italic;



	display:block;



	font-weight:bold;



	font-size:14px;}



.zag{



	color:#2a2828;



	font-size:18px;



	padding-bottom:5px;



	font-family:Georgia, "Times New Roman", Times, serif;



	line-height:27px;}



.interest{



	width:215px;



	float:left;



	margin-right:15px;



	padding-left:5px;}



.vnomere li{



	background:url(img/krug.png) no-repeat 0 4px;



	list-style:none;



	padding-bottom:10px;



	padding-left:11px;}



.vnomere li a{



	color:#09548f;



	font-family:Georgia, "Times New Roman", Times, serif;



	text-decoration:none;}



.vnomere li a:hover{



	text-decoration:underline;}



.nomera li{



	list-style:none;



	font-size:9px;



	color:#b9b3b3;



	padding-bottom:5px;



	text-transform:uppercase;}



.nomera li a{



	color:#09548f;



	font-size:11px;



	font-family:Georgia, "Times New Roman", Times, serif;



	text-decoration:none;}



.nomera li a:hover{



	text-decoration:underline;}



.up{



	position:relative;



	z-index:5;



	margin-top:-45px;}



.bot-cont{



	width:779px;



	padding-right:18px;



	float:left;}



.grafik{



	width:33%;



	float:left;



	margin-bottom:50px;}



.dline{



	height:1px;



	clear:both;



	margin-top:20px;



	margin-bottom:20px;



	border-bottom:1px solid #d9d9d9;



	border-top:1px solid #d9d9d9;}



.col11{



	width:299px;



	float:left;



	margin-right:18px;}



.col22{



	float:left;



	width:222px;



	margin-right:18px;}



.col33{



	width:220px;



	float:left;}



.rating li{



	list-style:none;



	padding-top:8px;



	padding-bottom:8px;



	background:url(img/dotted2.png) repeat-x bottom;}



.rating li a{



	color:#09548f;



	padding-left:2px;



	text-decoration:none;}



.rating li a:hover{



	text-decoration:underline;}



.nom{



	float:left;



	display:block;



	color:#b9b3b3;



	width:11px;}



.rt{



	margin-top:2px;



	float:right;



	background:url(img/zirka2.png) repeat-x;



	width:50px;



	height:9px;}



.rt-on{



	background:url(img/zirka.png) repeat-x;



	height:9px;}



.procent{



	padding-left:10px;



	float:right;



	color:#000;}



.hit{



	padding-top:7px;



	color:#b9b3b3;



	text-align:right;}



.add, .ok{



	text-align:right;



	color:#ff2222;



	padding-bottom:10px;}



.add a, .ok a{



	color:#2a2828;}



.ok{



	background:url(img/ok.png) no-repeat 100% 4px;



	padding-right:12px;}



.tiraj{



	text-align:center;



	font-size:24px;



	font-family:Georgia, "Times New Roman", Times, serif;



	color:#ff2222;



	padding-top:10px;



	padding-bottom:18px;



	background:url(img/dotted2.png) bottom repeat-x;



	margin-bottom:10px;}



.vchera, .segodnia{



	color:#2a2828;



	font-size:24px;



	font-family:Georgia, "Times New Roman", Times, serif;



	padding-left:24px;}



.segodnia{



	padding-right:24px;



	float:right;}



.vchera span, .segodnia span{



	color:#949393;



	font-size:11px;



	font-family:Tahoma;}



.txt4{



	background:url(img/dotted2.png) repeat-x;



	padding-top:9px;



	color:#2a2828;



	margin-top:12px;}



.dline2{



	height:2px;



	margin-top:30px;



	border-bottom:3px solid #171616;



	border-top:1px solid #171616;



	margin-bottom:20px;}



.links{



	padding-bottom:10px;



	width:25%;



	float:left;}



.links h3{



	color:#2a2828;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-size:13px;



	font-weight:bold;}



.links li{



	list-style:none;



	padding-right:30px;



	padding-top:5px;}



.links li a{



	color:#09548f;



	text-decoration:none;}



.links li a:hover{



	text-decoration:underline;}



.dott{



	background:url(img/dotted2.png) repeat-x;



	height:1px;



	margin-bottom:8px;



	clear:both;}



.footer{



	background:#f3f3f3 url(img/footer2.jpg) repeat-x;
	display:block;
	margin-top:28px;}



.footer2{



	background:url(img/footer.jpg) center;



	padding-top:20px;



	width:940px;



	margin:0 auto;



	padding-left:30px;



	padding-right:30px;



	height:119px;}



.radio td{



	line-height:20px;



	vertical-align:middle;



	color:#6c6868;}



.radio input{



	margin-right:5px;}



.inp{



	width:270px;



	padding-left:10px;



	height:24px;



	margin-top:11px;



	line-height:24px;



	margin-right:10px;



	float:left;}



.sub{



	margin-top:11px;



	background:url(img/podpis.png) no-repeat;



	width:135px;



	height:28px;



	color:#fff;



	font-size:14px;



	font-family:Georgia;



	font-weight:bold;



	border:none;



	cursor:pointer;}



.foot_r{



	width:345px;



	float:right;



	color:#2a2828;
	margin-bottom:20px;
	}



.counters{



	background:url(img/dotted2.png) repeat-x bottom;



    margin-bottom: 10px;
	
	
    padding-bottom: 10px;}



.counters img{
	padding-top: 5px;
}

.rekl, .rekl4{



	background:url(img/i.png) no-repeat left;



	padding-left:14px;



	color:#6c6868;



	margin-top:20px;}



.rekl4{



	margin-top:0px;



	margin-left:5px;}



.rekl2{



	background:url(img/rekl-ramka.png) no-repeat;



	width:130px;



	height:609px;



	padding-top:4px;



	text-align:center;



	margin-left:-5px;



	position:relative;



	margin-bottom:14px;



	margin-top:2px;}



.new3{



	margin-top:17px;



	background:url(img/dotted2.png) repeat-x top;



	padding-bottom:7px;}



.kat{



	position:relative;



	top:-6px;



	padding-bottom:5px;}



.kat a{



	color:#6c6868;



	font-size:9px;



	padding-right:1px;



	text-transform:uppercase;

 
       text-decoration:none;


	background:#fff;}



.else{



	padding-top:6px;



	background:url(img/krug2.png) no-repeat 0 12px;



	padding-left:12px;}



.else a{



	color:#09548f;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-size:14px;



	text-decoration:none;}



.else a:hover{



	text-decoration:underline;}



.new3 .txt2{



	padding-top:4px;}



.prognoz li{



	background:none;}



.prognoz{



	background:url(img/dotted2.png) repeat-x bottom;



	margin-bottom:0px;



	padding-bottom:2px;}



.name2{



	color:#2a2828;



	text-transform:uppercase;



	padding-top:4px;}



.vopros{



	padding-bottom:7px;



	padding-top:9px;



	color:#2a2828;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-weight:bold;}



.otvety{



	color:#6c6868;



	padding-left:5px;



	background:url(img/dotted2.png) repeat-x bottom;



	padding-bottom:8px;



	margin-bottom:8px;



	line-height:20px;}



.otvety input{



	margin-right:6px;}



.sub2{
	margin-left:5px;
	background:url(img/button.png) no-repeat;
	width:95px;
	height:24px;
	color:#fff;
	border:none;
	cursor:pointer;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-style:italic;
	font-weight:bold;
	text-align:center;
	display:block;
	text-decoration:none;
	padding-top:4px;
	float:left;
}

.popup-like{
	background:url(img/button-225x24.png) no-repeat !important;
	width:225px !important;
	margin:10px auto 0px auto  !important;
	float:none;
}


	.expoll_container .sub2{
	float:none;
}


.podmenu a{



	color:#6c6868;



	text-decoration:none;



	font-size:12px;



	line-height:30px;



	word-spacing:normal;	padding-right: 10px;



	font-family:Georgia, "Times New Roman", Times, serif;}



.podmenu a:hover, .podmenu a.active{



	color:#ff1616;}







.podmenu li {



	list-style: none; margin: 0; padding: 0; display: inline;}



.podmenu{



	word-spacing:15px;



        list-style: none;



	border-top:1px solid #ff1616;



	background:#dfdfdf;



	height:30px;



	padding-left:12px;



	margin-top:-17px;



	position:relative;



	margin-bottom:16px;} 



.content{



	width:463px;



	float:left;



	color:#2a2828;



	margin-right:12px;}



.content p{
	/*display:inline-block;*/
	}



.content img{

	

    max-width: 461px; /* значение для моего шаблона */

	

    height: auto;}



.content2{



	width:645px;



	padding-right:140px;}



.content3{



	width:606px;



	float:left;



	color:#2a2828;



	margin-right:12px;}



.column5{



	width:310px;



	float:left;



	margin-right:12px;}



.block11{



	background:url(img/block22.png) repeat-y;



	width:300px;



	margin-left:5px;}



.block22{



	background:url(img/block11.png) no-repeat;}



.block33{



	background:url(img/block33.png)  bottom no-repeat;



	padding:10px;



	padding-top:0px;}



.rekl3{



	background:url(img/rekl-ramka2.png) no-repeat;



	height:259px;



	padding-top:4px;



	margin-bottom:6px;



	text-align:center;}



.rekl3 ul, .rekl2 ul {margin: 0; padding: 0; list-style: none;}



.rekl3 li, .rekl2 li {margin: 0; padding: 0; list-style: none;}



.content h1, .content h2, .content h3{



	color:#09548f;



	font-size:24px;



	font-weight:normal;



	padding-bottom:20px;

	

	line-height:32px;}



.content h2{



	font-size:20px;
        
        margin-top:20px;
   
	padding-bottom:10px;}

	

.content h3{



	font-size:18px;



	padding-bottom:10px;}	



.content ol, .content  ul{



	padding-left:9px;



	list-style:none;



	padding-top:10px;



	padding-bottom:10px;}



.content ol li, .content ul li{



	background:url(img/krug2.png) no-repeat 0 5px;



	padding-bottom:5px;



	padding-left:12px;}



.content p em {

}



.kursiv{



	color:#787575;



	font-size:13px;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-style:italic;



	padding-bottom:12px;



	background:url(img/dotted2.png) bottom repeat-x;



	margin-bottom:22px;}



.list2{



	padding-left:9px;



	list-style:none;



	padding-top:10px;



	padding-bottom:30px;}



.list2 li{



	background:url(img/krug2.png) no-repeat 0 5px;



	padding-bottom:5px;



	padding-left:12px;}





p{

    padding-bottom: 10px;}



.text{



	font-size:14px;



	line-height:170%;}



.mail{



	font-family:Georgia, "Times New Roman", Times, serif;



	font-style:italic;



	color:#09548f;}



.title{



	color:#2a2828;



	font-size:18px;



	text-transform:uppercase;



	margin-bottom:12px;



	padding-bottom:4px;



	border-bottom:3px solid #2a2828;



	font-weight:bold;



	letter-spacing:2px;}



.txt5{



	background:url(img/dotted2.png) bottom repeat-x;



	padding-bottom:12px;}



.txt5 p {



	padding: inherit;



	margin:inherit;



	font-size:inherit;



	line-height: inherit;



	font-family:inherit;



	}



	



.rating-item{



	background:url(img/dotted2.png) bottom repeat-x;



	padding-bottom:15px;



	padding-top:12px;

	

	font-size:11px;}



.item{



	padding-bottom:15px;



	color:#09548f;



	font-size:20px;



	font-family:Georgia, "Times New Roman", Times, serif;}



.rt1{



	line-height:16px;



	color:#b9b3b3;



	font-size:9px;



	width:183px;



	float:left;



	margin-right:10px;
	
	padding-left:24px;



	text-transform:uppercase;}



.rt2{



	width:120px;



	float:left;



	line-height:16px;}



.rt2 .rt{



	float:none;



	background:url(img/zirka12.png) repeat-x;



	width:60px;



	height:11px;



	margin-top:3px;



	margin-bottom:2px;}



.rt2 .rt-on{



	background:url(img/zirka1.png) repeat-x;



	height:11px;}



.rt3{



	width:77px;



	float:left;

    	

	padding-bottom: 0px !important;

    

	padding-left: 0px !important;

    

	padding-top: 0px !important;}



.rt3 li{



	background:url(img/tire.png) no-repeat 0 7px !important; 



	padding-left:10px !important;



	list-style:none !important;

	

	padding-bottom:0px !important;}



.rt3 li a{



	color:#09548f;;



	line-height:17px;}



.kursiv2{



	padding-top:2px;



	color:#6c6868;



	font-size:12px;



	font-style:italic;



	font-family:Georgia, "Times New Roman", Times, serif;}



.all2{



	margin-top:7px;



	text-align:left;}



.all2 a{



	background:url(img/arr.png) right no-repeat;



	padding-right:14px;



	line-height:10px;



	color:#2a2828;}



.pages{



	padding-top:35px;}



.prev, .next{



	text-decoration:none;



	background:#c0c0c0;



	font-size:12px;



	line-height:20px;



	color:#fff;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-weight:bold;



	font-style:italic;



	float:left;



	display:block;



	padding-left:5px;



	padding-right:5px;



	height:20px;}



.next{



	background:#2a2828;}



.pages2{



	float:left;



	padding-left:20px;



	padding-right:20px;



	color:#dbdbdb;



	font-size:14px;



	word-spacing:0px;}



.pages2 a{



	line-height:16px;



	font-size:14px;



	text-decoration:none;



	color:#09548f;}



.pages2 .on{



	color:#2a2828;



	font-size:18px;}



.grey{



	color:#908b8b;}



	



.grey a{



    text-decoration: none;



	color:#908b8b;}



.grey2{



	color:#6c6868;}



.tabl{



	font-size:12px;



	vertical-align:top;}



.tabl td{



	vertical-align:top;



	padding-bottom:8px;}



.title2, .title3{



	font-size:12px;



	color:#2a2828;



	padding-bottom:4px;



	padding-top:15px;



	letter-spacing:1px;



	font-weight:bold;



	text-transform:uppercase;



	border-bottom:3px solid #2a2828;



	margin-bottom:5px;}



.title3{



	color:#949393;



	border-color:#949393;}



.review{



	background:url(img/dotted2.png) bottom repeat-x;



	padding-bottom:14px;



	padding-top:5px;}



.review2{



	padding-bottom:6px;



	color:#b9b3b3;



	font-size:9px;



	word-spacing:4px;}



.review2 a{



	word-spacing:normal;



	text-decoration:none;



	font-family:Georgia, "Times New Roman", Times, serif;



	color:#09548f;



	font-size:14px;}



.review2 span{



	font-family:Georgia, "Times New Roman", Times, serif;



	font-size:14px;}



.form td{



	padding-bottom:15px;



	vertical-align:top;



	color:#6c6868;



	font-size:14px;



	font-family:Georgia, "Times New Roman", Times, serif;}



.inp2{



	width:200px;



	padding-left:8px;



	height:22px;



	line-height:22px;}



.sel{



	width:208px;



	height:24px;}



.area{



	width:350px;



	height:100px;



	overflow:hidden;}



.sub3{



	background:url(img/button.png) no-repeat;



	width:95px;



	height:24px;



	cursor:pointer;



	border:none;



	color:#fff;



	font-size:12px;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-style:italic;



	font-weight:bold;



	margin-left:108px;



	margin-top:10px;}



.new4, .new5{



	padding-bottom:20px;



	padding-top:20px;



	background:url(img/dotted2.png) bottom repeat-x;}



.new4 .name{



	font-size:20px;



	font-weight:normal;}



.new4 .txt2{



	padding-top:4px;}



.new4 .else{



	margin-left:110px;}



.new4 .date{



	padding-top:5px;}



.new4 .else a{



	font-size:12px;



	padding-top:3px;}



.new5 .name{



	font-weight:normal;



	font-size:17px;}



.new5 .date{



	padding-top:4px;}



.copy{
	color:#b9b3b3;
	float:right;
	}



.copy span{



	font-family:"Times New Roman", Times, serif;



	color:#09548f;



	font-size:13px;}



.forum{



	width:190px;



	color:#6c6868;



	text-align:right;



	float:right;}



.forum a{



	background:url(img/chat3.png) no-repeat;



	padding-left:20px;



	color:#09548f;}



h1.pd{



	padding-bottom:5px;}



.f12{



	font-size:12px;}



.knopki img{



	margin-top:6px;



	margin-right:10px;}



.knopki{



	padding-top:5px;



	padding-bottom:25px;}



.else2 .txt2 a{



	font-size:14px;



	font-weight:bold;}



.else2 .txt2{



	padding-bottom:5px;}



.f14, .f14 a{



	font-size:14px;}



.graf{



	margin-left:135px;



	color:#6c6868;



	padding-top:4px;}



.link{



	font-size:12px;



	color:#09548f;}



.pic2{



	margin-right:12px;



	float:left;



	border:1px solid #bcbcbc;}



.smotret{



	background:url(img/button2.png) no-repeat;



	width:229px;



	height:24px;



	text-align:center;



	line-height:24px;



	display:block;



	text-decoration:none;



	color:#fff;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-size:12px;



	font-style:italic;



	font-weight:bold;



	margin-bottom:10px;}



.f13{



	font-size:13px;



	line-height:17px;}



.jurnal2{



	margin-right:15px;



	float:left;}

	

.alignleft{



	margin-right:15px;



	float:left;}



.kursiv .download{



	margin-left:228px;}



.epigraf{



	padding-bottom:20px;



	color:#6c6868;



	padding-left:190px;



	font-size:13px;



	font-style:italic;



	font-family:Georgia, "Times New Roman", Times, serif;



	background:url(img/dotted2.png) bottom repeat-x;



	margin-bottom:20px;}



.name3{



	color:#2a2828;



	font-size:13px;



	font-family:Georgia, "Times New Roman", Times, serif;



	line-height:17px;}



.kat2{



	color:#6c6868;



	font-size:13px;



	padding-bottom:20px;}



.kat2 span{



	color:#b9b3b3;



	font-size:10px;}



.kat2 span.romb{



	font-size:13px;



	color:#2a2828;}



.title4{



	padding-bottom:20px;



	color:#ff1616;



	font-size:12px;



	text-align:center;



	letter-spacing:1px;



	font-weight:bold;



	text-transform:uppercase;}



.panel{



	position:relative;



	margin-top:-12px;



	background:#dfdede;



	padding:20px;



	padding-top:17px;



	height:12px;



	margin-bottom:20px;}



.exit{



	background:url(img/exit.png) no-repeat right;



	float:right;



	padding-right:12px;



	color:#2a2828;}



.prof{



	float:left;



	padding-right:25px;



	color:#989191;}



.f11{



	font-size:11px;}



.repa{



	width:135px;



	margin-bottom:3px;



	margin-top:2px;



	background:#b9b3b3;



	height:3px;}



.repa-on{



	background:#2a2828;



	height:3px;}



.plus{



    margin-top: 10px;



    



	color:#ff1616;}



.plus a{



    text-transform:none !important;



	



	text-decoration:underline;



	color:#6c6868;}



.title5{



	color:#2a2828;



	font-size:20px;



	font-family:Georgia, "Times New Roman", Times, serif;



	padding-bottom:5px;}



.na-forume{



	background:url(img/dotted2.png) bottom repeat-x;



	padding-bottom:12px;



	padding-top:0px;}



.na-forume li{



	padding-bottom:2px;



	padding-top:1px;



	background:none;}



.question{



	font-size:18px;



	color:#6c6868;



	font-family:Georgia, "Times New Roman", Times, serif;



	padding-bottom:6px;}



.question a{



	text-decoration:none;}



.question a:hover{



	text-decoration:underline;}



.qwe{



	padding-top:6px;



	color:#6c6868;



	font-size:12px;}



.quest{



	background:url(img/dotted2.png) bottom repeat-x;



	padding-bottom:18px;



	padding-top:14px;}



.sub4{



	background:url(img/button.png) no-repeat;



	width:95px;



	height:24px;



	text-align:center;



	line-height:24px;



	color:#fff;



	font-size:12px;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-weight:bold;



	display:block;



	font-style:italic;



	margin-top:12px;



	margin-bottom:15px;



	text-decoration:none;}



.forum2 th{



	text-transform:uppercase;



	padding-left:10px;



	background:#dfdede;



	padding-bottom:14px;



	padding-top:14px;



	font-weight:normal;



	color:#6c6868;}



a.new-topic{



	display:block;



	margin-left:20px;



	background:url(img/button3.png) no-repeat;



	width:163px;



	height:24px;



	text-align:center;



	font-size:12px;



	font-weight:bold;



	font-style:italic;



	font-family:Georgia, "Times New Roman", Times, serif;



	line-height:24px;



	color:#fff;



	text-decoration:none;



	text-transform:none;



	float:left;}



a.new-topic:hover {



    color:#fff;



	



	}



.forum2 td{



	text-align:center;



	vertical-align:top;



	color:#6c6868;



	padding-bottom:8px;



	background:url(img/dotted2.png) bottom repeat-x;



	padding-top:7px;}



td.new-topic{



	text-align:left;}



td.new-topic a{



	color:#09548f;



	text-decoration:none;



	padding-left:20px;



	background:url(img/krug.png) no-repeat 7px 4px;



	display:block;



	font-size:12px;}



.pdl{



	padding-top:5px;



	padding-left:1px;



	float:left;}



.zzz{



	margin-bottom:0px;}



.forum2 td.topic a{



	text-decoration:none;



	font-family:Georgia;



	font-size:12px;}



.forum2 td.topic{



	padding-left:7px;



	text-align:left;}



.forum2 td.topics{



	color:#2a2828;



	line-height:20px;



	text-align:left;



	border-bottom:2px solid #2a2828;



	text-transform:uppercase;



	font-size:12px;



	color:#2a2828;



	padding-left:7px;



	background:none;



	font-family:Georgia, "Times New Roman", Times, serif;}



.zakl{



	background:url(img/dotted2.png) bottom repeat-x;



	padding-bottom:15px;



	padding-top:5px;



	word-spacing:20px;}



.zakl span{



	word-spacing:normal;}



.zakl span img{



	margin-right:3px;}



.zakl a{



    text-decoration:underline;



	color:#6c6868;}



.user{



	width:137px;



	float:left;



	color:#989191;



	font-size:9px;



	line-height:10px;



	margin-right:20px;}



.username{



	text-decoration:none;



	font-family:Georgia;



	font-size:12px;



	font-weight:bold;



	line-height:18px;}



.black{



	color:#000;}



.user .plus{



	font-size:11px;}



.answer{



	padding-bottom:25px;



	padding-top:20px;



	background:url(img/dotted2.png) bottom repeat-x;}



.answer2{



	color:#2a2828;



	font-size:12px;



	line-height:16px;



	margin-left:157px;}



.ataches li{



	list-style:none;



	padding-bottom:7px;



	background:url(img/list.png) no-repeat 0 3px;



	padding-left:13px;}



.ataches{



	padding-top:2px;



	padding-bottom:5px;}



.ataches a{



	font-family:"Times New Roman", Times, serif;



	font-size:13px;}



.quot{



	margin-top:5px;



	color:#6c6868;



	padding:10px;



	margin-bottom:9px;



	background:#f0f0f0;



	border:1px solid #d9d9d9;}



.padl{



	padding-left:25px;



	margin-bottom:9px;}



.editor{



	padding-bottom:17px;



	padding-top:17px;}



.label{



	color:#6c6868;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-size:14px;



    



	position: relative;



	



	bottom: 106px;



}



.file{



	height:23px;



	width:260px;



	margin-top:10px;}



.send{	



	background:url(img/button3.png) no-repeat;



	width:163px;



	height:24px;



	cursor:pointer;



	border:none;



	color:#fff;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-size:12px;



	font-weight:bold;



	font-style:italic;



	margin-top:3px;}



.options{



	width:50%;



	float:left;



	line-height:20px;



	padding-top:3px;}



.options img{



	margin-right:3px;}



.zag2{



	font-family:Georgia, "Times New Roman", Times, serif;



	color:#2a2828;



	padding-bottom:4px;



	font-weight:bold;}



.options2{



	float:left;



	line-height:17px;



	width:49%;}



.options2 a{



	color:#6c6868;



	background:url(img/tire.png) no-repeat 0 6px;



	padding-left:9px;}



.forum3{



	font-size:12px;



	color:#6c6868;}



.forum3 th{



	color:#6c6868;



	font-weight:normal;



	font-size:11px;



	text-transform:uppercase;



	padding-top:18px;



	padding-bottom:18px;



	background:#dfdede url(img/dotted2.png) repeat-x;}



.forum3 td{



	text-align:center;



	vertical-align:top;



	padding-top:8px;



	padding-bottom:8px;



	background:url(img/dotted2.png) repeat-x bottom;}



.forum3 td.left, .forum3 th.left{



	text-align:left;}



.forum3 td.left a{



	font-size:18px;



	font-family:Georgia, "Times New Roman", Times, serif;



	text-decoration:none;}



.forum3 td.left a:hover{



	text-decoration:underline;}



.forum3 td.num{



	padding-top:12px;}



.jurn{



	padding-bottom:15px;



	padding-top:20px;



	background:url(img/dotted2.png) bottom repeat-x;}



.jurn .pic2{



	border:none;}



.jurn .all2 a{



	color:#09548f;}



.obkl{



	width:230px;



	float:left;}



.jurn .f12{



	margin-left:230px;}



.f10{



	font-size:10px;}



.forum3 td.f14 a{



	font-size:14px;}



.forum3 td.num2{



	padding-top:10px;}



.katalog sup{



	color:#b9b3b3;}



.katalog{



	font-size:12px;



	padding-bottom:22px;}



.kat-name{



	font-size:14px;



	color:#2a2828;



	font-weight:bold;



	padding-bottom:3px;



	padding-top:15px;}



.rank{



	height:4px;



	background:#b9b3b3;



	margin-bottom:15px;



	margin-top:2px;}



.rank-on{



	height:4px;



	background:#ff1616;}	.activ_menu a{	background:url(img/menuon.png) repeat-x;;}.podmenu_activ{	color:#ff1616!important;}



.reklup{

	background:url(img/i.png) no-repeat left;

	padding-left:14px;

	color:#6c6868;

	margin:0 auto;

	width: 918px;}	

.rekl940{

	/*background:url(img/rekl940.png) no-repeat;*/

	width:940px;

	height:70px;

	padding-top:4px;

	text-align:center;

	position:relative;

	margin-top:2px;

	margin:0 auto;}	



.rekl940x50{

	/*background:url(img/rekl940x50.png) no-repeat;*/

	width:940px;

	height:50px;

	padding-top:4px;

	text-align:center;

	position:relative;

	margin-top:2px;

	margin:0 auto;

	padding-bottom:15px;}	



.banr {

    padding-top: 15px;

    text-align: center;

}

.rank-logo {
    background: none repeat scroll 0 0 #FFFFFF;
	
    border: 1px solid #E4E4E4;
	
    min-height: 64px;
    
	padding-bottom: 10px;
    
	padding-top: 10px;
    
	text-align: center;
    
	width: 100%;
}

.item a {
	
	text-decoration:none;}
	
h1.tl{
    color:#2a2828;
	font-size:18px;
	text-transform:uppercase;
	margin-bottom:12px;
	padding-bottom:4px;
	border-bottom:3px solid #2a2828;
	font-weight:bold;
	letter-spacing:2px;
	font-family:Tahoma;}

h2.name{
     font-size: 20px;
     font-weight: normal;
	 margin: 0;
	padding: 0;
	display:inline;}
	
table.table5 {
border: 0px solid #336699 !important;
padding: 0 !important;
margin: 0 !important;
background-color: #EFEFEF !important;
}
table.table5 td {
padding: 5px !important;
text-align: left !important;
}
.table5 a {
font-size: 12px !important;
}
.table5 .text {
color: #000000 !important;
font-size: 10px !important;
padding: 3px 0 !important;
line-height: normal !important;
}
.table5 .host {
color: #000000;
font-weight: normal;
font-size: 10px !important;
padding: 3px 0 !important;
line-height: normal !important;
}
.table5 p {
margin: 0 !important;
}


table.table6 {
border: 0px solid #336699 !important;
padding: 0 !important;
margin: 0 !important;
font-size: 10px !important;
background-color: #ffffff !important;
}
table.table6 td {
padding: 5px !important;
text-align: left !important;
}
.table6 a {
font-size: 12px !important;
}
.table6 .text {
color: #000000 !important;
font-size: 10px !important;
padding: 3px 0 !important;
line-height: normal !important;
}
.table6 .host {
color: #000000;
font-weight: normal;
font-size: 10px !important;
padding: 3px 0 !important;
line-height: normal !important;
}
.table6 p {
margin: 0 !important;
}

.translate{
	width: 213px; 
	float: right; 
	margin-top: -32px;}
	
.translate a{
	margin:0 5px 0 1px;}
	
#context {
    font-size: 0.9em !important;
}

#ft_direct1 {
    font-size: 1em !important;}

.ft * {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    clear: none !important;
    clip: auto !important;
    cursor: auto !important;
    float: none !important;
    font-size: 100% !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    height: auto !important;
    letter-spacing: normal !important;
    line-height: normal !important;
    margin: 0 !important;
    overflow: visible !important;
    padding: 0 !important;
    position: static !important;
    text-align: left !important;
    text-decoration: none !important;
    text-indent: 0 !important;
    text-transform: none !important;
    vertical-align: baseline !important;
    visibility: visible !important;
    white-space: normal !important;
    width: auto !important;
    word-spacing: normal !important;
    z-index: auto !important;
}
.ft a, .ft a * {
    cursor: pointer !important;
    text-decoration: underline !important;
}
.ft b {
    font-weight: bold !important;
}
.ft a, .ft b, .ft em, .ft ins, .ft span {
    display: inline !important;
}
.ft div, .ft img, .ft object, .ft embed {
    display: block !important;
}
.ft table {
    border-collapse: collapse !important;
    display: table !important;
    table-layout: auto !important;
    width: 100% !important;
}
.ft tbody {
    display: table-row-group !important;
}
.ft tr {
    display: table-row !important;
}
.ft th, .ft td {
    display: table-cell !important;
    vertical-align: top !important;
}
.ft ul, .ft li {
    display: list-item !important;
    list-style: none outside none !important;
}
.ft wbr {
    display: inline-block !important;
}
.ft .ft_ya em {
    color: red !important;
}
.ft .ft_black, .ft .ft_black a {
    color: black !important;
}
.ft .ft_white, .ft .ft_white a {
    color: white !important;
}
.ft .ft_all a, .ft .ft_how a {
    white-space: nowrap !important;
}
.ft .ft_ads * {
    line-height: 1.2em !important;
}
.ft_nf .ft_ad span, .ft_nf .ft_ad span a, .ft_nf .ft_icon {
    left: 0 !important;
    top: 0 !important;
}
.ft_nf .ft_ad span, .ft_nf .ft_ad span a {
    position: relative !important;
}
.ft_nf .ft_ad span a {
    padding-left: 16px !important;
}
.ft_nf .ft_icon {
    height: 16px !important;
    width: 16px !important;
}
.ft_nf .ft_icon, .ft_nf .ft_icon em {
    position: absolute !important;
}
.ft_nf .ft_icon em {
    height: 1px !important;
    overflow: hidden !important;
}
.ft_f .ft_ads .ft_ad .ft_icon {
    display: none !important;
}
* html .ft_nf {
    height: 1% !important;
}
* html .ft_nf, * html .ft_nf * {
    left: 0 !important;
    position: relative !important;
    top: 0 !important;
}
.ft_nf .ft_h div {
    padding: 0.25em 0 !important;
	font-size: 10px !important;
}
.ft_nf .ft_h span {
    padding: 0.25em 0.5em !important;
}
.ft_vertical .ft_h2 {
    padding-bottom: 0.3em !important;
}
.ft_vertical .ft_h2 div {
    margin: 0 0 0.2em 0.5em !important;
}
.ft_flat .ft_h, .ft_horizontal .ft_h, .ft_auto .ft_h {
    overflow: hidden !important;
    width: 100% !important;
}
.ft_flat .ft_ya, .ft_horizontal .ft_ya, .ft_auto .ft_ya, .ft_auto .ft_how {
    float: left !important;
}
.ft_flat .ft_how, .ft_horizontal .ft_how, .ft_auto .ft_x, .ft_flat .ft_all, .ft_horizontal .ft_all, .ft_auto .ft_all {
    float: right !important;
}
.ft_auto .ft_h a, .ft_auto .ft_h u {
    font-size: 90% !important;
}
.ft_auto .ft_ads .ad-link a {
    font-size: 110% !important;
}
.ft_auto .ft_h div {
    padding: 0.25em 0.5em !important;
}
.ft_auto .ft_h span {
    padding: 0 !important;
}
.ft_nf .ft_ads .ad-link img, .ft_f .ft_ads .ad-link img {
    display: inline !important;
    margin-right: 4px !important;
    position: absolute !important;
    vertical-align: top !important;
    visibility: hidden !important;
}
.ft_nf .ft_ads .ad-link .ft_favicon, .ft_f .ft_ads .ad-link .ft_favicon {
    position: static !important;
    visibility: visible !important;
}
.ft_600x60 .ft_hb .ad-link .ft_favicon, .ft_600x60 .ft_ht .ad-link .ft_favicon, .ft_468x60 .ft_hb .ad-link .ft_favicon, .ft_468x60 .ft_ht .ad-link .ft_favicon {
    margin-bottom: -2px !important;
    margin-top: -2px !important;
}
.ft_nf .ft_ads .ad-link img.ft_favicon, .ft_f .ft_ads .ad-link img.ft_favicon, .ft_nf .ft_ads .ad-link img.ft_favicon1x1, .ft_f .ft_ads .ad-link img.ft_favicon1x1 {
}
.ft_auto .ft_x span u {
    background-position: 100% 50% !important;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
    padding-right: 16px !important;
    position: static !important;
    text-decoration: underline !important;
}
.ft_nf .ft_ads .ft_ad {
    padding: 0.5em !important;
}
.ft_nf .ft_ads .ad-link, .ft_nf .ft_ads .ft_title {
    font-size: 88% !important;
}
.ft_nf .ft_ads .ad-link a, .ft_nf .ft_ads .ft_title a {
    font-weight: bold !important;
}
.ft_nf .ft_ads .ft_ad span {
    display: block !important;
}
.ft_vertical .ft_ads .ad-link, .ft_vertical .ft_ads .ft_title, .ft_horizontal .ft_ads .ad-link, .ft_horizontal .ft_ads .ft_title {
    margin-bottom: 0.2em !important;
}
.ft_horizontal .ft_nbsp div, .ft_auto .ft_nbsp div {
    width: 0.5em !important;
}
.ft_flat .ft_ads .ad-link {
    margin-right: 0.5em !important;
}
.ft_flat .ft_ads .ft_ad div {
    display: inline !important;
}
.ft_horizontal .ft_ads1 .ft_item, .ft_auto .ft_ads1 .ft_item {
    width: 100% !important;
}
.ft_horizontal .ft_ads2 .ft_item, .ft_auto .ft_ads2 .ft_item {
    width: 50% !important;
}
.ft_horizontal .ft_ads3 .ft_item, .ft_auto .ft_ads3 .ft_item {
    width: 33% !important;
}
.ft_horizontal .ft_ads4 .ft_item {
    width: 25% !important;
}
.ft_vertical .ft_ba .ft_item, .ft_flat .ft_ba .ft_item {
    margin-bottom: 0.5em !important;
}
.ft_vertical .ft_ba .ft_item, .ft_vertical .ft_bb .ft_ads, .ft_vertical .ft_bb .ft_h2, .ft_flat .ft_ba .ft_item, .ft_flat .ft_bb .ft_ads, .ft_horizontal .ft_ba .ft_item, .ft_horizontal .ft_bb .ft_ads, .ft_auto {
    border-style: none !important;
    border-width: 1px !important;
}
.ft_vertical .ft_bb .ft_ads {
    border-bottom-width: 0 !important;
}
.ft_vertical .ft_bb .ft_h2 {
    border-top-width: 0 !important;
}
.ft_f {
    border-style: none !important;
    border-width: 1px !important;
    left: 0 !important;
    overflow: hidden !important;
    position: relative !important;
    top: 0 !important;
}
.ft_f * {
    font-family: arial,sans-serif !important;
}
.ft_f .ft_h, .ft_f .ft_ads {
    overflow: hidden !important;
}
.ft_f .ft_h div {
    font-size: 11px !important;
}
.ft_f .ft_h span {
    margin: 0 5px !important;
}
.ft_f .ft_h a {
    line-height: 18px !important;
}
.ft_f .ft_ads .ft_ad {
    padding: 2px 5px 5px !important;
}
.ft_f .ft_ads .ad-link {
    margin-bottom: 0.2em !important;
}
.ft_f .ft_ads .ad-link a {
    font-weight: bold !important;
}
.ft_f .ft_h span, .ft_f .ft_ads .ft_ad span {
    display: block !important;
}
.ft_s1 .ft_ads {
    font-size: 11px !important;
}
.ft_s1 .ad-link, .ft_s2 .ft_ads {
    font-size: 12px !important;
}
.ft_s2 .ad-link, .ft_s3 .ft_ads {
    font-size: 14px !important;
}
.ft_s3 .ad-link, .ft_s4 .ft_ads {
    font-size: 16px !important;
}
.ft_s4 .ad-link {
    font-size: 18px !important;
}
.ft_dv .ft_item {
    display: block !important;
}
.ft_dv .ft_item, .ft_dh .ft_ads1 .ft_item {
    width: 100% !important;
}
.ft_dh .ft_item {
    display: inline !important;
    float: left !important;
    overflow: hidden !important;
}
.ft_dh .ft_ads2 .ft_item {
    width: 50% !important;
}
.ft_dh .ft_ads3 .ft_item {
    width: 33% !important;
}
.ft_ht .ft_h, .ft_hb .ft_h, .ft_htb .ft_h {
    width: 100% !important;
}
.ft_hr .ft_h, .ft_hl .ft_h {
    height: 100% !important;
    width: 100px !important;
}
.ft_htb .ft_h, .ft_htr .ft_h {
    height: 18px !important;
}
.ft_hr .ft_h, .ft_hr .ft_ads, .ft_hl .ft_h, .ft_hl .ft_ads, .ft_htr .ft_ads {
    position: absolute !important;

    top: 0 !important;
}
.ft_hr .ft_h, .ft_hl .ft_ads {
    right: 0 !important;
}
.ft_hl .ft_h, .ft_hr .ft_ads, .ft_htr .ft_ads {
    left: 0 !important;
}
.ft_htr .ft_h {
    float: right !important;
}
.ft_dv .ft_ht .ft_h, .ft_dv .ft_hb .ft_h {
    height: 36px !important;
}
.ft_dh .ft_ht .ft_h, .ft_dh .ft_hb .ft_h {
    height: 18px !important;
}
.ft_dh .ft_ht .ft_ya, .ft_dh .ft_hb .ft_ya {
    float: left !important;
}
.ft_dh .ft_ht .ft_all, .ft_dh .ft_hb .ft_all {
    float: right !important;
}
.ft_dh .ft_ht .ft_how span, .ft_dh .ft_hb .ft_how span {
    text-align: center !important;
}
.ft_dh .ft_hr .ft_all, .ft_dh .ft_hl .ft_all {
    bottom: 0 !important;
    left: auto !important;
    position: absolute !important;
}
.ft_hc .ft_ht .ft_h, .ft_hc .ft_hb .ft_h {
    height: 18px !important;
}
.ft_hc .ft_ht .ft_ya, .ft_hc .ft_hb .ft_ya {
    float: left !important;
}
.ft_hc .ft_ht .ft_all, .ft_hc .ft_hb .ft_all {
    float: right !important;
}
.ft_120x240 .ft_all, .ft_125x125 .ft_all, .ft_125x125 .ft_ads .ft_ad span, .ft_234x60 .ft_all, .ft_234x60 .ft_ads .ft_ad span {
    display: none !important;
}
.ft_120x240 .ft_ht .ft_h, .ft_120x240 .ft_hb .ft_h, .ft_125x125 .ft_ht .ft_h, .ft_125x125 .ft_hb .ft_h {
    height: 18px !important;
}
.ft_600x60 .ft_ht .ft_ad div, .ft_600x60 .ft_hb .ft_ad div, .ft_468x60 .ft_ht .ft_ad div, .ft_468x60 .ft_hb .ft_ad div {
    display: inline !important;
}
.ft_468x60 .ft_has_warnings .ft_ads *, .ft_600x60 .ft_has_warnings .ft_ads *, .ft_728x90 .ft_has_warnings .ft_ads *, .ft_600x60 .ft_hb .ft_ads *, .ft_600x60 .ft_ht .ft_ads *, .ft_468x60 .ft_hb .ft_ads *, .ft_468x60 .ft_ht .ft_ads * {
    line-height: 1em !important;
}
.ft_600x60 .ft_has_warnings .ft_ads, .ft_180x150 .ft_has_warnings .ft_ads, .ft_728x90 .ft_has_warnings .ft_ads {
    font-size: 11px !important;
}
.ft_600x60 .ft_has_warnings .ad-link, .ft_180x150 .ft_has_warnings .ad-link, .ft_728x90 .ft_has_warnings .ad-link {
    font-size: 12px !important;
}
.ft_600x60 .ft_ht .ad-link, .ft_600x60 .ft_hb .ad-link, .ft_468x60 .ft_ht .ad-link, .ft_468x60 .ft_hb .ad-link {
    margin-right: 0.5em !important;
}
.ft_234x60 .ft_ads .ad-link {
    padding-right: 90px !important;
}
.ft_180x150 .ft_no_warnings .ft_ads .ft_ad {
    padding-bottom: 3px !important;
}
.ft_b200x300 {
    width: 200px !important;
}
.ft_b240x400 {
    width: 240px !important;
}
.ft_b200x300 object, .ft_b200x300 embed, .ft_b200x300 img {
    height: 300px !important;
    width: 200px !important;
}
.ft_b240x400 object, .ft_b240x400 embed, .ft_b240x400 img {
    height: 400px !important;
    width: 240px !important;
}
.ft_b2x240x400 object, .ft_b2x240x400 embed, .ft_b2x240x400 img {
    height: 270px !important;
    width: 240px !important;
}
.ft_b2x240x400 .ft_1x1 {
    position: absolute !important;
}
.ft_b2x200x300 object, .ft_b2x200x300 embed, .ft_b2x200x300 img {
    height: 200px !important;
    width: 200px !important;
}
.ft_b2x200x300 .ft_1x1 {
    position: absolute !important;
}
.ft_banner img.ft_1x1 {
    height: 1px !important;
    width: 1px !important;
}
.ft .ft_hidden {
    display: none !important;
}
.ft .ft_ads .ft_ad div.ft_warning-c {
    display: block !important;
    margin: 3px 0 0 !important;
}
.ft .ft_ads .ft_ad div.ft_warning {
    display: inline-block !important;
    font-size: 9px !important;
    padding: 1px 2px 2px !important;
}
.ft .ft_ads .ft_ad div.ft_warning {
}
html body .ft .ft_hide_urls .url {
    display: none !important;
}
.ft_nf .ft_title_normal .ft_ads .ad-link a {
    font-weight: normal !important;
}
.ft_nf .ft_ad span.url {
    font-size: 87% !important;
}
.ft_nf .ft_title_107 .ft_ads .ad-link {
    font-size: 107% !important;
}
.ft_nf .ft_title_125 .ft_ads .ad-link {
    font-size: 125% !important;
}
.ft_nf .ft_title_123 .ft_ads .ad-link {
    font-size: 123% !important;
}
.ft_nf .ft_title_135 .ft_ads .ad-link {
    font-size: 135% !important;

}
.ft_nf .ft_title_116 .ft_ads .ad-link {
    font-size: 116% !important;
}
.ft_nf .ft_title_128 .ft_ads .ad-link {
    font-size: 128% !important;
}
.ft_nf .ft_title_130 .ft_ads .ad-link {
    font-size: 130% !important;
}

#ft_direct1 .ft_item {
    background-color: #F7F7F7 !important;
}
#ft_direct1 .ft_item {
    border-color: #CCCCCC !important;
    border-style: solid !important;
}
#ft_direct1 .ft_ad div a {
    color: #007FFF !important;
}
#ft_direct1 .ft_ad div {
    color: #666666 !important;
	font-size: 11px !important;
}
#ft_direct1 .ft_ad span, #ft_direct1 .ft_ad span a {
    color: #000000 !important;
}
#ft_direct1 .ft_all a, #ft_direct1 .ft_how a {
    color: #007FFF !important;
}
#ft_direct1 .ft_ad div a:hover {
    color: #0066FF !important;
}
#ft_direct1 .ft_icon em {
    background-color: #000000 !important;
}
#ft_direct1 {
    font-size: 1em !important;
}

.wp-caption {
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    margin: 10px 0;
    padding-top: 4px;
    text-align: center;
}

.wp-caption img {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.wp-caption-dd {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

#ctrlcopy {
    color: transparent;
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

/*Klaxon edits*/

.column23{
width:469px;
float:left;
}

.verticalWrapper{width:779px; margin-bottom:30px;float:right;}
.right{float:right}
table td{vertical-align:middle;}

.datedList{
	border-collapse:collapse;
	width:100%;
	margin-bottom:10px;
}

	.datedList.type2{
	margin-top:7px;	
	}

	.datedList td{
		vertical-align:top;
		padding-bottom:12px;
		padding-top:7px;	
		background: url("img/dotted2.png") repeat-x scroll center bottom transparent;
	}
		.datedList.type2 td{
		padding-top:5px;
		padding-bottom:10px;
		}

	.datedList a{
		color:#09548f;
		font-family:Georgia;
		font-size:14px;	
	}
	
		.datedList.type2 td a{		
		font-size:14px;
		font-family:'Times New Roman';
		}

	.datedList .date{
		padding-top:10px;
		padding-right:10px;
		font-size:10px;
		width:40px;
		color: #ff1616;		
	}
	
	.datedList.type2 .date{
		color: #666666;		
		font-size:9px;
		padding-top:9px;
		width:70px;
	}
	
.verticalWrapper h1{
	text-align:center;
	font-family:Georgia;
	font-weight:normal;
	font-size:13px;
	text-transform:uppercase;
	color:#000;
	display:block;
	background: url("images/bg-horizontalHeaderDiv.gif") center left repeat-x;
}

.verticalWrapper h1 span{
	background:#fff;
	padding:0 15px;
}

.forTraderArea{
	width:100%;
	float:none;
}

.forTraderItem{
	width:315px; 
	float:left;
	margin:15px 20px 15px 0;	
	max-height:65px;
}

.forTraderItemInter{
	width:290px; 
	float:left;
	margin:15px 22px 35px 0;	
	max-height:65px;
}

.forTraderItem img{border:none; padding:3px 0}
.imagePlaceholder59{display:block; width:59px; height:59px; background: #ebebeb; float:left; margin-right:10px}

.column4right{



	width:143px;



	float:right;



	position:relative;



	z-index:5;}
	
.article-info {
    display: inline-table;
    height: 24px;
    margin-bottom: 16px;
}

.article-info a{
    color: #787878;
    font-size: 0.9em;
    margin-right: 0px;
    white-space: nowrap;
}
.article-info .cart {
    background: none repeat scroll 0 0 #8C8C8C;
    border: 0 none;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 0.8em;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    padding: 0 15px;
    position: relative;
    text-decoration: none;
}
.article-info .cart:hover {
    background: none repeat scroll 0 0 #FA2800;
}
.article-info .cart .l, .article-info .cart .r {
    background: url("images/sprite-cart-arrow.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 4px;
    z-index: 1;
}
.article-info .cart .l {
    background-position: right center;
    left: 0;
}
.article-info .cart .r {
    background-position: left center;
    right: 0;
}
.article-info .meta {
    float: right;
   
}
.article-info .meta {
    margin-top: -5px;
}

.article-info .meta {
    margin-top: 0px;
}
.meta {
    color: #787878;
    display: inline-block;
    font-size: 0.9em;
    height: 21px;
    line-height: 1em;
}

.meta a, .meta span {
    color: #787878;
    font-size: 0.9em;
    margin-right: 0px;
    white-space: nowrap;
}

.meta .views i {
    background-position: 0 -20px;
}
.meta i {
    display: block;
    float: left;
    height: 18px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
}

.meta b {
    float: left;
    font-weight: normal;
    position: relative;
    top: 4px;
}

.meta .comments i {
    background-position: -18px -20px;
    position: relative;
    top: 3px;
}

.meta .separator {
    background: url("images/chanels-separator-bg.png") repeat-y scroll center top transparent;
    height: 21px;
    overflow: hidden;
    position: relative;
    top: 2px;
    width: 1px;
}

.meta .date i {
    background-position: -36px -20px;
    position: relative;
    top: 3px;
}

.authors a{
    color: #787878;
    font-size: 0.9em;
    margin-right: 0px;
    white-space: nowrap;
}


.authors .short {
    display: inline-block;
    height: 32px;
    margin-bottom: 7px;
    position: relative;
    width: 208px;
}

.social-buttons {
    height: 46px;
    margin-bottom: 19px;
    position: relative;
}


.social-buttons span.t {
    background: url("images/separator-h.png") repeat-x scroll 0 0 transparent;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.social-buttons span.b {
    background: url("images/separator-h.png") repeat-x scroll 0 0 transparent;
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}

.social-buttons table {
    position: relative;
    top: 13px;
}

.social-buttons table td.with-padding {
    padding-top: 1px;
}

.new2 {
	padding-bottom: 9px;
	padding-top: 9px;
	color: #6c6868;
	background: url(img/dotted2.png) repeat-x bottom; 
	min-height:50px;}

	.new2 a {
		color: #09548f;
		text-decoration: none; }

		.new2 a:hover { text-decoration: underline; }
		
		
.SEMNT{}

.menu {
	margin-bottom: 10px; 
}

.iA.i01{
	display:inline-block;
	padding:8px 17px 8px 37px;
	box-sizing:border-box;
	vertical-align: middle;
	text-decoration:none;
	color:black;
	background:white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position:relative;
}

.iA.i01:hover{
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	color:red;
}

.iA.i01 + .iA.i01{
	margin-left:5px;
}

.iA.i01 i{
	position:absolute;
	background:url( 'images/icons01.png' );
}

.iA.i01_1 i{
	width:14px;
	height:17px;
	left:15px;
	top:6px;
	background-position:0 0;
}

.iA.i01_1:hover i{
	background-position:0 -25px;
}

.iA.i01_2 i{
	width:13px;
	height:18px;
	left:15px;
	top:6px;
	background-position:-25px 0;
}

.iA.i01_2:hover i{
	background-position:-25px -25px;
}

.iA.i01_3{
	padding-left:40px;
}
.iA.i01_3 i{
	width:17px;
	height:17px;
	left:15px;
	top:6px;
	background-position:-50px 0;
}

.iA.i01_3:hover i{
	background-position:-50px -25px;
}

.iA.i01_4{
	padding-left:40px;
}
.iA.i01_4 i{
	width:19px;
	height:17px;
	left:15px;
	top:6px;
	background-position:-75px 0;
}

.iA.i01_4:hover i{
	background-position:-75px -25px;
}

.iA.i01_5 i{
	width:14px;
	height:14px;
	left:15px;
	top:7px;
	background-position:-100px 0;
}

.iA.i01_5:hover i{
	background-position:-100px -25px;
}

.iA.i01_6 i{
	width:16px;
	height:16px;
	left:15px;
	top:6px;
	background-position:-125px 0;
}

.iA.i01_6:hover i{
	background-position:-125px -25px;
}


/*
.iA.i00{
	display:inline-block;
	height:31px;
	background:url( 'images/btns01.png' );
	vertical-align: middle;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-decoration:none;
	padding:8px 0 0 40px;
	color:black;
}

.iA.i00:hover{
	color:red;
}

.iA.i01{
	width:102px;
	background-position:0 0;
}
.iA.i01:hover{
	background-position:0 -31px;
}

.iA.i02{
	width:120px;
	background-position:-105px 0;
}
.iA.i02:hover{
	background-position:-105px -31px;
}

.iA.i03{
	width:80px;
	background-position:-227px 0;
}
.iA.i03:hover{
	background-position:-227px -31px;
}

.iA.i04{
	width:110px;
	background-position:-309px 0;
}
.iA.i04:hover{
	background-position:-309px -31px;
}

.iA.i05{
	width:115px;
	background-position:-421px 0;
}
.iA.i05:hover{
	background-position:-421px -31px;
}
*/


/*Recomended posts*/

.col-m h6 {
    float: left;
    width: 300px;
}

.col-m h6 {
    float: none
}

.col {
    float: left;
    margin: 0 20px 0 0;
}

/* ie.css */
.col-full {
    width: 100%;
}

.col-xxl {
    width: 460px;
}

.col-xl {
    width: 460px;
}

.col-l {
    width: 380px;
}

.col-m {
    width: 300px;
}

.col-s {
    width: 220px;
}

.col-xs {
    width: 140px;
}

.col-xxl .col-m, .col-xl .col-s, .col-m .col-xs {
    margin: 0 10px 0 0;
}

.col-m-group {
    float: left;
    width: 640px;
    background: url(/img/col-border.png) repeat-y 309px 0;
}

.col-m-border {
    background: url(/img/col-border.png) repeat-y 290px 0;
    background: #eee;
}

#content-secondary {
    font-size: 100%;
}

#content-secondary.col {
    margin: 1em 0 0;
}
.col-last {
    margin-right: 0;
}
.col-xxl {
    width: 460px;
}
.col-xxl .col-m, .col-xl .col-s, .col-m .col-xs {
    margin: 0 10px 0 0;
}
#top-picks .top-picks-items {
    float: left;
    padding: .3em 0 .3em;
	width:460px;
}

#top-picks .top-picks-item {
    float: left;
    width: 220px;
    height: 146px;
    margin: 0 0 5px 5px;
}

#top-picks .top-picks-wrapper {
    position: relative;
    width: 100%;
}




#top-picks h3 {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0;
    padding: 5px;
	line-height:22px;
    background: #fff\7;
    background: rgba(255, 255, 255, 0.7);
    width: 210px; /* IE 6/7 */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF, endColorstr=#B2FFFFFF); /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF, endColorstr=#B2FFFFFF)";
}
.answear-sidebar{
	float:left;
	width:223px;
}
.clear-style{
	clear:both;
}
.homevotescount{
	font-size:10px;
}

.name_h2{
	font-size: 20px;
    font-weight: normal;
	display: inline;
    margin: 0;
    padding: 0;
    color: #09548f;
	line-height: 32px;
}

.links .menu_h3{
	color: #2a2828;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 13px;
    font-weight: bold;
	padding-bottom: 2px;
}

.h5 {
	border-bottom: 3px solid #2a2828;
    color: #2a2828;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 4px;
    padding-top: 10px;
    text-transform: uppercase;
	font-weight: bold;
}

.h6{
  color: #2a2828;
    font-family: Georgia;
    font-size: 12px;
    font-style: italic;
    line-height: 27px;
}

.b-share-icon {
    height: 32px !important;
    width: 52px !important;
}


.copi {
    color: #777;
    font-size: 11px;
    line-height: 150%;
}

#mlb2-407543,
#mlb2-407543 *,
#mlb2-407543 a:hover,
#mlb2-407543 a:visited,
#mlb2-407543 a:active{
    overflow:visible;
    position:static;
    background:none;
    border:none;
    bottom:auto;
    clear:none;
    cursor:default;
    float:none;
    font-size:medium;
    font-style:normal;
    font-weight:normal;
    letter-spacing:normal;
    line-height:normal;
    text-align:left;
    text-decoration:none;
    text-indent:0;
    text-transform:none;
    visibility:visible;
    white-space:normal;

    max-height:none;
    max-width:none;
    left:auto;
    min-height:0;
    min-width:0;
    right:auto;
    top:auto;
    width:auto;
    z-index:auto;
}


    #mlb2-407543 .subscribe-form {
    
        padding: 20px;
        width: 423px!important;
        border: 0px solid #000000!important;
        background: #FFFFFF none!important;
        -webkit-border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        border-radius: 0px!important;
    
    }

    #mlb2-407543 .subscribe-form .form-section {
    
        /*float: left;*/
        /*width: 100%;*/
        margin-bottom: 20px;
    
    }

    #mlb2-407543 .subscribe-form .form-section h4 {
    
        margin: 0px 0px 15px 0px;
        color: #FFFFFF!important;
        font-family: Arial!important;
        font-size: 20px!important;
        line-height: 100%;
    
    }

    #mlb2-407543 .subscribe-form .form-section p {
    
        line-height: 150%;
        margin: 0px 0px 0px 0px;
        color: #000000!important;
        font-family: Arial!important;
        font-size: 13px!important;
    
    }

    #mlb2-407543 .subscribe-form .form-section .form-group {
    
        margin-bottom: 15px;
    
    }

    #mlb2-407543 .subscribe-form .form-section .form-group label {
    
        float: left;
        margin-bottom: 10px;
        width: 100%;
        line-height: 100%;
        font-weight: bold;
        color: #000000!important;
        font-family: Arial!important;
        font-size: 13px!important;
    
    }

    #mlb2-407543 .subscribe-form .form-section .checkbox {
        

        width: 100%;
        margin: 0px 0px 10px 0px;
        

    }

    #mlb2-407543 .subscribe-form .form-section .checkbox label {

    

        color: #000000!important;
        font-family: Arial!important;
        font-size: 13px!important;
    

    }

    #mlb2-407543 .subscribe-form .form-section .checkbox input {

    
        margin: 0px 5px 0px 0px;
    

    }


    #mlb2-407543.ml-subscribe-form .form-group .form-control {

    

        width: 100%;
        font-size: 13px;
        padding: 10px 10px;
        height: auto;
        font-family: Arial;
        border-radius: 0px;
        border: 1px solid #000000!important;
        color: #000000!important;
        background-color: #FFFFFF!important;
    	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
        clear: left;

    

    }

    #mlb2-407543.ml-subscribe-form button {

    

        border: none;
        cursor: pointer;
        width: 100%;
        border-radius: 0px;
        height: 42.5px;
        background-color: #0767b2!important;
        color: #FFFFFF!important;
        font-family: Arial!important;
        font-size: 17!important;
        text-align: center;

    

    }

    #mlb2-407543.ml-subscribe-form button.gradient-on {

    

            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
            background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);

    

    }

    #mlb2-407543.ml-subscribe-form button.gradient-on:hover {

    

            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
            background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);

    

    }

    #mlb2-407543.ml-subscribe-form .form-section.ml-error label {

    

        color: red!important;

    

    }

    #mlb2-407543.ml-subscribe-form .form-group.ml-error label {

    

        color: red!important;

    

    }

    #mlb2-407543.ml-subscribe-form .form-group.ml-error .form-control  {

    

        border-color: red!important;

    

    }
	
.abtitle 
	{
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
	color: #7c7c7c;
	font: normal 12px Arial,sans-serif;
	padding-top:15px;
	}
.comm-count{
	color:#FF1616 !important;
	font-weight:bold;
	text-decoration:none;
}
.comm-count:hover{text-decoration:none !important;}
.hidden {
    display: none;
}

.article-lead {
    border-left: 10px solid #cecece;
    padding-left: 15px;
	color: slategrey;
}


/*global style*/
.content .title1{
  color: #2a2828;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 12px;
  padding-bottom: 4px;
  border-bottom: 3px solid #2a2828;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: Tahoma;
}
.w100{width: 100%;}
.w50{width: 50%;}
.pr10{padding-right: 10px;`}




.catagory_name_box,.news_catagory_box{margin: 25px -6px 55px;}
  .catagory_name_item{
    width: 50%;
    padding: 0 6px 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
    .catagory_name_link{
      display: block;
      border: 2px solid #ededed;
      text-align: center;
      font-size: 11px;
      line-height: 1;
      font-weight: 700;
      color: #7f7e7e;
      padding: 22px 0;
      text-decoration: none;
    }
    .catagory_name_link:hover,
    .catagory_name_link.current{
      background-color: #f0f0f0;
      color: #2a2828;
    }

  .news_catagory_item{
    padding: 0 6px 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
    .news_catagory_img{overflow: hidden;margin-bottom: 10px; border: 1px solid #e4e4e4;}
    .news_catagory_img img{
      width: 101% !important;
	  max-width:500px !important;
      -webkit-transition: all 1.2s;
      -o-transition: all 1.2s;
      transition: all 1.2s;
    }
    .news_catagory_img:hover img{
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
    .news_catagory_title{
      font-size: 14px;
      line-height: 1.2;
      font-weight: 700;
      color: #2e2e2e;
      text-decoration: none;
    }
	.title-wrapper{
		display: inline-block;
		padding-bottom: 10px;
	}
    .news_catagory_title:hover{text-decoration: underline;}
    .catagory_it{
      font-size: 11px;
      font-weight: 700;
      color: #0f568c;
      padding-right: 10px;
      text-decoration: none;
    }
    .catagory_it:hover{text-decoration: underline;}
    .news_catagory_item.w50 .catagory_it{display: block;}
.news_catagory_box{margin-bottom:0px;}

hr{	border: 0;
    border-bottom: 1px solid #ccc;
    background: #999;
  }
