/*Fonts*/
@font-face {
    font-family: 'VerdanaRegular';
    src: url('../fonts/VerdanaRegular/Verdana.eot?#iefix') format('embedded-opentype'),  url('../fonts/VerdanaRegular/Verdana.woff') format('woff'), url('../fonts/VerdanaRegular/Verdana.ttf')  format('truetype'), url('../fonts/VerdanaRegular/Verdana.svg#Verdana') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VerdanaBold';
    src: url('../fonts/VerdanaBold/Verdana-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/VerdanaBold/Verdana-Bold.woff') format('woff'), url('../fonts/VerdanaBold/Verdana-Bold.ttf')  format('truetype'), url('../fonts/VerdanaBold/Verdana-Bold.svg#Verdana-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VerdanaBoldItalic';
    src: url('../fonts/VerdanaBoldItalic/Verdana-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/VerdanaBoldItalic/Verdana-BoldItalic.woff') format('woff'), url('../fonts/VerdanaBoldItalic/Verdana-BoldItalic.ttf')  format('truetype'), url('../fonts/VerdanaBoldItalic/Verdana-BoldItalic.svg#Verdana-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

#main-container {
    width: 100%;
    font-size: 13px;
    line-height: 1.5;
    font-family: VerdanaRegular;
    color: #454545;
}

/*MONITORING BOX*/
.clear:after{
    display: block;
    content: '';
    clear: both;
}
/*user-cart*/
.user-cart {
    min-width: 222px;
    float: left;
    background: #f2f4f5;
    margin-bottom: 21px;
    padding: 19px 21px 46px 25px;
    line-height: 20px;
}
.user-cart-row + .user-cart-row {
    margin-top: 4px;
}
.user-cart-row .heading {
    width: 125px;
    float: left;
    position: relative;
}
.info-icon {
    display: block;
    width: 14px;
    height: 12px;
    float: left;
    margin: 4px 4px 0 0;
    background: url("../img/info-icon.png") 1px 0 no-repeat;
}

.user-cart-row .heading .info-icon:hover {
    background: url("../img/info-icon.png") -12px 0 no-repeat;
}
.user-cart-row .value {
    float: left;
}
.user-cart-row .value .user-link {
    display: block;
    color: #167ac6;
}

.user-cart-row .value .user-link img {
    display: block;
    float: left;
    margin-right: 5px;
}
.user-cart-row .value .user-link span {
    display: block;
    float: left;
    position: relative;
}
.user-cart-row .value .user-link span:after {
    display: none;
    content: '';
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    margin-top: -3px;
    background: #2d82c9;
}
.user-cart-row .value .user-link:hover span:after {
    display: block;
}
.user-cart-separator {
    margin: 13px 0 14px 0;
    color: #d2d6d9;
    max-width: 214px;
}
.fund {
    font-family: VerdanaBold;
    color: #5bb000;
}
/*Graph box*/
.graph {
    margin-left: 272px;
    overflow: hidden;
}
.graph img {
    width: 100%;
}
.heading-box {
    padding: 5px 10px 6px 12px;
    background: #98a7b2;
    font-family: VerdanaBold;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
}
.heading-box .name {
    float: left;
}
.heading-box .text {
    float: right;
    font-family: VerdanaRegular;
    font-size: 12px;
    line-height: 15px;
    text-transform: none;
}
/*Deals table*/
table#deals-table {
    width: 100%;
    border-collapse: collapse;
    font-family: VerdanaBold;
    font-size: 10px;
    background: #98a7b2; color: #fff;
    text-rendering: optimizeLegibility;
}
table#deals-table thead th {
    position: relative;
    text-transform: uppercase;
    line-height: 26px;
}
table#deals-table thead th:first-child {
    padding-left: 23px;
}
table#deals-table thead th span.info-icon {
    width: 14px;
    margin: 7px 4px 0 0;
}
table#deals-table thead th .info-icon:hover {
    background: url("../img/info-icon.png") -25px 0 no-repeat;
}
table#deals-table thead th, table#deals-table tbody td {

    font-size: 10px;
    text-align: left;
}
table#deals-table tbody td {
    padding-top: 12px;
    font-size: 13px;
    font-family: VerdanaRegular;
    color: #454545;
    background: #f2f4f5;
}
table#deals-table tbody td.last-deals {
    width: 23%;
    padding-left: 26px;
}
table#deals-table tbody td.closed {
    width: 16%;
}
table#deals-table tbody td.lots {
    width: 15%;
    padding-left: 1%;
}
table#deals-table tbody td.return {
    width: 15%;
    padding-left: 2%;
    color: #f64819;
}
table#deals-table tbody td.return.grey{
	color: #454545;
}
table#deals-table tbody td.return.grey .redColor{
	color:#f64819;
}
table#deals-table tbody td.return.grey .greenColor{
	color:#5bb000;
}
table#deals-table tbody td.profit {
    width: 16%;
    padding-left: 3%;
    color: #f64819;
}
table#deals-table tbody td.pips {
    padding-left: 1%;
    color: #f64819;
}
table#deals-table tbody tr:last-child td {
    padding-bottom: 19px;
}
/*info box*/
.info-box {
    display: none;
    width: 247px;
    padding: 13px 16px 20px 15px;
    position: absolute;
    left: -5px;
    top: 100%;
    margin-top: 7px;
    overflow: hidden;
    z-index: 999;
    font-size: 12px;
    text-transform: none;
    background: #fff;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.12);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,.12);
    box-shadow: 0 5px 15px rgba(0,0,0,.12);
}
.info-icon:hover + div.info-box  {
    display: block;
}
.info-box h3 {
    margin-bottom: 2px;
    font-family: VerdanaBoldItalic;
    color: #167ac6;
}
.info-box p {
    font-family: VerdanaRegular;
    margin-bottom: 9px;
    line-height: 18px;
    color: #454545;
}
.info-box .bold-text {
    font-family: VerdanaBold;
    color: #5e5e5e;
}
table#deals-table th .info-box {
    margin-top: 0;
    padding-bottom: 10px;
}
