
@media screen and (max-width: 1280px) {

    th.pips .info-box,
    th.profit .info-box,
    th.return .info-box
    {
        left: -247px;
    }
}
@media screen and (max-width: 1043px) {
    #main-container {
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 992px) {

    th.pips .info-box,
    th.profit .info-box,
    th.return .info-box
    {
        left: -247px;
    }
    #deals-table th div.info-box p {

        width: 240px !important;
    }
}
@media screen and (max-width: 768px) {
    .user-cart {
        width: 100%;
        float: none;
        margin-bottom: 5px;
        padding-bottom: 19px;
    }
    .user-cart-col {
        width: 50%;
        float: left;
    }
    .user-cart .info-box {
        left: -247px;
    }

    .user-cart-separator {
        display: none;
    }
    .graph {
        margin: 0;
    }
    .deals {
        overflow-x: auto;
    }
    #deals-table {
        width: 768px !important;

    }
    th.pips .info-box,
    th.profit .info-box,
    th.return .info-box
    {
        left: -247px;
    }
}
@media screen and (max-width: 480px) {
    .user-cart {
        padding: 19px 25px 19px 25px;
        width: calc(100% - 50px);
    }
    .user-cart-col {
        width: 100%;
        float: none;
    }
    .user-cart .info-box {
        left: -5px;
    }
    .user-cart-separator {
        display: block;
        max-width: 100%;
    }
}