@import "css/reset.css";
@import "fonts/font-awesome.min.css";
@import "fonts/PFDindisplayproRegMedLight/font.css";
@import "fonts/PFDindisplayproThinBold/font.css";

@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,300,600,700,800&subset=latin,cyrillic);
@import url(//fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic);
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url(fonts/OpenSansSemiBold.ttf)
}
@font-face {
    font-family: 'PFD_Regular';
    src: url(fonts/pfdindisplaypro-regular.ttf);
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/OpenSansBold.ttf');
}
/* ------------------------------------------------

    1. Default stylesheets

------------------------------------------------ */

   body {
    font-family: 'Open Sans', sans-serif;
    color:#787575;
    font-size:14px;
    line-height:22px;

    -webkit-text-size-adjust: none;
   }

   ::selection{
    color: #fff;
    background: #146eb3;
   }

   ::-moz-selection{
    color: #fff;
    background: #146eb3;
   }

   ::-moz-selection{background: #146eb3;color: #fff;}

   ::-webkit-scrollbar{
    background: #cdcdcd;
    width: 10px;
   }

   ::-webkit-scrollbar-thumb{background: #333131;}


   ::-webkit-input-placeholder{
    color:#505050;

    -webkit-transition: text-indent .5s ease, color .5s ease;
        transition: text-indent .5s ease, color .5s ease;
   }

   input::-moz-placeholder{
    color:#505050;
    opacity:1;
   }

   textarea::-moz-placeholder{
    color: #505050;
    opacity: 1;
   }

   ::ms-input-placeholder{
    color:#505050;
   }

   [placeholder]:focus::-webkit-input-placeholder{
    text-indent:10em;
    color:transparent;
   }

   *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   }

   button{
    outline: none;
    cursor: pointer;
   }

   a{
    cursor: pointer;
   }


  /* --------------------------------------------
        1.1. Color Schemes
  -------------------------------------------- */

    .red_color{
      color: #ff1616;
    }

    .green_color{
      color: #89bb50;
    }

    .grey_color{
      color: #919191;
    }

    .blue_color{
      color: #146eb3;
    }

    .blue_color_hight{
      color: #167ac6;
    }

    /*background*/

    .red_bg{
      background-color: #f6e1e1;
    }

    .green_bg{
      background-color: #eaf7e1;
    }

    .grey_bg{
      background-color: #f6f6f6;
    }

  /* --------------------------------------------
        1.2. Fonts
  -------------------------------------------- */

    .PFDlight{font-family: 'pf_dindisplay_prolight';}
    .PFDregular{font-family: 'pf_dindisplay_proregular';}
    .PFDmedium{font-family: 'pf_dindisplay_promedium';}
    .PFDthin{font-family: 'pf_dindisplay_prothin';}

    .regular{font-weight: 400;}
    .semibold{font-weight: 600;}

/* ------------------------------------------------

    2. General Classes

------------------------------------------------ */

   .align_left{
    text-align: left;
   }

   .align_right{
    text-align: right;
   }

   .align_center{
    text-align: center;
   }

   .alignleft{
    float: left;
   }

   .alignright{
    float: right;
   }

   .wrapper{overflow: hidden;}

   .hide{ display: none;}

   .show{ display: block;}

   .d_ib{display: inline-block;}

   .transparent{ opacity:0; }

   .invisible{
    opacity: 0;
    visibility: hidden;
   }

   .visible{
    opacity:1;
    visibility: visible;
   }

   .p_abs{position: absolute;}

   .p_rel{position: relative;}

   .p_fix{position: fixed;}

   .clear {clear:both;width:100%;line-height:0;font-size:0;}

   .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
   }

   .reg {text-transform:uppercase}

    .image_box img{max-width: 100%;}
   .image_box.alignleft{margin: 0 20px 20px 0;}
   .image_box.alignright{margin: 0  20px 20px;}

   
   /* --------------------------------------------
        7.1. Typography
   -------------------------------------------- */

      h1,h2,h3,h4,h5,h6{
         font-weight:normal;
         line-height: 1;
         color: #333;
         margin: 0;
         margin-bottom: 17px;
         position: relative;
      }

      h1{font-size: 38px;}

      h2,.page_title1{
        font-family: 'pf_dindisplay_promedium';
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      h3{
        font-family: 'pf_dindisplay_proregular';
        font-size: 19px;
        line-height: 39px;
        padding: 7px 0;
        text-transform: uppercase;
        margin-bottom: 0;
      }

      h4{
        font-family: 'pf_dindisplay_prolight';
        font-size: 22px;
        line-height: 25px;
        padding: 10px 0;
        margin-bottom: 0;
      }

      h5{font-size: 16px;}

      h5.info_title{
        font-size: 19px;
        font-family: "Open Sans";
        color: #454444;
        margin-bottom: 0;
      }

      h5.info_title.color2{
        color: #333131;
      }

      h6{font-size: 14px;}

      .aside_title{
        line-height: 45px;
        border-top: 1px solid #e3e3e3;
      }


      h2>.icon,
      h3>.icon,
      h4>.icon,
      h5>.icon,
      h6>.icon,
      h2>.fa,
      h3>.fa,
      h4>.fa,
      h5>.fa,
      h6>.fa{
        position: absolute;
        right: 0;
        top: 50%;
        line-height: 0;
        font-size: 30px;
        color: #bebebe;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      h2>.sub_title,
      h3>.sub_title,
      h4>.sub_title,
      h5>.sub_title,
      h6>.sub_title{
        font-size: 17px;
        color: #787575;
        position: relative;
        display: inline-block;
        padding-left: 21px;
      }

      h2>.sub_title1,
      h3>.sub_title1,
      h4>.sub_title1,
      h5>.sub_title1,
      h6>.sub_title1{
        font-size: 16px;
        color: #787575;
        display: inline-block;
        text-transform: none;
        font-family: 'pf_dindisplay_proregular';
      }

      h2>.sub_title:before,
      h3>.sub_title:before,
      h4>.sub_title:before,
      h5>.sub_title:before,
      h6>.sub_title:before{
        content: "";
        display: block;
        position: absolute;
        height: 26px;
        top: 50%;
        margin-top: -13px;
        width: 1px;
        background-color: #e3e3e3;
        left: 10px;
      }

      .title1{
        font: 17px/27px 'pf_dindisplay_proregular';
        color: #454242;
        background-color: #f1f1f1;
        text-transform: uppercase;
        padding: 9px 55px 9px 15px;
        position: relative;
        margin-bottom: 4px;
      }

      .title1 .icon{
        right: 28px;
      }

      .title1:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
      }

      .title1.red_border:before{background-color: #ff1616;}

      .title1.blue_border:before{background-color: #146eb3;}

      .title2{
        font: 24px/35px 'pf_dindisplay_prolight';
        text-transform: uppercase;
        color: #146eb3;
        margin-bottom: 25px;
      }

      .title3{
        font: 600 17px/26px "Open Sans",sans-serif;
        color: #146eb3;
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 20px;
      }

      .title4{
        font: 600 14px/26px "Open Sans",sans-serif;
        color: #333030;
        text-transform: uppercase;
      }

      .title5{
        font: 21px/25px 'pf_dindisplay_proregular';
        margin-bottom: 10px;
      }

      .title6{
        font: 21px/25px 'pf_dindisplay_proregular';
        margin-bottom: 10px;
        text-transform: none;
        padding: 0;
      }

      .title7{
        font: 19px/25px 'pf_dindisplay_prolight';
        background-color: #f0f0f0;
        border-left: 3px solid #333;
        padding: 10px 14px;
        margin-bottom: 25px;
      }


      p:not(:last-child){margin-bottom: 15px;}

      strong{
        font-weight: 600;
        color: #333030;
      }

      mark{background-color: #20cfef;padding: 0 2px;color: #fff;}
      mark.red{background-color: #ee352f;}

      a{
         color: #454242;
         text-decoration: none;
         -webkit-transition: all 0.5s;
         -o-transition: all 0.5s;
         transition: all 0.5s;
      }
      a:hover{
         color: #146eb3;
         text-decoration: none;
         -webkit-transition: all 0.3s;
         -o-transition: all 0.3s;
         transition: all 0.3s;
      }
      a:focus,
      a:visited{
         text-decoration: none;
      }

      .link_accent{
        color: #146eb3;
      }
      .link_accent:hover{
        color: #454242;
      }

      a.icon:hover{opacity: 0.7;}

      .thesis_text{
        padding-left: 20px;
        border-left: 10px solid #d9d9d9;
        color: #333030;
        font-weight: 600;
      }

      .inform-thesis_text {
        border: none;
        padding: 0;
        color: #5e5d5d;
      }

      .thesis_text:not(:last-child){
        margin-bottom: 20px;
      }
   

/* converter */

  .converter_box{
    width: 240px;
    min-height: 171px;
    text-align: center;
    padding: 15px 12px 10px 12px;
    font-family: 'Open Sans';
    font-size: 11px;
    line-height: 13px;
    color: #454444;
  }
  .converter_box.horizontal{
    width: 470px;
    min-height: 125px;
  }
  .converter_box.vertical{
    width: 140px;
    min-height: 352px;
    padding: 15px 22px 16px 22px;
  }
  [data-converter-color="white"]{
    background-color: #FFF;
    border: 1px solid #DCDCDC;
  }
  [data-converter-color="dark"]{
   background-color: #333333;
   border: 1px solid #333333;
   color: #FFF; 
  }
  [data-converter-color="white_bd"]{
    background-color: #fff;
    border: 1px solid #999999;
  }
    .converter_title{
      font-size: 15px;
      line-height: 17px;
      color: #454545; 
      font-family: 'OpenSansSemiBold';
      padding: 0;
      margin-bottom: 14px;
    }
    [data-converter-color="dark"] .converter_title{
      color: #FFF;
    }
    .converter_form_item{
      text-align: left;
      margin-bottom: 12px;
    }
      .converter_form_item .informer_setings{
        margin-top: 0;
      }
      .converter_form_item .select_type1 .jq-selectbox__select{
        height: 40px;
        line-height: 40px;
        padding-right: 27px;
        padding-left: 7px;
        background: #F6F6F6;
      }
      [data-converter-color="white_bd"] .jq-selectbox__select{
        border: 1px solid #999;
      }
      .converter_form_item .jq-selectbox__dropdown{
        font-size: 13px;
      }
      .converter_form_item .jq-selectbox__trigger{
        width: 27px;
      }
      [data-converter-color="dark"] .jq-selectbox__trigger,
      [data-converter-color="white_bd"] .jq-selectbox__trigger{
        background-color: #5E5E5E;
        border-left: 1px solid #5E5E5E;
        top: -1px;
        bottom: -1px;
        right: -1px;
        height: auto;
      }
      [data-converter-color="white_bd"] .jq-selectbox__trigger{
        background-color: #464646;
      }
      .converter_form_item .jq-selectbox__trigger-arrow{
        right: 9px;
      }
      [data-converter-color="dark"] .jq-selectbox__trigger-arrow,
      [data-converter-color="white_bd"] .jq-selectbox__trigger-arrow{
        border-top-color: #fff;
      }
      .convert_value{
        width: 43.46%;
        float: left;
      }
      .converter_box.horizontal .convert_value{
        width: 42.795%;
      }
      .converter_box.vertical .convert_value{
        width: 100%;
      }
      .convert_value .select_type1 + .select_type1{
        margin-top: 8px;
      }
      .converter_box.horizontal .convert_value .jq-selectbox,
      .converter_box.horizontal .convert_value .form_input_box{
        width: 48.95%;
      }
      .converter_box.vertical .convert_value .jq-selectbox{
        margin-bottom: 4px;
      }

      .convert_arrows{
        position: relative;
        float: left;
        width: 28px;
        min-height: 88px;
      }
        .convert_arrows:before{
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 15px;
          height: 28px;
          -webkit-transform: translateX(-50%) translateY(-50%);
             -moz-transform: translateX(-50%) translateY(-50%);
              -ms-transform: translateX(-50%) translateY(-50%);
               -o-transform: translateX(-50%) translateY(-50%);
                  transform: translateX(-50%) translateY(-50%);
          background: url(images/converter_arrow.png) left 0 no-repeat;  
        }
      .converter_box.horizontal .convert_arrows{
        width: 64px;
        min-height: 40px;
      }
      .converter_box.vertical .convert_arrows{
        width: 93px;
        min-height: 48px;
      } 
        .converter_box.horizontal .convert_arrows:before{
          -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
             -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
              -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
               -o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
                  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        }
        [data-converter-color="dark"] .convert_arrows:before{
          background-position: -22px 0;
        }
        [data-converter-color="white_bd"] .convert_arrows:before{
          background-position: right 0;
        }

      
        .form_input{
          width: 100%;
          height: 40px;
          background-color: #F6F6F6;
          border: 1px solid #dcdcdc;
          font-size: 12px;
          line-height: 14px;
          font-family: 'Open Sans';
          color: #444;
          text-align: center;
          padding: 0 5px;
        }
        [data-converter-color="white_bd"] .form_input,
        .converter_box.horizontal[data-converter-color="white_bd"] .form_input{
          border: 1px solid #999;
        }
        .form_input_box .form_input + .form_input{
          margin-top: 8px;
        }

    
    .converter_box.vertical .convert_footer{
      margin: 0 -5px;
    }
      .convert_footer_icon{
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: url(images/converter_footer_logo.png);
        width: 77px;
        height: 23px;
        margin: 7px auto 0;
      }
      [data-converter-color="dark"] .convert_footer_icon{
        background-position: 0 100%;
      }
/* end of converter */

.select_type1.jq-selectbox{
  display: block;
  width: 100%;
}

.select_type1 .jq-selectbox__select{
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-family: 'OpenSansSemiBold';
  color: #454444;
  font-size: 14px;
  padding-left: 10px;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #dedede;
  border-radius: 0;
}

.select_type1 .jq-selectbox__trigger{
  border-left: 1px solid #dedede;
  background-color: #f0f0f0;
}

.select_type1 .jq-selectbox__trigger-arrow{
  top: 18px;
}
.jq-selectbox li.lang,
.lang .jq-selectbox__select-text{
  padding-left: 32px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
}

.lang .jq-selectbox__select-text{
  padding-left: 22px;
  background-position: 0 50%;
}
.inlineBlock{
	display:inline-block;
}
.alignCenter{
	text-align:center;
}
.flipConverter{
	cursor:pointer;
}
.instal_link_box.converter_box{
	padding:11px 5px;
	text-align:center;
	height:auto;
	min-height:auto;
	
	border:1px solid #dcdcdc;
	border-top:none;
}
.instal_link_box .instal_link{
	 position: relative;
	 margin-left:10px;
}
.instal_link_box .instal_link:before{
	content: "\f013";
	font: normal normal normal 18px/1 FontAwesome;
	position: absolute;
	/*color: #5e5e5e;*/
	top: 50%;
	left: -20px;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	transform: translate(0,-50%);
}
.symbolCode{
	font-size:18px;
}