/*
Theme Name: ForTrader Master
Theme URI: http://fortrader.ru/
Author: Vladimir Vekshin akadem87@gmail.com
Author URI: http://www.weblancer.net/users/vvladimirr/
Description: New ForTrader Theme
Version: 1.0
Theme for ForTrader
*/

/* 
-----------------------------------------------------
  Stylesheet Guide
-----------------------------------------------------
  
 1. Default stylesheets
 1.1. Color Schemes
 1.2. Fonts
 2. General Classes
 7.1. Typography
 22.4 Ticket Quotes 
 
=======
*/
@import "css/reset.css";
@import "fonts/font-awesome.min.css";
@import "fonts/PFDindisplayproRegMedLight/font.css";
@import "fonts/PFDindisplayproThinBold/font.css";

@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,600&subset=latin,cyrillic);

/* ------------------------------------------------

    1. Default stylesheets

------------------------------------------------ */

   body {
    font-family: 'Open Sans', sans-serif;
    /*color:#787575;*/
    font-size:14px;
    line-height:25px;
    background:#fff;
    -webkit-text-size-adjust: none;
   }

   ::selection{
    color: #fff;
    background: #146eb3;
   }

   ::-moz-selection{
    color: #fff;
    background: #146eb3;
   }

   ::-moz-selection{background: #146eb3;color: #fff;}

   ::-webkit-scrollbar{
    background: #cdcdcd;  
    width: 10px;
   }

   ::-webkit-scrollbar-thumb{background: #333131;}


   ::-webkit-input-placeholder{
    color:#505050;

    -webkit-transition: text-indent .5s ease, color .5s ease;
        transition: text-indent .5s ease, color .5s ease;
   }

   input::-moz-placeholder{
    color:#505050;
    opacity:1;
   }

   textarea::-moz-placeholder{
    color: #505050;
    opacity: 1;
   }

   ::ms-input-placeholder{
    color:#505050;
   }

   [placeholder]:focus::-webkit-input-placeholder{
    text-indent:10em;
    color:transparent;
   }

   *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   }



  /* --------------------------------------------
        1.2. Fonts
  -------------------------------------------- */
    
    .PFDlight{font-family: 'pf_dindisplay_prolight';}
    .PFDregular{font-family: 'pf_dindisplay_proregular';}
    .PFDmedium{font-family: 'pf_dindisplay_promedium';}
    .PFDthin{font-family: 'pf_dindisplay_prothin';}

    .regular{font-weight: 400;}
    .semibold{font-weight: 600;}

/* ------------------------------------------------

    2. General Classes

------------------------------------------------ */

   .align_left{
    text-align: left;
   }

   .align_right{
    text-align: right;
   }

   .align_center{
    text-align: center;
   }

   .alignleft{
    float: left;
   }

   .alignright{
    float: right;
   }

   .wrapper{overflow: hidden;}

   .hide{ display: none !important;}

   .show{ display: block;}

   .d_ib{display: inline-block;}

   .transparent{ opacity:0; }

   .invisible{ 
    opacity: 0;
    visibility: hidden;
   }

   .visible{ 
    opacity:1; 
    visibility: visible;
   }

   .p_abs{position: absolute;}

   .p_rel{position: relative;}

   .p_fix{position: fixed;}

   .clear {clear:both;width:100%;line-height:0;font-size:0;}

   .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
   }

   .reg {text-transform:uppercase}

    .image_box img{max-width: 100%;}
   .image_box.alignleft{margin: 0 20px 20px 0;}
   .image_box.alignright{margin: 0  20px 20px;}


   /* --------------------------------------------
        7.1. Typography
   -------------------------------------------- */
  
      h1,h2,h3,h4,h5,h6{
         font-weight:normal;
         line-height: 1;
         color: #333;
         margin: 0;
         margin-bottom: 17px;
         position: relative;
      }

      h1{font-size: 38px;}

      h2{
        font: 600 17px/26px "Open Sans",sans-serif;
        color: #146eb3;
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 20px;
        clear: both;
      }

      h3{
        font: 600 14px/26px "Open Sans",sans-serif;
        color: #333030;
        text-transform: uppercase;
      }
      
      .page_title1{
        font-family: 'pf_dindisplay_promedium';
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 10px;
        color: #333;
        font-weight: normal;
        text-transform: uppercase;
      }

      .page_title2{
        font-family: 'pf_dindisplay_proregular';
        font-size: 19px;
        line-height: 25px;
        padding: 14px 35px 14px 0;
        font-weight: normal;
        color: #333;
        text-transform: uppercase;
        margin-bottom: 0;

      }

      .page_title3{
        font-family: 'pf_dindisplay_prolight';
        font-size: 22px;
        line-height: 25px;
        padding: 10px 30px 10px 0;
        color: #333;
        font-weight: normal;
        margin-bottom: 0;
      }

      h5{font-size: 16px;}

      h6{font-size: 14px;}

      .aside_title{
        line-height: 45px;
        border-top: 1px solid #e3e3e3;
      }


      h2>.icon,
      h3>.icon,
      h4>.icon,
      h5>.icon,
      h6>.icon,
      h2>.fa,
      h3>.fa,
      h4>.fa,
      h5>.fa,
      h6>.fa{
        position: absolute;
        right: 0;
        top: 50%;
        line-height: 0;
        font-size: 30px;
        color: #bebebe;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      h2>.sub_title,
      h3>.sub_title,
      h4>.sub_title,
      h5>.sub_title,
      h6>.sub_title{
        font-size: 17px;
        color: #787575;
        position: relative;
        display: inline-block;
        padding-left: 21px;
      }

      h2>.sub_title1,
      h3>.sub_title1,
      h4>.sub_title1,
      h5>.sub_title1,
      h6>.sub_title1{
        font-size: 16px;
        color: #787575;
        display: inline-block;
        text-transform: none;
        font-family: 'pf_dindisplay_proregular';
      }

      h2>.sub_title:before,
      h3>.sub_title:before,
      h4>.sub_title:before,
      h5>.sub_title:before,
      h6>.sub_title:before{
        content: "";
        display: block;
        position: absolute;
        height: 26px;
        top: 50%;
        margin-top: -13px;
        width: 1px;
        background-color: #e3e3e3;
        left: 10px;
      }

      .title1{
        font: 17px/27px 'pf_dindisplay_proregular';
        color: #454242;
        background-color: #f1f1f1;
        text-transform: uppercase;
        padding: 9px 55px 9px 15px;
        position: relative;
        margin-bottom: 4px;
      }

      .title1 .icon{
        right: 28px;
      }

      .title1:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
      }

      .title1.red_border:before{background-color: #ff1616;}

      .title1.blue_border:before{background-color: #146eb3;}

      .title2{
        font: 24px/35px 'pf_dindisplay_prolight';
        text-transform: uppercase;
        color: #146eb3;
        margin-bottom: 25px;
      }

      .title3{
        font: 600 17px/26px "Open Sans",sans-serif;
        color: #146eb3;
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 20px;
      }

      .title4{
        font: 600 14px/26px "Open Sans",sans-serif;
        color: #333030;
        text-transform: uppercase;
      }
      
      .title5{
        font: 21px/25px 'pf_dindisplay_proregular';
        margin-bottom: 10px;
      }

      .title6{
        font: 21px/25px 'pf_dindisplay_proregular';
        margin-bottom: 10px;
        text-transform: none;
        padding: 0;
      }

      .title7{
        font: 19px/25px 'pf_dindisplay_prolight';
        background-color: #f0f0f0;
        border-left: 3px solid #333;
        padding: 10px 14px;
        margin-bottom: 25px;
      }




      p:not(:last-child){margin-bottom: 15px;}

      strong{
        font-weight: 600;
        color: #333030;
      }

      mark{background-color: #146eb3;padding: 0 2px;color: #fff;}
      mark.red{background-color: #ee352f;}

      a{
         text-decoration: none;
         -webkit-transition: all 0.5s;
         -o-transition: all 0.5s;
         transition: all 0.5s;
      }
      a:hover{
         color: #146eb3;
         text-decoration: none;
         -webkit-transition: all 0.3s;
         -o-transition: all 0.3s;
         transition: all 0.3s;
      }
      a:focus,
      a:visited{
         text-decoration: none;
      }

      .link_accent{
        color: #146eb3;
      }
      .link_accent:hover{
        color: #454242;
      }

      a.icon:hover{opacity: 0.7;}

      blockquote{
        overflow: hidden;
        padding-left: 20px;
        border-left: 10px solid #d9d9d9;
        color: #333030;
        font-weight: 600;
      }

      blockquote:not(:last-child){
        margin-bottom: 20px;
      }

      .wp-caption-text{
        font-size: 12px;
        line-height: 18px;
        color: #333030;
        background-color: #f5f5f5;
        text-align: center;
        padding: 12px 40px;
      }

      .wp-caption img{width: 100%;}

      img{
        max-width: 100%;
      }



  /* --------------------------------------------
      22.4 Ticket Quotes 
  -------------------------------------------- */
      
      .box2{
        padding: 0 17px;
      }

      .box2:after{
        content: "";
        display: block;
        clear: both;
      }
      
      .change_color{
          position: relative;
          width: 50%;
          float: left;
          min-height: 60px;
      }

      .change_color:after{
        content: "";
        display: block;
        clear: both;
      }

      .change_color_title{
        float: left;
        width: 238px;
        color: #333;
        font: 17px/28px 'pf_dindisplay_prolight', sans-serif;
      }

      .colorSelector{
        float: left;
        width: 28px;
        height: 28px;
        background: url(plagins/colorpicker/images/select2.png) center;
        cursor: pointer;
      }

      .colorpicker{
        margin-top: 5px;
      }

      .checkbox1{
        float: left;
        width: 170px;
        margin-bottom: 20px;
      }

      .more_tools_box{
        display: none;
      }

      .more_tools_btn{
        padding: 20px 0;
      }

      .more_tools_btn>a{
        font: 17px/28px 'pf_dindisplay_prolight', sans-serif;
        color: #014587;
      }

      .more_tools_btn>a:hover{
        text-decoration: underline;
      }

      .more_tools_btn>a:before{
        content: "Еще инструменты";
      }

      .more_tools_btn>a.active:before{
        content: "Свернуть список";
      }

      .checkbox_box{
        display: inline-block;
        padding-right: 20px;
        padding-bottom: 10px;
      }

      .get_code_box{
        padding-top: 20px;
        border-top: 1px solid #e3e3e3;
      }

      .agreement_box{
        padding-bottom: 38px;
      }

      .get_code{
        display: none;
        padding-top: 20px;
      }

      .get_code textarea{
        background-color: #fff;
        border: 1px solid #dddddd;
        border-radius: 2px;
        resize: none;
        width: 100%;
        padding: 10px 17px;
      }

      .ticker_quotes_table{
        table-layout: fixed;
        width: 100%;
      }

      .ticker_quotes_table th{
        text-align: center;
        text-transform: uppercase;

      }

      .ticker_quotes_table th.ticker_quotes_type{
        text-align: left;
      }

      .ticker_quotes_table td{
        
        text-align: center;
       
      }
	  .ticker_quotes_table tr td:first-child, .ticker_quotes_table tr th:first-child{
		  border-left:none;
	  }
	  .ticker_quotes_table tr td:last-child, .ticker_quotes_table tr th:last-child{
		  border-right:none;
	  }
	  .ticker_quotes_table tr th{
		  border-top:none;
	  }
	  .ticker_quotes_table tr:last-child td{
		  border-bottom:none;
	  }

      .ticker_quotes_table td.ticker_quotes_type{
        color: #000;
        text-align: left;
      }

      

    

      .ticker_quotes_type_inner{
        position: relative;
        padding-left: 28px;
      }

      .lesion .ticker_quotes_type_inner:before{
        content: "";
        display: block;
        position: absolute;
        top: 7px;
        left: 0;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-top: 10px solid #dc0001;
      }

      .profit .ticker_quotes_type_inner:before{
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-bottom: 10px solid #98d33e;
      }

      .ticker_quotes_author{
        font: 15px/20px 'pf_dindisplay_prolight', sans-serif;
        color: #333;
        display: block;
        padding: 10px 0;
      }

      .link_box a{
        font: 15px/20px 'pf_dindisplay_prolight', sans-serif;
        margin-right: 25px;
      }

      .link_box a i{
        font-size: 18px;
        margin-top: 2px;
        color: #bebebe;
        margin-right: 6px;
      }

      .edition_btn.disabled,
      .edition_btn.disabled:hover{
        cursor: default;
        background-color: #bebebe;
        border-color: #bdb7bd;
      }
/* --------------------------------------------
     and informer 17.02.16
-------------------------------------------- */


.link_type1{
    display: inline-block;
    position: relative;
    text-decoration: none;
   }

   .link_type1_icon{
    display: block;
    position: absolute;
    height: 100%;
    text-align: center;
    top: 0;
    right: 0;
   }

   .link_type1_icon:before{
    content: '';
    display: block;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
   }

   .link_type1.download .link_type1_icon{
    background-color: #167ac6;
   }

   .link_type1.download .link_type1_icon:before{
      background: url(images/button_download.png) 0 0 no-repeat;
   }

   .link_type1.settings .link_type1_icon{
    background: #5e5e5e;
   }

   .link_type1.settings .link_type1_icon:before{
      content: "\f013";

   }

   .link_type1:hover{
    color: #167ac6;
    text-decoration: none;
   }

   .link_type1:hover .link_type1_icon{
    background-color: #198ae0;
   }
