
@import "css/reset.css";
@import "fonts/font-awesome.min.css";
@import "fonts/PFDindisplayproRegMedLight/font.css";
@import "fonts/PFDindisplayproThinBold/font.css";

@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,300,600,700,800&subset=latin,cyrillic);
@import url(//fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic);
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url(fonts/OpenSansSemiBold.ttf)
}
@font-face {
    font-family: 'PFD_Regular';
    src: url(fonts/pfdindisplaypro-regular.ttf);
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/OpenSansBold.ttf');
}

/* ------------------------------------------------

    1. Default stylesheets

------------------------------------------------ */

   body {
    font-family: 'Open Sans', sans-serif;
    color:#787575;
    font-size:14px;
    line-height:22px;
   /* background:#f1f1f1;*/
    -webkit-text-size-adjust: none;
   }

   ::selection{
    color: #fff;
    background: #146eb3;
   }

   ::-moz-selection{
    color: #fff;
    background: #146eb3;
   }

   ::-moz-selection{background: #146eb3;color: #fff;}

   ::-webkit-scrollbar{
    background: #cdcdcd;  
    width: 10px;
   }

   ::-webkit-scrollbar-thumb{background: #333131;}


   ::-webkit-input-placeholder{
    color:#505050;

    -webkit-transition: text-indent .5s ease, color .5s ease;
        transition: text-indent .5s ease, color .5s ease;
   }

   input::-moz-placeholder{
    color:#505050;
    opacity:1;
   }

   textarea::-moz-placeholder{
    color: #505050;
    opacity: 1;
   }

   ::ms-input-placeholder{
    color:#505050;
   }

   [placeholder]:focus::-webkit-input-placeholder{
    text-indent:10em;
    color:transparent;
   }

   *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   }



  /* --------------------------------------------
        1.2. Fonts
  -------------------------------------------- */
    
    .PFDlight{font-family: 'pf_dindisplay_prolight';}
    .PFDregular{font-family: 'pf_dindisplay_proregular';}
    .PFDmedium{font-family: 'pf_dindisplay_promedium';}
    .PFDthin{font-family: 'pf_dindisplay_prothin';}

    .regular{font-weight: 400;}
    .semibold{font-weight: 600;}

/* ------------------------------------------------

    2. General Classes

------------------------------------------------ */

   .align_left{
    text-align: left;
   }

   .align_right{
    text-align: right;
   }

   .align_center{
    text-align: center;
   }

   .alignleft{
    float: left;
   }

   .alignright{
    float: right;
   }

   .wrapper{overflow: hidden;}

   .hide{ display: none !important;}

   .show{ display: block;}

   .d_ib{display: inline-block;}

   .transparent{ opacity:0; }

   .invisible{ 
    opacity: 0;
    visibility: hidden;
   }

   .visible{ 
    opacity:1; 
    visibility: visible;
   }

   .p_abs{position: absolute;}

   .p_rel{position: relative;}

   .p_fix{position: fixed;}

   .clear {clear:both;width:100%;line-height:0;font-size:0;}

   .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
   }

   .reg {text-transform:uppercase}

    .image_box img{max-width: 100%;}
   .image_box.alignleft{margin: 0 20px 20px 0;}
   .image_box.alignright{margin: 0  20px 20px;}


   /* --------------------------------------------
        7.1. Typography
   -------------------------------------------- */
  
      h1,h2,h3,h4,h5,h6{
         font-weight:normal;
         line-height: 1;
         color: #333;
         margin: 0;
         margin-bottom: 17px;
         position: relative;
      }

      h1{font-size: 38px;}

      h2{
        font: 600 17px/26px "Open Sans",sans-serif;
        color: #146eb3;
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 20px;
        clear: both;
      }

      h3{
        font: 600 14px/26px "Open Sans",sans-serif;
        color: #333030;
        text-transform: uppercase;
      }
      
      .page_title1{
        font-family: 'pf_dindisplay_promedium';
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 10px;
        color: #333;
        font-weight: normal;
        text-transform: uppercase;
      }

      .page_title2{
        font-family: 'pf_dindisplay_proregular';
        font-size: 19px;
        line-height: 25px;
        padding: 14px 35px 14px 0;
        font-weight: normal;
        color: #333;
        text-transform: uppercase;
        margin-bottom: 0;

      }

      .page_title3{
        font-family: 'pf_dindisplay_prolight';
        font-size: 22px;
        line-height: 25px;
        padding: 10px 30px 10px 0;
        color: #333;
        font-weight: normal;
        margin-bottom: 0;
      }

      h5{font-size: 16px;}

      h6{font-size: 14px;}

      .aside_title{
        line-height: 45px;
        border-top: 1px solid #e3e3e3;
      }


      h2>.icon,
      h3>.icon,
      h4>.icon,
      h5>.icon,
      h6>.icon,
      h2>.fa,
      h3>.fa,
      h4>.fa,
      h5>.fa,
      h6>.fa{
        position: absolute;
        right: 0;
        top: 50%;
        line-height: 0;
        font-size: 30px;
        color: #bebebe;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      h2>.sub_title,
      h3>.sub_title,
      h4>.sub_title,
      h5>.sub_title,
      h6>.sub_title{
        font-size: 17px;
        color: #787575;
        position: relative;
        display: inline-block;
        padding-left: 21px;
      }

      h2>.sub_title1,
      h3>.sub_title1,
      h4>.sub_title1,
      h5>.sub_title1,
      h6>.sub_title1{
        font-size: 16px;
        color: #787575;
        display: inline-block;
        text-transform: none;
        font-family: 'pf_dindisplay_proregular';
      }

      h2>.sub_title:before,
      h3>.sub_title:before,
      h4>.sub_title:before,
      h5>.sub_title:before,
      h6>.sub_title:before{
        content: "";
        display: block;
        position: absolute;
        height: 26px;
        top: 50%;
        margin-top: -13px;
        width: 1px;
        background-color: #e3e3e3;
        left: 10px;
      }

      .title1{
        font: 17px/27px 'pf_dindisplay_proregular';
        color: #454242;
        background-color: #f1f1f1;
        text-transform: uppercase;
        padding: 9px 55px 9px 15px;
        position: relative;
        margin-bottom: 4px;
      }

      .title1 .icon{
        right: 28px;
      }

      .title1:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
      }

      .title1.red_border:before{background-color: #ff1616;}

      .title1.blue_border:before{background-color: #146eb3;}

      .title2{
        font: 24px/35px 'pf_dindisplay_prolight';
        text-transform: uppercase;
        color: #146eb3;
        margin-bottom: 25px;
      }

      .title3{
        font: 600 17px/26px "Open Sans",sans-serif;
        color: #146eb3;
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 20px;
      }

      .title4{
        font: 600 14px/26px "Open Sans",sans-serif;
        color: #333030;
        text-transform: uppercase;
      }
      
      .title5{
        font: 21px/25px 'pf_dindisplay_proregular';
        margin-bottom: 10px;
      }

      .title6{
        font: 21px/25px 'pf_dindisplay_proregular';
        margin-bottom: 10px;
        text-transform: none;
        padding: 0;
      }

      .title7{
        font: 19px/25px 'pf_dindisplay_prolight';
        background-color: #f0f0f0;
        border-left: 3px solid #333;
        padding: 10px 14px;
        margin-bottom: 25px;
      }




      p:not(:last-child){margin-bottom: 15px;}

      strong{
        font-weight: 600;
        color: #333030;
      }

      mark{background-color: #146eb3;padding: 0 2px;color: #fff;}
      mark.red{background-color: #ee352f;}

      a{
         color: #454242;
         text-decoration: none;
         -webkit-transition: all 0.5s;
         -o-transition: all 0.5s;
         transition: all 0.5s;
      }
      a:hover{
         color: #146eb3;
         text-decoration: none;
         -webkit-transition: all 0.3s;
         -o-transition: all 0.3s;
         transition: all 0.3s;
      }
      a:focus,
      a:visited{
         text-decoration: none;
      }

      .link_accent{
        color: #146eb3;
      }
      .link_accent:hover{
        color: #454242;
      }

      a.icon:hover{opacity: 0.7;}

      blockquote{
        overflow: hidden;
        padding-left: 20px;
        border-left: 10px solid #d9d9d9;
        color: #333030;
        font-weight: 600;
      }

      blockquote:not(:last-child){
        margin-bottom: 20px;
      }

      .wp-caption-text{
        font-size: 12px;
        line-height: 18px;
        color: #333030;
        background-color: #f5f5f5;
        text-align: center;
        padding: 12px 40px;
      }

      .wp-caption img{width: 100%;}

      img{
        max-width: 100%;
      }



  /* --------------------------------------------
      22.4 Ticket Quotes 
  -------------------------------------------- */
      
      .box2{
        padding: 0 17px;
      }

      .box2:after{
        content: "";
        display: block;
        clear: both;
      }
      
      .change_color{
          position: relative;
          width: 50%;
          float: left;
          min-height: 60px;
      }

      .change_color:after{
        content: "";
        display: block;
        clear: both;
      }

      .change_color_title{
        float: left;
        width: 238px;
        color: #333;
        font: 17px/28px 'pf_dindisplay_prolight', sans-serif;
      }

      .colorSelector{
        float: left;
        width: 28px;
        height: 28px;
        background: url(plagins/colorpicker/images/select2.png) center;
        cursor: pointer;
      }

      .colorpicker{
        margin-top: 5px;
      }

      .checkbox1{
        float: left;
        width: 170px;
        margin-bottom: 20px;
      }

      .more_tools_box{
        display: none;
      }

      .more_tools_btn{
        padding: 20px 0;
      }

      .more_tools_btn>a{
        font: 17px/28px 'pf_dindisplay_prolight', sans-serif;
        color: #014587;
      }

      .more_tools_btn>a:hover{
        text-decoration: underline;
      }

      .more_tools_btn>a:before{
        content: "Еще инструменты";
      }

      .more_tools_btn>a.active:before{
        content: "Свернуть список";
      }

      .checkbox_box{
        display: inline-block;
        padding-right: 20px;
        padding-bottom: 10px;
      }

      .get_code_box{
        padding-top: 20px;
        border-top: 1px solid #e3e3e3;
      }

      .agreement_box{
        padding-bottom: 38px;
      }

      .get_code{
        display: none;
        padding-top: 20px;
      }

      .get_code textarea{
        background-color: #fff;
        border: 1px solid #dddddd;
        border-radius: 2px;
        resize: none;
        width: 100%;
        padding: 10px 17px;
      }

      .ticker_quotes_table{
        table-layout: fixed;
        width: 100%;
      }

      .ticker_quotes_table th{
        text-align: center;
        text-transform: uppercase;

      }

      .ticker_quotes_table th.ticker_quotes_type{
        text-align: left;
      }

      .ticker_quotes_table td{
        
        text-align: center;
       
      }
	  .ticker_quotes_table tr td:first-child, .ticker_quotes_table tr th:first-child{
		  border-left:none;
	  }
	  .ticker_quotes_table tr td:last-child, .ticker_quotes_table tr th:last-child{
		  border-right:none;
	  }
	  .ticker_quotes_table tr th{
		  border-top:none;
	  }
	  .ticker_quotes_table tr:last-child td{
		  border-bottom:none;
	  }

      .ticker_quotes_table td.ticker_quotes_type{
        color: #000;
        text-align: left;
      }

      

    

      .ticker_quotes_type_inner{
        position: relative;
        padding-left: 28px;
      }

      .lesion .ticker_quotes_type_inner:before{
        content: "";
        display: block;
        position: absolute;
        top: 7px;
        left: 0;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-top: 10px solid #dc0001;
      }

      .profit .ticker_quotes_type_inner:before{
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-bottom: 10px solid #98d33e;
      }

      .ticker_quotes_author{
        font: 15px/20px 'pf_dindisplay_prolight', sans-serif;
        color: #333;
        display: block;
        padding: 10px 0;
      }

      .link_box a{
        font: 15px/20px 'pf_dindisplay_prolight', sans-serif;
        margin-right: 25px;
      }

      .link_box a i{
        font-size: 18px;
        margin-top: 2px;
        color: #bebebe;
        margin-right: 6px;
      }

      .edition_btn.disabled,
      .edition_btn.disabled:hover{
        cursor: default;
        background-color: #bebebe;
        border-color: #bdb7bd;
      }
/* --------------------------------------------
     and informer 17.02.16
-------------------------------------------- */


.link_type1{
    display: inline-block;
    position: relative;
    text-decoration: none;
   }

   .link_type1_icon{
    display: block;
    position: absolute;
    height: 100%;
    text-align: center;
    top: 0;
    right: 0;
   }

   .link_type1_icon:before{
    content: '';
    display: block;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
   }

   .link_type1.download .link_type1_icon{
    background-color: #167ac6;
   }

   .link_type1.download .link_type1_icon:before{
      background: url(images/button_download.png) 0 0 no-repeat;
   }

   .link_type1.settings .link_type1_icon{
    background: #5e5e5e;
   }

   .link_type1.settings .link_type1_icon:before{
      content: "\f013";

   }

   .link_type1:hover{
    color: #167ac6;
    text-decoration: none;
   }

   .link_type1:hover .link_type1_icon{
    background-color: #198ae0;
   }
     /* --------------------------------------------
        7.9. Informer Tables
  -------------------------------------------- */

    /*! basic ==================================================*/

      [class*='informer_box'] [class*='col']{
        float: none;
        width: auto;
      }

      .informer_box:not(:last-child){
        margin-bottom: 50px;
      }

      .informer_box_example .informer_table_small:not(:last-child){
        margin-right: 20px;
      }

      .informer_box_example .informer_table_middle:not(:last-child){
        margin-right: 10px;
      }

      .informer_box_example .informer_table_marquee:not(:last-child){
        margin-right: 30px;
      }

      .informer_box_example .informer_table:not(:last-child){
        margin-right: 20px;
      }

      .informer_box_example .informer_table,.informer_table_middle,.informer_box_example .informer_table_small,.informer_box_example .informer_table_marquee{
        margin-bottom: 20px;
      }

      .informer_table tfoot td,.informer_table_middle tfoot td,.informer_table_small tfoot td{
        padding: 11px 5px;
      }

      .informer_table_small th,.informer_table_small td,
      .informer_table_middle th,.informer_table_middle td,.informer_table td{
        color: #454545;
      }

      .informer_table_middle{
        /*max-width: 243px;*/
        width: 100%;
        text-align: center;
        background: #fff;
        color: #454545;
        font-family: "Open Sans";
        font-size: 13px;
        table-layout: fixed;

      }

      .informer_table_small{
       /* max-width: 183px;*/
        width: 100%;
        text-align: center;
        background: #fff;
        color: #454545;
        font-family: "Open Sans";
        font-size: 13px;
        table-layout: fixed;
  
      }

      .informer_table_marquee{
        /*max-width: 995px;*/
        width: 100%;
        text-align: center;
        background: #fff;
        color: #454545;
        font-family: "Open Sans";
        font-size: 13px;
        table-layout: fixed;

      }

    /*======= stylesheet =======*/

      /* icon */
        .informer_table [class*="icon_amount"]{
          position: relative;
          padding-left: 10px;
          text-align: left;
        }

        .informer_table [class*="icon_amount"]:before{
          content: "";
        /*  position: absolute;*/
          left: 25px;
          top: 50%;
          display: inline-block;
          width: 12px;
          height: 15px;
         /* -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
          -o-transform: translate(0,-50%);
          transform: translate(0,-50%);*/
          font-weight: bold;
          font-size: 20px;
        }

      /* amount =============================*/
       /* .informer_table.informer1 .loss .arrow:before{
		  content: "\f175";
          font: normal normal normal 16px/1 FontAwesome;
        }

        .informer_table.informer1 .profit .arrow:before{
          content: "\f176";
          font: normal normal normal 16px/1 FontAwesome;
        }*/

      /* link =============================*/

        .informer_table_marquee .instal_link,
        .informer_table .instal_link{
          position: relative;
		  color: #5e5e5e;
        }

        .informer_table_marquee .instal_link:before,
        .informer_table .instal_link:before{
          content: "\f013";
          font: normal normal normal 18px/1 FontAwesome;
          position: absolute;
          /*color: #5e5e5e;*/
          top: 50%;
          left: -30px;
          -webkit-transform: translate(0,-50%);
          -ms-transform: translate(0,-50%);
          -o-transform: translate(0,-50%);
          transform: translate(0,-50%);
        }

        .informer_table_marquee .instal_link:before{
          left: -41px;
        }

        [class*="informer_table"] .instal_link{
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
        }

        [class*="informer_table"] .instal_link:hover{
          color: #000;
          opacity: 0.7;
        }


        .informer_table_marquee .amount,
        .informer_table_small .amount,
        .informer_table_middle .amount,
        .informer_table .amount{
          font-weight: bold;
          text-transform: uppercase;
        }

        .informer_table_marquee .amount_big,
        .informer_table_small .amount_big,
        .informer_table_middle .amount_big,
        .informer_table .amount_big{
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .informer_table_marquee .amount_middle,
        .informer_table_small .amount_middle,
        .informer_table_middle .amount_middle,
        .informer_table .amount_middle{
          color: #444;
          font-size: 17px;
          font-weight: bold;
          display: inline-block;
        }


      /* arrow =====================*/
	 /*.informer_table.bold_bd .profit .arrow:after{
          width: 12px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
		  margin-top:0px;
          content: "\f176";
          font: normal normal normal 16px/1 FontAwesome;
        }
		.informer_table.bold_bd .loss .arrow:after{
          width: 12px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
		  margin-top:0px;
          content: "\f175";
          font: normal normal normal 16px/1 FontAwesome;
        }*/
		
		
		/*.informer_table.wwwhite .profit .arrow:before{
          width: 12px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
		  margin-top:0px;
          content: "\f176";
          font: normal normal normal 16px/1 FontAwesome;
        }
		.informer_table.wwwhite .loss .arrow:before{
         width: 12px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px;
		  margin-top:0px;
          content: "\f175";
          font: normal normal normal 16px/1 FontAwesome;
        }*/
		.informer_table.wwwhite  .arrow{
			padding-left:10px;
		}

        .arrow_l_d:before{
          content: "";
          width: 12px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          background: url(images/informer/arrow_down_red.png) 0 0 no-repeat;
        }

        .arrow_r_d:after{
          content: "";
          width: 12px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          background: url(images/informer/arrow_down_red.png) 0 0 no-repeat;
        }

        .arrow_l_up:before{
          content: "";
          width: 12px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          background: url(images/informer/arrow_up_green.png) 0 0 no-repeat;
        }

        .arrow_r_up:after{
          content: "";
          width: 12px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          background: url(images/informer/arrow_up_green.png) 0 0 no-repeat;
        }

      /* anlgle ========================*/

        .angle_l_top_red:before{
          content: "";
          border: 3px solid transparent;
          border-bottom: 4px solid #ff1616;
          width: 0;
          height: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          margin-top: -3px;
        }

        .angle_l_bottom_red:before{
          content: "";
          border: 3px solid transparent;
          border-top: 4px solid #ff1616;
          width: 0;
          height: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
        }
		.angle_l_top:before{
          content: "";
          border: 3px solid transparent;
          border-bottom: 4px solid #ff1616;
          width: 0;
          height: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          margin-top: -3px;
        }

        .angle_l_bottom_green:before{
          content: "";
          border: 3px solid transparent;
          border-top: 4px solid #89bb50;
          width: 0;
          height: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
        }
		
		.angle_l_bottom:before{
          content: "";
          border: 3px solid transparent;
          border-top: 4px solid #89bb50;
          width: 0;
          height: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
        }

        .angle_l_top_green:before{
          content: "";
          border: 3px solid transparent;
          border-bottom: 4px solid #89bb50;
          width: 0;
          height: 0;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
        }

        .angle_l_top_red,
        .angle_l_bottom_red{
          display: block;
          color: #ff1616;
          font-size: 13px;
          line-height: 13px;
          font-weight: 400;
        }

        .angle_l_bottom_green,
        .angle_l_top_green{
          display: block;
          color: #89bb50;
          font-size: 13px;
          line-height: 13px;
          font-weight: 400;
        }
		
		 .angle_l_bottom,
        .angle_l_top{
          display: block;
          color: #89bb50;
          font-size: 13px;
          line-height: 13px;
          font-weight: 400;
        }

        .informer_table thead time{
          font-weight: 400;
        }

       .informer_table td.red{
          color: #ff1616;
        }

        .informer_table td.green{
          color: #89bb50;
        }

    /*! Informer Table Default =================================*/

      .informer_table{
        text-align: center;
        width: 100%;
        /*max-width: 320px;*/
        background: #fff;
        color: #454545;
        font-family: "Open Sans";
        font-size: 13px;
        table-layout: fixed;
      }

      .informer_table_marquee .col4 td,
      .informer_table_small .col4 td,
      .informer_table_middle .col4 td,
      .informer_table .col4 td{
        border-bottom: 1px solid #f1f1f1;
      }

      .informer_table_marquee th,
      .informer_table_small th,
      .informer_table_middle th,
      .informer_table th{
        text-transform: uppercase;
      }

      .informer_table_marquee th,.informer_table_marquee td,
      .informer_table_small th,.informer_table_small td,
      .informer_table_middle th,.informer_table_middle td,
      .informer_table th,.informer_table td{
        vertical-align: middle;
        border: 1px solid #e8e8e8;
        padding: 9px 5px 9px;
      }

      .informer_table_marquee thead th,
      .informer_table_small thead th,
      .informer_table_middle thead th,
      .informer_table thead th{
        font-size: 12px;
        padding: 14px 5px 13px;
      }

      .informer_table time,.informer_table_small time,.informer_table_middle time,.informer_table_marquee time{
        color: #787878;
      }

      /* tfoot */
      .informer_table tfoot td,.informer_table_middle tfoot td,.informer_table_marquee tfoot td{
        background: #f1f1f1;
        padding: 11px 5px;
        border: 1px solid #f1f1f1;
      }

    /*! Informer Table Silver ==================================*/

      .informer_table.silver{
        background: #f6f6f6;
      }

      .informer_table.silver thead th{
        border-top-color: #f6f6f6;
        border-left-color: #f6f6f6;
        border-right-color: #f6f6f6;
      }

      .informer_table.silver tfoot td{
        background: #fff;
        border: 1px solid #f1f1f1;
      }

      .informer_table.silver tfoot td{
        background: #fff;
        border: 1px solid #f1f1f1;
      }

      .informer_table.silver tbody [class*="col"] th:not(:last-child),
      .informer_table.silver tbody [class*="col"] td:not(:last-child){
        border-left-color: #f6f6f6;
      }
      .informer_table.silver tbody [class*="col"] th:not(:first-child),
      .informer_table.silver tbody [class*="col"] td:not(:first-child){
        border-right-color: #f6f6f6;
      }
      .informer_table.silver tbody .col4 td{
        border-left-color: #f6f6f6;
        border-right-color: #f6f6f6;
      }

     .informer_table.silver tbody .col2 td {
          border-bottom-color: transparent;
      }

    /*! Informer Table light_dark_silver =======================*/

      .informer_table.light_dark_silver tfoot td,
      .informer_table.light_dark_silver thead th{
        background: #b3b1b1;
        color: #fff;
      }

      .informer_table.light_dark_silver tbody{
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
      }

      .informer_table.light_dark_silver tfoot td,
      .informer_table.light_dark_silver thead th{
        border-color: #b3b1b1;
      }

      .informer_table.light_dark_silver tbody .col1 th{
        border-color: #f1f1f1;
      }

      .informer_table.light_dark_silver tbody .col4 td{
        border-color: #f1f1f1;
        border-right: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
      }

      .informer_table.light_dark_silver .col1 th:not(:first-child){
        border-right: 1px solid #e8e8e8;
      }

      .informer_table.light_dark_silver .col1 th:not(:last-child){
        border-left: 1px solid #e8e8e8;
      }

      .informer_table.light_dark_silver .col4 td,
      .informer_table.light_dark_silver .col1 th{
        background: #f1f1f1;
      }

      .informer_table.light_dark_silver .col2 td{
        border-top: none;
      }

      .informer_table.light_dark_silver .col3 td{
        border-bottom: none;
      }

      .informer_table.light_dark_silver .instal_link,
      .informer_table.light_dark_silver .instal_link:before{
        color: #fff;
      }

    /*! Informer Table Dark ====================================*/

      .informer_table.dark tfoot td,
      .informer_table.dark thead{
        background: #4d4d4d;
      }

      .informer_table.dark tfoot td,
      .informer_table.dark thead th{
        border-color: #4d4d4d;
      }

      .informer_table.dark tbody td:not(:first-child){
        border-right-color: #333;
      }

      .informer_table.dark tbody td:not(:last-child){
        border-left-color: #333;
      }

      .informer_table.dark tfoot .instal_link:before,
      .informer_table.dark tfoot .instal_link{
        color: #e6e6e6;
      }

      .informer_table.dark thead th{
        color: #e6e6e6;
      }

      .informer_table.dark tbody th,
      .informer_table.dark tbody td{
        border-color: #4d4d4d;
      }

      .informer_table.dark tbody{
        background: #333;
        color: #e6e6e6;
      }

      .informer_table.dark tbody .col1 th{
        border-top: 1px solid #333;
        color: #e6e6e6;
      }

      .informer_table.dark tbody .col1 th:not(:first-child){
        border-right: 1px solid #333;
      }

      .informer_table.dark tbody .col1 th:not(:last-child){
        border-left: 1px solid #333;
        border-top: 1px solid #333;
      }

      .informer_table.dark tbody .col4 time{
        color: #e6e6e6;
      }

      .informer_table.dark td:not(:last-child){color: #e6e6e6;}

      .informer_table.dark .col4 td{
        border-color: #333;
      }

    /*! Informer Table blue ====================================*/

      .informer_table.blue{
        color: #fff;
      }

      .informer_table.blue tfoot td,
      .informer_table.blue thead th{
        background: #136bad;
        color: #fff;
      }

      .informer_table.blue tfoot td,
      .informer_table.blue thead th{
        border-color: #136bad;
      }

      .informer_table.blue tfoot .instal_link:before,
      .informer_table.blue tfoot .instal_link{
        color: #fff;
      }

      /* amount */
      .informer_table.blue .icon_amount_euro:before{
        background: url(images/informer/arrow_down_white.png) 0 0 no-repeat;
      }

      .informer_table.blue .icon_amount_dollar:before{
        background: url(images/informer/arrow_up_white.png) 0 0 no-repeat;
      }

      .informer_table.blue tbody th,
      .informer_table.blue tbody td{
        border-color: #136bad;
        color: #fff;
      }

      .informer_table.blue tbody{
        background: #167ac6;
      }

      .informer_table.blue tbody .col1 th{
        border-top: 1px solid #333;
      }

      .informer_table.blue tbody  td:not(:first-child),
      .informer_table.blue tbody .col1 th:not(:first-child){
        border-right: 1px solid #167ac6;
      }

      .informer_table.blue tbody  td:not(:last-child),
      .informer_table.blue tbody .col1 th:not(:last-child){
        border-left: 1px solid #167ac6;
      }

      .informer_table.blue tbody .col4 time{
        color: #fff;
      }

      .informer_table.blue .col4 td{
        border-color: #167ac6;
      }

    /*! Informer Table purple ==================================*/

      .informer_table.purple{
        color: #fff;
      }

      .informer_table.purple tfoot td,
      .informer_table.purple thead th{
        background: #615f8c;
        color: #fff;
      }

      .informer_table.purple tfoot td,
      .informer_table.purple thead th{
        border-color: #615f8c;
      }

      .informer_table.purple tfoot .instal_link:before,
      .informer_table.purple tfoot .instal_link{
        color: #fff;
      }

      /* amount */
      .informer_table.purple .icon_amount_euro:before{
        background: url(images/informer/arrow_down_white.png) 0 0 no-repeat;
      }

      .informer_table.purple .icon_amount_dollar:before{
        background: url(images/informer/arrow_up_white.png) 0 0 no-repeat;
      }

      .informer_table.purple tbody th,
      .informer_table.purple tbody td{
        border-color: #615f8c;
        color: #fff;
      }

      .informer_table.purple tbody{
        background: #7371a6;
      }

      .informer_table.purple tbody .col1 th{
        border-top: 1px solid #615f8c;
      }

      .informer_table.purple tbody  td:not(:first-child),
      .informer_table.purple tbody .col1 th:not(:first-child){
        border-right: 1px solid #7371a6;
      }

      .informer_table.purple tbody  td:not(:last-child),
      .informer_table.purple tbody .col1 th:not(:last-child){
        border-left: 1px solid #7371a6;
      }

      .informer_table.purple tbody .col4 time{
        color: #fff;
      }

      .informer_table.purple .col4 td{
        border-color: #7371a6;
      }

    /*! Informer Table border bold ==============================*/

      .informer_table.bold_bd th,
      .informer_table.bold_bd td{
        border-width: 2px;
      }

      .informer_table.bold_bd td{
        padding: 9px 5px 8px;
      }

      .informer_table.bold_bd thead th{
        padding: 12px 5px;
      }

      .informer_table.bold_bd .col4 td{
        border-bottom: 2px solid #e8e8e8;
      }

    /*! Informer Table type1 ====================================*/

     .informer_table.type1 tbody .col2 td {
          border-bottom-color: transparent;
      }

    /*! Informer Table  white ====================================*/

      .informer_table.white td,
      .informer_table.white th{
       /* background: #fff;*/
        /*border: 2px solid #e3e3e3;*/
      }

     .informer_table.white thead th{
        text-transform: none;
        font-size: 14px;
     }

     .informer_table.white.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
     }

     .informer_table.white tbody td{
        font-size: 18px;
        font-weight: bold;
     }



      .informer_table.white .col2 td{
        border-top-color: transparent;
		border-bottom-color: transparent;
        padding: 6px 5px 6px;
      }
	   .informer_table.white .col3 td{
		   padding: 6px 5px 6px;
	   }

    /*! Informer Table  bd orange ================================*/

      .informer_table.bd_orange td,
      .informer_table.bd_orange th{
        background: #fff;
        border: 1px solid #ff1616;
      }

     .informer_table.bd_orange thead th{
        text-transform: none;
        font-size: 14px;
     }

     .informer_table.bd_orange.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
     }

     .informer_table.bd_orange tbody td{
        font-size: 18px;
        font-weight: bold;
     }

      .informer_table.bd_orange .col1 td{
        border-bottom-color: transparent;
        padding: 18px 5px 6px;
      }

      .informer_table.bd_orange .col2 td{
        border-top-color: transparent;
        padding: 6px 5px 18px;
      }

     .informer_table.bd_orange tbody .col1 td {
          border-bottom-color: transparent;
      }

    /*! Informer Table Dark Silver 2 =============================*/

      .informer_table.dark_silver_2.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
      }

      .informer_table.dark_silver_2{
        background-color: #f1f1f1;
      }

      .informer_table.dark_silver_2 thead th{
        border: 1px solid #ccc;
        font-size: 14px;
        text-transform: none;
      }

      .informer_table.dark_silver_2 tfoot td{
        border: 1px solid #ccc;
        background: none;
      }

      .informer_table.dark_silver_2 tbody td:not(:first-child){
        border: 1px solid #ccc;
      }

      .informer_table.dark_silver_2 tbody td:not(:last-child){
        border: 1px solid #ccc;
      }

      .informer_table.dark_silver_2 tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .informer_table.dark_silver_2 .col1 td{
        border-bottom-color: transparent;
        padding: 18px 5px 6px;
      }

      .informer_table.dark_silver_2 .col2 td{
        border-top-color: transparent;
        padding: 6px 5px 18px;
      }

      .informer_table.dark_silver_2 tbody .col1 td {
          border-bottom-color: transparent;
      }

    /*! Informer Table Orange Head ===============================*/

      .informer_table.orange_head thead time,
      .informer_table.orange_head thead th{
        background: #ff660a;
        color: #fff;
        border-color: #ff660a;
        font-size: 14px;
        text-transform: none;
      }

      .informer_table.orange_head tfoot td{
        border: 1px solid #ff660a;
        background: none;
      }

      .informer_table.orange_head tbody td:not(:first-child){
        border-right: 1px solid #ff660a;
      }

      .informer_table.orange_head tbody td:not(:last-child){
        border-left: 1px solid #ff660a;
      }

      .informer_table.orange_head tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .informer_table.orange_head .col1 td{
        border-bottom-color: transparent;
        padding: 18px 5px 6px;
      }

      .informer_table.orange_head .col2 td{
        border-top-color: transparent;
        padding: 6px 5px 18px;
      }


      .informer_table.orange_head tbody .col1 td {
          border-bottom-color: transparent;
      }

    /*! Informer Table type2 ======================================*/

      .informer_table.type2 thead th{
        background: #f1f1f1;
        border-color: #f1f1f1;
      }

      .informer_table.type2 .col4 td {
          border-bottom: 1px solid #e8e8e8;
      }

      .informer_table.type2 tbody .col2 td {
          border-bottom-color: transparent;
      }

    /* Middle */
    /*! Informer Table moddle white ===============================*/

      .informer_table_middle.white.bold_bd td,
      .informer_table_middle.white.bold_bd th{
        border: 2px solid #e3e3e3;
      }

      .informer_table_middle.white.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
      }

      .informer_table_middle.white thead th{
        font-size: 14px;
        text-transform: none;
      }

      .informer_table_middle.white tfoot td{
        background: none;
      }

      .informer_table_middle.white tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .informer_table_middle.white .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .informer_table_middle.white .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .informer_table_middle.white .instal_link{
        font-size: 12px;
      }

      .informer_table_middle.white .instal_link:before{
        display: none;
      }

    /*! Informer Table mddle hight_silver =========================*/

      .informer_table_middle.hight_silver td,
      .informer_table_middle.hight_silver th{
        background: #f1f1f1;
        border: 1px solid #ccc;
      }

      .informer_table_middle.hight_silver.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
      }

      .informer_table_middle.hight_silver thead th{
        font-size: 14px;
        text-transform: none;
      }

      .informer_table_middle.hight_silver .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .informer_table_middle.hight_silver .col1 td:not(:last-child){
        border-right-color: transparent;
      }


      .informer_table_middle.hight_silver .instal_link{
        font-size: 12px;
      }

      .informer_table_middle.hight_silver .instal_link:before{
        display: none;
      }

    /*! Informer Table middle hight silver black ===================*/

      .informer_table_middle.hight_silver_black td,
      .informer_table_middle.hight_silver_black th{
        background: #f1f1f1;
        border: 1px solid #ccc;
      }

      .informer_table_middle.hight_silver_black.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
        background-color: #545454;
        color: #fff;
      }

      .informer_table_middle.hight_silver_black thead th{
        font-size: 14px;
        text-transform: none;
      }

      .informer_table_middle.hight_silver_black tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .informer_table_middle.hight_silver_black .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .informer_table_middle.hight_silver_black .col1 td:not(:last-child){
          border-right-color: transparent;
      }

      .informer_table_middle.hight_silver_black .instal_link{
        font-size: 12px;
      }

      .informer_table_middle.hight_silver_black .instal_link:before{
        display: none;
      }

    /*! Informer Table middle hight orange ==========================*/

      .informer_table_middle.hight_orange td,
      .informer_table_middle.hight_orange th{
        background: #f1f1f1;
        border: 1px solid #ff660a;
      }

      .informer_table_middle.hight_orange.tt_upr thead th{
        text-transform: uppercase;
        font-size: 14px;
        background: #ff660a;
        border-color: #ff660a;
        color: #fff;
      }

      .informer_table_middle.hight_orange thead th{
        font-size: 14px;
        text-transform: none;
      }

      .informer_table_middle.hight_orange tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .informer_table_middle.hight_orange .col1 td{
        border-bottom: 1px solid #ccc;
      }

      .informer_table_middle.hight_orange .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .informer_table_middle.hight_orange .col1 td:not(:last-child){
          border-right-color: transparent;
      }

      .informer_table_middle.hight_orange .instal_link{
        font-size: 12px;
      }

      .informer_table_middle.hight_orange .instal_link:before{
        display: none;
      }

    /*! Informer Table middle hight_gold ============================*/

      .informer_table_middle.hight_gold td,
      .informer_table_middle.hight_gold th{
        background: #f1f1f1;
        border: 1px solid #897939;
      }

      .informer_table_middle.hight_gold thead th time{
        color: #fff;
      }

      .informer_table_middle.hight_gold thead th{
        font-size: 14px;
        background-color: #897939;
        border-color: #897939;
        color: #fff;
        text-transform: none;
      }

      .informer_table_middle.hight_gold tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .informer_table_middle.hight_gold .col1 td{
        border-bottom: 1px solid #897939;
      }

      .informer_table_middle.hight_gold .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .informer_table_middle.hight_gold .col1 td:not(:last-child){
          border-right-color: transparent;
      }

      .informer_table_middle.hight_gold .instal_link{
        font-size: 12px;
        color: #574d24;
      }

      .informer_table_middle.hight_gold .instal_link:before{
        display: none;
      }

    /*! Informer Table middle pink_orange ===========================*/

      .informer_table_middle.pink_orange td,
      .informer_table_middle.pink_orange th{
        background: #ffece5;
        border: 1px solid #ff7e65;
      }

      .informer_table_middle.pink_orange thead th time{
        color: #fff;
      }

      .informer_table_middle.pink_orange thead th{
        font-size: 14px;
        background: #ff7e65;
        border-color: #ff7e65;
        color: #fff;
        text-transform: none;
      }

      .informer_table_middle.pink_orange tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .informer_table_middle.pink_orange .col1 td{
        border-bottom: 1px solid #ff7e65;
      }

      .informer_table_middle.pink_orange .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .informer_table_middle.pink_orange .col1 td:not(:last-child){
          border-right-color: transparent;
      }

      .informer_table_middle.pink_orange .instal_link{
        font-size: 12px;
        color: #574d24;
      }

      .informer_table_middle.pink_orange .instal_link:before{
        display: none;
      }

    /*! Informer Table middle hight blue ===========================*/

      .informer_table_middle.hight_blue td,
      .informer_table_middle.hight_blue th{
        border: 1px solid #167ac6;
        background: #167ac6;
        color: #fff;
      }

      .informer_table_middle.hight_blue thead th time,
      .informer_table_middle.hight_blue span,
      .informer_table_middle.hight_blue .amount_middle{
        color: #fff;
      }


      .informer_table_middle.hight_blue .angle_l_top_red:before{
        border-bottom-color: #fff;
      }

      .informer_table_middle.hight_blue .angle_l_bottom_green:before{
        border-top-color: #fff;
      }

      .informer_table_middle.hight_blue thead th{
        font-size: 14px;
        background: #115e99;
        border-color: #115e99;
        text-transform: none;
      }

      .informer_table_middle.hight_blue tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .informer_table_middle.hight_blue .col1 td{
        border-bottom: 1px solid #115e99;
      }

      .informer_table_middle.hight_blue .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .informer_table_middle.hight_blue .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .informer_table_middle.hight_blue .instal_link{
        font-size: 12px;
        color: #fff;
      }

      .informer_table_middle.hight_blue .instal_link:before{
        display: none;
      }

    /*! Informer Table middle hight blue ============================*/

      .informer_table_middle.hight_silver_dark td,
      .informer_table_middle.hight_silver_dark th{
        border: 1px solid #b3b1b1;
        background-color: #f1f1f1;
        color: #fff;
      }

      .informer_table_middle.hight_silver_dark thead th time{
        color: #fff;
      }

      .informer_table_middle.hight_silver_dark thead th{
        font-size: 14px;
        background: #b3b1b1;
        border-color: #b3b1b1;
        text-transform: none;
      }

      .informer_table_middle.hight_silver_dark tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .informer_table_middle.hight_silver_dark .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .informer_table_middle.hight_silver_dark .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .informer_table_middle.hight_silver_dark .instal_link{
        font-size: 12px;
      }


      /* small */

    /*! Informer table small default ================================*/

      .informer_table_small.default span2{
        vertical-align: middle;
      }

      

      .informer_table_small.default .angle_l_bottom_red,
      .informer_table_small.default .angle_l_top_green{
        display: inline-block;
        vertical-align: middle;
      }

      .informer_table_small.default .amount_middle{
        vertical-align: middle;
        font-size: 13px;
        line-height: 1;
      }

      .informer_table_small.default thead time,
      .informer_table_small.default thead th{
        text-transform: none;
      }

      .informer_table_small.default tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .informer_table_small.default .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .informer_table_small.default .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .informer_table_small.default .instal_link{
        font-size: 10px;
      }

    /*! Informer table small silver_dark =============================*/

      .informer_table_small.silver_dark span2{
        vertical-align: middle;
      }

      .informer_table_small.silver_dark td,
      .informer_table_small.silver_dark th{
        border: 1px solid #ccc;
        padding: 10px 5px 9px;
      }

      .informer_table_small.silver_dark .angle_l_bottom_red,
      .informer_table_small.silver_dark .angle_l_top_green{
        display: inline-block;
        vertical-align: middle;
      }

      .informer_table_small.silver_dark .amount_middle{
        vertical-align: middle;
        font-size: 13px;
        line-height: 1;
      }

      .informer_table_small.silver_dark tbody td,
      .informer_table_small.silver_dark tfoot td{
        background-color: #f1f1f1;
        border: 1px solid #ccc;
      }

      .informer_table_small.silver_dark thead th{
        background: #b3b1b1;
        border-color: #b3b1b1;
      }

      .informer_table_small.silver_dark thead time,
      .informer_table_small.silver_dark thead th{
        text-transform: none;
        color: #fff;
      }

      .informer_table_small.silver_dark tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .informer_table_small.silver_dark .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .informer_table_small.silver_dark .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .informer_table_small.silver_dark .instal_link{
        font-size: 10px;
      }

    /*! Informer table small orange ===================================*/

      .informer_table_small.orange span2{
        vertical-align: middle;
      }

      .informer_table_small.orange td,
      .informer_table_small.orange th{
        border: 1px solid #ccc;
        padding: 10px 5px 9px;
      }

      .informer_table_small.orange .angle_l_bottom_red,
      .informer_table_small.orange .angle_l_top_green{
        display: inline-block;
        vertical-align: middle;
      }

      .informer_table_small.orange .amount_middle{
        vertical-align: middle;
        font-size: 13px;
        line-height: 1;
      }

      .informer_table_small.orange tbody td,
      .informer_table_small.orange tfoot td{
        background-color: #f1f1f1;
        border: 1px solid #ccc;
      }

      .informer_table_small.orange tfoot td{
        border-left-color: #ff660a;
        border-right-color: #ff660a;
        border-bottom-color: #ff660a;
      }

      .informer_table_small.orange thead th{
        background: #ff660a;
        border-color: #ff660a;
      }

      .informer_table_small.orange thead time,
      .informer_table_small.orange thead th{
        text-transform: none;
        color: #fff;
      }

      .informer_table_small.orange tbody td{
        font-weight: bold;
        font-size: 18px;
        border-left-color: #ff660a;
        border-right-color: #ff660a;
      }

      .informer_table_small.orange .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .informer_table_small.orange .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .informer_table_small.orange .instal_link{
        font-size: 10px;
      }

    /*! Informer table small pink =====================================*/

      .informer_table_small.pink span2{
        vertical-align: middle;
      }

      .informer_table_small.pink td,
      .informer_table_small.pink th{
        border: 1px solid #ccc;
        padding: 10px 5px 9px;
      }

      .informer_table_small.pink .angle_l_bottom_red,
      .informer_table_small.pink .angle_l_top_green{
        display: inline-block;
        vertical-align: middle;
      }

      .informer_table_small.pink .amount_middle{
        vertical-align: middle;
        font-size: 13px;
        line-height: 1;
      }

      .informer_table_small.pink tbody td,
      .informer_table_small.pink tfoot td{
        background-color: #ffece5;
        border: 1px solid #ff7e65;
      }

      .informer_table_small.pink thead th{
        background: #ff7e65;
        border-color: #ff7e65;
      }

      .informer_table_small.pink thead time,
      .informer_table_small.pink thead th{
        text-transform: none;
        color: #fff;
      }

      .informer_table_small.pink tbody td{
        font-weight: bold;
        font-size: 18px;
      }

      .informer_table_small.pink .col1 td:not(:first-child){
        border-left-color: transparent;
      }

      .informer_table_small.pink .col1 td:not(:last-child){
        border-right-color: transparent;
      }

      .informer_table_small.pink .instal_link{
        font-size: 10px;
      }

    /*! Informer table small silver_dark ==============================*/

      .informer_table_small.silver_dark2 span2{
        vertical-align: middle;
      }

      .informer_table_small.silver_dark2 td,
      .informer_table_small.silver_dark2 th{
        border: 1px solid #ccc;
      }

      .informer_table_small.silver_dark2 .angle_l_bottom_red,
      .informer_table_small.silver_dark2 .angle_l_top_green{
        display: inline-block;
        vertical-align: middle;
      }

      .informer_table_small.silver_dark2 .amount_middle{
        vertical-align: middle;
        font-size: 19px;
        margin-left: 10px;
        line-height: 1;
      }

      .informer_table_small.silver_dark2 tbody td,
      .informer_table_small.silver_dark2 tfoot td{
        background-color: #f1f1f1;
        border: 1px solid #ccc;
      }

      .informer_table_small.silver_dark2 thead th{
        background: #b3b1b1;
        border-color: #b3b1b1;
        padding: 9px 5px 8px;
      }

      .informer_table_small.silver_dark2 thead time,
      .informer_table_small.silver_dark2 thead th{
        text-transform: none;
        color: #fff;
      }

      .informer_table_small.silver_dark2 tbody span{
        font-size: 11px;
        color: #454545;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
      }

      .informer_table_small.silver_dark2 .col1 td{
        border-bottom-color: transparent;
        padding: 11px 5px 6px;
      }

      .informer_table_small.silver_dark2 .col2 td{
        border-top-color: transparent;
        padding: 6px 5px 11px;
      }

      .informer_table_small.silver_dark2 .instal_link{
        font-size: 10px;
      }

    /* marquee */
    /*! Informer marquee  blue =========================================*/

      .informer_table_marquee.blue span{
        vertical-align: middle;
      }

      .informer_table_marquee.blue td,
      .informer_table_marquee.blue th{
        padding: 10px 5px 9px;
      }

      .informer_table_marquee.blue .angle_l_bottom_red,
      .informer_table_marquee.blue .angle_l_top_green{
        display: inline-block;
        vertical-align: middle;
      }

      .informer_table_marquee.blue .amount_middle.blue{
        color: #167ac6;
        font-size: 19px;
      }

      .informer_table_marquee.blue .amount_middle{
        vertical-align: middle;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 1;
      }

      .informer_table_marquee.blue tfoot td{
        padding: 8px 5px 8px;
      }

      .informer_table_marquee.blue tbody td,
      .informer_table_marquee.blue tfoot td{
        background: #f6f6f6;
        border: 1px solid #167ac6;
      }

      .informer_table_marquee.blue thead th{
        background-color: #167ac6;
        border-color: #167ac6;
      }

      .informer_table_marquee.blue thead time,
      .informer_table_marquee.blue thead th{
        text-transform: none;
        color: #fff;
      }

      .informer_table_marquee.blue tbody td{
        padding: 15px 5px 14px;
      }

      .informer_table_marquee.blue tbody span{
        font-size: 14px;
        color: #454545;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
      }

      .informer_table_marquee.blue .instal_link{
        font-size: 12px;
      }

    /*! Informer marquee  silver dark ==================================*/

      .informer_table_marquee.silver_dark span{
        vertical-align: middle;
      }

      .informer_table_marquee.silver_dark td,
      .informer_table_marquee.silver_dark th{
        padding: 10px 5px 9px;
      }

      .informer_table_marquee.silver_dark .angle_l_top_red,
      .informer_table_marquee.silver_dark .angle_l_bottom_green{
        display: inline-block;
        vertical-align: middle;
      }

      .informer_table_marquee.silver_dark .amount_middle.silver_dark{
        color: #167ac6;
        font-size: 19px;
      }

      .informer_table_marquee.silver_dark .amount_middle{
        vertical-align: middle;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 1;
      }

      .informer_table_marquee.silver_dark tfoot td{
        padding: 8px 5px 8px;
      }

      .informer_table_marquee.silver_dark tbody td,
      .informer_table_marquee.silver_dark tfoot td{
        background-color: #f6f6f6;
        border: 1px solid #b3b1b1;
      }

      .informer_table_marquee.silver_dark thead th{
        background-color: #b3b1b1;
        border-color: #b3b1b1;
      }

      .informer_table_marquee.silver_dark thead time,
      .informer_table_marquee.silver_dark thead th{
        text-transform: none;
        color: #fff;
      }

      .informer_table_marquee.silver_dark tbody td{
        padding: 15px 5px 14px;
      }

      .informer_table_marquee.silver_dark tbody span{
        font-size: 18px;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
      }

      .informer_table_marquee.silver_dark .instal_link{
        font-size: 12px;
      }
	  
	  
	  
.informer_table td .itemImgWrap{
	padding:0px 5px 0px 5px;
	height: 36px; 
	width:36px;
	background-color: #f1f1f1; 
	display: inline-block; 
	vertical-align: middle; 
	font-size: 12px; 
	line-height: 36px; 
	color:#545454; 
	margin-right:10px;
}
.informer_table_middle td .itemImgWrap{
	padding:0px 5px 0px 5px;
	height: 36px; 
	min-width:36px;
	background-color: #f1f1f1; 
	display: inline-block; 
	vertical-align: middle;
	font-size: 12px; 
	line-height: 36px; 
	color:#fff; 
	margin-right:8px;
}
.style2ImgWrap{
	width: 16px; 
	height: 16px; 
	display: inline-block; 
	vertical-align: middle; 
	margin-right: 10px;
}
.style5ImgWrap{
	width: 48px; 
	height: 48px; 
	display: inline-block; 
	vertical-align: middle; 
	margin-right: 10px;
}
.amount_big.bigFlag a{
	line-height: 48px; 
}
.style9ImgWrap{
	display: inline-block; 
	vertical-align: middle; 
	margin-right: 10px; 
	width: 10px; 
	height: 18px;
}
.style10ImgWrap{
	width: 16px; 
	height: 16px; 
	display: inline-block; 
	vertical-align: middle; 
	margin-right: 10px;
}
.inlineBlock{
	display:inline-block;
}
.alignCenter{
	text-align:center;
}
  /* --------------------------------------------
        7.6. Tooltips
  -------------------------------------------- */

    .tooltip{
      position: absolute !important;
      display: block !important;
      font-size: 12px !important;
	  text-transform:none !important;
	  font-weight: normal !important;
      line-height: 17px !important;
      color: #f1f1f1 !important;
      padding: 5px 13px !important;
      background-color: #333131 !important;
      top: -36px !important;
      left: 50% !important;
      z-index: 9 !important;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translate(-50%,-15px);
      -ms-transform: translate(-50%,-15px);
      -o-transform: translate(-50%,-15px);
      transform: translate(-50%,-15px);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
	  white-space:nowrap;

	  
    }

    *:hover>.tooltip{
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

    .tooltip:before{
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -4px;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top: 5px solid #333131;
    }
	.tooltipWrapper{
		position:relative;
		cursor:pointer;
	}
.symbolContainer{
	position:relative;
}
.symbolCode{
	font-size:18px;
}
.style9TrWrapper{
	display:inline-block;
	text-align:left;
}