@import "css/reset.css";
@import "fonts/font-awesome.min.css";
@import "fonts/PFDindisplayproRegMedLight/font.css";
@import "fonts/PFDindisplayproThinBold/font.css";

@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,300,600,700,800&subset=latin,cyrillic);
@import url(//fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic);
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url(fonts/OpenSansSemiBold.ttf)
}
@font-face {
    font-family: 'PFD_Regular';
    src: url(fonts/pfdindisplaypro-regular.ttf);
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/OpenSansBold.ttf');
}
/* ------------------------------------------------

    1. Default stylesheets

------------------------------------------------ */

   body {
    font-family: 'Open Sans', sans-serif;
    color:#787575;
    font-size:14px;
    line-height:22px;
	padding-left:1px;
    -webkit-text-size-adjust: none;
   }

   ::selection{
    color: #fff;
    background: #146eb3;
   }

   ::-moz-selection{
    color: #fff;
    background: #146eb3;
   }

   ::-moz-selection{background: #146eb3;color: #fff;}

   ::-webkit-scrollbar{
    background: #cdcdcd;
    width: 10px;
   }

   ::-webkit-scrollbar-thumb{background: #333131;}


   ::-webkit-input-placeholder{
    color:#505050;

    -webkit-transition: text-indent .5s ease, color .5s ease;
        transition: text-indent .5s ease, color .5s ease;
   }

   input::-moz-placeholder{
    color:#505050;
    opacity:1;
   }

   textarea::-moz-placeholder{
    color: #505050;
    opacity: 1;
   }

   ::ms-input-placeholder{
    color:#505050;
   }

   [placeholder]:focus::-webkit-input-placeholder{
    text-indent:10em;
    color:transparent;
   }

   *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   }

   button{
    outline: none;
    cursor: pointer;
   }

   a{
    cursor: pointer;
   }


  /* --------------------------------------------
        1.1. Color Schemes
  -------------------------------------------- */

    .red_color{
      color: #ff1616;
    }

    .green_color{
      color: #89bb50;
    }

    .grey_color{
      color: #919191;
    }

    .blue_color{
      color: #146eb3;
    }
	
	.blue_color_hight{
      color: #167ac6;
    }

    /*background*/

    .red_bg{
      background-color: #f6e1e1;
    }

    .red_bg2{
      background-color: #f2dada;
    }

    .cream_bg{
      background-color: #fcf8e3;
    }

    .green_bg{
      background-color: #eaf7e1;
    }

    .green_bg2{
    background-color: #d9f2d6;
    }

    .grey_bg{
      background-color: #f6f6f6;
    }

  /* --------------------------------------------
        1.2. Fonts
  -------------------------------------------- */

    .PFDlight{font-family: 'pf_dindisplay_prolight';}
    .PFDregular{font-family: 'pf_dindisplay_proregular';}
    .PFDmedium{font-family: 'pf_dindisplay_promedium';}
    .PFDthin{font-family: 'pf_dindisplay_prothin';}

    .regular{font-weight: 400;}
    .semibold{font-weight: 600;}

/* ------------------------------------------------

    2. General Classes

------------------------------------------------ */

   .align_left{
    text-align: left;
   }

   .align_right{
    text-align: right;
   }

   .align_center{
    text-align: center;
   }

   .alignleft{
    float: left;
   }

   .alignright{
    float: right;
   }

   .wrapper{overflow: hidden;}

   .hide{ display: none;}

   .show{ display: block;}

   .d_ib{display: inline-block;}

   .transparent{ opacity:0; }

   .invisible{
    opacity: 0;
    visibility: hidden;
   }

   .visible{
    opacity:1;
    visibility: visible;
   }

   .p_abs{position: absolute;}

   .p_rel{position: relative;}

   .p_fix{position: fixed;}

   .clear {clear:both;width:100%;line-height:0;font-size:0;}

   .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
   }

   .reg {text-transform:uppercase}

    .image_box img{max-width: 100%;}
   .image_box.alignleft{margin: 0 20px 20px 0;}
   .image_box.alignright{margin: 0  20px 20px;}

   
   /* --------------------------------------------
        7.1. Typography
   -------------------------------------------- */

      h1,h2,h3,h4,h5,h6{
         font-weight:normal;
         line-height: 1;
         color: #333;
         margin: 0;
         margin-bottom: 17px;
         position: relative;
      }

      h1{font-size: 38px;}

      h2,.page_title1{
        font-family: 'pf_dindisplay_promedium';
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      h3{
        font-family: 'pf_dindisplay_proregular';
        font-size: 19px;
        line-height: 39px;
        padding: 7px 0;
        text-transform: uppercase;
        margin-bottom: 0;
      }

      h4{
        font-family: 'pf_dindisplay_prolight';
        font-size: 22px;
        line-height: 25px;
        padding: 10px 0;
        margin-bottom: 0;
      }

      h5{font-size: 16px;}

      h5.info_title{
        font-size: 19px;
        font-family: "Open Sans";
        color: #454444;
        margin-bottom: 0;
      }

      h5.info_title.color2{
        color: #333131;
      }

      h6{font-size: 14px;}

      .aside_title{
        line-height: 45px;
        border-top: 1px solid #e3e3e3;
      }


      h2>.icon,
      h3>.icon,
      h4>.icon,
      h5>.icon,
      h6>.icon,
      h2>.fa,
      h3>.fa,
      h4>.fa,
      h5>.fa,
      h6>.fa{
        position: absolute;
        right: 0;
        top: 50%;
        line-height: 0;
        font-size: 30px;
        color: #bebebe;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      h2>.sub_title,
      h3>.sub_title,
      h4>.sub_title,
      h5>.sub_title,
      h6>.sub_title{
        font-size: 17px;
        color: #787575;
        position: relative;
        display: inline-block;
        padding-left: 21px;
      }

      h2>.sub_title1,
      h3>.sub_title1,
      h4>.sub_title1,
      h5>.sub_title1,
      h6>.sub_title1{
        font-size: 16px;
        color: #787575;
        display: inline-block;
        text-transform: none;
        font-family: 'pf_dindisplay_proregular';
      }

      h2>.sub_title:before,
      h3>.sub_title:before,
      h4>.sub_title:before,
      h5>.sub_title:before,
      h6>.sub_title:before{
        content: "";
        display: block;
        position: absolute;
        height: 26px;
        top: 50%;
        margin-top: -13px;
        width: 1px;
        background-color: #e3e3e3;
        left: 10px;
      }

      .title1{
        font: 17px/27px 'pf_dindisplay_proregular';
        color: #454242;
        background-color: #f1f1f1;
        text-transform: uppercase;
        padding: 9px 55px 9px 15px;
        position: relative;
        margin-bottom: 4px;
      }

      .title1 .icon{
        right: 28px;
      }

      .title1:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
      }

      .title1.red_border:before{background-color: #ff1616;}

      .title1.blue_border:before{background-color: #146eb3;}

      .title2{
        font: 24px/35px 'pf_dindisplay_prolight';
        text-transform: uppercase;
        color: #146eb3;
        margin-bottom: 25px;
      }

      .title3{
        font: 600 17px/26px "Open Sans",sans-serif;
        color: #146eb3;
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 20px;
      }

      .title4{
        font: 600 14px/26px "Open Sans",sans-serif;
        color: #333030;
        text-transform: uppercase;
      }

      .title5{
        font: 21px/25px 'pf_dindisplay_proregular';
        margin-bottom: 10px;
      }

      .title6{
        font: 21px/25px 'pf_dindisplay_proregular';
        margin-bottom: 10px;
        text-transform: none;
        padding: 0;
      }

      .title7{
        font: 19px/25px 'pf_dindisplay_prolight';
        background-color: #f0f0f0;
        border-left: 3px solid #333;
        padding: 10px 14px;
        margin-bottom: 25px;
      }


      p:not(:last-child){margin-bottom: 15px;}

      strong{
        font-weight: 600;
        color: #333030;
      }

      mark{background-color: #20cfef;padding: 0 2px;color: #fff;}
      mark.red{background-color: #ee352f;}

      a{
         color: #454242;
         text-decoration: none;
         -webkit-transition: all 0.5s;
         -o-transition: all 0.5s;
         transition: all 0.5s;
      }
      a:hover{
         color: #146eb3;
         text-decoration: none;
         -webkit-transition: all 0.3s;
         -o-transition: all 0.3s;
         transition: all 0.3s;
      }
      a:focus,
      a:visited{
         text-decoration: none;
      }

      .link_accent{
        color: #146eb3;
      }
      .link_accent:hover{
        color: #454242;
      }

      a.icon:hover{opacity: 0.7;}

      .thesis_text{
        padding-left: 20px;
        border-left: 10px solid #d9d9d9;
        color: #333030;
        font-weight: 600;
      }

      .inform-thesis_text {
        border: none;
        padding: 0;
        color: #5e5d5d;
      }

      .thesis_text:not(:last-child){
        margin-bottom: 20px;
      }
	  
	  
	  











      /*tabl quotes*/
      
      .tabl_quotes_nav{
        display: none;
        padding: 5px 0 0;
        margin-bottom: 5px;
      }
      
      .tabl_quotes_nav>*{
        display: block;
        outline: none;
        float: left;
        text-align: center;
        background-color: #ededed;
        border: none;
        height: 50px;
        width: 50%;
        cursor: pointer;
      }

      .tabl_quotes_nav>*.disable{
        opacity: 0.5;
        cursor: default;
      }

      .tabl_quotes_nav>*:hover{
        background-color: #e8e8e8;
      }

      .tabl_quotes_nav>* i{
        font-size: 30px;
        color: #5e5d5d;
      }

      .tabl_quotes_nav .prev{
        border-right: 2px solid #fff;
      }

      .tabl_quotes_nav .next{
        border-left: 2px solid #fff;
      }

      .tabl_quotes_header{
        position: relative;
        background-color: #b3b1b1;
        padding: 15px 12px 15px 15px;
      }

      .tabl_quotes_btn{
        padding: 0;
      }

      .tabl_quotes_btn>*{
        position: relative;
        background: none;
        width: 38px;
        height: 38px;
        padding: 0;
        border: 2px solid #fff;
        color: #fff;
        font-size: 25px;
        outline: none;
        cursor: pointer;
      }

      .tabl_quotes_btn>*.options_btn:before{
        display: none;
      }

      .tabl_quotes_btn>*.turn_btn:before{
        background: #fff;
        width: 12px;
        height: 3px;
        margin-top: -2px;
      }

      .tabl_quotes_btn>*:hover,
      .tabl_quotes_btn>*.active{
        border-width: 3px;
        background: none !important;
        color: #fff;
      }

      .tabl_quotes_btn>* i{
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        line-height: 30px;
        width: 100%;
        text-align: center;
      }

      .tabl_quotes_title{
        overflow: hidden;
      }

      .tabl_quotes_title{
        font: 22px/1 'pf_dindisplay_promedium',sans-serif;
        color: #fff;
        margin-bottom: 0;
        padding: 0;
      }

      .tabl_quotes_title>p{
        font: 14px/18px 'pf_dindisplay_proregular',sans-serif;
      }
	  .tabl_quotes_title>span{
        font: 14px/18px 'pf_dindisplay_proregular',sans-serif;
      }

      .tabl_quotes table, .tabl_ft table{
        width: 100%;
        table-layout: fixed;
        color: #333131;
      }

      .tabl_quotes thead th, .tabl_ft thead th{
        background-color: #f6f6f6;
        text-transform: uppercase;
      }

      .tabl_quotes table th, .tabl_ft table th,
      .tabl_quotes table td, .tabl_ft table td{
        border: 1px solid #e3e3e3;
        font-size: 14px;
        line-height: 21px;
        font-weight: 600;
        padding: 15px 0;
        text-align: center;
      }















	  
	  
	  
	  
	  
	  
	  
	  
	  
.informer-calendar__header {
  height: 35px;
  width: 100%;
  padding: 0 10px;
  background-color: #333030;
}

.calendar-header__name {
  float: left;
  font-family: "OpenSansSemiBold";
  font-size: 13px;
  color: #fff;
  line-height: 35px;
}

.calendar-header__icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -3px;
  margin-left: 8px;
  vertical-align: middle;
  cursor: pointer;
  opacity: 0.6;
  background-image: url(images/calendar-info.png);
  -webkit-background-size: 100%;
  background-size: 100%;
}

.calendar-header__info {
  display: none;
  position: absolute;
  left: 0;
  top: 26px;
  z-index: 100;
  width: 280px;
  height: auto;
  padding: 20px 15px;
  font-family: Verdana, sans-serif;
  color: #454545;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,.17);
  transition: all 0.3s linear;
}

.calendar-header__icon:hover {
  opacity: 1;
}

.calendar-header__icon:hover .calendar-header__info {
  display: block;
}

.calendar-header__info-title {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 15px;
}

.calendar-header__info-text {
  font-size: 12px;
  line-height: 18px;
}

.calendar-header__select {
  float: right;
}

.calendar-header__select.jq-selectbox {
  z-index: 10 !important;
}

.calendar-header__select .jq-selectbox__select {
  width: 220px;
  height: 30px;
  margin-top: 3px;
  padding: 0 14px;
  border: none;
  border-radius: 15px;
  background: #666666;
  box-shadow: none;
  text-shadow: none;
}

.calendar-header__select .jq-selectbox__select-text {
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
}

.calendar-header__select .jq-selectbox__trigger {
  border-left: none;
}

.calendar-header__select .jq-selectbox__trigger-arrow {
  border-top-color: #fff;
}

.calendar-header__select .jq-selectbox__select-text {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calendar-header__select.focused .jq-selectbox__select {
  border: none;
}

.calendar-header__select.opened .jq-selectbox__select {
  background: #fff;
}

.calendar-header__select.opened .jq-selectbox__select-text {
  color: #000;
}

.calendar-header__select.opened .jq-selectbox__trigger-arrow {
  border-top-color: #000;
}

.calendar-header__select .jq-selectbox__dropdown {
  min-width: 340px;
  max-height: 165px;
  overflow-y: scroll;
  right: 0;
}

.calendar-header__select .jq-selectbox__dropdown ul {
  overflow-y: visible;
  max-height:100% !important;
}

.calendar-header__select .jq-selectbox__dropdown li:hover,
.calendar-header__select .jq-selectbox__dropdown li.selected {
  background-color: #f0f0f0;
  color: #454444;
}

.informer-calendar__tb {
  position: relative;
  width: 100%;
}

.informer-calendar__tb table th {
  padding: 0 10px;
  font-size: 12px;
  text-transform: none;
  border: none;
}

.informer-calendar__tb table td {
  position: relative;
  padding: 6px 0;
  font-family: "Open Sans";
  font-size: 12px;
  color: #454444;
  vertical-align: middle;
  border: 1px solid #e3e3e3;
}

.informer-calendar__tb table td [class*="label_"] {
  display: block;
  padding: 10px 6px;
  border-radius: 0;
}

.informer-calendar__tb table td:not(:first-child) {
  text-align: center;
  padding: 6px;
}

.informer-calendar__tb table td:first-child {
  padding: 6px 10px 6px 30px;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.informer-calendar__tb table .calendar_flag {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translate(0, -50%);
}

.informer-calendar__table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
}

.calendar-table__head {
  background-color: #ededed;
  border-right: 1px solid #ededed;
  width: 100%;
}

.calendar-table__name-col:first-child {
  width: 34%;
  text-align: left;
}
.calendar-table__name-col.width80percent{
	width: 80%;
}

.calendar-table__name-col {
  height: 35px;
  padding: 0 10px;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: normal;
  vertical-align: middle;
  text-align: center;
}

.calendar-table__data:first-child {
  text-align: left;
  padding-left: 30px;
  line-height: 18px;
}

.calendar-table__data {
  position: relative;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  color: #454444;
  border: 1px solid #e3e3e3;
}

.calendar-table__flag {
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -8px;
}

.calendar-table__flag img {
  vertical-align: middle;
}

.calendar-table__status {
  padding: 5px;
}

.calendar-table__status > div {
  color: #fff;
}

.calendar-status_medium {
  background-color: #fec05a;
}

.calendar-status_low {
  background-color: #a1c25a;
}

.calendar-status_high {
  background-color: #ff7e65;
}

.calendar-table_up {
  background-color: #dffedf;
}

.calendar-table_down {
  background-color: #fee4e4;
}

.informer-calendar__event li {
  width: 165px;
  text-align: center;
  font-family: 'PFD_Regular';
  border: 2px solid #e3e3e3;
  margin-right: 22px;
  float: left;
  line-height: 45px;
  cursor: pointer;
  font-size: 16px;
  min-height: 49px;
}

.informer-calendar__event li:last-child {
  margin-right: 0;
}

.informer-calendar__event 
.calendar__event-high {
  border-color: #ff7e65;
}

.informer-calendar__event 
.calendar__event-medium {
  border-color: #fec05a;
}

.informer-calendar__event 
.calendar__event-low {
  border-color: #a1c25a;
}

/*.informer-calendar__event 
.calendar__event-none {
  border-color: #333030;
}
*/
.informer-calendar__event
.active_event-high {
  background-color: #ff7e65;
  color: #fff;
}
.informer-calendar__event
.active_event-medium {
  background-color: #fec05a;
  color: #fff;
}
.informer-calendar__event
.active_event-low {
  background-color: #a1c25a;
  color: #fff;
}
.informer-calendar__event
.active_event-none {
  background-color: #333030;
  color: #fff;
}

.informer-calendar__time {
  margin-top: 30px;
  margin-bottom: 60px;
}

.informer-calendar__time-item {
  display: inline-block;
  margin-right: 20px;
}

.informer-calendar__time-item:last-child {
  margin-right: 0;
}

.informer-calendar__time-radio {
  width: 18px;
  height: 18px;
  border: 1px solid #bfbdbd;
  border-radius: 3px;
  background: #fff;
  box-shadow: none;
}

.informer-calendar__time-radio.checked .jq-radio__div {
  border-radius: 3px;
  background: #ff1616;
  box-shadow: none;
}

.informer-calendar__time-input {
  width: 55px;
  height: 45px;
  font-family: "Open Sans";
  font-size: 18px;
  color: #454545;
  text-align: center;
  border: 1px solid #b2b2b2;
}

.informer-calendar__time-descr {
  display: inline-block;
  margin-top: -3px;
  margin-left: 8px;
  font-family: "OpenSansSemibold";
  font-size: 14px;
  color: #454545;
  vertical-align: middle;
}

.informer-calendar__text-code {
  margin-bottom: 30px;
  font-family: "OpenSansSemiBold";
  font-size: 18px;
  color: #454444;
}

.calendar-page__wr {
  float: right;
  margin: 15px 0;
}

.calendar_page-link {
  float: left;
  font-family: "Open Sans";
  font-size: 12px;
  color: #454444;
  padding: 1px 9px;
  margin-left: 2px;
  border: 1px solid transparent;
  background-color: #ededed;
}

.calendar_page-link:first-child {
  margin-left: 0;
}

.calendar_page-link:hover {
  color: #454444;
  border-color: #999999;
  background-color: #f5f5f5;
}

.calendar_page-active,
.calendar_page-active:hover {
  color: #fff;
  background-color: #666666;
}





  /* label */
  .table_calendar .box_label{
    padding: 2px;
  }

  [class*="label_"]{
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 14px 6px 13px 6px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
  }

  .label_green{
    background-color: #a1c25a;
  }

  .label_red{
    background-color: #ff7e65;
  }

  .label_orange{
    background-color: #fec05a;
  }
  
  /* SPINNER */
.spinner-wrap{
	position:absolute; 
	top:0px; 
	width:100%;
	height:100%;
	z-index:199;
	background-color: rgba(51, 51, 51, 0.05);
}
.spinner {
  margin:auto;
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.spinner > div {
  background-color: #ff1616;
  height: 100%;
  width: 10px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner-wrap .countDownRegister{
	color: #ff1616;
	position: relative;
	top: 40%;
    text-align: center;
	font-size: 80px;
	text-shadow: 2px 2px #454242;
}
.carousel-wrapper .spinner > div, .spinner-margin .spinner > div{
	margin-right:2px;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
#more_news .spinner-wrap{
	margin-left:-15px;
}
/* SPINNER END */

.position-relative{
	position:relative;
}
.spinner-margin .spinner > div{
	margin-right:2px;
}  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (min-width: 621px) {
	.tabl_quotes table{
		width: 100% !important;
	}
}


@media only screen and (max-width: 620px) {

    /*Tabl Quotes*/
	
	.tabl_quotes{
		position: relative;
		overflow: hidden;
		margin-top: 5px;
	}

	.tabl_quotes:before,
	.tabl_quotes:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 1px;
		background-color: #e3e3e3;
	}

	.tabl_quotes:after{
		right: auto;
		left: 0;
	}

    .tabl_quotes table{
    	position: relative;
    	display: block;
    	left: 0;
    	-webkit-transition: left 0.3s ease-out;
    	-o-transition: left 0.3s ease-out;
    	transition: left 0.3s ease-out;
    }

    .tabl_quotes table .tooltip{display: none !important;}

    .tabl_quotes table thead{display: none;}

	.tabl_quotes table tr{
		float: left;
	}

	.tabl_quotes table td{
		display: block;
		position: relative;
		height: 50px;
		padding: 5px 0;
		font-size: 13px;
		vertical-align: middle;
	}

	.tabl_quotes table td:first-child{
		height: auto;
	}
	.tabl_quotes table td.calendar_event:first-child{
		word-break:break-all;
	}
	.tabl_quotes table td:not(:first-child){
		border-top: none;
		font-size: 12px;
	}
	
	


	.tabl_quotes table td{
		border-left: none;
	}

	.tabl_quotes table td:before{
		content: attr(data-title);
		color: #787777;
		display: block;
	}
	
	/*.tabl_quotes table td:first-child:before{
		display: inline-block;
		height: 100%;
		width: 0;
		margin-left: -5px;
		vertical-align: middle;
	}*/

	.tabl_quotes table td:first-child span{
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
	}
	.table_calendar table td.calendarDateBtn{
		display:none;
	}

	.tabl_quotes_nav{
		display: block;
	}

	.quotes_search_list li a{
		font-size: 14px;
		line-height: 18px;
	}

	.options_item{
		width: 33.33%;
	}




	/* add 18.12.16 */
	/* ----------------table calendar------------------------- */

	.table_calendar table td{
		font-weight: normal;
		padding: 30px 10px 10px;
		min-height: 62px;
		height: auto;
		font-size: 13px;
		width: 33.333%;
		float: left;
	}

	.table_calendar .calendar_event{
		padding: 30px 10px 10px;
		text-align: center;
		width: 100%;
	}

	.table_calendar .calendar_flag{
		left: 5px;
		top: 5px;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	.calendar_icon{
		top: 5px;
		right: 5px;
	}

	.tabl_quotes table td:first-child:before{
		width: initial;
		margin-left: 0;
	}

	.table_calendar table td:before{
		content: attr(data-text);
		position: absolute;
		width: initial;
		top: 13px;
		left: 50%;
		margin: 0;
		text-transform: uppercase;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		color: #167ac6;
		font-size: 12px;
		font-weight: bold;
	}

	.table_calendar .box_label{
		padding: 30px 10px 10px;
	}

	.table_calendar [class*="label_"]{
		padding: 0;
		color: #e29c29;
		background: none;
	}

	.table_calendar_title{
		width: 100%;
		margin-top: 15px;
	}

}



@media only screen and (max-width: 479px) {
	
	.tabl_quotes table.wBrokersGridViewTable td:first-child span.blue_color_2{
		width:94px;
		line-height:15px;
	}
}

@media only screen and (max-width: 379px) {
	.tabl_quotes table.wBrokersGridViewTable td:first-child span.blue_color_2{
		width:74px;
		font-size:12px;
	}
}







@media only screen and (max-width: 620px) {
	.tabl_quotes table td.height80{
		height: 80px;
	}
}





/* add pages 25.07.17 */

@media only screen and (max-width: 828px) {

	.informer-calendar__tb table td [class*="label_"] {
		font-size: 10px;
	}

}

@media only screen and (max-width: 620px) {

	.calendar-header__name {
		max-width: 50%;
		font-size: 11px;
	}

	.calendar-header__select {
		max-width: 50%;
	}

	.calendar-header__select .jq-selectbox__select {
		width: auto;
		padding-right: 25px;
	}

	.informer-calendar__tb table td:not(:first-child) {
		line-height: 40px;
	}

	.informer-calendar__event li {
		margin: 10px 20px;
	}

	.informer-calendar__tb table td:first-child {
		/*height: 100px;*/
		padding: 30px 10px 6px;
		line-height: 12px;
	}

	.informer-calendar__tb table td:first-child a {
		max-height: 48px;
		overflow: hidden;
		display: block;
	}

	.informer-calendar__tb table .calendar_flag {
		left: 50%;
		top: 10px;
		transform: translate(-50%, 0);
	}

	.informer-calendar__time-item {
		width: 50%;
		float: left;
		margin-right: 0;
	}

	.informer-calendar__time-input {
		width: 40px;
		height: 35px;
	}

	.informer-calendar__tb table td:first-child:before {
		height: auto;
	}

}



@media only screen and (max-width: 480px) {

	.informer-calendar__header {
		height: 70px;
		text-align: center;
	}

	.calendar-header__name {
		max-width: 100%;
		float: none;
	}

	.calendar-header__select {
		max-width: 100%;
		float: none;
	}

	.calendar-header__icon:hover .calendar-header__info {
		right: 0;
		left: auto;
		max-width: 230px;
	}

	.calendar-header__select .jq-selectbox__dropdown {
		min-width: 100%;
	}

	.tabl_quotes table td:not(:first-child) {
		font-size: 10px;
	}

	.informer-calendar__event li {
		width: 146px;
	}

}


