@import "css/reset.css";
@import "fonts/font-awesome.min.css";
@import "fonts/PFDindisplayproRegMedLight/font.css";
@import "fonts/PFDindisplayproThinBold/font.css";

@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,300,600,700,800&subset=latin,cyrillic);
@import url(//fonts.googleapis.com/css?family=Roboto:300&subset=latin,cyrillic);
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url(fonts/OpenSansSemiBold.ttf)
}
@font-face {
    font-family: 'PFD_Regular';
    src: url(fonts/pfdindisplaypro-regular.ttf);
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/OpenSansBold.ttf');
}
/* ------------------------------------------------

    1. Default stylesheets

------------------------------------------------ */

   body {
    font-family: 'Open Sans', sans-serif;
    color:#787575;
    font-size:14px;
    line-height:22px;

    -webkit-text-size-adjust: none;
   }

   ::selection{
    color: #fff;
    background: #146eb3;
   }

   ::-moz-selection{
    color: #fff;
    background: #146eb3;
   }

   ::-moz-selection{background: #146eb3;color: #fff;}

   ::-webkit-scrollbar{
    background: #cdcdcd;
    width: 10px;
   }

   ::-webkit-scrollbar-thumb{background: #333131;}


   ::-webkit-input-placeholder{
    color:#505050;

    -webkit-transition: text-indent .5s ease, color .5s ease;
        transition: text-indent .5s ease, color .5s ease;
   }

   input::-moz-placeholder{
    color:#505050;
    opacity:1;
   }

   textarea::-moz-placeholder{
    color: #505050;
    opacity: 1;
   }

   ::ms-input-placeholder{
    color:#505050;
   }

   [placeholder]:focus::-webkit-input-placeholder{
    text-indent:10em;
    color:transparent;
   }

   *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   }

   button{
    outline: none;
    cursor: pointer;
   }

   a{
    cursor: pointer;
   }


  /* --------------------------------------------
        1.1. Color Schemes
  -------------------------------------------- */

    .red_color{
      color: #ff1616;
    }

    .green_color{
      color: #89bb50;
    }

    .grey_color{
      color: #919191;
    }

    .blue_color{
      color: #146eb3;
    }

    .blue_color_hight{
      color: #167ac6;
    }

    /*background*/

    .red_bg{
      background-color: #f6e1e1;
    }

    .green_bg{
      background-color: #eaf7e1;
    }

    .grey_bg{
      background-color: #f6f6f6;
    }

  /* --------------------------------------------
        1.2. Fonts
  -------------------------------------------- */

    .PFDlight{font-family: 'pf_dindisplay_prolight';}
    .PFDregular{font-family: 'pf_dindisplay_proregular';}
    .PFDmedium{font-family: 'pf_dindisplay_promedium';}
    .PFDthin{font-family: 'pf_dindisplay_prothin';}

    .regular{font-weight: 400;}
    .semibold{font-weight: 600;}

/* ------------------------------------------------

    2. General Classes

------------------------------------------------ */

   .align_left{
    text-align: left;
   }

   .align_right{
    text-align: right;
   }

   .align_center{
    text-align: center;
   }

   .alignleft{
    float: left;
   }

   .alignright{
    float: right;
   }

   .wrapper{overflow: hidden;}

   .hide{ display: none;}

   .show{ display: block;}

   .d_ib{display: inline-block;}

   .transparent{ opacity:0; }

   .invisible{
    opacity: 0;
    visibility: hidden;
   }

   .visible{
    opacity:1;
    visibility: visible;
   }

   .p_abs{position: absolute;}

   .p_rel{position: relative;}

   .p_fix{position: fixed;}

   .clear {clear:both;width:100%;line-height:0;font-size:0;}

   .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
   }

   .reg {text-transform:uppercase}

    .image_box img{max-width: 100%;}
   .image_box.alignleft{margin: 0 20px 20px 0;}
   .image_box.alignright{margin: 0  20px 20px;}

   
   /* --------------------------------------------
        7.1. Typography
   -------------------------------------------- */

      h1,h2,h3,h4,h5,h6{
         font-weight:normal;
         line-height: 1;
         color: #333;
         margin: 0;
         margin-bottom: 17px;
         position: relative;
      }

      h1{font-size: 38px;}

      h2,.page_title1{
        font-family: 'pf_dindisplay_promedium';
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      h3{
        font-family: 'pf_dindisplay_proregular';
        font-size: 19px;
        line-height: 39px;
        padding: 7px 0;
        text-transform: uppercase;
        margin-bottom: 0;
      }

      h4{
        font-family: 'pf_dindisplay_prolight';
        font-size: 22px;
        line-height: 25px;
        padding: 10px 0;
        margin-bottom: 0;
      }

      h5{font-size: 16px;}

      h5.info_title{
        font-size: 19px;
        font-family: "Open Sans";
        color: #454444;
        margin-bottom: 0;
      }

      h5.info_title.color2{
        color: #333131;
      }

      h6{font-size: 14px;}

      .aside_title{
        line-height: 45px;
        border-top: 1px solid #e3e3e3;
      }


      h2>.icon,
      h3>.icon,
      h4>.icon,
      h5>.icon,
      h6>.icon,
      h2>.fa,
      h3>.fa,
      h4>.fa,
      h5>.fa,
      h6>.fa{
        position: absolute;
        right: 0;
        top: 50%;
        line-height: 0;
        font-size: 30px;
        color: #bebebe;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      h2>.sub_title,
      h3>.sub_title,
      h4>.sub_title,
      h5>.sub_title,
      h6>.sub_title{
        font-size: 17px;
        color: #787575;
        position: relative;
        display: inline-block;
        padding-left: 21px;
      }

      h2>.sub_title1,
      h3>.sub_title1,
      h4>.sub_title1,
      h5>.sub_title1,
      h6>.sub_title1{
        font-size: 16px;
        color: #787575;
        display: inline-block;
        text-transform: none;
        font-family: 'pf_dindisplay_proregular';
      }

      h2>.sub_title:before,
      h3>.sub_title:before,
      h4>.sub_title:before,
      h5>.sub_title:before,
      h6>.sub_title:before{
        content: "";
        display: block;
        position: absolute;
        height: 26px;
        top: 50%;
        margin-top: -13px;
        width: 1px;
        background-color: #e3e3e3;
        left: 10px;
      }

      .title1{
        font: 17px/27px 'pf_dindisplay_proregular';
        color: #454242;
        background-color: #f1f1f1;
        text-transform: uppercase;
        padding: 9px 55px 9px 15px;
        position: relative;
        margin-bottom: 4px;
      }

      .title1 .icon{
        right: 28px;
      }

      .title1:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
      }

      .title1.red_border:before{background-color: #ff1616;}

      .title1.blue_border:before{background-color: #146eb3;}

      .title2{
        font: 24px/35px 'pf_dindisplay_prolight';
        text-transform: uppercase;
        color: #146eb3;
        margin-bottom: 25px;
      }

      .title3{
        font: 600 17px/26px "Open Sans",sans-serif;
        color: #146eb3;
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 20px;
      }

      .title4{
        font: 600 14px/26px "Open Sans",sans-serif;
        color: #333030;
        text-transform: uppercase;
      }

      .title5{
        font: 21px/25px 'pf_dindisplay_proregular';
        margin-bottom: 10px;
      }

      .title6{
        font: 21px/25px 'pf_dindisplay_proregular';
        margin-bottom: 10px;
        text-transform: none;
        padding: 0;
      }

      .title7{
        font: 19px/25px 'pf_dindisplay_prolight';
        background-color: #f0f0f0;
        border-left: 3px solid #333;
        padding: 10px 14px;
        margin-bottom: 25px;
      }


      p:not(:last-child){margin-bottom: 15px;}

      strong{
        font-weight: 600;
        color: #333030;
      }

      mark{background-color: #20cfef;padding: 0 2px;color: #fff;}
      mark.red{background-color: #ee352f;}

      a{
         color: #454242;
         text-decoration: none;
         -webkit-transition: all 0.5s;
         -o-transition: all 0.5s;
         transition: all 0.5s;
      }
      a:hover{
         color: #146eb3;
         text-decoration: none;
         -webkit-transition: all 0.3s;
         -o-transition: all 0.3s;
         transition: all 0.3s;
      }
      a:focus,
      a:visited{
         text-decoration: none;
      }

      .link_accent{
        color: #146eb3;
      }
      .link_accent:hover{
        color: #454242;
      }

      a.icon:hover{opacity: 0.7;}

      .thesis_text{
        padding-left: 20px;
        border-left: 10px solid #d9d9d9;
        color: #333030;
        font-weight: 600;
      }

      .inform-thesis_text {
        border: none;
        padding: 0;
        color: #5e5d5d;
      }

      .thesis_text:not(:last-child){
        margin-bottom: 20px;
      }
	  



/******* Informer-news Page *******/

.informer-news__wrap {
 /* padding-top: 50px;
  padding-bottom: 50px;*/
}

.informer-news__title {
  margin: 25px 0 15px;
  font-family: 'pf_dindisplay_proregular';
  font-size: 18px;
  color: #167ac6;
}

.informer-news__select {
  width: 230px;
  height: 45px;
  line-height: 45px;
  -webkit-appearance: none;
  background-image: url(images/arrowforSelect.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none!important;
  font-family: 'OpenSansSemiBold';
  color: #454444;
  font-size: 14px;
  padding-left: 10px;
  outline: none;
}

.informer-news__info-block {
  /*margin-top: 30px;*/
}

.informer-news__info-title {
  padding: 0 12px 0 10px;
  height: 32px;
  line-height: 32px;
}

.informer-news__info-name {
  float: left;
  font-family: 'OpenSansBold';
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

.informer-news__info-link {
  float: right;
  color: #fff;
}

.informer-news__info-link:hover,
.informer-news__info-link:focus {
  color: #ff1616;
}

.informer-news__info-black .informer-news__info-title {
  background-color: #333030;
}

.informer-news__info-black .informer-news__info-item {
  border-left-color: #777;
}

.informer-news__info-orange .informer-news__info-title {
  background-color: #ff5533;
}

.informer-news__info-orange .informer-news__info-item {
  border-left-color: #ee8970;
}

.informer-news__info-gray .informer-news__info-title {
  background-color: #b2b2b2;
}

.informer-news__info-gray .informer-news__info-item {
  border-left-color: transparent;
  background-color: #fff;
  border: 1px solid #dbdbdb;
}

.informer-news__info-purple .informer-news__info-title {
  background-color: #7371a6;
}

.informer-news__info-purple .informer-news__info-item {
  border-left-color: #9693d9;
  background-color: #f3f2fa;
}

.informer-news__info-item {
  display: block;
  height: 32px;
  margin-top: 2px;
  font-family: "Open Sans";
  padding: 0 10px 0 12px;
  line-height: 32px;
  overflow: hidden;
  background-color: #f1f1f1;
  border-left: 2px solid;
}

.informer-news__item-title {
  float: left;
  font-size: 13px;
  color: #555555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.informer-news__item-time {
  font-size: 12px;
  font-style: italic;
  line-height: 35px;
  color: #888888;
}

.informer-news__item-time:before {
  content: '/';
  margin: 0 5px 0 3px;
}

.informer-news__filter-btns {
  margin: 30px 0;
}

.informer-news__checkbox-label {
  margin-right: 30px;
  font-family: "Open Sans";
  font-size: 15px;
  color: #454545;
}

.informer-news__checkbox-label:last-child {
  margin-right: 0;
}

.informer-news__checkbox {
  width: 18px !important;
  height: 18px !important;
  box-shadow: none !important;
  background: #fff !important;
}

.informer-news__checkbox.checked {
  border: none !important;
  background-color: #ff1616 !important;
  background-image: url(images/checkbox-checked.png) !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.informer-news__checkbox.checked .jq-checkbox__div {
  display: none;
}

.informer-news__filter-help {
  margin-bottom: 3px;
  font-family: "OpenSansSemiBold";
  font-size: 14px;
  font-style: italic;
  color: #858383;
}

.informer-news__filter-help:last-child {
  margin-bottom: 0;
}


