/*global class*/
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb45{margin-bottom: 45px;}

.pt10{padding-top: 10px;}
.pb10{padding-bottom: 10px;}

.pl20{padding-left: 100px;word-wrap: break-word;}
.pl20-anon{padding-left: 20px !important; }
.no-cursor{
	cursor:default;
}
.coments_tabs_list1_item{
	background:none !important;
}
.complaint{
	height:auto !important;
	width:auto !important;
	opacity:1 !important;
}
.complaint .coment_close_text{
	display:block;
	right:-10px;
	cursor:default;
}

.separator_h{
  border: none;
  height: 1px;
  background: url(../img/separator-h.png) 0 0 repeat-x;
}

.coments_container .add_reply_box{
	display:none;
}
/*tabs*/

.coments_tabs_content>div{display: none;}
.coments_tabs_content>div.active{display: block;}
.coments_tabs_list{
  padding: 0 !important;
  margin-bottom: 20px;
}
  .coments_tabs_list_item{
    width: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: #cacaca;
    text-transform: uppercase;
    padding: 0 0 5px !important;
    background: none !important;
    position: relative;
    border-bottom: 2px solid #cacaca;
    cursor: pointer;
  }
  .coments_tabs_list_item.active{
    color: #242222;
    border-color: #242222;
  }
  .coments_tabs_list_item.active:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -3px;
    border: 3px solid transparent;
    border-top-color: #242222;
  }
  .coments_tabs_list1_item{padding-bottom: 0 !important;}
    .coments_tabs_list1_item a{
      text-decoration: none;
      color: #434343;
      font-size: 12px;
    }
    .coments_tabs_list1_item a:hover{color: #acaaaa;}
    .coments_tabs_list1_item.current a{font-weight: 700;color: #434343 !important;}


.coments_container{
  padding: 20px 0 20px;
}
  .coments_avatar{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
    background: url(../img/default-user.png) 0 0 no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  .anonym_coments .coments_avatar{display: none;}
  .user_name{
    font-size: 14px;
    line-height: 18px;
    color: #434343;
    font-weight: 700;
    padding-right: 22px;
  }
  .data_time{
    font-size: 11px;
    line-height: 18px;
    color: #acaaaa;
  }
  .coment_text{
    font-size: 14px;
    line-height: 18px;
    color: #434343;
    padding-right: 25px;
  }
  .rating_link_box a{
    font-size: 10px;
    line-height: 18px;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    color: #7b7b7b;
    font-weight: 700;
    text-decoration: none;
    margin-right: 15px;
  }
  .rating_link_box a i{
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    left: 0;
    top: -3px;
  }
  .rating_link_box a.rating_link_displease i{
    top: 1px;
  }
  .rating_link_box a:hover{color: #3b3b3b;}
  
  .coment_reply{
    font-size: 11px;
    line-height: 18px;
    color: #7b7b7b;
    font-weight: 700;
    text-decoration: none;
  }
  .coment_reply:hover{color: #3b3b3b;}
  .coment_close{
    width: 10px;
    height: 10px;
    right: 10px;
    top: 7px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  .coments_container:hover .coment_close{
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
    .coment_close:before{
      content: "";
      display: block;
      height: 10px;
      background: url(../images/coment_close.png) 0 bottom no-repeat;
    }
    .coment_close:hover:before{background-position: 0 0;} 
    .coment_close_text{
      font-size: 10px;
      line-height: 10px;
      color: #ff1616;
      font-weight: 700;
      padding-left: 10px;
      background-color: rgba(255,255,255,0.7);
      white-space: nowrap;
      overflow: hidden;
      top: 0;
      right: 17px;
      display: none;
    }
    .coment_close:hover .coment_close_text{display: block;}

    /*level2*/
    .coment_level2{
      margin-left: 80px;
    }

  .part_discus{
    font-size: 11px;
    line-height: 18px;
    color: #7b7b7b;
    font-weight: 700;
    text-decoration: none;
  }
    .part_discus i{
      font-size: 14px;
      margin-right: 5px;
      line-height: 18px;
    }
    .part_discus:hover{
      color: #3b3b3b;
    }

/*leave comment box*/

.fa-reply-close{
	text-decoration:none;
	display:block;
	float:right;
	margin-right:30px;
	color:#434343;
}

.add_reply_box .separator_h{margin-top: 8px;}
.leave_comment_box{
  padding: 25px 33px 20px;
  background-color: #f5f5f5;
}
  .leave_comment_title{
    font-size: 18px;
    line-height: 18px;
    color: #434343;
    font-weight: 700;
    border: none;
    text-transform: none;
    margin-bottom: 10px;
  }
  .enter_social_box{
    font-size: 14px;
    line-height: 30px;
    color: #767676;
    padding-bottom: 10px;
    margin-top: 15px;
  }
    .enter_social_list{
      padding: 0 0 0 15px !important;
    }
      .enter_social_list li{
        float: left;
        margin-right: 5px;
        padding: 0 !important;
      }
        .enter_social_list li a{
          display: block;
          width: 31px;
          height: 30px;
          background: url(../images/social_icon.png) 0 0 no-repeat;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
        }
        .enter_social_list li a.tw{background-position: -36px 0;}
        .enter_social_list li a.in{background-position: -72px 0;}
        .enter_social_list li a.b{background-position: -108px 0;}
        .enter_social_list li a.yn{background-position: -144px 0;}
        .enter_social_list li a.c{background-position: -180px 0;}
        .enter_social_list li a.g_plus{background-position: -216px 0;}

        .enter_social_list li:hover a{
          -webkit-transform: translate(0, -7px);
          -ms-transform: translate(0, -7px);
          -o-transform: translate(0, -7px);
          transform: translate(0, -7px);
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
        }

    .leave_comment_text,
    .leave_comment_text a{
      color: #9e9e9e;
      line-height: 18px;
    }
    .leave_comment_input{
      width: 100%;
      background-color: #fff;
      border: 1px solid #bbbbbb;
      padding: 12px 16px;
      font-size: 14px;
      line-height: 18px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    textarea.leave_comment_input{
      height: 90px;
      resize:none;
    }
    .leave_comment_input:focus{color: #434343;}
    .leave_comment_publish{
      border: none;
      outline: none;
      height: 43px;
      background: #3b3b3b;
      color: #fff;
      font-size: 12px;
      line-height: 18px;
      padding: 0 40px;
      cursor: pointer;
    }
    .leave_comment_publish:before{
      content: "";
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      margin-right: 12px;
      background: url(../images/comments_pablish.png) 0 0 no-repeat;
    }
    .leave_comment_publish:hover{background-color: #313131;}
    .leave_comment_publish:active{background-color: #4f4f4f;}

  .all_coments_link{
    display: block;
    font-size: 14px;
    line-height: 69px;
    color: #626262;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    background-color: #ebebeb;
  }
  .all_coments_link:hover{background-color: #dbdbdb;}
  .all_coments_link:active{background-color: #f8f8f8;}
  
  
  
*{
    margin:0;
    padding:0;
}





	

	
	.overlay-container {
		display: none;
		content: " ";
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index:900;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%, rgba(127,127,127,0.9) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(127,127,127,0)), color-stop(100%,rgba(127,127,127,0.9)));
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
		background: -o-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
		background: -ms-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
		background: radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f7f7f', endColorstr='#e67f7f7f',GradientType=1 );
	}
	
	.window-container {
		display: block;
		background: #fcfcfc;
		margin: 8em auto;
		max-width: 500px;
		padding: 10px 20px 20px;
		text-align: left;
		z-index: 99999;
		margin-top:200px;
		border-radius: 3px;
		box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
		-webkit-transition: 0.4s ease-out;
		-moz-transition: 0.4s ease-out;
		-ms-transition: 0.4s ease-out;
		-o-transition: 0.4s ease-out;
		transition: 0.4s ease-out;
		opacity: 0;
	}
	
	.zoomin {
		-webkit-transform:  scale(1.2);
		-moz-transform:  scale(1.2);
		-ms-transform:  scale(1.2);
		transform:  scale(1.2);
	}
	
	.zoomout {
		-webkit-transform:  scale(0.7);
		-moz-transform:  scale(0.7);
		-ms-transform:  scale(0.7);
		transform:  scale(0.7);
	}
	
	.window-container-visible {
		-webkit-transform:  scale(1);
		-moz-transform:  scale(1);
		-ms-transform:  scale(1);
		transform:  scale(1);
		opacity: 1;
	}
	
		.window-container h3 {
			margin: 1em 0 0.5em;
			font-family: "Oleo Script";
			font-weight: normal;
			font-size: 25px;
			text-align: center;
		}
		
		.coments_tabs_box{
		   padding-top: 35px;	
		}
