/*global stile*/
.f_left{float: left;}
.f_right{float: right;}

.al_center{text-align: center;}
.al_right{text-align: right;}

.clearfix:after{
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.p_rel{position: relative;}
.p_abs{position: absolute;}

.d_bock{display: block;}
.d_ib{display: inline-block;}



/*user page style*/
.user_box{
  padding-top: 75px;
  border-bottom: 1px solid #ededed;
  line-height: 22px;
  padding-bottom: 6px;
  margin-bottom: 8px;
}
  .user_avatar{
    width: 128px;
	overflow: hidden;
    height: 128px;
    bottom: -60px;
    left: 50%;
    margin-left: -64px;
    border-radius: 50%;
  }
    .user_avatar img{width: 100%;}
  .user_name{
    font-size: 18px;
    color: #36393b;
    font-weight: 400;
  }
  .user_link{
    font-size: 14px;
    padding-left: 34px;
    display: inline-block;
    color: #5c6064;
    text-decoration: none;
    height: 22px;
    background: url(../images/user_link_bg.png) 0 0 no-repeat;
  }
  .user_link:hover{text-decoration: underline;color: #5c6064;}
.user_info{
  font-size: 14px;
  line-height: 16px;
  color: #5c6064;
  margin-bottom: 75px;
  width:350px;
}

.us_page_content .coll_left,
.us_page_content .coll_right{
  width: 50%;
  padding-right: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.us_page_content .coll_right{
  padding-left: 22px;
  padding-right: 0;
}

  .user_post{margin-bottom: 30px;margin-top: 20px;}
    .user_post_img{width: 140px;margin-right: 15px;}
      .user_post_img img{width: 100%;}
    .user_post_description{overflow: hidden;}
      .user_post_title a{
        font-size: 18px;
        line-height: 22px;
        color: #757575;
        text-decoration: none;
        font-weight: 400;
        font-style: normal;
      }
      .user_post_title a:hover{text-decoration: underline;}
      .user_post .date{margin-bottom: 10px;}
      .user_post p{font-size: 12px;color: #757575;}
      .user_post_coment_box{
        color: #818181;
        font-size: 11px;
        font-weight: 700;
      }
        .user_post_coment_box .coment{
          color: #4e4e4e;
          padding-left: 15px;
          padding-right: 5px;
          background: url(../images/coment.png) 0 center no-repeat;
        }