.alignleft{
    float: left;
   }

   .alignright{
    float: right;
   }
   .width80{
	   width:80%;
   }
   .width10{
	   width:10%;
	   text-align:center;
   }
.conditions_list_green{
        margin:-4px -2px 0 -2px;
		list-style:none;
      }

      .conditions_list_green>li.border_white{
        border-right: 4px solid #fff;
      }

      .participant_page .conditions_list_green>li.border_white{
        border-right: 6px solid #fff;
      }

      .participant_page .conditions_list_green li{
        margin-top: 6px;
      }

      .conditions_list_green li{
        float: left;
        width: 80%;
        margin-top: 4px;
        padding: 0px 12px;
        background: #f5f5f5;
        border-left:3px solid #89bb50;
        display: block;
		cursor:move;
      }

      .conditions_list_green li p{

        color: #454444;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
		padding: 0px;
      }

      .conditions_list_green li p span{
        font-size: 18px;
        font-weight: 400;
      }

      .conditions_list_red{
        margin:-4px -2px 0 -2px;
		list-style:none;
      }

     /* .conditions_list_red li{
        float: left;
        width: 100%;
        margin-top: 4px;
		cursor:move;
      }

      .conditions_list_red li>p{
        padding: 0px 12px;
        background: #f5f5f5;
        border-left:3px solid #ff1616;
        display: block;
        color: #454444;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
      }*/
	  
	  .conditions_list_red li{
        float: left;
        width: 80%;
        margin-top: 4px;
        padding: 0px 12px;
        background: #f5f5f5;
        border-left:3px solid #ff1616;
        display: block;
		cursor:move;
      }

      .conditions_list_red li p{

        color: #454444;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
		padding: 0px;
      }

      .conditions_list_green+.conditions_list_red{
          margin-top: 11px;
      }
	  .clear {clear:both;width:100%;line-height:0;font-size:0;}

   .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
   }
    ul[style="list-style-type: circle;"]{
        list-style-type: none !important;
        font-size: 14px;
        line-height: 22px;
        padding-left: 20px;
        border-left: 10px solid #d9d9d9;
        font-weight: 600;
        color: #333030;
      }

      ul[style="list-style-type: circle;"]:not(:last-child){
        margin-bottom: 30px;
      }

      ul[style="list-style-type: circle;"] li:not(:last-child){
        margin-bottom: 30px;
      }

      ul[style="list-style-type: circle;"] li:before{display: none;}

      ul[style="list-style-type: disc;"]{
        list-style: none !important;
        font-weight: inherit;
        line-height: inherit;
      }

      ul[style="list-style-type: disc;"]:not(:last-child){
        margin-bottom: 30px;
      }

      ul[style="list-style-type: disc;"]>li:before{display: none;}

      ul[style="list-style-type: disc;"]>li:not(:last-child){
        margin-bottom: 4px;
      }

      ul[style="list-style-type: disc;"]>li>a{
        display: block;
        position: relative;
        background-color: #f5f5f5;
        color: #454242;
        line-height: 22px;
        padding: 15px 5px 15px 14px;
        letter-spacing: -0.2px;
      }

      ul[style="list-style-type: disc;"]>li>a:before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 3px;
        background-color: #e3e3e3;
      }

      ul[style="list-style-type: disc;"]>li>a:hover{
        background-color: #f2f2f2;
        color: #146eb3;
      }

      ul[style="list-style-type: disc;"]>li>a:hover:before{
        width: 4px;
        background-color: #146eb3;
      }