@import url(jquery.mCustomScrollbar.css);
.wAdminQuotesSymbolsFormWidget, .wAdminFullWidthForm{
	width:90%;
}
.wAdminFullWidthForm.wAdminFullWidthForm100{
	width:100%;
}
.wAdminQuotesSymbolsFormWidget textarea{
	width:95%;
}
.wAdminQuotesSymbolsFormWidget .wFullWidth, .wAdminFullWidthForm .wFullWidth{
	width:95%;
}
.iClear{
	clear: both;
}
.iRelative{
	position:relative;
}

.pie-title{
	text-align:center;
	font-size:15px;
	font-weight:bold;	
}

table .custom-td{
	padding:0px !important;
}
.inner-table tr td:nth-of-type(1){
	border-left:0px;
}
.inner-table tr td.last-row{
	border-bottom:1px solid #dddddd;
}


@media (min-width: 768px) {
	.table-with-ads{
		display:table;
		width:100% !important;
	}
	.table-with-ads .ads-table-row{
		display:table-row;
		width:100%;
	}
	.ads-table-row>.span3{
		display:table-cell !important;
		float:none !important;
		vertical-align:top;
	}
	.ads-table-row>.span9{
		display:table-cell !important;
		float:none !important;
		vertical-align:top;
		position:relative;
	}
	.ads-table-row>.span9>.ads-slot{
		position:absolute;
		bottom:0px;
	}
	.ads-table-row>.vspace{
		display:table-cell !important;
		float:none !important;
		width:2.5641%;
	}
}



.ml40{margin-left: 40px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}


.statistics_box{width: 665px;margin-left: 20px;}
	.statistics_left{
		width: 178px;
		text-align: center;
		padding: 15px 10px 0;
		font-size: 15px;
		line-height: 16px;
	}
		.lider_statistics_name{
			font: 18px/28px Arial,sans-serif;
			color: #000;
		}
		.lider_statistics{
			width: 178px;
			height: 178px;
			position: relative;
		}
			.lider_statistics canvas{
				position: absolute;
				top: 0;
				left: 0;
			}
			.lider_statistics_text{
				position: absolute;
				width: 100%;
				text-align: center;
				font-size: 18px;
				line-height: 30px;
				padding-top: 50px;
				color: #393939;
			}
			.lider_statistics_text span{
				display:block;
			}
				.lider_statistics_val{
					font-size: 20px;
					color: #ffb44c;
				}

	.statistics_right{
		overflow: hidden;
		padding-left: 23px;
	}

	.scale_box{width: 200px;}
		.scale_box_item{
			position: relative;
			height:14px;
			border-radius: 5px;
			overflow: hidden;
			background-color: #d9d9d9;
		}
			.scale_box_item_inner{
				position: absolute;
				top: 0;
				bottom: 0;
				width: 0;
			}
			.scale_text_val{color: #000;font-weight: 500;}
			.scale_text{color: #393939;}


.statistics_list{list-style: none;margin-bottom: 20px;margin-left: 0;}
	.statistics_list_item{padding-bottom: 12px;}
		.statistics_list_property{
			float: left;
			width: 240px;
		}
		.statistics_list_value{color: #000;}

.statistics_block{margin-left: -23px;}
	.statistics_block_item{
		float: left;
		width: 33.33%;
		text-align: center;
	}
		.statistics_block_item_inner{
			width: 86px;
			height: 86px;
			position: relative;
			display: inline-block;
		}
		.statistics_block_item_inner canvas{
			position: absolute;
			top: 0;
			left: 0;
		}
		.statistics_block_text{
			font-size: 21px;
			line-height: 1;
			width: 100%;
			text-align: center;
			padding-top: 30px;
		}









.UsersConversationOnline{
	display:inline-block;
	line-height:37px;
	padding:0 10px;
	position:relative;
	text-align:left;
}
.UsersOnline, .UsersOnline .icon-circle{
	text-decoration:none !important;
	color:#82AF6F;
	cursor:pointer;
}
.UsersOnline:hover, .UsersOnline .icon-circle:hover{
	color:#2E8965;
}
.UsersConversationOnline:hover .online-users-details{
	display:block;
}
.online-users-details{
	position:absolute;
	top:30px;
	right:0px;
	width:200px;
	z-index:10;
	border:1px solid #ccc;
	background-color:#fff;
	padding:5px;
	line-height:27px;
	display:none;
}
.online-users-details .itemdiv{
	min-height:34px;
}
.online-users-details .itemdiv.dialogdiv{
	padding-bottom:5px;
}


.iSized{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.link-to-digest{
	margin-left:20px;
}
.publicity_img:before{
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 30px;
  top: 0;
  left: 0;
  background: url(../assets-static/images/publicity.png) 0 50% no-repeat;
}
.publicity_img{position: relative;padding-left: 30px !important;}
.infobox{
	width:90% !important;
}
.infobox > .infobox-data{
	min-width:60px !important;
}
@media (max-width: 1110px) {
	.visible-table-cell{
		display:table-cell !important;
	}
	.hidden-tablet-contest{
		display: none !important;
	}
}
@media (max-width: 1255px) {
	.hidden-tablet-broker{
		display: none !important;
	}
}
.contest-graph{
	clear:both;
	padding-top:10px;
}


.infobox-data-number {
	position: relative;
}
.infobox-data-number span {
	margin-left: -999em;
	position: absolute;
	color:#000;
}
.infobox-data-number:hover span {
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; left: 1em; top: 2em; z-index: 99;
	margin-left: 0; /*width: 250px;*/
}
.classic { padding: 0.8em 1em; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }




.grid-view table.items tr.selected td{
	background-color: #DFF0D8 !important;
}
.grid-view table.items tbody tr td{
	cursor:pointer;
}
.grid-view table.items tbody tr:hover td{
	background-color: #F0F0F0;
}
.grid-view table.items tbody tr.wForForm:hover td{
	background-color: transparent;
	cursor:auto;
}

.progress{
	margin-bottom:0px;
}

.btn {
	transition: none;
}

.iBody.i03{
	padding-top:60px;
	padding-bottom:20px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.iBody.i04{
	background: #1D2024
}

.iBody.i04::before { 
	display: none;
}

.grid-view table.items td.empty{
	text-align:center;
}

.iGridView.i01 .c01, .iGridView.i01 .c02{
	width:50%;
}

.iGridView.i02 .c01, .iGridView.i02 .c02, .iGridView.i02 .c03{
	width:33.33%;
}

.iGridView.i03 table.items tbody tr td{
	cursor:auto;
}

.iGridView.i04 .c01, .iGridView.i04 .c02, .iGridView.i04 .c03, .iGridView.i04 .c04{
	width:25%;
}

.iGridView.i05{
	padding-top:0;
}

.iGridView.i06 table.items tbody tr td {
	cursor: auto;
}

.iGridView.i07 .c02{
	width:220px;
}
.iGridView.i07 .c03 a {
	font-weight:bold;
}

.iGridView.i07 .c08{
	width:120px;
}

.iGridView.i08 .table{
	width:820px;
}
.iGridView.i08 thead th{
	color:black;
}
.iGridView.i08 thead th, .iGridView.i08 tbody td{
	padding-left:15px;
	padding-right:15px;
}
.iGridView.i08 tbody td{
	border-left:none;
	border-right:none;
}
.iGridView.i08 tbody td:first-child{
	border-left:solid #DDDDDD 1px;
}

.iFormWidget.i01{
	margin-top:20px;
}

.iFormWidget.i01 .iControlBlock.i01{
	margin-top:20px;
}
.iFormWidget.i01 .iGroupsBlock.i01{
	margin-top:10px;
}

.iFormWidget.i02{
	margin-top:0;
	max-width:250px;
	margin:0 auto;
	padding-bottom:0px;
}

.iFormWidget.i01 .iIcon.i01{
	position:relative;
	top:-5px;
}

.iFormWidget.i03{
	max-width: 640px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	min-height: 0;
}
.iFormWidget.i03 form{
	margin-bottom:0;
}

.iFormWidget.i03 .tab-content{
	margin-bottom:10px;
}

.iFormWidget.i03 .accordion{
	margin-bottom:0;
}
.iFormWidget.i03 .accordion .accordion-heading .accordion-toggle.collapsed{
	font-weight:bold;
}
.iFormWidget.i03 .accordion .accordion-body.in{
	margin-bottom:10px;
}
.iControlBlock.i02{
	margin-top:20px;
}
.iControlBlock.i02 *{
	vertical-align:top;
}
.iControlBlock.i02 button i{
	vertical-align:middle;
}
.iControlBlock.i02 button {
	white-space:nowrap;
}

.iHalf.i01{
	float:left;
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.iHalf.i01:first-child{
	padding-right:10px;
}

.iHalf.i02{
	float:left;
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.iHalf.i02:first-child{
	padding-right:10px;
}

.iFormWidget.i03 .accordion-toggle{
	background-color: #DDDDDD;
	color:black;
	border-left: solid 2px black;
}
.iFormWidget.i03 .accordion-toggle.collapsed{
	background-color:#EDEDED;
	border-left: solid 2px #DDDDDD;
}
.iFormWidget.i03 .accordion-toggle.collapsed:hover{
	background-color:#DDDDDD;
	color:black;
	border-left: solid 2px black;
}
.iFormWidget.i03 .accordion-body{
	border-left: solid 2px #DDDDDD;
}

.table.i01 .iActions{
	width:12px;
}
.table.i01 .wEmptyRow td{
	text-align:center;
}

.iActions.i02{
	padding:2px;
	vertical-align:middle;
}

.iSelect.i01{
	width:205px;
}

.iSelect.i02{
	margin:0;
	width:55px;
	line-height:normal;
	padding:2px 6px;
	height:auto;
}

.iTextArea.i01{
	width:225px;
}

.iUserAvatarFormWidget .iAvatarHolder{
	padding-left:180px;
	padding-bottom:10px;
}

.yiiLog{
	position:relative;
	z-index:9999;
}

.control-group.error .input-icon, .control-group.error .input-prepend{
	display:inline-block;
	float:none;
}

.control-group.i01 .help-inline{
	position:relative;
	top:-10px;
}

.control-group.error .bfh-selectbox-toggle{
	border:solid red 1px;
}

.iListWidget.i01 .table{
	margin-bottom:0;
}

.iDiv.i01{
	background-color: #EFF3F8;
	padding: 12px 10px;
}

.iDiv.i01 .pagination{
	margin:0;
}

.iDiv.i03{
	padding-bottom:20px;
}

.iDiv.i04{
	position:absolute;
	background:white;
	border:solid grey 1px;
	padding:5px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display:none;
	max-width:200px;
}

.iDiv.i04:before{
	display:none;
}

.iDiv.i05{
	display:inline-block;
	vertical-align:top;
}

.iDiv.i06{
	position:absolute;
	left:3px;
	right:3px;
	bottom:3px;
}
.iDiv.i07{
	width:280;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.iDiv.i08{
	height:15px;
}

.iDiv.i09{
	width:280px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:20px;
	display:none;
	background:#f8f8f8;
}

.iDiv.i10{
	clear:both;
	height:1px;
	background: url( '../assets-static/images/dotted02.png' );
	margin:5px 0;
}

.iDiv.i13{
	border: solid #5d96b6 1px;
}
.iDiv.i14{
	border: solid #e4a149 1px;
	padding:15px 10px;
}

.iDiv.i15{
	border: solid #43bfca 1px;
	padding:0 10px;
	width:588px;
}

.iDiv.i16{
	padding:8px 15px;
	background:#f4f4f4;
	display:none;
}
.iDiv.i16 span{
	color:black;
}

.iDiv.i17{
	display:inline-block;
	width:12px;
	height:12px;
	margin-right:8px;
	position:relative;
	top:1px;
}
.iDiv.i18{
	background:#4aa4ce;
}
.iDiv.i19{
	background:#8bbc67;
}
.iDiv.i20{
	background:#d36e6e;
}
.iDiv.i21{
	background:#ac68ba;
}
.iDiv.i22{
	background:#efad62;
}

.iDiv.i23 label{
	text-align:left;
	width:100px;
}
.iDiv.i23 .controls{
	margin-left:100px;
}
.iDiv.i24 label{
	text-align:left;
	width:220px;
}
.iDiv.i24 .controls{
	margin-left:220px;
}
.iDiv.i25 label{
	text-align:left;
	width:260px;
}
.iDiv.i25 .controls{
	margin-left:260px;
}

.iDiv.i26{
	min-width:400px;
	margin-right: 2.56%;
}
.iDiv.i27{
	min-width:400px;
	margin-left:0px;
}
.iDiv.i28{
	min-width:500px;
}

.iDiv.i29 .iI.i14{
	top:3px;
}
.iDiv.i30{
	padding:10px 0;
	background: url( '../assets-static/images/dotted02.png' ) 0 100% repeat-x;
}

.iDiv.i40{
	display:inline-block;
	width:50px;
}

.iDiv.i41{
	display:inline-block;
	width:350px;
	line-height:25px;
}

.iDiv.i42{
	border: solid #65639f 1px;
}

.iDiv.i43{
	display:inline-block;
	position:absolute;
	background: white;
	border: solid #e3e6e8 1px;
	width:28px;
	height:28px;
	left:0px;
	top:0px;
}

.iDiv.i44{
	padding:4px;
	text-align:center;
	font-weight:bold;
}
.iDiv.i44 *{
	vertical-align:middle;
}
.iDiv.i44_1{
	border:solid #44ba41 2px;
}

.iDiv.i45{
	background: #e9e9e9;
	text-align:center;
	font-size:14px;
	padding:10px;
}

.iDiv.i46{
	border: solid #e9e9e9 1px;
	
}

.iDiv.i47{
	position:absolute;
	top:10px;
	left:0px;
}
.iDiv.i48{
	margin-left:45px;
}

.iDiv.i49{
	background-color: #f2f8ff;
	padding: 5px 10px;
	border: dashed 1px red;
}

.iDiv.i50{
	border:solid #d5d5d5 1px;
	padding:5px 0;
	cursor: pointer;
	font-weight:bold;
	font-size:12px;
}
.iDiv.i50.wSet{
	font-weight:normal;
	font-size:13px;
}

.iDiv.i51{
	text-align:center;
	display:inline-block;
	min-width:65px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow   : 0 1px 2px rgba(0,0,0,0.3);
	box-shadow        : 0 1px 2px rgba(0,0,0,0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:12px;
}
.iDiv.i51_low{
	background: #76a263;
    background: linear-gradient(to top, #68 9356, #81ae6e);
	border: solid #689356 1px;
	color:white;
}
.iDiv.i51_medium{
	background: #ffdc32;
    background: linear-gradient(to top, #ffcc32, #ffe932);
	border: solid #ffcc32 1px;
}
.iDiv.i51_high{
	background: #ff6654;
    background: linear-gradient(to top, #ff4832, #ff7f71);
	border: solid #ff4832 1px;
	color:white;
}

.iDiv.i52{
	border: solid #69696c 1px;
	padding:15px 10px;
}

.iDiv.i53{
	margin-bottom:10px;
}

.iDiv.i54{
	border: solid #69696c 1px;
	padding:15px 10px;
}

.iDiv.i55{
	background: #f8f8f8;
}
.iDiv.i56{
	float:right;
	width:110px;
	height:85px;
	background: #f0f1f1;
	text-align:center;
	padding-top:20px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.iDiv.i57{
	margin-right:90px;
	padding:15px 20px;
}
.iDiv.i58{
	background: url( '../assets-static/images/dotted01.png' ) no-repeat 0 4px;
	color:balck;
}

.iDiv.i59{
	width:370px;
	padding:23px;
	border:solid #f5f5f5 4px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom:10px;
}

.iDiv.i60 p{
	margin: 5px 0 0 0;
	line-height:17px;
}

.iDiv.i61{
	border:solid #f5f5f5 4px;
	padding:23px;
}

.iDiv.i61 label{
	width:110px;
}

.iDiv.i61 .controls{
	margin-left:130px;
}

.iDiv.i62{
	float:left;
	margin-bottom:10px;
}

.iDiv.i63{
	padding-left:120px;
}

.iDiv.i64{
	border: solid #e46046 1px;
	padding:15px 10px;
}

.iDiv.i65{
	display:inline-block;
	width:130px;
	height:24px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:2px 5px;
	background: white;
	position:relative;
	cursor:pointer;
}

.iDiv.i65 i{
	position:absolute;
	right:5px;
	top:3px;
	width:18px;
	height:18px;
	background: url( '../assets-static/images/btn12.png' );
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.iDiv.i66{
	left:auto; 
	right:0px;
	width:260px;
	padding:10px;
	font-family: 'PT Sans', sans-serif;	
}
.iDiv.i66 *{
	font-family: 'PT Sans', sans-serif;	
}

.iDiv.i67{
	height:1px;
	background: #f2f1f1;
	margin: 5px -10px 5px -10px;
}

.iDiv.i68{
	margin:10px 0;
}

.iDiv.i69{
	padding:3px 0 3px 0;
	border-top: solid black 1px;
}

.iDiv.i70{
	position:absolute;
	right:0;
	top:100%;
	z-index:100;
	background: white;
	border: solid black 1px;
	display: none;
	font-weight:normal;
	white-space:nowrap;
}

.iDiv.i71{
	background: WhiteSmoke;
	background: linear-gradient(to bottom, #F8F8F8, #ECECEC) repeat-x #F3F3F3;
	padding: 5px 5px;
	font-weight:bold;
	border-bottom: solid black 1px;
}

.iDiv.i72{
	padding: 6px 8px 10px;
	font-size:13px;
}
.iDiv.i72 label{
	font-size:13px;
}

.iDiv.i73{
	display:none;
	position:absolute;
	right:0;
	top:100%;
	text-align:right;
	background: white;
	border:solid black 1px;
	z-index:300;
}

.iDiv.i73 > div{
	padding:5px;
}

.iDiv.i73 a, .iDiv.i73 button {
	white-space: nowrap;
}

.iDiv.i73 div > * + *{
	margin-top:5px;
}

.iA.i01{
	position:relative;
	display:inline-block;
	width:280px;
	height:120px;
	text-decoration:none;
	margin:0 25px 0 0;
	padding:50px 0 0 98px;
	color:white;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.iA.i02{
	background: #6cac61;
}
.iA.i03{
	background: #5d96b6;
}
.iA.i04{
	background: #e4a149;
}
.iA.i05{
	background: #43bfca;
	width:588px;
	height:47px;
	padding:13px 0 0 38px;
}
.iA.i06{
	font-size:18px;
	color: #478FCA;
	border-bottom: 1px dashed #478FCA;
	text-decoration:none;
}

.iA.i07{
	display:inline-block;
	padding:5px 0 0 35px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:111px;
	height:31px;
	background: url( '../assets-static/images/btn11.png' );
	color:white;
	margin-top:10px;
	text-decoration:none;
}
.iA.i07:hover{
	background-position:0 -31px;
}

.iA.i08{
	display:inline-block;
	width:18px;
	height:18px;
	background: url( '../assets-static/images/icons03.png' );
	padding-left:25px;
	margin-bottom:10px;
}
.iA.i09{
	display:inline-block;
	width:16px;
	height:18px;
	background: url( '../assets-static/images/icons03.png' );
	background-position: 0 -18px;
	padding-left:25px;
}

.iA.i10{
	display:inline-block;
	color:white;
	text-decoration:none;
	margin:0 5px 5px 0;
	position:relative;
	font-size:12px;
	padding:6px 10px 6px 30px;
}
.iA.i11{
	background: #efaa24;
}
.iA.i11:hover{
	background: #f9bf35;
}
.iA.i12{
	background: #939393;
}
.iA.i12:hover{
	background: #a4a4a4;
}
.iA.i13{
	background: #1fa2c3;
}
.iA.i13:hover{
	background: #29b4d7;
}

.iA.i14{
	color:#393939;
}

.iA.i15{
	background: #65639f;
}

.iA.i16{
	display:block;
	position:relative;
	padding:5px 0 5px 40px;
	margin-bottom:5px;
}

.iA.i17{
	display:inline-block;
	background: #3a87ad;
	color:white;
	padding:5px 10px 5px 35px;
	text-decoration:none;
	position:relative;
}
.iA.i17:hover{
	background: #3794c2;
}

.iA.i18{
	display:inline-block;
	background: #ff8a00;
	padding:5px 10px 5px 40px;
	color:white;
	text-decoration:none;
	position:relative;
}
.iA.i18 span{
	border-bottom: white dotted 1px;
}
.iA.i18:hover{
	background: #ec8206;
}

.iA.i19{
	display:inline-block;
	padding:0 0 0 21px;
	position:relative;
}

.iA.i20{
	color:black;
	font-weight:bold;
}

.iA.i21{
	display:inline-block;
	background: #e7e7e7;
	text-decoration:none;
	color:black;
	padding:8px 18px;
	margin-left:2px;
}
.iA.i21.active{
	background: #3a90d8;
	color:white;
}

.iA.i22{
	background: #69696c;
}

.iA.i23_1{
	color: #76a263;
}
.iA.i23_2{
	color: #f2b100;
}
.iA.i23_3{
	color: #ff6654;
}

.iA.i24{
	color:#393939;
	font-size:18px;
	line-height:18px;
	font-weight:bold;
}

.iA.i25{
	color: #393939;
}

.iA.i26{
	display:inline-block;
	padding:5px;
	font-size:15px;
	color:#0B6CBC;
}
.iA.i26.active{
	background-color:LightGray;
}

.iA.i27{
	background: #267ac0;
}

.iA.i28{
	background: #e46046;
}

.iOffersBox.i01 .widget-header{
	background: #ef9433;
	color:white;
}

.iOffersBox.i01 .widget-header a{
	color:white;
}

.iOffersBox.i01 .widget-body {
	border: solid #ef9433 1px;
	border-top:none;
}

.iMessage.i01{
	max-width: 450px;
	margin:0 auto;
	padding-top:50px;
}
.iMessage.i01 .alert{
	margin:0;
}

.iLi.i01 > a{
	font-size:12px;
}

.itemdiv .tools {
	width: auto;
}

.nowrapTT .tooltip{
	white-space:nowrap;
}

.iNoWrap{
	white-space:nowrap;
}

.form-actions {
	margin-top: 0px;
}

.iInput.i01{
	width:100% !important;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	height:30px;
}

.iInput.i02{
	margin-bottom:0;
	border: 1px solid #6fb3e0;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	-webkit-transition: all ease .15s;
	-moz-transition: all ease .15s;
	-o-transition: all ease .15s;
	transition: all ease .15s;
}

.iInput.i03{
	width:100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:27px;
}
.iInput.i04{
	margin:0px;
}

.widget-main.no-padding form .form-actions {
	margin: 0px;
	padding: 10px 12px 12px;
}

.widget-main form {
	margin-bottom: 0px;
}

.iUsersConversationWidget.i01 .dialogs form{
	margin-bottom: 20px;
}

.iAnswer.i01 .text{
	color:red;
}

.iDummReload.i01{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	width:100%;
	height:100%;
	opacity:0.6;
	background: #148BCF linear-gradient(45deg, rgba(255, 255, 255, 0.149) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.149) 50%, rgba(255, 255, 255, 0.149) 75%, transparent 75%, transparent) 0% 0% / 40px 40px;
}

.iDummReloadText.i01{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:101;
}

.iDummyReload.i02{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	opacity:0.6;
	background-color: #DFF0D8 !important;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.7) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.7) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px !important;	  
	-webkit-animation: progress-bar-stripes 2s linear infinite !important;
            animation: progress-bar-stripes 2s linear infinite !important;
}
.iDummyReload.i02 td{
	background-color: transparent !important;
	text-align: center;
	vertical-align: middle;
	font-size:30px;
	color:gray;
}

.iSpan.i01{
	font-size:30px;
	color:white;
}

.iSpan.i02{
	font-size:16px;
	font-weight:bold;
}

.iSpan.i03{
	font-weight:bold;
	font-size:22px;
}

.iSpan.i04{
	font-weight:bold;
	font-size:22px;
}

.iSpan.i05{
	font-size:22px;
	color:#666666;
}

.iSpan.i06{
	font-size:26px;
	line-height:10px;
	position:relative;
	top:2px;
}
.iSpan.i07{
	font-size:11px;
}

.iSpan.i08{
	display:block;
	text-transform:uppercase;
	padding-top:5px;
	font-weight:bold;
	color:#626262;
}

.iSpan.i09{
	display:inline-block;
	font-size:11px;
	line-height:12px;
}

.iSpan.i10{
	display:inline-block;
	font-size:26px;
	margin-bottom:10px;
}

.iSpan.i11{
	color:black;
	font-size:30px;
}

.iSpan.i12{
	color:black;
}

.iSpan.i13{
	font-size:30px;
	font-weight:300;
}
.iSpan.i14{
	font-size:18px;
	font-weight:300;
}

.iSpan.i16{
	font-size:11px;
	font-weight:300;
}
.iSpan.i17{
	font-size:10px;
	font-weight:700;
}

.iSpan.i18{
	font-size:20px;
	color:#2e8965;
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
}

.iSpan.i19{
	font-size:16px;
	color:#222222;
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
}

.iSpan.i20{
	font-size:20px;
	color:#222222;
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
}

.iSpan.i21{
	color: #2b871c;
}

.iSpan.i22_high{
	color: #e50404;
}
.iSpan.i22_medium{
	color: #e8bb21;
}
.iSpan.i22_low{
	color: #029a1e;
}
.iSpan.i22_not{
	color: #707070;
}

.iSpan.i23{
	color: black;
	font-weight:bold;
}

.iBold{
	font-weight:bold;
}

.nav > .disabled > a, .nav > .disabled > a:hover, .nav > .disabled > a:focus {
	color: #CCCCCC;
	background-color: #FFFFFF;
}

.input-very-small { 
	width: 45px;
}

.wNavbarWidget .wPrivateMessagesShortList .msg-photo{
	vertical-align: top;
}

.wAdminUserNoticeFormWidget .wIcon{
	vertical-align:top;
}

.itemdiv > a.body > .text{
	color: #393939;
	text-decoration:none;
}
.itemdiv > a.body:hover{
	text-decoration:none;
}

.itemdiv > a.body .link{
	color: #0088CC;
}

.cke_dialog_ui_checkbox_input{
	position:static !important;
	opacity: 1 !important;
	height: auto !important;
	width: auto !important;
}

.wContestMembersLeadersGraphWidget .wGraph{
	width: 100%; 
	height: 400px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.wContestMembersLeadersGraphWidget .wBabl{
	position:absolute;
	background:white;
	border:solid black 1px;
	border-radius:5px;
	padding:2px 10px;
	visibility: hidden;
}

.wContestMemberGraphWidget .wGraph{
	width: 100%; 
	height: 400px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.wContestMemberGraphWidget .wBabl{
	position:absolute;
	background:white;
	border:solid black 1px;
	border-radius:5px;
	padding:2px 10px;
	visibility: hidden;
}

.wBrokerMarksGraphWidget .wGraph{
	margin-top:20px;
	width: 300px; 
	height: 200px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.wBrokerMarksGraphWidget .wBabl{
	position:absolute;
	background:white;
	border:solid lightgrey 1px;
	padding:2px 10px 10px;
	display:none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.wBrokerMarksGraphWidget .wBabl .wDT{
	color:grey;
	font-size:11px;
}
.wBrokerMarksGraphWidget .wBabl .wLine{
	height:1px;
	background: url( '../assets-static/images/dotted02.png' );
	margin:5px -10px 6px -10px;
}

.wBrokerMarksGraphWidget .wBabl .wConditions, .wBrokerMarksGraphWidget .wBabl .wExecution, .wBrokerMarksGraphWidget .wBabl .wSupport, .wBrokerMarksGraphWidget .wBabl .wIO, .wBrokerMarksGraphWidget .wBabl .wSite{
	font-weight:bold;
}
.wBrokerMarksGraphWidget .wBabl .wTrust{
	font-size:20px;
	font-weight:bold;
}

.wEATradeAccountsGraphWidget .wGraph{
	width: 100%; 
	height: 400px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.wEATradeAccountsGraphWidget .wBabl{
	position:absolute;
	background:white;
	border:solid black 1px;
	border-radius:5px;
	padding:2px 10px;
	visibility: hidden;
}

.wCalendarEventGraphWidget .wGraph{
	width: 100%; 
	height: 400px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.wCalendarEventGraphWidget .wBabl{
	position:absolute;
	background:white;
	border:solid black 1px;
	border-radius:5px;
	padding:2px 10px;
	visibility: hidden;
}

.itemdiv.dialogdiv.withoutLine:before{
	display:none;
}

.ui-slider-horizontal.ui-slider-small{
	cursor:pointer;
}


.ui-slider-horizontal.ui-slider-small .ui-slider-handle {
	top: -22px;
	margin-left: -15.5px;
}
.ui-slider-horizontal.ui-slider-small{
	border:none;
	background: #CCCCCC;
}

.ui-slider-horizontal.ui-slider-small .ui-slider-handle{
	background: white;	
}
.ui-slider-horizontal.ui-slider-small .ui-slider-handle::before {
	line-height:17px;
	left:2px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -19px !important;
	margin-left: -16px !important;
}

.ui-slider-horizontal .ui-slider-handle:before {
	content:' ' !important;
}

.ui-slider-blue .ui-slider-range {
    background: #4AA4CE;
}
.ui-slider-blue .ui-slider-handle{
	border-color: #4AA4CE !important;
}

.ui-slider-green .ui-slider-range {
    background: #8BBC67;
}
.ui-slider-green .ui-slider-handle{
	border-color: #8BBC67 !important;
}

.ui-slider-red .ui-slider-range {
    background: #D36E6E;
}
 .ui-slider-red .ui-slider-handle{
	border-color: #D36E6E !important;
}

.ui-slider-purple .ui-slider-range {
    background: #AC68BA;
}
.ui-slider-purple .ui-slider-handle{
	border-color: #AC68BA !important;
}

.ui-slider-orange .ui-slider-range {
    background: #EFAD62;
}
.ui-slider-orange .ui-slider-handle{
	border-color: #EFAD62 !important;
}

.navbar .navbar-inner {
	background:#2C3742;
	padding-right: 20px;
	padding-left: 20px;
}

.user-profile.light-blue{
	background:#2C3742 !important;
}

.page-header h1 { 
	color: #2679B5;
	font-size: 24px;
	font-weight: lighter;
	margin: 0px 8px;
	padding: 0px;
}

.iI.i01{
	display:inline-block;
	width:16px;
	height:16px;
	background: url( '../assets-static/images/warning01.png' );
	position:relative;
	top:2px;
}

.iI.i02{
	position:absolute;
	left:30px;
	top:50%;
	margin-top:-28px;
	display:inline-block;
	width:56px;
	height:56px;
	background: url( '../assets-static/images/ea01.png' );
}

.iI.i03{
	position:absolute;
	left:30px;
	top:50%;
	display:inline-block;
	width:61px;
	height:54px;
	margin-top:-27px;
	background: url( '../assets-static/images/brokers01.png' );
}

.iI.i04{
	display:inline-block;
	width:19px;
	height:19px;
	background: url( '../assets-static/images/arrow01c.png' );
	cursor:pointer;
	float:right;
}

.iI.i04.iOpened{
	background: url( '../assets-static/images/arrow01o.png' );
}

.iI.i05{
	position:absolute;
	left:30px;
	top:50%;
	margin-top:-28px;
	display:inline-block;
	width:60px;
	height:55px;
	background: url( '../assets-static/images/contests_cup.png');
}

.iI.i06{
	float:right;
	font-style:normal;
	margin-right:2px;
	font-size:10px;
	color:#e4a149;
	background: white;
	padding:0 3px;
}

.iI.i07{
	position:absolute;
	left:10px;
	top:50%;
	margin-top:-11px;
	display:inline-block;
	width:22px;
	height:22px;
	background: url( '../assets-static/images/rss01.png' );
}

.iI.i08{
	position:absolute;
	top:10px;
	left:50%;
	margin-left:-14px;
	width:27px;
	height:27px;
	background: url( '../assets-static/images/edit01.png' );
}

.iI.i09{
	display:inline-block;
	background: url( '../assets-static/images/icons01.png?v=1' );
	position:relative;
	top:2px;
}
.iI.i10_create_user{
	width:17px;
	height:15px;
	background-position:0 0;
}
.iI.i10_create_contest_member{
	width:17px;
	height:15px;
	background-position:0 -15px;
}
.iI.i10_create_contest_completed{
	width:14px;
	height:15px;
	background-position:0 -30px;
}
.iI.i10_create_contest_winer{
	width:14px;
	height:14px;
	background-position:0 -45px;
}
.iI.i10_create_contest_message{
	width:14px;
	height:13px;
	background-position:0 -59px;
}
.iI.i10_create_broker_review{
	width:15px;
	height:12px;
	background-position:0 -72px;
}
.iI.i10_create_broker_mark{
	width:14px;
	height:13px;
	background-position:0 -84px;
}
.iI.i10_create_broker_mark_down{
	width:14px;
	height:13px;
	background-position:0 -97px;
}
.iI.i10_create_broker_link{
	width:14px;
	height:13px;
	background-position:0 -110px;
}
.iI.i10_create_ea_review{
	width:17px;
	height:15px;
	background-position:0 -123px;
	top:4px;
}
.iI.i10_create_ea_mark{
	width:18px;
	height:13px;
	background-position:0 -138px;
}
.iI.i10_download_ea_version{
	width:17px;
	height:14px;
	background-position:0 -151px;
}
.iI.i10_create_ea{
	width:15px;
	height:13px;
	background-position:0 -165px;
}
.iI.i10_create_ea_version{
	width:16px;
	height:13px;
	background-position:0 -178px;
}
.iI.i10_create_ea_statement{
	width:13px;
	height:16px;
	background-position:0 -191px;
}
.iI.i10_create_journal_comment{
	width:15px;
	height:16px;
	background-position:0 -207px;
}
.iI.i10_download_journal{
	width:15px;
	height:16px;
	background-position:0 -223px;
}
.iI.i10_view_journal{
	width:12px;
	height:14px;
	background-position:0 -239px;
}

.iI.i11{
	display:inline-block;
	background: url( '../assets-static/images/icons02.png?v=1' );
}
.iI.i11_2{
	position:absolute;
	left:15px;
	top:50%;
}
.iI.i12_main_data{
	width:14px;
	height:13px;
	background-position:0 0;
	margin-top:-6px;
}
li.active .iI.i12_main_data{
	background-position:-14px 0;
}
.iI.i12_trader{
	width:15px;
	height:18px;
	background-position:0 -13px;
	margin-top:-9px;
}
li.active .iI.i12_trader{
	background-position:-15px -13px;
}
.iI.i12_manager{
	width:12px;
	height:17px;
	background-position:0 -31px;
	margin-top:-9px;
}
li.active .iI.i12_manager{
	background-position:-12px -31px;
}
.iI.i12_investor{
	width:18px;
	height:16px;
	background-position:0 -48px;
	margin-top:-8px;
}
li.active .iI.i12_investor{
	background-position:-18px -48px;
}
.iI.i12_programmer{
	width:18px;
	height:17px;
	background-position:0 -64px;
	margin-top:-9px;
}
li.active .iI.i12_programmer{
	background-position:-18px -64px;
}

.iI.i13{
	width:15px;
	height:15px;
	display:inline-block;
	background: url( '../assets-static/images/query01.png' );
	position:relative;
}
.iI.i13 + .tooltip{
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
	-moz-box-shadow   : 0 0 3px rgba(0,0,0,0.5);
	box-shadow        : 0 0 3px rgba(0,0,0,0.5);
	background-color: white;
}
.iI.i13 + .tooltip .tooltip-arrow{
	display:none;
}
.iI.i13 + .tooltip .tooltip-inner {
	background-color: white;
	color:#666666;
	text-shadow: none;
	font-weight:normal;
	font-size:12px;
	max-width:300px;
}

.iI.i14{
	width:18px;
	height:18px;
	display:inline-block;
	background: url( '../assets-static/images/icons04.png' );
	position:relative;
}
.iI.i15_1{
	background-position:0 0;
}
.iI.i15_2{
	background-position:0 -18px;
}
.iI.i15_3{
	background-position:0 -36px;
}
.iI.i15_4{
	background-position:0 -54px;
}

.iI.i16{
	display:inline-block;
	background: url( '../assets-static/images/icons05.png' );
	position:absolute;
	left:8px;
	bottom:6px;
}
.iI.i16_1{
	width:16px;
	height:18px;
	background-position:0 0;
}
.iI.i16_2{
	width:17px;
	height:19px;
	background-position:0 -18px;
}
.iI.i16_3{
	width:18px;
	height:19px;
	background-position:0 -37px;
}

.iI.i17{
	display:inline-block;
	background: url( '../assets-static/images/icons06.png' );
	position:absolute;
	left:12px;
	bottom:5px;
}
.iI.i17_1{
	width:18px;
	height:18px;
	background-position:0 0;
}
.iI.i17_2{
	width:18px;
	height:18px;
	background-position:0 -18px;
}

.iI.i18{
	display:inline-block;
	width:12px;
	height:12px;
	position:relative;
	top:1px;
}

.iI.i18_MON{
	background: #2e8965;
}
.iI.i18_LAB{
	background: #892e65;
}
.iI.i18_DS{
	background: #6fb3e0;
}
.iI.i18_RS{
	background: #ff7443;
}

.iI.i19{
	display:inline-block;
	width:14px;
	height:14px;
	position:relative;
	top:3px;
	background: url( '../assets-static/images/icons07.png' );
	margin-left:5px;
}

.iI.i20{
	position:absolute;
	left:30px;
	top:50%;
	margin-top:-32px;
	display:inline-block;
	width:55px;
	height:65px;
	background: url( '../assets-static/images/users01.png' );
}

.iI.i21{
	position:absolute;
	left:50%;
	top:50%;
	background: url( '../assets-static/images/icons02.png' );
}
.iI.i21_01{
	width:15px;
	height:18px;
	margin-left:-7px;
	margin-top:-9px;
	background-position:0 -13px;
}
.iI.i21_02{
	width:12px;
	height:17px;
	margin-left:-5px;
	margin-top:-8px;
	background-position:0 -31px;
}
.iI.i21_03{
	width:18px;
	height:16px;
	margin-left:-9px;
	margin-top:-8px;
	background-position:0 -48px;
}
.iI.i21_04{
	width:18px;
	height:17px;
	margin-left:-9px;
	margin-top:-8px;
	background-position:0 -64px;
}

.iI.i22{
	display:inline-block;
	background: url( '../assets-static/images/icons08.png?v=1' );
	position:absolute;
	left:10px;
	top:50%;
}
.iI.i22_ratings{
	width:18px;
	height:17px;
	background-position:0 0;
	margin-top:-9px;
}
li.active .iI.i22_ratings{
	background-position:-18px 0;
}
.iI.i22_monitoring{
	width:15px;
	height:18px;
	background-position:0 -17px;
	margin-top:-9px;
	left:12px;
}
li.active .iI.i22_monitoring{
	background-position:-15px -17px;
}
.iI.i22_laboratory{
	width:18px;
	height:14px;
	background-position:0 -35px;
	margin-top:-7px;
	left:12px;
}
li.active .iI.i22_laboratory{
	background-position:-18px -35px;
}

.iI.i23{
	display:inline-block;
	background: url( '../assets-static/images/icons09.png?v=1' );
	position:absolute;
	left:13px;
	top:50%;
	width:16px;
	height:14px;
	margin-top:-7px;
}

.iI.i24{
	display:inline-block;
	background: url( '../assets-static/images/icons10.png' );
	position:relative;
	top:2px;
}
.iI.i24_pdf{
	width:15px;
	height:17px;
}

.iI.i25{
	position:absolute;
	background: url( '../assets-static/images/icons11.png' );
	top:7px;
	left:15px;
	width:17px;
	height:16px;
}

.iI.i26{
	position:absolute;
	background: url( '../assets-static/images/icons12.png' );
	top:3px;
	left:0px;
}
.iI.i26_1{
	width:17px;
	height:16px;
}
.iI.i26_2{
	width:17px;
	height:15px;
	background-position:0 -16px;
}

.iI.i27{
	display:inline-block;
	position:relative;
	background: url( '../assets-static/images/icons13.png' );
	top:0px;
	left:0px;
}
.iI.i27_1{
	width:24px;
	height:24px;
}

.iI.i28{
	position:absolute;
	left:30px;
	top:50%;
	margin-top:-28px;
	display:inline-block;
	width:55px;
	height:57px;
	background: url( '../assets-static/images/journal01.png' );
}

.iI.i29{
	display:inline-block;
	width:18px;
	height:17px;
	background: url( '../assets-static/images/settings01.png' );
	position:relative;
	top:3px;
}

.iI.i30{
	display:inline-block;
	width:18px;
	height:16px;
	background: url( '../assets-static/images/journal02.png' );
	position:relative;
	top:3px;
	margin:0 8px 0 5px;
}

.iI.i31{
	display:inline-block;
	width:17px;
	height:17px;
	background: url( '../assets-static/images/contests_cup_ico.png' );
	position:relative;
	top:3px;
	left:2px;
	margin:0 8px 0 5px;
}

.iI.i32{
	display:inline-block;
	width:16px;
	height:19px;
	background: url( '../assets-static/images/users02.png' );
	position:relative;
	top:5px;
	left:1px;
	margin:0 8px 0 5px;
}

.iI.i33{
	display:inline-block;
	width:19px;
	height:17px;
	background: url( '../assets-static/images/calendar01.png' );
	position:relative;
	top:4px;
	left:0px;
	margin:0 8px 0 5px;
}

.iI.i34{
	display:inline-block;
	width:60px;
	height:55px;
	background: url( '../assets-static/images/contests02.png' );
	margin-right:10px;
	margin-bottom:5px;
}


.iI.i35{
	position:absolute;
	left:30px;
	top:50%;
	margin-top:-28px;
	display:inline-block;
	width:64px;
	height:61px;
	background: url( '../assets-static/images/calendar02.png' );
}

.iI.i36{
	display:inline-block;
	width:14px;
	height:9px;
	background: url( '../assets-static/images/icons14.png' );
	margin-right:5px;
}
.iI.i37{
	display:inline-block;
	width:14px;
	height:14px;
	background: url( '../assets-static/images/icons15.png' );
	margin-right:5px;
	position:relative;
	top:2px;
}

.iI.i38{
	position:absolute;
	left:30px;
	top:50%;
	margin-top:-22px;
	display:inline-block;
	width:62px;
	height:43px;
	background: url( '../assets-static/images/contacts01.png' );
}

.iI.i39{
	display:inline-block;
	width:15px;
	height:11px;
	background: url( '../assets-static/images/contacts02.png' );
	position:relative;
	top:1px;
	left:2px;
	margin:0 10px 0 5px;
}

.iI.i40{
	display:inline-block;
	width:18px;
	height:12px;
	background: url( '../assets-static/images/views01.png' );
	position:relative;
	top:1px;
	left:2px;
	margin:0 8px 0 0;
}

.iI.i41{
	display:inline-block;
	width:12px;
	height:11px;
	background: url( '../assets-static/images/yes01.png' );
	position:relative;
	top:1px;
	left:0px;
	margin:0 5px 0 0;
}

.iI.i42{
	display:inline-block;
	width:10px;
	height:10px;
	background: url( '../assets-static/images/no01.png' );
	position:relative;
	top:1px;
	left:0px;
	margin:0 5px 0 0;
}

.iI.i43{
	position:absolute;
	left:30px;
	top:50%;
	margin-top:-24px;
	display:inline-block;
	width:54px;
	height:49px;
	background: url( '../assets-static/images/strategies01.png' );
}

.iI.i44{
	position:relative;
	display:inline-block;
	width:16px;
	height:18px;
	top:4px;
	background: url( '../assets-static/images/news01.png' );
	margin:0 0 0 5px;
}

.iI.i45{
	position:relative;
	display:inline-block;
	width:17px;
	height:18px;
	top:4px;
	background: url( '../assets-static/images/desc01.png' );
	margin:0 0 0 5px;
}

.iUl.i01 a{
	position:relative;
	padding-left:35px;
	padding-right:15px;
	background: #eeeeee;
	color:black;
}
.iUl.i01 a:hover{
	background: #dddddd;
}
.iUl.i01 li.active a{
	background-color: #0088cc;
	color:white;
}

.iUl.i02 a{
	padding-left:35px;
}

.iUl.i03{
	margin-bottom:0;
}
.iUl.i03 a{
	position:relative;
	padding-left:35px;
	padding-right:15px;
	border:solid #dddddd 1px;
}
.iUl.i03 li.active a{
	border:solid #0088CC 1px;
}

.iImg.i01{
	float:left;
	margin-right:8px;
	position:relative;
	top:-2px;
}

.iImg.i02{
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	border:solid #C9D6E5 2px;
}

.iImg.i03{
	width:24px;
	height:24px;
	margin-right:10px;
}

.iImg.i04{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.iBtn.i01{
	display:inline-block;
	width:130px;
	height:79px;
	background: url( '../assets-static/images/btn01.png' );
	vertical-align: middle;
	text-align:center;
	color:white;
	line-height:15px;
	padding-top:15px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-decoration:none;
}
.iBtn.i02{
	display:inline-block;
	width:81px;
	height:80px;
	background: url( '../assets-static/images/btn02.png' );
	vertical-align: middle;
	text-align:center;
	line-height:20px;
	padding-top:18px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.iBtn.i03{
	display:inline-block;
	width:105px;
	height:79px;
	background: url( '../assets-static/images/btn03.png' );
	vertical-align: middle;
	text-align:center;
	color:white;
	line-height:20px;
	padding-top:18px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.iBtn.i04{
	display:inline-block;
	width:104px;
	height:79px;
	background: url( '../assets-static/images/btn04.png' );
	vertical-align: middle;
	text-align:center;
	color:white;
	line-height:20px;
	padding-top:18px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.iBtn.i05{
	display:inline-block;
	width:90px;
	height:79px;
	background: url( '../assets-static/images/btn05.png' );
	vertical-align: middle;
	text-align:center;
	color:white;
	line-height:20px;
	padding-top:18px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.iBtn.i06{
	display:inline-block;
	width:79px;
	height:79px;
	background: url( '../assets-static/images/btn06.png' );
	vertical-align: middle;
	text-align:center;
	color:white;
	line-height:20px;
	padding-top:18px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.iBtn.i07{
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
.iBtn.i10{
	display:inline-block;
	width:116px;
	height:31px;
	background: url( '../assets-static/images/btn10.png' );
	vertical-align: middle;
	color:white;
	line-height:20px;
	padding:4px 0 0 32px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-decoration:none;
	margin-left:12px;
}
.iBtn.i10:hover{
	background-position:0 -31px;
}

.iBtn.i11{
	display:inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin:0 10px 5px 0;
}
.iBtn.i11 > div{
	display:inline-block;
	text-align:center;
	padding:16px 14px 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.iBtn.i11_1{
	border: solid #ffa830 1px;
	color:white;
}
.iBtn.i11_1 > div{
	border: solid #ffbf65 1px;
	background: #ffb54e; 
    background: linear-gradient(to top, #ffa931, #ffbf65);
}
.iBtn.i11_2{
	border: solid #7dab50 1px;
	color:white;
}
.iBtn.i11_2 > div{
	border: solid #8dbe5f 1px;
	background: #86b659; 
    background: linear-gradient(to top, #7dab50, #8dbe5f);
}
.iBtn.i11_3{
	border: solid #e6e6e6 1px;
}
.iBtn.i11_3 > div{
	border: solid #f4f4f4 1px;
	background: #eeeeee; 
    background: linear-gradient(to top, #e6e6e6, #f4f4f4);
}
.iBtn.i11_4{
	float:left;
	margin-right:10px;
	border: solid #e6e6e6 1px;
}
.iBtn.i11_4 > div{
	height: 54px;
	border: solid #f4f4f4 1px;
	background: #ededed; 
    background: linear-gradient(to top, #e6e6e6, #f4f4f4);
}
.iBtn.i11_5{
	border: solid #197ec1 1px;
	color:white;
}
.iBtn.i11_5 > div{
	position:relative;
	padding:41px 14px 8px;
	border: solid #3b98d6  1px;
	background: #2d8dcd; 
    background: linear-gradient(to top, #1a7fc1, #3b98d6);
}
.iBtn.i11_6{
	border: solid #e6e6e6 1px;
}
.iBtn.i11_6 > div{
	border: solid #f4f4f4 1px;
	background: #eeeeee; 
    background: linear-gradient(to top, #e6e6e6, #f4f4f4);
}
.iBtn.i11_7{
	border: solid #d6487e 1px;
	color:white;
}
.iBtn.i11_7 > div{
	border: solid #e25288 1px;
	background: #dc4d84; 
    background: linear-gradient(to top, #d6487e, #e25288);
}
.iBtn.i11_8{
	border: solid #6a6a6a 1px;
	color:white;
}
.iBtn.i11_8 > div{
	border: solid #888888 1px;
	background: #7b7b7b; 
    background: linear-gradient(to top, #6b6b6b, #888888);
}
.iBtn.i11_9{
	border: solid #70b8d9 1px;
	color:white;
}
.iBtn.i11_9 > div{
	border: solid #a3dcf6 1px;
	background: #8bcfef; 
    background: linear-gradient(to top, #82c7e7, #91d6f6);
}

.iBtn.i12{
	color:black !important;
	background: #cfcfcf;
	border:none;
	padding: 5px 20px;
	font-size:13px;
}

.iBtn.i13{
	margin:0;
}

.iBtn.i14{
	position:relative;
	top:-1px;
}

.wUserSettingsWidget .tab-content{
	overflow: visible;
}

.iDetailView.i02{
	margin-bottom: 0;
}
.iDetailView.i02 .profile-row{
	border-bottom: 1px dotted #cecece;
	padding:0 15px;
	clear:both;
}
.iDetailView.i02 .profile-name{
	float:left;
	width:210px;
	font-weight:bold;
	padding:8px 0;
}
.iDetailView.i02 .profile-value{
	margin-left:210px;
	padding:8px 0;
}
.iDetailView.i03 .profile-name{
	width:250px;
}
.iDetailView.i03 .profile-value{
	margin-left:250px;
}
.iDetailView.i04 .profile-name{
	width:245px;
}
.iDetailView.i04 .profile-value{
	margin-left:245px;
}

.iTd.i01 i{
	margin-right:4px;
	position:relative;
	top:6px;
}
.iTd.i02 i{
	margin-right:4px;
	position:relative;
	top:4px;
}
.iTd.i03{
	padding-right:50px !important;
}

.iLabel.i01{
	display: inline;
}

.wJournalProfileDetailView{
	margin:10px 0;
}

.wStarsWidget{
	display:inline-block;
	background: url( '../assets-static/images/stars01.png' );
	width:118px;
	height:21px;
}

.wStarsWidget .wCurrentValue{
	background: url( '../assets-static/images/stars01.png' );
	height:21px;
	background-position: 0 -21px;
}
.wStarsWidget .wValue{
	float:left;
	background: url( '../assets-static/images/stars01.png' );
	width:22px;
	height:21px;
	margin-right:2px;
	display:none;
}
.wStarsWidget .wValue:last-child{
	margin-right:0;
}
.wStarsWidget .wValue.active{
	background-position: 0 -21px;
}

.iBlockquote.i01{
	border-left-color: #87b87f;
}

.iTr.i01 td{
	background-color:#F2DEDE !important;
}
.iTr.i02 td{
	text-align:center;
	font-weight:bold;
	background: #EEEEEE !important;
}
.iTr.i03 th{
	font-weight: normal;
	color: #476f90;
}

.iTr.i04 td{
	text-align:center;
}

.iTrFilter.i01 th{
	
}

.iFilterDummy.i01 th{
	position:relative;
	padding:0 3px;
}

.iFilterDummy.i01 th:hover{
	cursor:pointer;
	background: LightGray;
}


.iTh.i01{
	width:15px;
}
.iTh.i02{
	width:50px;
}
.iTh.i03{
	width:80px;
}

.iListTable.i01{
	margin-top:10px;
}
.iListTable.i01 thead th[class*="sorting"]{
	position:relative;
	padding-right:25px;
}
.iListTable.i01 thead th[class*="sorting"]::after{
	position:absolute;
	top: 11px;
	right: 7px;
}
.iListTable.i01 tbody tr[data-id] td{
	cursor:pointer;
}
.iListTable.i01 tbody tr[data-id]:hover td{
	background-color: #F0F0F0;
}
.iListTable.i01 tbody tr[data-id].iSelected td{
	background-color: #DFF0D8;
	font-weight:bold;
}
.iListTable.i01 tbody tr[data-id].iLoading td{
	background-color: transparent;
}
.iListTable.i01 tbody tr[data-id].iLoading{
	background-color: #DFF0D8 !important;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px !important;	  
	-webkit-animation: progress-bar-stripes 2s linear infinite !important;
            animation: progress-bar-stripes 2s linear infinite !important;
}

.iListTable.i01 .iFormWidget{
	margin-top:0;
}

.iListWidget.i01 .pagination {
	text-align: right;
}

.iListWidget.i01 .pagination.pagination-left {
  text-align: left;
}

.iListWidget.i02 .iListTable.i01 tbody tr[data-id] td{
	cursor:auto;
}

.iTable.i01{
	border-spacing:10px;
	border-collapse:separate;
}

.wPostInformWidget .widget-header{
	background: #626262;
	color:white;
	border: none;
}
.wPostInformWidget .widget-toolbar a{
	color:white;
}
.wPostInformWidget .widget-body{
	border: solid #626262 1px;
}

.wPostInformWidget .wPosts{
	white-space:nowrap;
	overflow-x:hidden;
}
.wPostInformWidget .wPost{
	display:inline-block;	
	vertical-align:top;
	white-space:normal;
	padding:12px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: url( '../assets-static/images/dotted03.png' ) repeat-y 100% 0;
	font-size:12px;
	line-height:15px;
	color: #222222;
	text-decoration:none;
	position:relative;
}
.wPostInformWidget .wPost:last-child{
	background: none;
}

.wPostInformWidget .wPost .c01{
	float:left;
	width:55px;
}
.wPostInformWidget .wPost .c02{
	margin-left:65px;
}

.wCalendarEventsGridView a{
	color:#393939;
}

.wCalendarEventProfileWidget h1 *{
	vertical-align:middle;
}

.iAdminNavlistWidget.i01 li.active > a{
	font-weight:bold;
}

.iReloadListButton.i01 {
	vertical-align:top;
	margin:3px 0 0 3px;
}

.iPagination.i01 li.active a{
	font-weight: bold;
}

.ace-nav [class*="ficon-"] {
	width:16px !important;
	margin:2px 0px;
}

.widget_container{
    width: 90%;
}


.journal_description_list p{
    font-size: 14px;
    width: 62%;
    line-height: 23px;
}
.journal_description_list p strong{
    font-weight: normal;
}
.page-content .page-header:first-child h1{
    margin:0 !important;
    padding-bottom: 10px;
}
.wLborder img{
    padding: 4px;
    border: 1px solid #ccc;
    max-width:162px !important;
}
.wLborder a{
    margin: 5px 25px 5px 5px !important;
}
.latest_edition{
    width: 125px;
    height: 22px;
    background: red;
    position: absolute;
    left: 15%;
    top: 5px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}
.latest_edition span{
    position: relative;
    top: 2px;
}


@media (min-width: 480px) {
	.wJournalProfileDetailView .profile-info-name{
		text-align: left;
		padding-left:10px;
		width:160px;
	}
	.wJournalProfileDetailView .profile-info-value {
		margin-left: 180px;
	}
}

@media (max-width: 1600px) {
	.hidden-1600{
		 display:none !important;
	}
}

@media (max-width: 1400px) {
	.hidden-1400{
		 display:none !important;
	}
}

@media (max-width: 1200px) {
	.hidden-1200{
		 display:none !important;
	}
}

@media (max-width: 1024px) {
	.hidden-1024{
		 display:none !important;
	}
}

@media (max-width: 979px) {
	.iBody.i03{
		padding-top:0;
	}
	.navbar .navbar-text, .navbar .navbar-link{
		color:grey;
	}
	.navbar .navbar-link:hover{
		color:black;
	}
	.iInput.i02{
		width:100px;
	}
	.iGridView.i07 .c04, .iGridView.i07 .c05, .iGridView.i07 .c06, .iGridView.i07 .c07{
		display:none;
	}
	.iHalf.i01{
		width:100%;
		float:none;
	}
	.iHalf.i01:first-child{
		padding-right:0px;
	}
	.iPagination.i01 .first a{
		content: '««';
	}
	.iPagination.i01 .previous a{
		content: '«';
	}
	.iPagination.i01 .next a{
		content: '»';
	}
	.iPagination.i01 .last a{
		content: '»»';
	}
    .journal_description_list p{
        width: 80%;
    }
}

@media (max-width: 640px) {
	.hidden-640{
		 display:none !important;
	}
	.iDiv.i05{
		display:block;
	}
	.iDiv.i15{
		width:100%;
	}
	.iA.i05{
		width:100%;
		margin-left: 0;
		margin-right: 0;
	}
	.iGridView.i08 .table{
		width:auto;
	}
	.iListWidget.i01 .iFormForm td{
		padding:0;
	}
	.iFormWidget.i03{
		padding: 5px;
	}
	.iFormWidget.i03 .well{
		padding: 10px;
	}
	.iFormWidget.i03 .btn-mini{
		padding: 0 8px;
		line-height: 24px;
		border-width: 4px;
		font-size: 13px;
	}
	.iFormWidget.i03 .accordion-inner{
		padding:5px;
	}
	.iReloadListButton.i01 {
		position:relative;
		top: -3px;
		left:0;
	}
    .wJournalProfileWidget .insJournalsArchiveWidget.wList.wLborder{
        text-align: center;
    }
    .journal_description_list p{
        width: 100%;
    }
}

@media (max-width: 480px) {
	.iUserAvatarFormWidget .iAvatarHolder{
		padding-left:0px;
	}
	.iInput.i02{
		width:0; 
		opacity:0;
		max-width:0; /* for safari only */
	}
	.iDiv.i02:hover .iInput.i02,
	.iInput.i02:focus, .iInput.i02:hover, .iInput.i02:active{
		opacity:1;
		width:100px;
		max-width:120px; /* for safari only */
	}
	.wBrokerMarksGraphWidget .wGraph{
		height: 200px;
	}
	.iDiv.i23 .controls{
		margin-left:0px;
	}
	.iDiv.i24 .controls{
		margin-left:0px;
	}
	.iDiv.i25 .controls{
		margin-left:0px;
	}
	.iDetailView.i02 .profile-name{
		float:none;
		width:auto;
	}
	.iDetailView.i02 .profile-value{
		margin-left:0;
		padding-top:0px;
	}
	.iDiv.i26{
		min-width:0;
	}
	.iDiv.i27{
		min-width:0;
	}
	.iDiv.i56{
		float:none;
		margin-left:20px;
	}
	.iDiv.i57{
		margin-right:0px;
	}
	.iDiv.i59{
		width:310px;
	}
	.iDiv.i61 .controls{
		margin-left:0;
	}
	.iDiv.i62{
		float:none;
	}

	.iDiv.i63{
		padding-left:0;
	}
}

.table-row {
  display: table;
}

.table-col {
  display: table-cell;
  vertical-align: top;
}

.table-col.center-columns {
  width: 100%;
}

.table-col.right-columns {
  padding-left: 30px;
}

div.star-rating, div.star-rating a {
  background: url("../assets-static/images/star.png") no-repeat scroll 0px -1px transparent;
  width: 21px;
  height: 21px;
}

div.star-rating-on a {
  background-position: 0px -21px !important;
}

#eATabs .tab-content {
  clear: both;
}

#eATabs .EAviews {
  padding-right: 30px;
  text-align: left;
  background: url('../assets-static/images/eye.png') no-repeat scroll 0px 5px transparent;
  min-width: 115px;
  padding-left: 17px;
  display: table-column;
}

.text-grey {
  color: #808080;
}

.eaPlatform {
  margin-top: 10px;
}

.eaPlatform .btn {
  background: url('../assets-static/images/plbutton.png') repeat-x scroll 0px 0px !important;
  color: #08C !important;
  text-shadow: none !important;
  border-width: 1px !important;
  margin: 0px 0px 0px 0px !important;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.15) !important;
  -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.15) !important;
  box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.15) !important;
  height: 31px;
  border: 1px solid #dbdbdb;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 12px;
}
}

.eaPlatform .btn.first {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}

.eaPlatform .btn.last {
  border-left: none;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}

.eaPlatform .btn.active {
  color: #000000 !important;
  background: url('../assets-static/images/plbutton_active.png') repeat-x scroll 0px 0px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-left: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
}

.eaPlatform .btn.active:after {
  border-bottom: none !important;
}

.wEAListView {
  margin-bottom: 30px;
}

/*.amChartsWidget {
	background-color: #FFF;
	border-radius: 10px;
	padding: 10px;
	box-shadow:0 2px 10px 0 rgba(0,0,0,0.1);
	transition: all 250ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-webkit-transition: all 250ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-moz-transition: all 250ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-o-transition: all 250ms cubic-bezier(0.770,0.000,0.175,1.000);
}*/

.better_news_par {
	background: rgb(159, 243, 148);
	margin: -9px -8px;
	padding: 9px 8px;
	position: relative;
}

.worse_news_par {
	background: rgb(236, 200, 200);
	margin: -9px -8px;
	padding: 9px 8px;
	position:relative;
}

.tbl_tt {
	position: absolute;
	background: white;
	padding: 5px;
	box-shadow: 4px 4px 10px grey;
	right: 0px;
	bottom: 45px;
	width: 150px;
	display:none;
}
.hint {
	position: relative;
}
.hint > .tbl_tt {
	bottom: 30px;
	width: 200px;
}
.better_news_par:hover > .tbl_tt, 
.worse_news_par:hover > .tbl_tt,
.hint:hover > .tbl_tt
{
	display: block;
}

	/*==================================alex======================================*/

	/*================cena===================*/
.procent-button{
	width: 89px;
	height: 24px;
	text-align: center;
	border: 1px solid #e2e2e2;
	background: #f9f9f9;
	-webkit-box-shadow: 0 2px 2px #ececec;
	box-shadow: 0 2px 2px #ececec;
	color: #2679b5;
	float: left;
	padding-top: 6px;
	font-size: 13px;
}
.links_button{margin-bottom: 10px;}
.procent-button:hover{
	text-decoration: none;
}
.procent-button:active,.procent-button.current{
	background: #e7e7e7;
	color: #222222;
	border: 1px solid #bdbdbd;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.i11_10{
	float: left;
	border: 1px solid #fee188;
	margin-right: 10px;
}
.iBtn.i11_10 > div {
	height: 54px;
	border: 1px solid #fff6da;
	background: #ffe79e;
	background: linear-gradient(to top, #fee189 , #ffe8a0);
}
.i11_11{
	float: left;
	margin-right: 10px;
	border: 1px solid #a2d49a;
}
.iBtn.i11 > div > .time{
	margin-top: 5px;
	margin-bottom: 5px;
}
.iBtn.i11 > div > .ok_text{
	line-height: 16px;
	text-align: left;
	padding-top: 6px;
}
.iBtn.i11_11 > div {
	height: 54px;
	border: 1px solid #d9e9d7;
	background: #a5d69d;
	background: linear-gradient(to top, #a3d49b , #c5e7c0);
}
.iBtn.i11_10 > div > img,.iBtn.i11_11 > div > img{
	margin-right: 15px;
}
.iSpan.i100 {
	display: inline-block;
	font-size: 11px;
	line-height: 12px;
	float: left;
}
.iSpan.i111 {
	display: inline-block;
	font-size: 11px;
	line-height: 12px;
	float: right;
}
.d_bl{display: block;}
.australian_bureau{margin-bottom: 20px;}
.austr_text_img{
	width: 686px;
}
.austr_text_img img{
	margin-right: 10px;
}
.austr_text_span{
	width: 554px !important;
	height: 140px;
	background: #fbfbfb;
	margin-left: 0 !important;
}
.iDiv.i55{margin-bottom: 5px;}
.austr_p{padding: 27px;}
.hook1{
	background: url(../assets-static/images/hook1.png) no-repeat;
	width: 32px;
	height: 24px;
	position: absolute;
	margin-left: -20px;
	margin-top: -10px;
}
.hook2{
	background: url(../assets-static/images/hook2.png) no-repeat;
	width: 32px;
	height: 24px;
	position: absolute;
	margin-top: -28px;
	right: -23px;
}
.short_descr {
	max-height: 6em;
	overflow: hidden;
	text-align: justify;
}
.austr_links{
	width: 190px;
	margin-left: 10px;
	margin-top: 10px;
}
.rating {
	position: relative;
	margin-top: 4px;
	margin-left: 13px;
	width: 70px;
	height: 13px;
	background: url(../assets-static/images/stars1.png) 0 0 repeat-x;
}
.rating.star1:before {
	width: 20%;
}
.rating.star2:before {
	width: 40%;
}
.rating.star3:before {
	width: 60%;
}
.rating.star4:before {
	width: 80%;
}
.rating.star5:before {
	width: 100%;
}
.rating.rat_stars3:before {
	width: 20%;
}
.rating:before {
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	background: url(../assets-static/images/stars2.png) 0 center repeat-x;
}
.table_main{
	/*border-spacing:10px 0; */
	border-collapse: separate;
	border: 1px solid #cccccc;
	border-radius: 2px;
	width: 190px;
	margin-left: 7px;
}
.table_head{
	text-align:left;
}
.table_head th{padding-left: 13px;}
.table_head_history{
	font-size: 11px;
	line-height: 14px;
	font-weight: 700;
}
.tab_month{
	font-size: 12px;
	line-height: 15px;
}
.tbody_history tr{
	height: 29px;
	text-align: center;
}
.tbody_history  td{
	margin: 0 5px 0 5px;
}
.table_head tr{
	height: 36px;
	background: #f4f4f4;
}
.tab_number{
	color: #0b6cbc;
}
.tab_text{
	color: #222222;
}
.cf4f4f4{background: #f4f4f4;}
.tr_th_links th{height: 44px;}
.iDiv.i56{padding-bottom: 25px;height: auto;}
.events_main{
	width: 100%;
	height: 38px;
	background: #fcfcfc;
	font-size: 14px;
	line-height: 18px;
	position: relative;
	margin-bottom: 5px;
}
.events_main_item{width: 80%;height: 38px;}
.events_main_item2{width: 20%;height: 38px;}
.border_n{border: none;}
.events_p:after{
	content: "";
	background: url(../assets-static/images/book.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-left: 5px;
	position: absolute;
	
}
.events_p, .events_span{margin: 10px 0px 10px 0px;}
.events_span{
	color: #959595;
}
.events_i{margin: 10px 0 0 10px;}
	/*================magazine===================*/
/*.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}*/
.in_number{
	width: 100%;
	height: 34px;
	background: #fafafa;
	-webkit-box-shadow: 1px 2px 2px #d9d9d9;
	box-shadow: 1px 2px 2px #d9d9d9;
	margin-bottom: 0px;
	cursor: pointer;
}
.in_number_span{
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	padding-top: 10px;
	display: block;
}
.stay {
	position: absolute;
	background: url(../assets-static/images/arr_cont_item.png) 50% 7px no-repeat;
	margin-left: 8px;
	width: 20px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
	content: "";
}
.active .stay {
	content: "";
	background-position: 50% -7px;
}
.insJournalsArchiveWidget.widget_container {
	max-width:900px;
}
.border_n{
	border: none !important;
}
.magazine_cover{
	background: #fafafa;
}
.magazine_cover_h3{
	font-size: 20px;
	line-height: 20px;
	color: #2679b5;
	font-family: 'Open Sans';
	margin-top: 0;
	padding-top: 20px;
	padding-left: 25px;
}
.cover_item_h5{
	color: #222222;
	font-size: 13px;
	line-height: 16px;
	margin-top: 5px;
	font-weight: 700;
}
.magazine_cover_item{
	width: 70%;
	margin-right: 32px;
	box-sizing: border-box;
	padding-left: 25px;
}
.magazine_cover_img{
	width: 25%;
}
.magazine_cover_item input{
	width: 64px;
	height: 26px;
	margin-left: 10px;	
}
.magazine_cover_item label{
	padding-top: 6px;
}
.fw700{font-weight: 700;}
.mt20{margin-top: 20px;}
.mt26{margin-top: 26px;}	
.ml15{margin-left: 15px;}
.mr30{margin-right: 30px;}
.mr-6{margin-right: -6px;}
.d_bl{display: block;}
.the_code textarea{
	margin-left: 0;
	margin-bottom: 0;
	width: 99%;
	height: 54px;
	resize:none;
}
.zebra tbody tr th{
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	background: #efefef;
}
.zebra tr{
	border: 1px solid #dbdbdb;
}
.zebra{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}
.bordmar_item {
	border: 1px solid #dbdbdb;
}
.hov {
	font-weight: 600;
}
.hov td {
	border: 1px solid #dbdbdb;
	padding-top: 10px;
	padding-bottom: 9px;
}
.width1 {
	padding-left: 10px;
	width: 20%;
}
.width2 {
	width: 60%;
	padding-left: 10px;
}
.width3 {
	width: 20%;
	text-align: center;
}
.bkg_f9{
	background: #f9f9f9;
}
.grid-view table.items tbody tr:hover td {
	background-color: #F0F0F0;
}
.text_all_cent{
	text-align: center !important;
	padding-left: 0 !important;
}
.mb10{margin-bottom: 10px;}
	.p_rel{position: relative;}
	.success2{background-color: #dff0d8 !important;}
	.fale {background-color: #fee4e4 !important;}
	.question{
		display: block;
		position: absolute;
		text-align: left;
		top: -25px;
		left: 90px;
		width: 189px;
		background-color: #fff;
		padding: 10px 8px 10px 14px;
		color: #666;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
		-webkit-transition: all 0.7s;
		-o-transition: all 0.7s;
		transition: all 0.7s;
		z-index: 1;
		visibility: hidden;
		opacity: 0;
		-webkit-box-shadow: 0px 0px 2px 2px #e8e8e8;
		box-shadow: 0px 0px 2px 2px #e8e8e8;
	}
	.iDiv:hover+.question{
		visibility: visible;
		opacity: 1;
		z-index: 999;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}
	.iSelect.time {
		margin: 0;
		width: 150px;
		line-height: normal;
		padding: 2px 6px;
		height: 34px;
		font-weight: 700;
		background: #f3f3f3;
		border-radius: 3px !important;
	}
	.select_i{
		color: #000;
		font-style: normal;
	}
	.calendar_main{border: 1px solid #dddddd;}
	.calendar_2{
		height: 34px;
		padding: 5px 8px 0 0;
		background: #f0f0f0;
		border-bottom: 1px solid #dddddd;
	}
	.cal_of_events{
		color: #476f90;
		margin-top: 5px;
		padding-left: 12px;
		float: left;
	}
	
	.d_ib{display: inline-block;}
	.calendar_link{
		color: #08c !important;
	}
	.box1{
		padding-left: 12px;
		padding-top: 10px;
		width: 135px;
	}
	.box1 span{font-size: 14px;}
	.city_checkbox{
		width: 200px;
		padding-right: 20px;
	}
	.city_checkbox .filter_label {
		display: block;
		position: relative;
		padding-left: 22px;
		font-size: 14px;
		line-height: 18px;
		color: #666;
		margin: 0 0 16px 0;
		cursor: pointer;
		overflow: hidden;
		outline: none;
	}
	
	input[type="checkbox"]+.filter_label:before {
		content: "";
		position: absolute;
		top: 1px;
		left: 0px;
		display: inline-block;
		width: 15px;
		height: 15px;
		background: url(../assets-static/images/checkbox_icon.png) 0 bottom no-repeat;
	}
	 input[type="checkbox"]:checked+.filter_label:before{
		background-position: 0px 0px;
		background: url(../assets-static/images/checkbox_icon2.png) no-repeat;

	}
	.filter_label img{
		margin-top: -4px;
		padding-right: 7px;
	}
	.city_checkbox_form{
		padding-top: 34px;
		padding-left: 150px;
	}
	.clearfix:after {
		content: "";
		display: block !important;
		height: 0 !important;
		clear: both !important;
		visibility: hidden !important;
	}
	.calendar_2 .iDiv.i65{
		height: 28px;
		border: 1px solid #3a90d8;
		width: auto;
	}
	.calendar_2 .iDiv.i65:hover{
		-webkit-box-shadow: 1px 1px 6px 0px #9e9e9e;
		box-shadow: 1px 1px 6px 0px #9e9e9e;
	}
	.update_cal,.ok_cal,.settings_cal{outline:none;}
	.update_cal{
		background: url(../assets-static/images/update.jpg);
		height: 28px;
		width: 28px;
	}
	.ok_cal{
		background: url(../assets-static/images/ok_cal.jpg);
		height: 28px;
		width: 28px;
	}
	.ok_cal:hover{
		background: url(../assets-static/images/ok_calhov.jpg);
		-webkit-box-shadow: 0px 0px 5px 0px #9e9e9e;
		box-shadow: 0px 0px 5px 0px #9e9e9e;
	}
	.ok_cal:active, .ok_cal.active{
		background: url(../assets-static/images/ok_calhov.jpg);
	}
	.settings_cal{
		background: url(../assets-static/images/settings.jpg);
		height: 28px;
		width: 28px;
		margin-right: 3px;
	}
	.settings_cal:focus{
		-webkit-box-shadow: 0px 0px 5px 0px #9e9e9e;
		box-shadow: 0px 0px 5px 0px #9e9e9e;
	}
	.settings_cal:hover,.update_cal:hover{
		-webkit-box-shadow: 0px 0px 5px 0px #9e9e9e;
		box-shadow: 0px 0px 5px 0px #9e9e9e;
	}
	.update_cal,.ok_cal,.settings_cal{border: none;}
	.filter_button{
		color: #3a90d8;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		border: 1px solid #3a90d8;
		outline: none;
		padding: 9px 15px 8px 15px;
		background: #fff;	
		margin-bottom: 13px;		
	}
	.filter_button:hover{
		-webkit-box-shadow: 1px 1px 6px 0px #9e9e9e;
		box-shadow: 1px 1px 6px 0px #9e9e9e;
	}
	.cal_box .iDiv.i66 {
		width: 157px;
		right: 120px;
		padding: 23px 15px 23px 23px;
		border: 1px solid #d9d9d9;
	}
	.cal_box input[type=checkbox]+.lbl::before{
		margin-right: 8px;
		margin-top: -3px;
	}
	.triger_cal{
		position: absolute;
		top: -5px;
		right: 29px;
	}
	.cal_box .dropdown-menu{
		-webkit-box-shadow: 0 0 11px rgba(0,0,0,0.5);
		box-shadow: 0 0 11px rgba(0,0,0,0.5);
	}
	.ui-slider-range{
		background: rgb(194,163,27) !important; /* Old browsers */
		background: -moz-linear-gradient(left, rgba(194,163,27,1) 0%, rgba(237,28,36,1) 100%) !important; /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(194,163,27,1)), color-stop(100%,rgba(237,28,36,1))) !important; /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(194,163,27,1) 0%,rgba(237,28,36,1) 100%) !important; /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(194,163,27,1) 0%,rgba(237,28,36,1) 100%) !important; /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(194,163,27,1) 0%,rgba(237,28,36,1) 100%) !important; /* IE10+ */
		background: linear-gradient(to right, rgba(194,163,27,1) 0%,rgba(237,28,36,1) 100%) !important; /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2a31b', endColorstr='#ed1c24',GradientType=1 ) !important; /* IE6-9 */
	}
	.filter_volatility{padding-right: 50px;padding-left: 12px;width: 160px;box-sizing: border-box;}
	.ui-slider-horizontal{
		width: 100%;
		/*float: left;*/
		margin-top: 10px;
	}
	.vol1{
		margin-left: 160px;
		margin-right: 45px;
	}
	.filter_vol1{
		top: -22px;
		left: 33.3%;
		margin-left: -8px;
	}
	.filter_vol2{
		top: -22px;
		right: 33.2%;
		margin-right: -8px;
	}
	.filter_vol3{
		top: -22px;
		right: 0%;
		margin-right: -8px;
	}
	.filter_vol4{
		top: 15px;
		left: 0%;
	}
	.filter_vol5{
		top: 15px;
		left: 33.3%;
	}
	.filter_vol6{
		top: 15px;
		right: 33.2%;
	}
	.filter_vol7{
		top: 15px;
		right: 0%;
	}
	#slider-range-max .ui-slider-handle{
		background: url(../assets-static/images/filter_vol8.png) 50% 50% no-repeat;
		width: 33px !important;
		height: 51px !important;
		border: none;

	}
	.ui-slider-handle:hover,.ui-slider-handle:focus,.ui-slider-handle:active{
		background: url(../assets-static/images/filter_vol8.png) no-repeat;
		box-shadow: none;
	}
	.ui-slider-horizontal .ui-slider-handle{
		top: -22px;
		margin-left: -15.5px;
	}
.filter_volatility_form{
	margin-bottom: 30px;
}

.nowrap{white-space: nowrap;}



/*Fixing the menu*/
.navbar{
	position: fixed;
	right: 0;
	left: 0;
	z-index: 999;
}
.sidebar{
	position: fixed;
	top: 45px;
	z-index: 99;
}
.main-content{padding-top: 45px;}

.container-fluid{
	max-width: 1440px;
	margin: 0 auto;
}

.sidbar_box{
	float: right;
	width: 300px;
}
.sidbar_box + .nsActionView{
	margin-right: 320px;
	float: none;
	overflow: hidden;
}
.menu-min .sidebar-shortcuts{
	z-index: 99;
}
/*================economic===================*/
/*================sovetnik===================*/
.sovetnic_span{
    font-family: 'Open Sans';
    font-size: 13px;
    color: #393939;
    line-height: 20px;
    margin-left: 0 !important;
    display: block;
}
.page-content .page-header:first-child h1.sov_h1 {
    margin: 0 !important;
    padding-bottom: 60px;
}
.sovetniK_new_span{
    font-size: 10px;
    display: inline-block !important;
    width: 0 !important;
    min-height: 0 !important;
}
/*.w100p{width: 209px;}*/
.red{color: red;}
.bkg1{
    background-color: #ebebeb;
    border-radius: 4px;
    padding: 0px 4px 0px 4px;
    margin-left: 30px;
}
.w450{width: 385px;}
.pl24{padding-left: 24px;}
.pl40{padding-left: 40px;}
.pt4{padding-top: 4px;}
.pt3{padding-top: 3px;}

.iI.i50 {
    display: inline-block;
    background: url('../assets-static/images/plus_sov.png' ) no-repeat;
    position: absolute;
    left: 13px;
    top: 50%;
    width: 16px;
    height: 14px;
    margin-top: -7px;
}


.hov2 {
    font-weight: 600;
}
.hov2 td {
    border: 1px solid #dddddd;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 9px;
}
.zebra2 tbody tr th {
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    background: #efefef;
}

.zebra2 tbody tr th{
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 7px;
    background: #f7f7f7;
    border: 1px solid #dddddd;
}
.zebra2 tbody tr th:first-child{
    width: 300px;
}
.zebra2{
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}
/*================sovetnik===================*/
/*================konkurs===================*/
.konkurs_open_lf{
    width: 27%;
    margin-right: 20px;
}
.konkurs_open_rg{
    width: 71%;
}
/*.iSpan.i15 {
	font-size: 14px;
	font-weight: 300;
}*/
.iBtn.dollar{
    float: left;
    margin-right: 10px;
}
.hov3 {
    font-weight: 600;
}
.hov3 td {
    border: 1px solid #dddddd;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 9px;
}
.zebra3 tbody tr th {
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    background: #efefef;
}

.zebra3 tbody tr th{
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 7px;
    background: #f1f1f1;
    border: 1px solid #dddddd;
}
.zebra3 tr:nth-child(even) {
    background: #f9f9f9;
}
.zebra3{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}
.tac_pl0{
    text-align: center;
    padding-left: 0 !important;
}
.pedestal{
    padding-top: 110px;
    padding-left: 60px;
}
.pedestal_span{
    width: 130px !important;
    position: absolute;

}
.pedestal_span p,.pedestal_span span{
    font-size: 16px;
}
.span1{
    left: 106px;
    top: 95px;
}
.span2{
    left: 210px;
    top: 28px;
}
.span3{
    right: -11px;
    top: 95px;
}
.pr31{padding-right: 31px;}
.pl40{padding-left: 40px;}
.pl45{padding-left: 45px;}
/*================konkurs end===================*/
/*================rating===================*/
.font_11{font-size: 11px;}
.font_14{font-size: 14px;}
.font_25{font-size: 25px;}
.lh_18{line-height: 18px;}
.fa-code:before {
    content: "\f121";
}
.rating-header{
    width: 262px;
    height: 90px;
}
.page-content .rating-header:first-child h1 {
    padding: 0;
    margin: 0 0px;
    font-weight: lighter;
    color: #2679b5;
    border-bottom: 1px dotted #e2e2e2;
    display: block;
    width: 80%;
}
.pt10{padding-top: 10px;}
.konkurs_open_rg2 {
    width: 100%;
}
.m0{margin: 0 !important;}
.srok:hover{
    color: #000;
    background: #ebebeb;
    border-radius: 3px;
    padding: 0 9px;
    margin-right: 70px;
    text-decoration: none;
}
.srok{
    color: #fff;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    background: #e70000;
    padding: 0 28px;
    border-radius: 3px;
    margin-right: 70px;
}
.red{color: #e70000;}
.brd_b_dot{border-bottom: 1px dotted #e2e2e2;}
.save{
    padding-top: 20px;
    padding-bottom: 17px;
}
.save_ul{
    list-style-image: url(../assets-static/images/save_ul.png);
}
.save_ul_item{
    list-style-image: url(../assets-static/images/save_li.png);
}
.c_b1b1b1{color: #b1b1b1;}
.but_save_item{
    color: #979797;
    background: #e4e4e4 url(../assets-static/images/save_zip.png) 28px 9px no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 30px 6px 50px;
    border-radius: 3px;
    margin-left: 50px;
    margin-top: 5px;
}
.but_save_item:hover{
    color: #fff;
    background: #f54c3b url(../assets-static/images/save_zip2.png) 28px 9px no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 30px 6px 50px;
    border-radius: 3px;
}
.list_save{
    width: 300px;
    float: left;
}
.rating_save{
    margin-left: 8px;
    background: url(../assets-static/images/rating_save.png) 0 0 repeat-x;
    width: 100px;
    height: 19px;
    margin-bottom: -2px;
}
.rating_save:before{
    position: absolute;
    background: url(../assets-static/images/rating_save_active.png) 0 center repeat-x;
    display: block;
    content: "";
    height: 100%;
    width: 80%;
}
.font_20{font-size: 20px;}
.stars_save{width: 235px;}
.mb20{margin-bottom: 20px;}
.sovet_text{
    padding-top: 20px;
    padding-bottom: 18px;
}
.pt20{padding-top: 20px;}
.pb28{padding-bottom: 28px;}
.backtest{
    display: inline-block;
    background: url(../assets-static/images/backtest.jpg) 0 0 no-repeat;
    position: absolute;
    margin-top: -7px;
    width: 11px;
    height: 11px;
    left: 15px;
    top: 50%;
}
.c_666666{color: #666666;}
.font_15{font-size: 15px;}
.graphic_span{
    padding-right: 40px;
    display: inline-block !important;
    width: auto !important;
    min-height: 0 !important;
    margin-left: 0 !important;

}
.pb40{padding-bottom: 40px;}
.save_ul_item2{
    list-style-image: url(../assets-static/images/save_li.png);
}
.save_ul_li_item2:after{
    content: "";
    width: 16px;
    position: absolute;
    margin-left: 24px;
    height: 17px;
    background: url(../assets-static/images/del_file.jpg) no-repeat;
}
.but_save_item2 {
    color: #979797;
    background: #e4e4e4 url(../assets-static/images/save_zip.png) 28px 9px no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 30px 6px 50px;
    border-radius: 3px;
    margin-top: 5px;
}
.but_save_item2:hover {
    color: #fff;
    background: #fa9645 url(../assets-static/images/save_zip2.png) 28px 9px no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 30px 6px 50px;
    border-radius: 3px;
}
.btn-group2 {
    position: relative;
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}
.btn-info_2 {
    background-color: #0088cc!important;
    border-color: #6fb3e0;
}
.btn-info_2:hover {
    background-color: #037ab5!important;
    border-color: #6fb3e0;
}
.btn_2 {
    display: inline-block;
    color: #FFF!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25)!important;
    background: url(../assets-static/images/add_icon.png) 18px 8px no-repeat;
    border: none;
    border-radius: 3px;
    box-shadow: none!important;
    -webkit-transition: all ease .15s;
    -moz-transition: all ease .15s;
    -o-transition: all ease .15s;
    transition: all ease .15s;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative;
    padding: 0 26px 0px 40px;
    line-height: 32px;
    font-size: 14px;
}
.dropdown-menu_2 .divider {
    height: 1px;
    margin: 5px 8px;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-info li a:hover{
    background: none;
    color:#0088cc;
    text-decoration: none;

}
.btn-group2>.btn:first-child, .btn-group2>.btn:last-child {
    border-radius: 4px;
}
.btn-group2>.btn:first-child {
    margin: 0px 0px 0 0;
}
.btn-group2>.btn, .btn-group2+.btn {
    border-width: 0px!important;
}
.dropdown-menu_2 > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}
.dropdown-menu_2>li>a {
    font-size: 14px;
    padding-left: 11px;
    padding-right: 11px;
    margin-bottom: 1px;
    margin-top: 1px;
}
.dropdown-menu_2 {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.open>.dropdown-menu_2 {
    display: block;
}
.konkurs_table{
    width:44.1%;
}

.wQuotesPanel{
	border-top: 1px solid #3d3d3d;
}
.wQuotesPanel .wQuotes{
	white-space: nowrap;
	overflow: auto;
	width: 100%;
}
.wQuoteItem{float: none;display: inline-block;}


/*================rating end===================*/
@media only screen and (max-width: 1199px){
    .pedestal{
        padding-top: 110px;
        padding-left: 0px;
    }
    .span1 {
        left: 50px;
        top: 95px;
    }
    .span2 {
        left: 165px;
        top: 28px;
    }
    .span3 {
        right: 0px;
        top: 95px;
    }
    .konkurs_table{
        float: left;
        width: 48%;
    }
    .EAname.w450{width: 200px;}
}
@media only screen and (max-width: 1100px){
    .konkurs_table{
        float: left;
        width: 58%;
    }
}
@media only screen and (max-width: 1024px){

}
@media only screen and (max-width: 989px){
    .page-content .page-header:first-child h1.sov_h1 {
        margin: 0 !important;
        padding-bottom: 15px;
    }
    .konkurs_table{
        float: left;
        width: 100%;
    }
    .EAname.w450 {
        width: 50%;
    }
    .eaPlatform{margin-right: 20px;}
    .EAviews,.eaPlatform_2,.eaPlatform{
        float: left;
    }
    .table-col.right-columns,.table-col.center-columns{float: left;}
}
@media only screen and (max-width: 767px){
	.box1{
		float: none;
	}
	.city_checkbox{
		width: 200px;
	}
	.city_checkbox_form{
		padding-left: 12px;
	}
	.filter_volatility_form {
		margin-bottom: 30px;
	}
	.navbar .navbar-inner{padding-right: 0;padding-left: 0;}
}
@media only screen and (max-width: 459px){

}
.grid-view table.items tbody tr.blocked td {
    background: #E0A3A3;
}

.qq-upload-failed-text {
	display: none;
}
.nav-tabs-height{
	min-height:33px !important;
}
.fz16{font-size: 16px;}
.red_bg{background: #d15b47 !important;}
.red_bg:hover{background: #bd4e3b !important;}
.mt-15{margin-top: -15px;}
.d_block{display: block;}
.bg_none{background: none !important;}

@media only screen and (max-width: 1100px){
 .mt0_1100{margin-top: 0;}
}
