/* ------------------------------------------------

    22. Quotes

------------------------------------------------ */

  /* --------------------------------------------
      22.1  Quotes inner 
  -------------------------------------------- */
  .forecatsLink, .yourMood{
	  display:inline-block;
	  margin-bottom:10px;
	  font:17px/18px "pf_dindisplay_proregular";
  }
  .wMoodButton.clicked{
	  cursor:default;
  }
  .margin-top-10{
	  margin-top:10px;
  }
    
	.arrow-icon:before{
		font-size:30px;
	}
	.watch-icon{
		color:#A8A5A5;
	}
	.watch-icon:before{
      font-size:30px;
    }
	
	
    .title_box1{
        padding-bottom: 26px;
    }

    .rates_box1{
        float: left;
        line-height: 33px;
        position: relative;
        padding-left: 30px;
        margin-top: 18px;
    }

    .rates_box1 i{
        position: absolute;
        left: 0;
        display: inline-block;
        top: 50%;
        height: 28px;
        margin-top: -14px;
    }

    .rates_box1 .rates_box1_inner{
        color: #333030;
        display: inline-block;
        font-size: 33px;
        font-weight: 700;
        vertical-align: baseline;
        margin-right: 15px;
        margin-bottom: 0;
    }

    .rates_box1_difference{
        display: inline-block;
        color: #5e5e5e;
        font-size: 20px;
        vertical-align: baseline;
    }

    .watch_box{
        float: right;
        padding-left: 37px;
        position: relative;
    }

    .watch_box i{
        display: block;
        position: absolute;
        left: 0;
        top: 27px;
    }

    .watch_box p{
        color: #5e5e5e;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 0 !important;
    }

    #digital_watch{
        font-size: 23px;
        line-height: 26px;
        font-weight: 300;
        color: #fff;
        text-align: center;
        background-color: #242222;
        padding: 6px 0;
    }

    .forecast_box{
        border-top: 1px solid #e3e3e3;
        position: relative;
        padding-top: 26px !important;
    }

    .forecast_box:before{
        content: "";
        display: block;
        width: 67px;
        height: 3px;
        background-color: #e3e3e3;
        position: absolute;
        top: 0;
        left: 0;
    }

    input[type="radio"],
    input[type="checkbox"]{
      display: none;
    }

    label.square_input{
      display: block;
      font: 17px/18px 'pf_dindisplay_proregular';
      color: #454242;
      padding-left: 26px;
      position: relative;
      cursor: pointer;
    }

    label.square_input>i{
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      border: 1px solid #cccccc;
      background-color: #f7f7f7;
    }

    input[type="radio"]:checked + label>i:before,
    input[type="checkbox"]:checked + label>i:before{
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      background-color: #f74d4d;
      border-radius: 3px;
    }

    .real_time_choice{
        padding-bottom: 26px;
    }

    .forecast_tabs .tabs_list{
        margin-bottom: 60px;
    }

    .forecast_tabs .tabs_list:before{
        display: none;
    }

    .forecast_tabs .tabs_list>li>a{
        width: 187px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .forecast_tabs .tabs_list>li.rating_traders_link>a{
        background: none;
    }

    .forecast_tabs .tabs_list>li.rating_traders_link>a:hover{
        border-color: #b0b0b0;
    }

    .forecast_tabs .tabs_list>li.trader_link>a{
        background: #167ac6;
        border-color: #167ac6;
        color: #fff;
        width: 152px;
    }

    .forecast_tabs .tabs_list>li.trader_link>a:hover{
        border-color: #198ae0;
        background-color: #198ae0;
    }

    .make_forecast_left{
        float: left;
        width: 220px;
    }

    .make_forecast_center{
        float: left;
        margin-left: 33px;
    }

    .make_forecast_right{
        float: right;
        padding-top: 32px;
    }

    .custom_select{
        position: relative;
    }

    .active_option{
        border: 1px solid #e4e4e4;
        font-size: 16px;
        line-height: 27px;
        color: #787777;
        padding: 9px 45px 9px 10px;
        position: relative;
        cursor: pointer;
    }

    .active_option i{
        display: block;
        position: absolute;
        color: #454545;
        right: 0;
        top: 0;
        border-left: 1px solid #e4e4e4;
        width: 45px;
        height: 45px;
        font-size: 16px;
        line-height: 45px;
        text-align: center;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f6f5+0,edeceb+100 */
        background: #f7f6f5; /* Old browsers */
        background: -moz-linear-gradient(top,  #f7f6f5 0%, #edeceb 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f6f5), color-stop(100%,#edeceb)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #f7f6f5 0%,#edeceb 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #f7f6f5 0%,#edeceb 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #f7f6f5 0%,#edeceb 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #f7f6f5 0%,#edeceb 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f5', endColorstr='#edeceb',GradientType=0 ); /* IE6-9 */
    }

    .active_option:hover i{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f6f5+0,e1e0de+100 */
        background: #f7f6f5; /* Old browsers */
        background: -moz-linear-gradient(top,  #f7f6f5 0%, #e1e0de 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f6f5), color-stop(100%,#e1e0de)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #f7f6f5 0%,#e1e0de 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #f7f6f5 0%,#e1e0de 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #f7f6f5 0%,#e1e0de 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #f7f6f5 0%,#e1e0de 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f5', endColorstr='#e1e0de',GradientType=0 ); /* IE6-9 */
    }

    .active_option.opened i{
        color: #ff1717;
    }

    .options_list{
        background-color: #fff;
        position: absolute;
        z-index: 99;
        top: 100%;
        left: 0;
        width: 100%;
        border: 1px solid #e4e4e4;
        border-top: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
        transform: translate(0, 20px);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .options_list.opened{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }

    .options_list li{
        border-top: 1px solid #e4e4e4;
        margin-bottom: 0 !important;
    }

    .options_list li:first-child{
        border-top: none;
    }

    .options_list li:before{
        display: none;
    }

    .options_list li a{
        color: #787777;
        font-size: 16px;
        line-height: 21px;
        padding: 10px;
        display: block;
        font-weight: 400;
    }

    .options_list li a:hover,
    .options_list li.active a{
        background-color: #f6f6f6;
    }

    .required_message{
        font-size: 14px;
        color: #787777;
    }

    .make_forecast:not(:last-child){
        margin-bottom: 40px;
    }

    .forecast_tabs label{
        display: block;
        font-size: 18px;
        color: #454242;
        margin-bottom: 10px;
    }

    .forecast_tabs input:not([type="radio"]):not([type="checkbox"]){
        font-size: 16px;
        line-height: 25px;
        padding: 10px;
        color: #787777;
        width: 220px;
        border: 1px solid #e4e4e4;
    }

    .forecast_tabs button{
        float: right;
        outline: none;
        cursor: pointer;
        background: none;
        width: 220px;
        color: #333030;
        font-size: 16px;
        line-height: 23px;
        padding: 10px 0;
        text-align: center;
        border: 2px solid #ff1616;
    }

    .forecast_tabs button:hover{
        border-color: #ff8080;
    }

    .add_mood>a{
        width: 333px;
        display: block;
        position: relative;
        font-size: 18px;
        line-height: 20px;
        padding: 20px 0;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        float: left;
    }

    .add_mood>span{
        display: inline-block;
        font-size: 16px;
        color: #454242;
        line-height: 20px;
        padding: 20px 0;
        text-transform: uppercase;
    }

    .add_mood{
        text-align: center;
    }

    .add_mood>a.bullish_forecast{
        background-color: #89bb50;
        padding-left: 30px;
    }  

    .add_mood>a.bullish_forecast:hover{
        background-color: #96cc58;
    }

    .add_mood>a.bear_forecast{
        background-color: #e06c5a;
        float: right;
        padding-right: 32px;
    }

    .add_mood>a.bear_forecast:hover{
        background-color: #f27461;
    }

    .add_mood>a i{
        display: block;
        width: 34px;
        height: 32px;
        position: absolute;
        top: 50%;
        margin-top: -17px;
        left: 20px;
        background: url(/wp-content/themes/ForTraderMaster/images/bull_icon.png) 50% 50% no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .add_mood>a.bear_forecast i{
        left: auto;
        right: 20px;
        background-image: url(/wp-content/themes/ForTraderMaster/images/bear_icon.png);
    }

    .add_mood{
        margin-bottom: 40px;
    }

    .mood_chart_label{
        color: #787777;
        font-size: 16px;
        padding-bottom: 5px;
    }

    .mood_chart{
        position: relative;
        overflow: hidden;
        height: 10px;
        width: 100%;
        clear: both;
        margin-bottom: 15px;
    }

    .mood_chart>div{
        position: absolute;
        height: 100%;
    }

    .mood_chart_bull{
        background-color: #89bb50;
        left: -1px;
    }

    .mood_chart_bear{
        background-color: #e06c5a;
        right: -1px;
    }

    .mood_chart_label1{
        color: #333030;
        font-size: 24px;
        line-height: 1;
    }

    /*dropdoun*/

    .dropdown_box{
        position: relative;
    }

    .dropdown_active{
        display: none;
        position: relative;
        cursor: pointer;
        background-color: #f1f1f1;
        color: #454242;
        font-size: 16px;
        line-height: 22px;
        padding: 10px 20px 10px 12px;
    }

    .dropdown_active i{
        position: absolute;
        top: 0;
        right: 10px;
        width: 16px;
        text-align: center;
        height: 42px;
        line-height: 42px;
    }

    .quotes_list{
        margin-left: -6px;
        margin-bottom: 0 !important;
    }

    .dropdown_box:not(:last-child){
        margin-bottom: 10px;
    }

    .quotes_list li{
        margin-left: 5px;
        margin-bottom: 5px !important;
        float: left;
    }

    .quotes_list li:before{
        display: none;
    }

    .quotes_list li a{
        display: block;
        width: 142px;
        background-color: #f1f1f1;
        color: #454242;
        font-size: 14px;
        line-height: 22px;
        padding: 10px 0;
        font-weight: normal;
        text-align: center;
    }

    .quotes_list li a:hover,
    .quotes_list li.active a, .quotes_list1 li.active a{
        color: #fff;
        background-color: #333030;
    }

    .quotes_list1{
        margin-left: -6px;
        margin-bottom: 0 !important;
    }

    .quotes_list1 li{
        margin-left: 5px;
        margin-bottom: 5px !important;
        float: left;
    }

    .quotes_list1 li:before{
        display: none;
    }

    .quotes_list1 li a{
        display: block;
        width: 142px;
        border: 2px solid #e3e3e3;
        color: #454242;
        font-size: 14px;
        line-height: 22px;
        padding: 8px 0;
        font-weight: normal;
        text-align: center;
    }

    .quotes_list1 li a:hover{
        border: 2px solid #b0b0b0;
    }
    
    .overview_list{
        margin-left: -2px;
    }

    .overview_list:not(:last-child){
        margin-bottom: 30px;
    }

    .overview_list li{
        float: left;
        margin-left: 2px;
        margin-bottom: 2px !important;
        position: relative;
    }

    .overview_list li:before{display: none;}

    .overview_list li a{
        display: block;
        text-align: center;
        line-height: 22px;
        background-color: #f1f1f1;
        width: 64px;
        font-size: 15px;
        color: #333131;
        font-weight: normal;
        padding: 10px 0;
    }

    .overview_list li a:hover,
    .overview_list li.active a,
    .dropdown_box>a.active{
        background-color: #333030;
        color: #fff;
    }

    .overview_block{
        /*background-color: #f1f1f1;*/
        height: 314px;
        margin-bottom: 30px;
    }

    .overview_sublist{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
        transform: translate(0, 20px);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .overview_sublist.active{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }

    .overview_sublist li{
        float: none;
        margin: 0;
        margin-top: 2px;
    }


  /* --------------------------------------------
      22.2  Table Quotes 
  -------------------------------------------- */
      
      .quotes_search_box{
        position: relative;
        margin-bottom: 30px;
      }

      .quotes_search_box input{
        width: 100%;
        outline: none;
        font-size: 18px;
        line-height: 22px;
        color: #333131;
        font: 18px/22px 'pf_dindisplay_prolight',sans-serif;
        padding: 24px 150px 24px 12px;
        border: none;
        border-left: 4px solid #b3b1b1;
        background-color: #f5f5f5;
      }

      .quotes_search_box input:focus{
        border-color: #146eb3;
      }

      .quotes_search_box .quotes_search_btn{
        position: absolute;
        top: 0;
        right: 0;
        outline: none;
        border: none;
        cursor: pointer;
        color: #f2f0f0;
        background-color: #333030;
        font: 18px/30px 'pf_dindisplay_proregular',sans-serif;
        padding: 20px 18px;
      }

      .quotes_search_box .quotes_search_btn:hover{
        background-color: #423e3e;
      }

      .quotes_search_btn i{
        line-height: 30px;
        font-size: 26px;
        margin-top: -3px;
      }

      .quotes_search_list{
        position: absolute;
        z-index: 9;
        top: 100%;
        width: 100%;
        background-color: #f7f7f7;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
        transform: translate(0, 20px);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }

      .quotes_search_box input:focus + .quotes_search_list{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
      }

      .quotes_search_list li a{
        display: block;
        font: 18px/22px 'pf_dindisplay_prolight', sans-serif;
        color: #5e5d5d;
        padding: 11px 15px;
      }

      .quotes_search_list li a:hover{
        background-color: #f0f0f0;
      }
      
      /*tabl quotes*/
      
      .tabl_quotes_nav{
        display: none;
        padding: 5px 0 0;
        margin-bottom: 5px;
      }
      
      .tabl_quotes_nav>*{
        display: block;
        outline: none;
        float: left;
        text-align: center;
        background-color: #ededed;
        border: none;
        height: 50px;
        width: 50%;
        cursor: pointer;
      }

      .tabl_quotes_nav>*.disable{
        opacity: 0.5;
        cursor: default;
      }

      .tabl_quotes_nav>*:hover{
        background-color: #e8e8e8;
      }

      .tabl_quotes_nav>* i{
        font-size: 30px;
        color: #5e5d5d;
      }

      .tabl_quotes_nav .prev{
        border-right: 2px solid #fff;
      }

      .tabl_quotes_nav .next{
        border-left: 2px solid #fff;
      }

      .tabl_quotes_header{
        position: relative;
        background-color: #b3b1b1;
        padding: 15px 12px 15px 15px;
      }

      .tabl_quotes_btn{
        padding: 0;
      }

      .tabl_quotes_btn>*{
        position: relative;
        background: none;
        width: 38px;
        height: 38px;
        padding: 0;
        border: 2px solid #fff;
        color: #fff;
        font-size: 25px;
        outline: none;
        cursor: pointer;
      }

      .tabl_quotes_btn>*.options_btn:before{
        display: none;
      }

      .tabl_quotes_btn>*.turn_btn:before{
        background: #fff;
        width: 12px;
        height: 3px;
        margin-top: -2px;
      }

      .tabl_quotes_btn>*:hover,
      .tabl_quotes_btn>*.active{
        border-width: 3px;
        background: none !important;
        color: #fff;
      }

      .tabl_quotes_btn>* i{
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        line-height: 30px;
        width: 100%;
        text-align: center;
      }

      .tabl_quotes_title{
        overflow: hidden;
      }

      .tabl_quotes_title{
        font: 22px/1 'pf_dindisplay_promedium',sans-serif;
        color: #fff;
        margin-bottom: 0;
        padding: 0;
      }

      .tabl_quotes_title>p{
        font: 14px/18px 'pf_dindisplay_proregular',sans-serif;
      }

      .tabl_quotes table{
        width: 100%;
        table-layout: fixed;
        color: #333131;
      }

      .tabl_quotes thead th{
        background-color: #f6f6f6;
        text-transform: uppercase;
      }

      .tabl_quotes table th,
      .tabl_quotes table td{
        border: 1px solid #e3e3e3;
        font-size: 14px;
        line-height: 21px;
        font-weight: 600;
        padding: 15px 0;
        text-align: center;
      }
      
      /*options*/

      .options_box{
        position: absolute;
        z-index: 1;
        left: 0;
        background-color: #b3b1b1;
        top: 100%;
        width: 100%;
        border-top: 1px solid #cccaca;
        padding: 17px 15px 10px 15px;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate(0, 30px);
        -ms-transform: translate(0, 30px);
        -o-transform: translate(0, 30px);
        transform: translate(0, 30px);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }

      .options_box.opened{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
      }

      .options_title{
        font: 15px/20px "Open Sans", sans-serif;
        color: #fff;
      }

      .options_item{
        float: left;
        width: 163px;
        margin-bottom: 17px;
      }

      .options_item label{
        font: 15px/18px 'pf_dindisplay_proregular',sans-serif;
        position: relative;
        padding-left: 26px;
        cursor: pointer;
      }

      .options_item label:before{
        content: "";
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        left: 0;
        top: 0;
        background-color: #fff;
        border-radius: 2px;
      }

      .options_item input:checked ~ label:before{
        background-color: #5e5d5d;
      }

      .options_item label:after{
        content: "\f00c";
        display: block;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        font: normal normal normal 14px/18px FontAwesome;
      }