.wQuotesWidget{
	/*width: 887px;*/
	margin-top: 20px;
	font-family: "PT Sans", sans-serif;
}
.wButtonFlop {
	width: 33px;
	height: 33px;
	float: left;
	cursor: pointer;
	background: url("/services/assets-static/images/button_flop.png");
}
.wSubCats_0 {
	float: left;
	height: 35px;
	line-height: 35px;
	padding-right: 12px;
}
#wSubCats {
	border-bottom: 1px dotted #777777;
	color: #7ba2d0;
	font-size: 14px;
	list-style: none outside none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#wSubCats{
	list-style: none;
	font-size: 14px;
	height: 35px;
	color: #7ba2d0;
}
#wSubCats li a:hover{
	text-decoration: none;
}
#wSubCats ul {
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #cccccc;
	list-style: none outside none;
	margin: -10px 0 0;
	display: none;
	padding: 5px;
	position: absolute;
	width: 150px;
	z-index: 100;
}
#wSubCats li ul li ul{
	left:150px;
}
.wCloseTr{
	border: 1px solid;
	cursor: pointer;
	height: 10px;
	margin-left: 50px;
	width: 10px;
	z-index: 100;
}
#wSubCats ul li:hover > ul{
	display: inherit;
}
#wSubCats ul li{
	padding-top:1px;
	float:none;
	background:#ffffff;
}
#wSubCats ul a{
	white-space:nowrap;
	display:block;
}
#wSubCats li:hover > ul{
	display: inherit;
}
.custom-select-box{
	background: url("/services/assets-static/images/select_arrow.png") no-repeat scroll 167px 4px;
	border: 1px solid #cccccc;
	cursor: pointer;
	margin-right: 4px;
	height: 29px;
	width: 192px;
	z-index: 1;
}
.custom-select-box-small{
	background-position: 61px 4px;
	width: 86px;
}
.custom-select-box select{
	display: none;
}
.custom-select-box ul{
	border: 1px solid #cccccc;
	background-color: #ffffff;
	list-style: none outside none;
	margin: 0 0 0 -0.5px;
	padding: 5px 0 5px 0;
	width: 192px;
	display: none;
	position: absolute;
	z-index: 100;
}

.custom-select-box-small ul{
	width: 86px;
}

.custom-select-box ul li{
	padding: 5px 0px 0px 10px;
}
.custom-select-box ul li:hover{
	background-color: #cccccc;
}
.custom-select-box .text-select{
	line-height: 29px;
	padding-left: 10px;
}
#wSettingsBlock{
	margin-top: 7px;
}
.wChecksClick{
	font-size:14px;
	cursor: pointer;
	color: #0088cc;
	border-bottom: 1px dotted #0b6cbc;
}
.wQuoteCheckBox{
	font-size: 12px;
	line-height: 12px;
	font-family: arial, sans-serif;
}
#wSettingsBlock{
	background-color: #f6f6f6;
	min-height: 160px;
	padding: 15px;
}
#wSettingsBlockBottom{
	/*overflow: hidden;*/
	margin-top: 13px;
}

.timerLabel{
	display: inline-block;
	min-width: 15px;
	text-align: right;
	width: 15px;
}

#wCheckBoxes{
	width: 498px;
	background-color: #FFFFFF;
	height: 65px;
	overflow-y: scroll;
	border: #cccccc 1px solid;
	padding: 12px 0px 12px 12px;
}
.wTextRefresh,#setTimer{
	margin-right: 4px;
}
#refreshTable, #setTimer{
	border-radius: 3px !important;
}

.checksBoxes{
	float: left;
	width: 145px;
	margin: 0 8px 0 0;
}

/*Table List*/
.wArrowDown{
	width: 9px;
	height: 5px;
	content: ".";
	background: url("/services/assets-static/images/down.png") no-repeat center;
}
.wArrowRight{
	width: 5px;
	height:9px;
	content: ".";
	background: url("/services/assets-static/images/right.png") no-repeat center;
}
.wArrowGreen{
	width: 8px;
	height:20px;
	content: ".";
	line-height: 20px;
	margin: 0 8px;
	background: url("/services/assets-static/images/arrow_green.png") no-repeat center;
}
.wArrowRed{
	width: 8px;
	height:20px;
	content: ".";
	line-height: 20px;
	margin: 0 8px;
	background: url("/services/assets-static/images/arrow_red.png") no-repeat center;
}
.wHideLine{
	width: 12px;
	height:20px;
	display: none;
	margin: 0 auto;
	background: url("/services/assets-static/images/delete.png") no-repeat center;
}

.wArrow{
	float: left;
}
.wGreen{
	background-color: #e6fee2;
	color: #76bd6e;
}
.wRed{
	background-color: #f4d8d8;
	color: #fe1f1f;
}
.even{
	background-color: #f3f3f3;
}
.odd{
	background-color: #ffffff;
}
.quotesTable{
	width: 887px !important;
	border: 1px solid #49525c !important;
}
.quotesTable thead tr{
	background: url("/services/assets-static/images/table_header_bg.jpg") repeat-x !important;
	color: #efefef !important;
}
.quotesTable thead tr th{
	border-right: 1px solid #49525c !important;
	border-left: 1px solid #637181 !important;
}
.quotesTable thead tr th:first-child{
	border-left: none !important;
}
.quotesTable thead tr th:last-child{
	border-right: none !important;
}
.wTextCell{
	
}
.wTextCellName{
	float: left;
	color: #0b6cbc;
}
.wQuotesError{
	display: none;
	padding: 5px;
	border-radius: 4px;
	background: #ff5353;
	color: #ffffff;
}
.wQuotesError .wClose{
	border: 1px solid #cccccc;
	border-radius: 2px;
	cursor: pointer;
	font-size: 10px;
	height: 10px;
	margin-left: 20px;
	padding: 2px;
	width: 10px;
}
.wNameCategory {
	text-align: center;
	color: #0b6cbc;
}

.wEditPanelRemove{
	background: url("/services/assets-static/images/remove_from_panel.png") repeat-x !important;
	height: 12px;
	margin: 3px auto;
	width: 12px;
}

.wEditPanelAdd{
	background: url("/services/assets-static/images/add_to_panel.png") repeat-x !important;
	height: 12px;
	margin: 3px auto;
	width: 12px;
}