.wQuotesPanel{
	background-color: #333333;
	height: 40px;
	font-size: 13px;
	padding-right: 55px;
	overflow: hidden;
	text-transform: uppercase;
}

.wQuotesPanel .wQuotes{
	float: left;
	display: block;
	overflow: hidden;
}

.wQuoteItem{
	height: 40px;
	padding-left: 15px;
	cursor: pointer;
	float: left;
	line-height: 40px;
}

.wQuoteItem .wQuoteItemText{
	float: left;
	color: #58bffc;
}

.wQuoteItem .wQuoteItemPrice{
	float: left;
	color: #f5f5f5;
	margin-right: 3px;
}

.wQuoteCurr{
	color: #919191
}

.wQuoteItem .wQuoteItemTrend{
	float: right;
	width: 8px;
	height: 7px;
}

.wQuoteItem .wGreen{
	width: 8px;
	height:40px;
	line-height: 40px;
	margin: 0 3px;
	background: url("/services/assets-static/images/arrow_green_long.png") no-repeat center;
}
.wQuoteItem .wRed{
	width: 8px;
	height:40px;
	line-height: 40px;
	margin: 0 3px;
	background: url("/services/assets-static/images/arrow_red_long.png") no-repeat center;
}

.wQuoteItem .wQuoteItemDelete{
	opacity: 0;
	float: right;
	padding: 3px;
	margin-left: 3px;
	margin-top: 11px;
	background-color:RGBA(245,245,245,0.05);
	border-radius: 3px;
}

.wQuoteItem .wQuoteItemDelete .wQuoteItemBtnImage{
	width: 13px;
	height: 13px;
	background: url("/services/assets-static/images/btn_minus.png") center no-repeat;
}

.wQuoteItem:hover > .wQuoteItemDelete{
	opacity: 1;
}

.wQuoteItem .wQuoteItemDelete:hover .wQuoteItemBtnImage{
	background: url("/services/assets-static/images/btn_minus_hover.png") center no-repeat;
}

.wQuotesPanel .wPlusBtn{
	float: left;
	width: 24px;
	height: 24px;
	margin: 9px 26px 0 6px;
	position: absolute;
	right: 0;
	cursor: pointer;
	background: url("/services/assets-static/images/btn_plus.png") center no-repeat;
}

.wQuotesPanel .wPlusBtn:hover{
	background: url("/services/assets-static/images/btn_plus_hover.png") center no-repeat;
}

.wSeparate{
	margin: 0 3px;
}