.columnWidget {
  min-width: 260px;
  margin-bottom: 50px;
}

.columnWidget h4 {
  font-weight: bold;
}

.columnWidget .column {
  margin-bottom: 10px;
}

.columnWidget .moreLink {
  border-top: 1px solid #E2E2E2;
  display: block;
  width: 100%;
  padding-top: 10px;
}

.columnWidget .more-i {
  background: url("../images/more.png");
  width: 4px;
  height: 6px;
  margin-right: 5px;
  display: inline-block;
}

.columnWidget .column-row {
  margin-bottom: 7px;
}

.right-column {
  
}
