.columnWidget .EAtime {
  /*background-color: #e1e1e1;*/
  background-color: #ebebeb;
  border-radius: 4px;
  padding: 2px 4px 2px 4px;
  margin-right: 10px;
}

.columnWidget .EAtime, .columnWidget .EAuser, .columnWidget .EAname, .columnWidget .EAplatform {
  display: inline-block;
}

.columnWidget .EAname {
  margin-right: 5px;
}

