/*Fonts*/
@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/RobotoCondensedRegular/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/RobotoCondensedRegular/RobotoCondensed-Regular.woff') format('woff'), url('../fonts/RobotoCondensedRegular/RobotoCondensed-Regular.ttf')  format('truetype'), url('../fonts/RobotoCondensedRegular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('../fonts/RobotoCondensedBold/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/RobotoCondensedBold/RobotoCondensed-Bold.woff') format('woff'), url('../fonts/RobotoCondensedBold/RobotoCondensed-Bold.ttf')  format('truetype'), url('../fonts/RobotoCondensedBold/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('../fonts/RobotoCondensedLight/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/RobotoCondensedLight/RobotoCondensed-Light.woff') format('woff'), url('../fonts/RobotoCondensedLight/RobotoCondensed-Light.ttf')  format('truetype'), url('../fonts/RobotoCondensedLight/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeueRegular/BebasNeueRegular.otf')  format('opentype'),
    url('../fonts/BebasNeueRegular/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular/BebasNeueRegular.ttf')  format('truetype'), url('../fonts/BebasNeueRegular/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueBold';
    src: url('../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeueBold/BebasNeueBold.otf')  format('opentype'),
    url('../fonts/BebasNeueBold/BebasNeueBold.woff') format('woff'), url('../fonts/BebasNeueBold/BebasNeueBold.ttf')  format('truetype'), url('../fonts/BebasNeueBold/BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

#main-container {
    margin: 0 0 30px 0;
}
/*leaders banner*/
#leaders-banner {
    max-width: 304px;
    padding: 20px 0 20px 0;
    background: #102938;
    border: 5px solid #143345;
	margin:0 auto;
}
#leaders-banner img {
    width: 48px;
    display: block;
    margin: 0 auto 14px auto;
}
#leaders-banner .heading {
    margin-bottom:16px;
    font-family: BebasNeueBold;
    font-size: 34px;
    line-height: 1;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
#leaders-banner ul {
    padding: 0px 13px 0 20px;
    margin-bottom: 33px;
}
#leaders-banner ul li:after {
    display: block;
    content: '';
    clear: both;
}
#leaders-banner ul span {
    display: block;
}
#leaders-banner .holder {
    overflow: hidden;
}
#leaders-banner .left-box {
    float: left;
    font-family: RobotoCondensedRegular;
    font-size: 18px;
    line-height: 53px;
    color: #fff;
}
#leaders-banner .right-box {
    float: right;
   /* width: 54px;*/
    font-family: RobotoCondensedLight;
    font-size: 24px;
    line-height: 53px;
    text-align: right;
    color: #66b3ff;
    position: relative;
}
#leaders-banner .right-box:before {
    display: block;
    content: '';
    width: 14px;
    height: 12px;
    position: absolute;
    top: 20px;
    left: -19px;
    right: 100%;
    background: url("../img/check-mark.png") no-repeat;
}
#leaders-banner .percent-line {
    position: relative;
    clear: both;
    height: 1px;
    background: #525c66;
}
#leaders-banner ul li .percent-line:before {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #66b3ff ;
    top: 0;
    right: 0;
}
#leaders-banner ul li:nth-child(1) .percent-line:before {
    width: 100%;
}
#leaders-banner ul li:nth-child(2) .percent-line:before {
    width: 73%;
}
#leaders-banner ul li:nth-child(3) .percent-line:before {
    width: 62%;
}
#leaders-banner ul li:nth-child(4) .percent-line:before {
    width: 48%;
}
#leaders-banner ul li:nth-child(5) .percent-line:before {
    width: 37%;
}
.register-btn {
    display: block;
    width: 215px;
    margin: 0 auto;
    font-size: 17px;
    font-family: RobotoCondensedBold;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    background: #22c702;
    border: none;
    outline: none;
    border-radius: 2px;
	text-decoration:none;
	text-align:center;
}
.register-btn:hover {
    cursor: pointer;
}
/*Contest banner*/
#contest-banner {
    width: 314px;
    padding: 28px 0 38px 0;
    text-align: center;
    color: #fff;
    background: url("../img/contest-bg.jpg") no-repeat;
	background-size:cover;
	margin:0 auto;
}
#contest-banner .heading {
    margin-bottom: 34px;
}
#contest-banner .subheading {
    display: block;
    font-family: BebasNeueRegular;
    font-size: 26px;
    color: #ffc852;
}
#contest-banner .contest-name-string {
    font-family: BebasNeueBold;
    font-size: 44px;
    line-height: 44px;
}
#contest-banner .cup-box {
    min-height: 166px;
    margin-bottom: 30px;
    padding-top: 20px;
    background: url("../img/big-cup.png") no-repeat center;
}
#contest-banner .cup-box .text-string {
    display: block;
    font-family: RobotoCondensedRegular;
    font-size: 14px;
    color: #102938;
}
#contest-banner .cup-box .price {
    font-family: BebasNeueBold;
    font-size: 48px;
    line-height: 55px;
    color: #102938;
}