.bootstrapColorpickerPlus *::after, .bootstrapColorpickerPlus *::before{box-sizing:border-box;}
.bootstrapColorpickerPlus *::after, .bootstrapColorpickerPlus *::before{box-sizing:border-box;}
.bootstrapColorpickerPlus *{box-sizing:border-box;}

.bootstrapColorpickerPlus .input-group{
	display:table;
	border-collapse:separate;
}
.bootstrapColorpickerPlus .input-group .form-control, .bootstrapColorpickerPlus .input-group-addon, .input-group-btn{
	display:table-cell;
}
.bootstrapColorpickerPlus .input-group .form-control{
	float:left;
	margin-bottom:0;
	position:relative;
	width:100%;
	z-index:2;
}
.bootstrapColorpickerPlus .form-control{
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius:4px;
	color:#555;
	transition:border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.bootstrapColorpickerPlus .input-group-btn{
	font-size:0;
	position:relative;
	white-space:nowrap;
}
.bootstrapColorpickerPlus .input-group-addon, .bootstrapColorpickerPlus .input-group-btn{
	vertical-align:middle;
	white-space:nowrap;
	width:1%;
}
.bootstrapColorpickerPlus .input-group-sm > .form-control, .bootstrapColorpickerPlus .input-group-sm > .input-group-btn > .btn{
	font-size:12px;
	height:30px;
	line-height:1.5;
	padding:5px 10px;
}
.bootstrapColorpickerPlus .btn{
	-moz-user-select:none;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px;	
	cursor:pointer;
	display:inline-block;
	font-size:14px;
	font-weight:400;
	margin-bottom:0;
	padding:6px 12px;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
}
.bootstrapColorpickerPlus .input-group input{
	border-bottom-right-radius:0;
	border-top-right-radius:0;
}
.bootstrapColorpickerPlus .input-group .btn{
	border-bottom-left-radius:0;
	border-top-left-radius:0;
}
.bootstrapColorpickerPlus .btn-default{
	background-color:#fff;
	border-color:#ccc;
	color:#333;
}
.bootstrapColorpickerPlus .btn-default:hover{
	background-color:#e6e6e6;
}
.colorpicker.dropdown-menu{
	background-clip:padding-box;
	background-color:#fff;
	border:1px solid rgba(0, 0, 0, 0.15);
	border-radius:4px;
	box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);
	display:none;
	float:left;
	font-size:14px;
	left:0;
	list-style:outside none none;
	margin:2px 0 0;
	min-width:160px;
	padding:5px 0;
	position:absolute;
	text-align:left;
	top:100%;
	z-index:3000;
}